<h3>品牌主列表</h3>

<div class="panel panel-default">
  <div class="panel-heading">
    搜索过滤
  </div>
  <div id="searchPanel" class="panel-body">
    <%= search_form_for @q, url: request.path, class: "form" do |f| %>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>品牌主ID</label>
            <%= f.search_field :id_eq, class: "form-control", placeholder: "品牌主ID" %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>品牌主手机</label>
            <%= f.search_field :mobile_number_cont, class: "form-control", placeholder: "品牌主手机" %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>品牌主昵称</label>
            <%= f.search_field :name_cont, class: "form-control", placeholder: "品牌主昵称" %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>品牌主状态</label>
            <%= f.select :is_active_eq, [["已激活", true], ["未激活", false]], {}, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-offset-4 col-md-4">
          <label>&nbsp;</label>
          <div>
            <%= f.submit "搜索", class: "btn btn-primary" %>
            <%= link_to "清除全部", request.path, class: "btn btn-default" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>品牌主 ID</th>
      <th>品牌主昵称</th>
      <th>手机</th>
      <th>来源</th>
      <th><%= sort_link(@q, :avail_amount, "可用余额") %></th>
      <th><%= sort_link(@q, :total_recharge, "总充值金额") %></th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
      <tr>
        <td><%= u.id %></td>
        <td><%= u.name %></td>
        <td><%= u.mobile_number %></td>
        <td><%= u.utm_source %></td>
        <td><%= u.avail_amount %></td>
        <td><%= u.total_recharge %></td>
        <td>
          <%= link_to '详情', marketing_dashboard_user_path(u.id) %>
          /
          <%= link_to '充值', marketing_dashboard_user_recharge_path(u.id) %>
          /
          <%= link_to '以品牌主身份登录', brand_path(user_id: u.id, super_visitor_token: get_super_visitor_token), :target => "blank" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @users, renderer: BootstrapPagination::Rails  %>

