<h3>品牌主列表</h3>

<div class="panel panel-default">
  <div class="panel-heading">
    搜索过滤
  </div>
  <div id="searchPanel" class="panel-body">
    <%= search_form_for @q, url: request.path, class: "form" do |f| %>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>品牌主ID</label>
            <%= f.search_field :id_eq, class: "form-control", placeholder: "品牌主ID" %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>品牌主手机</label>
            <%= f.search_field :mobile_number_cont, class: "form-control", placeholder: "品牌主手机" %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>品牌主昵称</label>
            <%= f.search_field :name_cont, class: "form-control", placeholder: "品牌主昵称" %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>品牌主状态</label>
            <%= f.select :is_active_eq, [["已激活", true], ["未激活", false]], { include_blank: true }, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>是否真实数据</label>
            <%= f.select :is_live_eq, [["真实", true], ["实验", false]], {}, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-4">
          <label>&nbsp;</label>
          <div>
            <%= f.submit "搜索", class: "btn btn-primary" %>
            <%= link_to "清除全部", request.path, class: "btn btn-default" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>品牌主 ID</th>
      <th>品牌主昵称</th>
      <th>手机</th>
      <!-- <th>来源</th> -->
      <th><%= sort_link(@q, :avail_amount, "可用余额") %></th>
      <th><%= sort_link(@q, :historical_payout, "历史花费") %></th>
      <th><%= sort_link(@q, :historical_recharge, "总充值金额") %></th>
      <th><%= sort_link(@q, :historical_recharge, "可用积分") %></th>
      <th><%= sort_link(@q, :created_at, "创建时间") %></th>
      <th><%= sort_link(@q, :last_campaign_at, "最近发单时间") %></th>
      <th>最近活动ID</th>
      <th>销售人员</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |u| %>
      <% campaign = u.last_campaign  %>
      <tr>
        <td><%= u.id %></td>
        <td><%= u.smart_name %></td>
        <td><%= u.mobile_number %></td>
        <!-- <td><%= u.utm_source %></td> -->
        <td><%= u.avail_amount %></td>
        <td><%= u.historical_payout %></td>
        <td><%= u.historical_recharge %></td>
        <td><%= u.credit_amount %></td>
        <td><%= u.created_at.strftime("%Y-%m-%d %H:%M") rescue nil %></td>
        <td><%= campaign.created_at.strftime("%Y-%m-%d %H:%M") rescue nil %></td>
        <td><%= link_to campaign.id, marketing_dashboard_campaign_path(campaign), target: "_blank" rescue "" %></td>
        <td><%= u.seller.try(:name) %></td>
        <td>
          <%= link_to '详情', marketing_dashboard_user_path(u.id), :target => "_blank" %>
          /
          <%= link_to '充值', marketing_dashboard_user_recharge_path(u.id), :target => "_blank" %>
          /
          <%= link_to '提现', marketing_dashboard_user_withdraw_path(u.id), :target => "_blank" %>
          /
          <%= link_to '以品牌主身份登录', brand_path(user_id: u.id, super_visitor_token: get_super_visitor_token), :target => "_blank" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%
  download_tips = "关于打开csv文件中文乱码？\r\n 1. 打开Excel并新建一个空白表 \r\n 2. 顶部工具栏选择  数据 -> 自文本，选择csv文件 \r\n 3. 在弹出框中，字符集选择 UTF-8，分割符号为逗号 \r\n\r\n 确认要下载码？"
%>

<div class="btn-group dropup">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    导出品牌主CSV <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <%= link_to '未发过单品牌主', request.path + ".csv?filter=no_campaign", "data-confirm" => download_tips %>
    </li>
    <li>
      <%= link_to '未成功发单品牌主', request.path + ".csv?filter=campagin_created", "data-confirm" => download_tips %>
    </li>
    <li>
      <%= link_to '成功发过单品牌主', request.path + ".csv?filter=campagin_settled", "data-confirm" => download_tips %>
    </li>
    <li>
      <%= link_to '发过单品牌主', request.path + ".csv?filter=has_campagin", "data-confirm" => download_tips %>
    </li>
    <li>
      <%= link_to '全部品牌主', request.path + ".csv", "data-confirm" => download_tips %>
    </li>
  </ul>
</div>


<div class="pull-right">
  <%= will_paginate @users, renderer: BootstrapPagination::Rails  %>
</div>
