<h3>品牌主充值</h3>
<hr />

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <%= form_tag marketing_dashboard_user_recharge_path, class: "form" do %>
        <div class="form-group">
          <label>充值金额</label>
          <%= text_field_tag :credits, nil, class: "form-control", :placeholder => "输入充值金额" %>
        </div>
        <div class="form-group">
          <label>赠送积分</label>
          <%= text_field_tag :score, nil, class: "form-control", :placeholder => "输入赠送的积分" %>
        </div>
        <div class="form-group">
          <label>积分有效期至</label></br>
          <%= date_select :expired_at, "written_on", selected: 1.month.since, class: "form-control"%>
        </div>
        <div class="form-group">
          <label>品牌主公司全名</label>
          <%= text_field_tag :receiver_name, nil, required: true, class: "form-control", value: @user.campany_name %>
        </div>
        <div class="form-group">
          <label>操作人员名称</label>
          <%= text_field_tag :operator, nil, required: true, class: "form-control", :placeholder => "输入操作人员名称", html: {} %>
        </div>
        <div class="form-group">
          <label>备注</label>
          <%= text_field_tag :remark, nil, class: "form-control", :placeholder => "输入备注" %>
        </div>
        <div class="form-group">
          <label>销售人员</label>
          <% if @user.seller.present? %>
            <p><%= @user.seller.name %></p>
          <% else %>
            <%= select_tag(:seller_id, options_for_select(Crm::Seller.all.map { |x| [x.name, x.id] }), :include_blank => '请选择销售人员',
                  class: 'form-control form-group') %>
          <% end %>
        </div>

        <%= submit_tag '确认并充值', :class => 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
