<h3>
  品牌主名：<%= @user.smart_name %> / 手机号：<%= @user.mobile_number %>
  <div class="pull-right">
    <%= link_to_switch_user_live @user %>
    <%= link_to_switch_user_active @user %>
    <%= link_to "生成密钥", marketing_dashboard_utilities_open_tokens_path(user_id: @user.id), method: :post, confirm: "确定要创建密钥吗？", class: "btn btn-default" %>
  </div>
</h3>

<table class="table table-striped">
  <tr>
    <td width="250px">姓名</td>
    <td><%= raw @user.name.presence || "(未填写)" %></td>
  </tr>
  <tr>
    <td>手机号</td>
    <td><%= @user.mobile_number %></td>
  </tr>
  <tr>
    <td>是否真实</td>
    <td><%= raw(@user.is_live ? "<span class='label label-success'>真实数据</span>" : "<span class='label label-danger'>实验数据</span>") %></td>
  </tr>
  <tr>
    <td>是否激活品牌主账号</td>
    <td><%= raw(@user.is_active ? "<span class='label label-success'>已激活</span>" : "<span class='label label-danger'>未激活</span>") %></td>
  </tr>
  <tr>
    <td>绑定的KOL账号</td>
    <td><%= link_to @user.kol_id, marketing_dashboard_kol_path(@user.kol_id), target: "_blank" %></td>
  </tr>
  <tr>
    <td>绑定的KOL账号名称</td>
    <td><%= @user.kol.try(:name) %></td>
  </tr>
  <tr>
    <td>可用余额</td>
    <td><%= @user.avail_amount %></td>
  </tr>
  <tr>
    <td>历史花费</td>
    <td><%= @user.historical_payout %></td>
  </tr>
  <tr>
    <td>总充值金额</td>
    <td><%= @user.historical_recharge %></td>
  </tr>
  <tr>
    <td>创建时间</td>
    <td><%= @user.created_at.strftime("%Y-%m-%d %H:%M") rescue nil %></td>
  </tr>
  <tr>
    <td>所发活动</td>
    <td>共发 <%= @user.campaigns.count %> 个活动，<br/>
        未支付： <%= @user.campaigns.where(status: "unpay").count %> 个，<br/>
        被拒绝： <%= @user.campaigns.where(status: "rejected").count %> 个，<br/>
        <%= link_to "查看全部", marketing_dashboard_campaigns_path(q: {user_id_eq: @user.id}), target: "_blank" %></td>
  </tr>
  <tr>
    <% last_campaign = @user.campaigns.order("created_at DESC").first  %>
    <td>最近发单时间</td>
    <td><%= last_campaign.created_at.strftime("%Y-%m-%d %H:%M") rescue nil %></td>
  </tr>
  <tr>
    <td>
      最近发的活动ID
    </td>
    <td>
      <%= link_to last_campaign.id, marketing_dashboard_campaign_path(last_campaign), target: "_blank" rescue "无活动" %>
    </td>
  </tr>
  <tr>
    <td>
      最近发的活动名称
    </td>
    <td>
      <%= last_campaign.try(:name) %>
    </td>
  </tr>
</table>


<h3>充值记录</h3>
<%
  manual_recharges = @user.transactions.where(subject: "manual_recharge")
  alipay_orders = @user.alipay_orders
  campaign_orders = @user.campaigns.where(pay_way: "alipay")
%>
<table class="table table-striped">
  <tr>
    <td>充值总次数</td>
    <td><%= manual_recharges.count + alipay_orders.count + campaign_orders.count %> 次</td>
  </tr>
  <tr>
    <td width="250px">支付宝APP充值</td>
    <td>有 <%= @user.alipay_orders_from_app.count %> 次，成功 <%= @user.alipay_orders_from_app.where(status: "paid").count %>次，<%= link_to "查看全部", from_app_marketing_dashboard_alipay_orders_path(q: {user_id_eq: @user.id}), target: "_blank" %></td>
  </tr>
  <tr>
    <td>支付宝PC充值有</td>
    <td><%= @user.alipay_orders_from_pc.count %> 次，成功 <%= @user.alipay_orders_from_pc.where(status: "paid").count %>次，<%= link_to "查看全部", from_pc_marketing_dashboard_alipay_orders_path(q: {user_id_eq: @user.id}), target: "_blank" %></td>
  </tr>
  <tr>
    <td>PC手动充值有</td>
    <td><%= manual_recharges.count %> 次，<%= link_to "查看全部", marketing_dashboard_manual_recharges_path(q: {account_of_User_type_id_eq: @user.id}), target: "_blank" %></td>
  </tr>
  <tr>
    <td>直接付款发活动有</td>
    <td><%= campaign_orders.count %> 次，成功 <%= campaign_orders.where(alipay_status: 1).count %> 次，<%= link_to "查看全部", campaigns_marketing_dashboard_alipay_orders_path(q: {user_id_eq: @user.id}), target: "_blank" %></td>
  </tr>
</table>