<h3>
  第三方合作价格配置
  <%= link_to '新建第三方价格配置', '', class: 'btn btn-primary pull-right' %>
</h3>

<hr>

<div class="panel panel-default">
  <div class="panel-heading">默认</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-4">活动单价比例：<%= show_percentage(AdmintagStrategy::Rate) %></div>
      <div class="col-sm-4">师傅抽成比例：<%= show_percentage(AdmintagStrategy::MasterIncomeRate) %></div>
      <div class="col-sm-4">邀请好友奖励：<%= AdmintagStrategy::InviteBounty %>/元</div>
    </div>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>合作方</th>
      <th>注册奖励</th>
      <th>邀请奖励</th>
      <th>邀请奖励管理员金额</th>
      <th>首次任务奖励</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @admintag_strategies.each do |ele| %>
      <tr>
        <td><%= ele.id %></td>
        <td><%= ele.admintag.tag %></td>
        <td><%= ele.register_bounty %></td>
        <td><%= ele.invite_bounty %></td>
        <td><%= ele.invite_bounty_for_admin %></td>
        <td><%= ele. first_task_bounty%></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @admintag_strategies %>
