<table class='table table-bordered'>
  <thead>
    <tr>
      <th>ID</th>
      <th>App Version</th>
      <th>Platform</th>
      <th>OS Version</th>
      <th>Device Model</th>
      <th>Content</th>
      <th>Screenshot</th>
      <th>状态<th>
    </tr>
  </thead>

  <tbody>
    <% @feedbacks.each do |f| %>
      <tr>
        <% %w(id app_version app_platform os_version device_model content).each do |v| %>
          <td> <%= f.send v %> </td>
        <% end %>
        <td> <img src="<%= f.screenshot.url(200) %>" alt=""> </td>
        <td id="feedback_<%= f.id %>">
          <%= link_to 'KOL详情', "/marketing_dashboard/kols/#{f.kol_id}" %></br>
          <% if f.status == 'pending' %>
              <%= link_to '设为已处理', processed_marketing_dashboard_feedback_path(f), :remote => true %>
          <% else %>
            已处理
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>

<%= will_paginate @feedbacks %>
