<h3>反馈管理</h3>

<table class='table table-bordered table-striped feedbacks'>
  <thead>
    <tr>
      <th>ID</th>
      <th>KOL ID</th>
      <th>KOL昵称</th>
      <th>App版本</th>
      <th>平台</th>
      <th>OS版本</th>
      <th>设备类型</th>
      <th>内容</th>
      <th>截图</th>
      <th>状态</th>
    </tr>
  </thead>
  <tbody>
    <% @feedbacks.each do |f| %>
      <tr>
        <td><%= f.id %></td>
        <td><%= link_to f.kol_id, marketing_dashboard_kol_path(f.kol_id), target: "_blank" %></td>
        <td><%= f.kol.name rescue "" %></td>
        <td><%= f.app_version %></td>
        <td><%= f.app_platform %></td>
        <td><%= f.os_version %></td>
        <td><%= f.device_model %></td>
        <td><%= f.content %></td>
        <td class="text-center">
          <%= link_to f.screenshot.url, target: "_blank" do %>
            <%= image_tag f.screenshot.url(200), class: "img-thumbnail" %>
          <% end %>
        </td>
        <td id="feedback_<%= f.id %>">
          <% if f.status == 'pending' %>
              <%= link_to '设为已处理', processed_marketing_dashboard_feedback_path(f), :remote => true %>
          <% else %>
            已处理
          <% end %>
          / <a class="reply" data-feedback-id="<%= f.id %>">回复</a>
          / <%= link_to "历史反馈", marketing_dashboard_kol_feedbacks_path(f.kol_id), target: "_blank" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @feedbacks, renderer: BootstrapPagination::Rails  %>

<div class="modal sms-message-modal fade" data-reply-url="<%= reply_marketing_dashboard_feedbacks_path %>">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">请填写回复内容</h4>
      </div>
      <div class="modal-body admin-reject-modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-10">
              <p>友情提示: 填写的内容会以营销短信的形式发送到对方手机上，内容不宜太长</p>
              <div class="form-group">
                <textarea name='content' class='form-control' placeholder="填写回复的正文内容"></textarea>
              </div>
              <div class="form-group">
                <input type="text" name='remark' placeholder="填写备注" class='form-control'>
              </div>
              <input type="hidden" name='id'>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-danger reply-to">确认回复</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
(function() {
  var model = $('.sms-message-modal');
  var replyUrl = model.data("reply-url");

  $(".feedbacks").on("click", ".reply", function() {
    var feedBackId = $(this).data("feedback-id");
    $("input[name='id']").val(feedBackId);
    $("textarea[name='content']").val("");
    $("input[name='remark']").val("");

    model.modal("show");
  });

  $(".reply-to").click(function() {
    var data = {};
    data.id      = $("input[name='id']").val();
    data.content = $("textarea[name='content']").val();
    data.remark  = $("input[name='remark']").val();

    if ($(this).hasClass('disabled')) {
      return;
    }

    if (!data.id) {
      alert("没有找到反馈记录，请联系技术支持");
      return;
    }

    if (!data.content || data.content.length < 1) {
      alert("回复内容不能为空");
      return;
    }

    $(this).addClass("disabled");
    doAjaxRequest(data, function(result) {
      alert(result["msg"]);
      $(this).removeClass("disabled");
      if(result.error == 0) {
        model.modal("hide");
      }
    });
  });

  function doAjaxRequest(data, callback) {
    $.ajax({
      method: "POST",
      url: replyUrl,
      beforeSend: function(xhr) {
        var token = $('meta[name="csrf-token"]').attr('content');
        xhr.setRequestHeader('X-CSRF-Token', token);
      },
      data: data
    })
    .done(callback)
    .fail(function() {
      alert("回复请求发生异常，请联系技术支持");
    });
  }
})();

</script>