<div class="col-sm-6 col-md-4">
  <div class="thumbnail release-item">
    <a href="public/release.html" target="_blank" class="release-image">
      <% if(release.logo_url) {%>
        <img class="img-rounded" src="<%= release.logo_url %>">
      <%} else {%>
        <% if(release.attachments.length > 0) {%>
          <img class="img-rounded" src="<%= release.attachments[0].url %>">
        <%} else {%>
          <img class="img-rounded" src="http://placehold.it/542x542">
        <%}%>
      <%}%>
      <div class="overlay">
        Summary
        <br><br>
        <ul>
          <li><i class="fa fa-eye"></i> <strong><%= release.views %></strong> Views</li>
          <li><i class="fa fa-thumbs-up"></i> <strong><%= release.likes %></strong> Likes</li>
          <li><i class="fa fa-reply"></i> <strong><%= release.coverages %></strong> Coverages</li>
        </ul>
      </div>
    </a>
    <div class="caption text-center">
      <h3><a href="public/release.html" target="_blank"><%= release.title %></a></h3>
      <small><i class="fa fa-clock-o"></i> <%= moment(release.created_at).format("DD MMM YY") %> &nbsp;&nbsp; <i class="fa fa-building"></i> <strong><%= release.news_room ? release.news_room.company_name : '' %></strong></small>
      <p class="release-title">
        <%= release.text.normalizeRSpace(115) %>
      </p>
      <p>
        <% _.each(release.labels, function(label){ %>
          <label class="label label-info"><%= label %></label>
        <% }); %>
      </p>
      <hr>
      <p align="center">
        <a href="#" class="btn btn-sm btn-success" role="button" data-toggle="modal" data-target=".blast-release"><i class="fa fa-rocket"></i> Robin8</a>
        <a href="public/release.html" class="btn btn-sm btn-primary" target="_blank"><i class="fa fa-eye"></i> Preview</a>
        <button href="#" class="btn btn-sm btn-default" id="open_edit"><i class="fa fa-pencil"></i> Edit</button>
      </p>
    </div>
  </div>
</div>