<% var windowUrl = location.host.split('.') %>
<% var windowLocation = windowUrl.length == 3 ? _.last(windowUrl, 2).join('.') : location.host %>
<% var publicSuffix = (release.id && release.news_room_public && !release.is_private) ? "" : "-preview" %>
<% var publicLink = "http://" + release.subdomain_name + publicSuffix + "." + windowLocation + "/releases/" + release.slug %>
<div class="release-item">
  <div class="thumbnail" style="padding: 0">
    <a href="<%- publicLink %>" target="_blank" class="release-image">
      <div class="thumbnail-container" style="width: 340px; height: 340px;">
        <div class="thumbnail-dummy"></div>
        <div class="thumbnail-inner">
          <img class="img-rounded" src="<%= release.first_src %>">
          <!-- <div class="overlay">
            Summary
            <ul>
              <li><i class="fa fa-eye"></i> <strong><%= release.views %></strong> Views</li>
            </ul>
          </div> -->
        </div>
      </div>
    </a>
    <div class="caption text-center">
      <h3 class="ellipsis-truncate"><a href="<%- publicLink %>" target="_blank"><%= release.title %></a></h3>
      <small class="truncate"><i class="fa fa-clock-o"></i> <%= moment(release.published_at).format("DD MMM YY") %> &nbsp;&nbsp; <i class="fa fa-building"></i> <strong><%= release.news_room ? release.news_room.company_name.normalizeRSpace(55) : '' %></strong></small>
      <div class="release-title">
        <% if (release.text_html) { %>
          <%= release.text_html %>
        <% } else {%>
          <span style="height:40px;color: grey; font-style: italic;">No description added.</span>
        <% } %>
      </div>
      <p class="tag-wrapper">
        <% _.each(release.concepts, function(concept){ %>
          <label class="label label-info"><%= concept.replace(/_/g, " ").replace(/\+/g, " ") %></label>
        <% }); %>
      </p>
      <hr>
      <p align="center">
        <a href="#" class="btn btn-success smart-release-button" role="button" data-toggle="modal" style="margin-left: 5px;" id="start-blast"><i class="fa fa-rocket"></i> SmartContent</a>
        <a href="<%- publicLink %>" class="btn btn-primary" style="margin-left: 5px;" target="_blank"><i class="fa fa-eye"></i> Preview</a>
        <button href="#" class="btn btn-default" id="open_edit" style="margin-left: 5px;"><i class="fa fa-pencil"></i> Edit</button>
      </p>
    </div>
  </div>
</div>
