<script id="wyihtml5-extract-button" type="text/template">
  <li><a class="btn btn-default" id="extract_url"><i class="fa fa-cloud-download"></i></a></li>
</script>
<div class="col-lg-12">
  <div class="panel panel-default panel-toolbar">
    <div class="panel-body">
      <div class="pull-right toolbar releases-toolbar">
        <div class="ui-select">
          <select class="form-control" id="newsroom_filter" name="by_news_room">
            <option value="">All Newsrooms</option>
            <% _.each(newsrooms.models, function(newsroom){ %>
              <option value="<%= newsroom.get('id') %>"> <%= newsroom.get('company_name') %> </option>
            <% }); %>
          </select>
        </div>
        <!-- <button class="btn btn-default"><i class="fa fa-rocket"></i> <strong>5 SmartReleases</strong> Remaining</button> -->
        <button class="btn btn-success" id='new_release'><i class="fa fa-plus"></i> New Release</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade edit-release" id='release_form' role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <% if(release.news_room_id) {%>
            <h4 class="modal-title truncate"> Edit <%= release.title%> </h4>
          <% } else {%>
            <h4 class="modal-title"> Create Release </h4>
          <% } %>
        </div>
        <div class="modal-body">
          <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#release-company" aria-controls="home" role="tab" data-toggle="tab">Basic</a></li>
              <li role="presentation"><a href="#website" aria-controls="home" role="tab" data-toggle="tab">Website</a></li>
              <li role="presentation"><a href="#media" aria-controls="settings" role="tab" data-toggle="tab">Media</a></li>
            </ul>

            <!-- Tab panes -->
            <form role="form" id="releaseForm" onsubmit="return false;">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="release-company">
                  <div class="form-group">
                      <label>Newsroom</label>
                      <div class="ui-select">
                        <select class="form-control" name="news_room_id">
                          <option value="">Select...</option>
                          <% _.each(newsrooms.models, function(newsroom){ %>
                            <option value="<%= newsroom.get('id') %>"> <%= newsroom.get('company_name') %> </option>
                          <% }); %>
                        </select>
                      </div>
                  </div>
                  <div class="form-group">
                      <label>Release title</label>
                      <input class="form-control" id="release-title-input" name="title" type="text" value="" placeholder="Enter title...">
                  </div>
                  <div class="form-group">
                      <label>Release text</label>
                      <textarea class="form-control widearea wysihtml5" rows="10" placeholder="Paste your press release here..." name="text" data-widearea="enable" data-widearea-id="1"></textarea>
                  </div>
                  <div id="release-characteristics"></div>
                </div>
                <div role="tabpanel" class="tab-pane" id="website">
                  <div class="logo"></div>
                  <div class="form-group">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" class="icheckbox_flat" value="" name="is_private">
                        <span>Private</span>
                      </label>
                    </div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="media">
                  <div class='images_region'></div>
                  <div class='videos_region'></div>
                  <div class='files_region'></div>
                </div>
            </div>
            </form>

          </div>
        </div>
        <div class="modal-footer">
          <% var windowUrl = location.host.split('.') %>
          <% var windowLocation = windowUrl.length == 3 ? _.last(windowUrl, 2).join('.') : location.host %>
          <% if(release.id) { %>
            <button type="button" class="btn btn-danger pull-left" id="delete_release"><i class="fa fa-trash"></i> Delete Release</button>
          <% } %>
          <% if (release.id && release.news_room_public && !release.is_private) {%>
            <a href="http://<%- release.subdomain_name %>.<%- windowLocation %>/releases/<%- release.slug %>" class="btn btn-sm btn-primary" target="_blank"><i class="fa fa-eye"></i> Preview</a>
          <% } else {%>
            <a href="http://<%- release.subdomain_name %>.<%- windowLocation %>/releases/<%- release.slug %>" class="btn btn-sm btn-primary" target="_blank" disabled='disabled'><i class="fa fa-eye"></i> Preview</a>
          <% } %>
          <button type="button" class="btn btn-success" id="save_release"><i class="fa fa-save"></i> Save draft</button>
          <button type="button" class="btn btn-primary"><i class="fa fa-rocket"></i> SmartRelease</button>
        </div>
    </div>
  </div>
</div>
