<script id="wyihtml5-extract-button" type="text/template">
  <li><a class="btn btn-default btn-sm" id="extract_url" title='Grab release from URL'><i class="fa fa-cloud-download font-12"></i></a></li>
</script>
<script id="wyihtml5-insert-link" type="text/template">
  <li><a class="btn btn-default btn-sm" id="insert_link" title="Insert link"><i class="fa fa-external-link font-12"></i></a></li>
</script>
<script id="wyihtml5-unlink" type="text/template">
  <li><a class="btn btn-default btn-sm" id="unlink" title="Delete link"><i class="fa fa-unlink font-12"></i></a></li>
</script>
<script id="wyihtml5-word-button" type="text/template">
  <li><a class="btn btn-default btn-sm" title="Grab release from DOCX document " onclick="document.getElementById('upload').click(); return false" id="extract_word"><i class="fa fa-file-word-o font-12"></i></a></li>
</script>
<script id="wyihtml5-direct-image-button" type="text/template">
  <div class="btn-group">
    <a class="btn btn-default btn-sm" id="direct-image-upload" title="Insert image by uploading"><i class="fa fa-file-image-o font-12"></i></a>
    <a class="btn btn-default btn-sm" id="url-image-upload" title="Insert image by url"><i class="fa fa-upload font-12"></i></a>
  </div>
</script>
<script id="wyihtml5-direct-video-button" type="text/template">
  <div class="btn-group">
    <a class="btn btn-default btn-sm" id="direct-video-upload" title="Insert video by uploading"><i class="fa fa-file-video-o font-12"></i></a>
    <a class="btn btn-default btn-sm" id="url-video-upload" title="Insert video by url"><i class="fa fa-upload font-12"></i></a>
  </div>
</script>
<input type="file" id="upload" name="upload" accept=".docx" style="visibility: hidden; width: 1px; height: 1px" />
<div class="col-lg-12">
  <div class="panel panel-default panel-toolbar">
    <div class="panel-body">
      <div class="pull-right toolbar releases-toolbar">
        <div class="ui-select">
          <select disabled='true' class="form-control" id="newsroom_filter" name="by_news_room">
            <option value=""><%= polyglot.t("releases.all_newsrooms") %></option>
          </select>
        </div>
        <!-- <button class="btn btn-default"><i class="fa fa-rocket"></i> <strong>5 SmartReleases</strong> Remaining</button> -->
        <button class="btn btn-success" id='new_release'> <i class="fa fa-plus"></i> <%= polyglot.t("releases.new_release") %> </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade edit-release" id='release_form' role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <% if(release.news_room_id) {%>
            <h4 class="modal-title truncate"> <%= polyglot.t("releases.edit_title") %> <%= release.title %> </h4>
          <% } else {%>
            <h4 class="modal-title"> <%= polyglot.t("releases.modal.title") %> </h4>
          <% } %>
        </div>
        <div class="modal-body">
          <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#release-company" aria-controls="home" role="tab" data-toggle="tab"><%= polyglot.t("releases.modal.basic_tab.title") %></a></a></li>
              <li role="presentation"><a href="#website" aria-controls="home" role="tab" data-toggle="tab"><%= polyglot.t("releases.modal.website_tab.title") %></a></li>
              <li role="presentation"><a href="#media" aria-controls="settings" role="tab" data-toggle="tab"><%= polyglot.t("releases.modal.media_tab.title") %></a></li>
              <li role="presentation"><a href="#newswire" aria-controls="settings" role="tab" data-toggle="tab">Newswire</a></li>
            </ul>

            <!-- Tab panes -->
            <form role="form" id="releaseForm" onsubmit="return false;">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="release-company">
                  <div class="form-group">
                      <label><%= polyglot.t("releases.modal.basic_tab.newsroom") %></label>
                      <div class="ui-select">
                        <select disabled='true' id="news_room_id" class="form-control" name="news_room_id">
                          <option value=""><%= polyglot.t("releases.modal.dropdown.select") %></option>
                        </select>
                      </div>
                  </div>
                  <div class="form-group title-date">
                    <div id='release-title-block'>
                      <label><%= polyglot.t("releases.modal.basic_tab.release_title") %></label>
                      <input class="form-control" id="release-title-input" name="title" type="text" value="" placeholder="<%= polyglot.t("releases.modal.basic_tab.title_placeholder") %>">
                    </div>
                    <div id='release-date-block'>
                      <label><%= polyglot.t("releases.modal.basic_tab.published_date") %></label>
                      <input class="form-control" id="release-date-input" name="published_at" type="text">
                    </div>
                  </div>
                  <div class="form-group" style="margin-bottom: 5px;">
                    <label><%= polyglot.t("releases.modal.basic_tab.release_text") %></label>
                    <textarea class="form-control widearea wysihtml5" rows="10" placeholder="<%= polyglot.t("releases.modal.basic_tab.text_placeholder") %>" name="text" data-widearea="enable" data-widearea-id="1"></textarea>
                  </div>
                  <div class="linebreak-notification" style="margin-bottom: 10px;">
                    <center><%= polyglot.t("releases.modal.basic_tab.paragraph_notification") %></center>
                  </div>
                  <div id="release-characteristics"></div>
                </div>
                <div role="tabpanel" class="tab-pane" id="website">
                  <br>
                  <div class="form-group">
                    <label for="icheckbox_flat" class="control-label" style="margin-right: 5px;" ><%= polyglot.t("releases.modal.website_tab.make_private") %> </label>
                    <span><input type="checkbox" class='private-checkbox' id="icheckbox_flat" name="is_private" ></span>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="media">
                  <b><%= polyglot.t("releases.modal.media_tab.select_logo") %> :</b>
                  <div class="logo"></div>
                  <br><hr><br>
                  <b><%= polyglot.t("releases.modal.media_tab.upload_files") %></b>
                  <div class='images_region'></div>
                  <div class='videos_region'></div>
                  <div class='files_region'></div>
                </div>
                <div role="tabpanel" class="tab-pane" id="newswire">
                  <b><%= polyglot.t("releases.modal.newswire_tab.release_option") %></b>
                  <br><br>
                  <div class="form-group">
                    <div class="col-sm-6 text-right">
                      <label for="icheckbox_myprgenie" class="control-label text-right" style="margin-right: 5px;" ><%= polyglot.t("releases.modal.newswire_tab.distribution") %>: </label>
                      <input type="checkbox" class='myprgenie-checkbox col-sm-1' id="icheckbox_myprgenie" name="myprgenie" <% if(release.myprgenie) { %><%= 'disabled' %><% } %>>
                    </div>
                    <div class="col-sm-6" id="myprgenie_start_div" <% if(!release.myprgenie) { %><%= 'style="display: none"' %><% } %>>
                      <div class="col-sm-6 text-right">
                        <label for="myprgenie_date_input" class="control-label text-right" style="margin-right: 5px;" ><%= polyglot.t("releases.modal.newswire_tab.start_date") %>: </label>
                      </div>
                      <div class="col-sm-6" style="padding: 0px; margin: 0px">
                        <input type="text" class="form-control date" id="myprgenie_date_input" name="myprgenie_published_at" <% if(release.myprgenie) { %><%= 'disabled' %><% } %> />
                      </div>
                    </div>
                  </div><br><br>
                  <div class="form-group">
                    <div class="col-sm-6 text-right">
                      <label for="icheckbox_accesswire" class="control-label text-right" style="margin-right: 5px;" ><%= polyglot.t("releases.modal.newswire_tab.accesswire") %>: </label>
                      <input type="checkbox" class='accesswire-checkbox' id="icheckbox_accesswire" name="accesswire" <% if(release.accesswire) { %><%= 'disabled' %><% } %>>
                    </div>
                    <div class="col-sm-6" id="accesswire_start_div" <% if(!release.accesswire) { %><%= 'style="display: none"' %><% } %>>
                      <div class="col-sm-6 text-right">
                        <label for="accesswire_date_input" class="control-label text-right" style="margin-right: 5px;" ><%= polyglot.t("releases.modal.newswire_tab.start_date") %>: </label>
                      </div>
                      <div class="col-sm-6" style="padding: 0px; margin: 0px">
                        <input type="text" class="form-control date" id="accesswire_date_input" name="accesswire_published_at" <% if(release.accesswire) { %><%= 'disabled' %><% } %> />
                      </div>
                    </div>
                  </div><br><br>
                  <div class="form-group">
                    <div class="col-sm-6 text-right">
                      <label for="icheckbox_prnewswire" class="control-label text-right" style="margin-right: 5px;" ><%= polyglot.t("releases.modal.newswire_tab.newswire") %>: </label>
                      <input type="checkbox" class='prnewswire-checkbox' id="icheckbox_prnewswire" name="prnewswire" <% if(release.prnewswire) { %><%= 'disabled' %><% } %>>
                    </div>
                    <div class="col-sm-6" id="prnewswire_start_div" <% if(!release.prnewswire) { %><%= 'style="display: none"' %><% } %>>
                      <div class="col-sm-6 text-right">
                        <label for="prnewswire_date_input" class="control-label text-right" style="margin-right: 5px;" ><%= polyglot.t("releases.modal.newswire_tab.start_date") %>: </label>
                      </div>
                      <div class="col-sm-6" style="padding: 0px; margin: 0px">
                        <input type="text" class="form-control date" id="prnewswire_date_input" name="prnewswire_published_at" <% if(release.prnewswire) { %><%= 'disabled' %><% } %> />
                      </div>
                    </div>
                  </div>
                  <div><br><br></div>
                </div>
            </div>
            </form>

          </div>
        </div>
        <div id="alert-container">
          <div id="public-alert" class="alert alert-warning" role="alert" style="display:none;">
              This release won't be publicly displayed while the parent Brand Gallery remains unpublished.
              <b><button id="make-public">Publish the brand gallery!</button></b>
          </div>
        </div>

        <div class="modal-footer">
          <% var windowUrl = location.host.split('.') %>
          <% var windowLocation = windowUrl.length == 3 ? _.last(windowUrl, 2).join('.') : location.host %>
          <div id="delete-container">
            <% if(release.id) { %>
              <button type="button" class="btn btn-danger" id="delete_release"><i class="fa fa-trash"></i> <%= polyglot.t("releases.modal.buttons.delete") %></button>
            <% } %>
          </div>
          <div id="release-buttons">
            <button type="button" class="btn btn-primary smart-release-button" id='smart_release' ><i class="fa fa-rocket"></i> <%= polyglot.t("releases.modal.buttons.next") %></button>
            <button type="button" class="btn btn-success" id="save_release"><i class="fa fa-save"></i> <%= polyglot.t("releases.modal.buttons.save") %></button>
          </div>
        </div>
    </div>
  </div>
</div>
