<div class="col-lg-12">
  <div class="panel panel-default panel-toolbar">
    <div class="panel-body">
      <div class="pull-right toolbar releases-toolbar">
        <div class="ui-select">
          <select class="form-control" id="newsroom_filter" name="by_news_room">
            <option value="">All Newsrooms</option>
            <% _.each(newsrooms.models, function(newsroom){ %>
              <option value="<%= newsroom.get('id') %>"> <%= newsroom.get('company_name') %> </option>
            <% }); %>
          </select>
        </div>
        <button class="btn btn-default"><i class="fa fa-rocket"></i> <strong>5 Robin8s</strong> Remaining</button>
        <button class="btn btn-success" id='new_release'><i class="fa fa-plus"></i> New Release</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade edit-release" id='release_form' tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <% if(release.news_room_id) {%>
            <h4 class="modal-title"> Edit <%= release.title%> </h4>
          <% } else {%>
            <h4 class="modal-title"> Create Release </h4>
          <% } %>
        </div>
        <div class="modal-body">
          <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#release-company" aria-controls="home" role="tab" data-toggle="tab">Basic</a></li>
              <li role="presentation"><a href="#release-media" aria-controls="settings" role="tab" data-toggle="tab">Media</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="release-company">
                <form role="form">
                    <div class="form-group">
                        <label>Newsroom</label>
                        <div class="ui-select">
                          <select class="form-control" name="news_room_id">
                            <option value="">Select...</option>
                            <% _.each(newsrooms.models, function(newsroom){ %>
                              <option value="<%= newsroom.get('id') %>"> <%= newsroom.get('company_name') %> </option>
                            <% }); %>
                          </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Release title</label>
                        <input class="form-control" name="title" type="text" value="" placeholder="Enter title...">
                    </div>
                    <div class="form-group">
                        <label>Release text</label>
                        <textarea class="form-control widearea" rows="10" placeholder="Paste your press release here..." name="text" data-widearea="enable" data-widearea-id="1"></textarea>
                    </div>
                    <div class="row">
                    <% release.statistics = release.statistics ? release.statistics : {}%>
                        <div class="col-md-12" align="center">
                            <span class="badge badge-default"><span class="badge" id="charactersCount"><%= release.statistics.characters%></span> Characters</span>
                            <span class="badge badge-default"><span class="badge" id="wordsCount"><%= release.statistics.words%></span> Words</span>
                            <span class="badge badge-default"><span class="badge" id="sentencesCount"><%= release.statistics.sentences%></span> Sentences</span>
                            <span class="badge badge-default"><span class="badge" id="paragraphsCount"><%= release.statistics.paragraphs%></span> Paragraphs</span>
                            |
                            <span class="badge badge-default"><span class="badge" id="nounsCount"><%= release.statistics.nouns%></span> Nouns</span>
                            <span class="badge badge-default"><span class="badge" id="adjectivesCount"><%= release.statistics.adjectives%></span> Adjectives</span>
                            <span class="badge badge-default"><span class="badge" id="adverbsCount"><%= release.statistics.adverbs%></span> Adverbs</span>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 12px;">
                      <div class="col-md-4" align="center">
                          <strong data-toggle="tooltip" data-placement="top" title="Automated Readability Index">Readability score</strong>:&nbsp;<span id="ari"><%= release.statistics.score%></span> <span class="label label-default" id="ari-badge"><%= release.statistics.score_title%></span>
                          <div class="progress progress-striped active" style="height: 10px; margin-top: 6px;">
                              <div class="progress-bar progress-bar-success" role="progressbar" style="width: 0%;" id="ari-progress"></div>
                          </div>
                      </div>
                      <div class="col-md-8" align="right">
                        <a href="#" id="highlight_textarea" class="btn btn-default btn-sm" role="button" style="margin-right: 4px;"><i class="fa fa-eraser"></i> Highlight</a>
                      </div>
                    </div>
                    <!-- <div class="form-group">
                      <button class="btn btn-block btn-primary" id="analyze"><i class="fa fa-check"></i> Analyze</button>
                    </div> -->
                </form>
              </div>
              <div role="tabpanel" class="tab-pane" id="release-media">
                <h4><i class="fa fa-photo"></i> Photos</h4>
                <hr>
                <ul class="clearfix">
                  <li>
                    <div>
                      <a href="http://lorempixel.com/800/600/?32891" data-gallery>
                        <img src="http://lorempixel.com/100/100/?328149">
                      </a>
                      <a href="#" class="delete"><i class="fa fa-close"></i></a>
                    </div>
                  </li>
                  <li>
                    <div>
                      <a href="#" class="add-photo" style="text-align: center; font-size: 68px;">
                        <i class="fa fa-plus-square"></i>
                      </a>
                    </div>
                  </li>
                </ul>
                <h4><i class="fa fa-play-circle"></i> Videos</h4>
                <hr>
                <ul class="clearfix">
                  <li>
                    <div>
                      <a href="http://lorempixel.com/800/600/?121" data-gallery>
                        <img src="http://lorempixel.com/100/100?321">
                      </a>
                      <a href="#" class="delete"><i class="fa fa-close"></i></a>
                    </div>
                  </li>
                  <li>
                    <div>
                      <a href="#" class="add-photo" style="text-align: center; font-size: 68px;">
                        <i class="fa fa-plus-square"></i>
                      </a>
                    </div>
                  </li>
                </ul>
                <h4><i class="fa fa-file"></i> Files</h4>
                <hr>
                <ul class="clearfix">
                  <li>
                    <div>
                      <a href="#" class="file">
                        <i class="fa fa-file"></i>
                      </a>
                      <a href="#" class="delete"><i class="fa fa-close"></i></a>
                      <span class="label">File dsia 2.xlsx</span>
                    </div>
                  </li>
                  <li>
                    <div>
                      <a href="#" class="add-photo" style="text-align: center; font-size: 68px;">
                        <i class="fa fa-plus-square"></i>
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <% if(release.id) { %>
            <button type="button" class="btn btn-danger pull-left" id="delete_release"><i class="fa fa-trash"></i> Delete Release</button>
          <% } %>
          <button type="button" class="btn btn-default" id="preview_release"><i class="fa fa-eye"></i> Preview</button>
          <button type="button" class="btn btn-success" id="save_release"><i class="fa fa-save"></i> Save draft</button>
          <button type="button" class="btn btn-primary"><i class="fa fa-rocket"></i> Robin8</button>
        </div>
    </div>
  </div>
</div>