<div class="signup">
<% if request.location && request.location.country.to_s == "China" %>
  <script type="text/javascript" src="http://maps.google.cn/maps/api/js?libraries=places&sensor=false"></script>
<% else %>
  <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&libraries=places"></script>
<% end %>
  <header class="int-header">
    <%= render :partial => "pages/partials/menu"%>
    <%= render :partial => "pages/partials/page_banner", :locals => { :header => (flash[:info] || @l.t('kols.title') )}%>
  </header>

  <div class="form-step step-one">
    <div class="row">
      <div class="small-12 columns">
        <% if params[:auth_params].present? %>
          <div data-alert class="alert-box warning radius" style="margin-top: 15px">
            <%= @l.t('register.auth_success') %>
            <a href="#" class="close">&times;</a>
          </div>
        <% end %>
        <div class="errorwarning">
          <% flash[:errors].each do |e|%>
              <p><%=e%></p>
          <% end if flash[:errors].present?%>
        </div>

        <%= form_for @kol,:url=>"/kols/new" do |f|  %>
            <label>
              <%=f.email_field :email,:placeholder=> @l.t('kols.email'),"data-validation"=>"email",
                               "data-validation-error-msg"=> @l.t('kols.email_error')%>
            </label>
            <label>
              <%=f.password_field :password,:placeholder=>@l.t('kols.password'),"data-validation"=>"length", "data-validation-length"=>"min7",
                                  "data-validation-error-msg"=> @l.t('kols.password_error')%>
            </label>
            <label>
              <%=f.text_field :last_name,:placeholder=>@l.t('kols.last_name'),"data-validation"=>"required",
                              "data-validation-error-msg"=> @l.t('kols.lname_error')%>
            </label>
            <label>
              <%=f.text_field :first_name,:placeholder=>@l.t('kols.first_name'),"data-validation"=>"required",
                              "data-validation-error-msg"=> @l.t('kols.fname_error')%>
            </label>
            <div class='row collapse'>
              <div class='small-2 large-1 columns'>
                <% if china_instance? %>
                  <span class='prefix'>+86</span>
                <% else %>
                  <span class='prefix'>+1</span>
                <% end %>
              </div>
              <!-- China -->
              <% if china_instance? %>
                <div class='small-10 large-11 columns'>
                  <%=f.text_field :mobile_number, :placeholder => @l.t('kols.mobile_number'), "data-validation" => "custom", "data-validation-regexp"=> "^robin8\.best|1[34578][0-9]{9}$",
                                  "data-validation-error-msg"=> @l.t('kols.mobile_format_error') %>
                </div>

                <section class='tips'>
                  <p class=not_unique_number><%= @l.t("kols.mobile_number_already_token") %></p>
                  <p class=mobile_numer_is_blank><%= @l.t("kols.mobile_format_error") %></p>
                  <p class=send_sms_failed><%= @l.t("kols.send_sms_error") %></p>
                  <p class=send_sms_success><%= @l.t("kols.send_sms_success") %></p>
                </section>
                <div class="small-9 large-9 columns verify-code">
                  <%= text_field_tag "kol[verify_code]", nil, :placeholder => @l.t('kols.verify_code'), "data-validation" => "required", "data-validation-error-msg" => @l.t('kols.verify_code_error')%>
                </div>

                <button type="button" class="btn send_sms"><%= @l.t("kols.receive_verify_code") %></button>
                <% if params["auth_params"] %>
                  <%= hidden_field_tag(:auth_params, params["auth_params"]) %>
                <% end %>
              <!-- American -->
              <% else %>
                <div class='small-10 large-11 columns'>
                  <%=f.text_field :mobile_number,:placeholder=>@l.t('kols.mobile_number'), "data-validation"=>"number","data-validation-error-msg"=> @l.t('kols.mobile_format_error') %>
                </div>
              <% end %>
            </div>

            <p class="agree"><%= @l.t('kols.agree').html_safe %></a>

            <div class="errorwarning">
              <p>Please fill out all required fields</p>
            </div>
            <div class="submit-wrap">
              <%= f.submit @l.t('kols.signup_btn'), :class=>"button button-signup" %>
            </div>
        <%end%>
      </div>
    </div>
  </div>
  <% unless params["auth_params"] %>
    <%= render :partial => "shared/social_sign_up" %>
  <% end %>
</div>


  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.1.47/jquery.form-validator.min.js"></script>


  <script> $.validate(); </script>
  <script>
    var autocomplete = new google.maps.places.Autocomplete($("#kol_location")[0], {});

    $('#interests').select2({
      multiple: true,
      minimumInputLength: 1,
      maximumSelectionSize: 10,
      ajax: {
        url: "/kols/suggest_categories",
        dataType: 'json',
        quietMillis: 250,
        data: function (term) {
          return {
            f: term // search term
          };
        },
        results: function (data) {
          return {
            results: data
          };
        },
        cache: true
      },
      escapeMarkup: function (m) { return m; }
    });
    $(function(){
      $(document).foundation();
      $(".btn.social").click(function(){
        var fiveMins = new Date();
        fiveMins.setMinutes(fiveMins.getMinutes() + 5);
        $.cookie("kol_social", "yeah", {expires: fiveMins, path: "/"});
        return true;
      });
    });
  </script>

  <style>
      .form-error{
          font-size: 15px;
          color: #FF0000;
      }

      .custom-padding {
          margin-bottom: 10px;
      }


  </style>
