<%
   title        = @campaign.name
   description  = @campaign.description
   poster_url   = @campaign.img_url
   url          = Rails.application.secrets[:domain] + request.fullpath
   sign_package = ($weixin_client.get_jssign_package(url) rescue {})
   app_id       = sign_package['appId']
   nonce        = sign_package['nonceStr']
   ts           = sign_package['timestamp']
   signature    = sign_package['signature']
%>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

      <title>Robin8邀请你成为<%= @campaign.user.name rescue '' %>品牌带盐人</title>
      <meta name="description" content="<%= description %>">
      <!-- Open Graph meta -->
      <meta property="og:title" content="<%= title %>" />
      <meta property="og:description" content="<%= description %>" />
      <meta property="og:site_name" content="Robin8" />
      <meta property="og:url" content="<%= url %>" />
      <meta property="og:image" content="<%= poster_url %>" />
      <meta property="og:image:type" content="image/png" />
      <meta property="og:image:width" content="150" />
      <meta property="og:image:height" content="150" />
      <!-- Wechat meta -->
      <meta property="weixin:timeline_title" content="<%= title %>" />
      <meta property="weixin:chat_title" content="<%= title %>" />
      <meta property="weixin:description" content="<%= description %>" />
      <meta property="weixin:image" content="<%= poster_url %>" />
      <%= favicon_link_tag 'favicon.ico' %>
      <meta name="apple-mobile-web-app-status-bar-style" content="black">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag 'wechat_campaign' %>

      <%= javascript_include_tag "//res.wx.qq.com/open/js/jweixin-1.0.0.js" %>
      <script src="//cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
      <script type="text/javascript">
          wx.config({
              debug: false,
              appId: '<%= app_id %>',
              timestamp: '<%= ts %>',
              nonceStr: '<%= nonce %>',
              signature: '<%= signature %>',
              jsApiList: [
                  'onMenuShareTimeline',
                  'onMenuShareAppMessage',
                  'onMenuShareQQ'
              ]
          });

          wx.ready(function () {
              var shareData = {
                  title: '<%= title %>',
                  link: '<%= @share_url %>',
                  imgUrl: '<%= poster_url %>',
                  success: function (res) {
                      $.ajax({
                        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
                        type:    'put',
                        url:     '/partner_campaign/<%=@campaign.id%>/<%=@kol.id%>/complete',
                        success: function(result){
                          showDialog("dialog_success");
                        }
                      });
                  }
              };

              wx.onMenuShareAppMessage(shareData);
              wx.onMenuShareTimeline(shareData);
              wx.onMenuShareQQ(shareData);
          });

      </script>
  </head>
  <body>
    <section class="head-ro">
      <%= image_tag @campaign.img_url %>
    </section>
    <section class="content-ro" style="height: 30%">
      <h2 class="title-ro"><%= @campaign.name %></h2>
      <%= @campaign.description %>
    </section>
    <% step_1 = true if (not request.user_agent =~ /MicroMessenger/ and not @campaign_invite.try(:azb_shared)) %>
    <% step_2 = true if (request.user_agent =~ /MicroMessenger/ and not @campaign_invite.try(:azb_shared)) %>
    <% step_3 = true if (request.user_agent =~ /MicroMessenger/ and @campaign_invite.try(:azb_shared)) %>
    <% step_4 = true if (not request.user_agent =~ /MicroMessenger/ and @campaign_invite.try(:azb_shared)) %>

    <% if step_1 %>
    <!-- 遮罩层 -->
    <div class="black" id="black" style="display: block;"></div>
    <!-- 弹出层 -->
    <div class="dialog top-18" id="dialog02" style="display: block;">
      <div class="dia-content" style="text-align: center;">
        <h2 class="title-ro">操作步骤</h2>
        <p>第一步：查看转发内容简介</p>
        <p>第二步：点击完成任务截图保存二维码</p>
        <p>第三步：用微信扫描二维码</p>
        <p>第四步：将文章分享到朋友圈</p>
        <p>第五步：任务完成！等待发薪</p>
        <button class=" btn-blue-ro width100" onclick="closeDialog('dialog02')">查看转发内容简介</button>
      </div>
    </div>

    <div class="dialog top-18" id="dialog03">
      <div class="dia-content" style="text-align: center;">
        <% unless request.user_agent =~ /MicroMessenger/ %>
          <h2 class="title-ro">截图后去微信扫一扫！</h2>
          <%= raw Rails.cache.fetch("partner_campaign/alizhongbao/#{params[:userId]}/#{params[:id]}/qr_svg", expires_in: 3.hours){RQRCode::QRCode.new(request.url, size: 12, level: :h).as_svg(module_size: 3)} %>
        <% else %>
          <% if @campaign_invite.try(:azb_shared) %>
            <h2 class="title-ro">再次分享可以获得更多点击</h2>
          <% else %>
            <h2 class="title-ro">点击右上角即可分享到朋友圈</h2>
          <% end %>
        <% end %>
        <button class=" btn-blue-ro width100" onclick="closeDialog('dialog03','refresh')">知道了</button>
      </div>
    </div>
    <section class="bottom-ro">
      <a class="btn-blue-ro width100" onclick="showDialog('dialog03')" style="font-size: 1.8em; font-weight: 350;">
        完成任务
      </a>
    </section>
    <% elsif step_2 %>
    <!-- 遮罩层 -->
    <div class="black" id="black" style="display: block;"></div>
    <!-- 弹出层 -->
    <div class="dialog top-18" id="dialog02" style="display: block;">
      <div class="dia-content" style="text-align: center;">
        <h2 class="title-ro">点击右上角即可分享到朋友圈</h2>
        <button class=" btn-blue-ro width100" onclick="closeDialog('dialog02')">知道了</button>
      </div>
    </div>
    <div class="dialog top-18" id="dialog_success">
      <div class="dia-content" style="text-align: center;">
        <h2 class="title-ro">分享成功</h2>
        再次扫描二维码打开链接查看点击次数
        <button class=" btn-blue-ro width100" onclick="closeDialog('dialog_success','refresh')">知道了</button>
      </div>
    </div>
    <section class="bottom-ro">
      <a class="btn-blue-ro width100" onclick="showDialog('dialog02')" style="font-size: 1.8em; font-weight: 350;">
        完成任务
      </a>
    </section>
    <% elsif step_3 %>
    <!-- 遮罩层 -->
    <div class="black" id="black"></div>
    <!-- 弹出层 -->
    <div class="dialog top-18" id="dialog02">
      <div class="dia-content ">
        <h2 class="title-ro">分享成功</h2>
        再次扫描二维码即可查看点击次数
        <button class=" btn-blue-ro width100" onclick="closeDialog('dialog02')">知道了</button>
      </div>
    </div>
    <div class="dialog top-18" id="dialog_success">
      <div class="dia-content" style="text-align: center;">
        <h2 class="title-ro">分享成功</h2>
        再次扫描二维码打开链接查看点击次数
        <button class=" btn-blue-ro width100" onclick="closeDialog('dialog_success','refresh')">知道了</button>
      </div>
    </div>
    <section class="content-ro" style="overflow: auto; position: fixed; bottom: 0">
      <section class="content-ro" style="height: 6rem; margin-bottom: 0;">
        <h2 class="title-ro" style="border: 1px solid #6a6a6a;
        padding-top: 10px; padding-bottom: 10px; color: #6a6a6a;
        font-weight: 350">总点击: <span style="color: orange"><%= @campaign_invite.get_total_click %></span> 有效点击: <span style="color: orange"><%= @campaign_invite.get_avail_click %></span> 即将赚: <span style="color: orange"><%= @campaign_invite.earn_money %></span> 元</h2>
      </section>
      1. 单个活动每个微信用户点击只能算一次,即使是不同的人分享的同一个活动；例如：A为B点击了活动1，之后A又为C点击了活动1，那么只有B的活动1计费。
      2. 相同 wifi 对相同的活动的每个点击需要间隔 30 秒。
    </section>
    <section class="bottom-ro">
      <a class="btn-blue-ro width100" onclick="showDialog('dialog02')" style="font-size: 1.8em; font-weight: 350;">
        任务已完成
      </a>
    </section>
    <% elsif step_4 %>
    <!-- 遮罩层 -->
    <div class="black" id="black" style="display: block;"></div>
    <!-- 弹出层 -->
    <div class="dialog top-18" id="dialog02" style="display: block;">
      <div class="dia-content" style="text-align: center;">
        <h2 class="title-ro">分享成功</h2>
        感谢您的参与，后续会为您记录点击情况，可重新扫描二维码查看点击记录
        <button class=" btn-blue-ro width100" onclick="closeDialog('dialog02')">知道了</button>
      </div>
    </div>
    <section class="content-ro" style="overflow: auto; position: fixed; bottom: 0">
      <section class="content-ro" style="height: 6rem; margin-bottom: 0;">
        <h2 class="title-ro" style="border: 1px solid #6a6a6a;
        padding-top: 10px; padding-bottom: 10px; color: #6a6a6a;
        font-weight: 350">总点击: <span style="color: orange"><%= @campaign_invite.get_total_click %></span> 有效点击: <span style="color: orange"><%= @campaign_invite.get_avail_click %></span> 即将赚: <span style="color: orange"><%= @campaign_invite.earn_money %></span> 元</h2>
      </section>
      1. 单个活动每个微信用户点击只能算一次,即使是不同的人分享的同一个活动；例如：A为B点击了活动1，之后A又为C点击了活动1，那么只有B的活动1计费。
      2. 相同 wifi 对相同的活动的每个点击需要间隔 30 秒。
    </section>
    <section class="bottom-ro">
      <a class="btn-blue-ro width100" onclick="showDialog('dialog02')" style="font-size: 1.8em; font-weight: 350;">
        任务已完成
      </a>
    </section>
    <% end %>

  </body>

    <script type="text/javascript">
        var black = document.getElementById('black');
        function closeDialog(dialog_id,refresh){
          if (refresh == undefined) {
            black.style.display = "none";
            document.getElementById(dialog_id).style.display = "none";
          } else {
            window.location.href = '<%= raw (@refresh_url) %>';
          }
        }
        function showDialog(dialog_id){
            black.style.display = "block";
            document.getElementById(dialog_id).style.display = "block";
        }
    </script>
</html>
