<% var currentPlan = Robin.currentUser.attributes.active_subscription.product %>
<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-md-6">
        <h4 class="billing-title">Payment</h4>
        <table class="billing-data-table">
          <thead>
            <tr>
              <th>#</th>
              <th>Created at</th>
              <th>Card last four</th>
              <th>Card type</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
          <% _.each(items, function(item, index) { %>
            <tr class='payment'>
              <td><%= index + 1 %></td>
              <% var date = moment.utc(item.payment.another_format_created_at).toDate() %>
              <td><%= moment(date).format('MM/DD/YYYY hh:mm A') %></td>
              <td><%= item.payment.card_last_four_digits %></td>
              <td><%= item.payment.card_type %></td>
              <td><%= item.payment.amount %></td>
            </tr>
          <% }); %>
          </tbody>
        </table>
        <br>
        <h4 class="billing-title">Add-ons</h4>
        <table class="billing-data-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          <% _.each(Robin.currentUser.get('recurring_add_ons'), function(item, index) { %>
            <tr class='payment' id="<%= item.id %>">
              <td><%= item.product.name %></td>
              <td><%= item.product.price %></td>
              <td><%= item.status %></td>
              <td ><a class="<%= item.status == 'C' ? 'hidden' : ''%> cancel-addon">Cancel</a></td>
            </tr>
          <% }); %>
          </tbody>
        </table>
      </div>
      <div class="col-md-5 col-lg-4">
        <div class="billing-current-plan">
          <h4 class="billing-title">Current Pricing Plan</h4>
            <% if (currentPlan != undefined) { %>
            <div class="subscription-type active" id="plantype-ultra" data-plan="ultra" data-equalizer-watch="">
              <h2><%= currentPlan.name %></h2>
              <div class="price-bubble">
                <div class="<%= priceClass(currentPlan.slug) %>">
                  $<%= currentPlan.properties.price %><span class="permonth">/mo</span>
                  <% if (!s(currentPlan.slug).startsWith("new")) { %>
                    <em>billed annually or<br>$<%= currentPlan.properties.annually_price %> month-to-month </em>
                  <% } %>
                </div>
              </div>
              <div class="plan-inclusions">
                <% var prop = currentPlan.properties; %>
                <ul>
                  <li><strong><%= prop.smart_release %></strong> <span>SmartContent</span></li>
                  <% if (!(currentPlan.slug).startsWith('new')) { %>
                    <li><strong><%= currentPlan.properties.press_release %></strong> <span>Content Postings on Robin8/month</span></li>
                  <% }%>
                  <li><strong><%= prop.newsroom %></strong> <span><%= p('Brand Gallery', prop.newsroom) %></span></li>
                  <li><strong><%= prop.seat %></strong> <span><%= p('Seat', prop.seat) %></span></li>
                  <li><%= count(prop.media_list) %> <span><%= p('Personal Influencers List', prop.media_list) %></span></li>
                  <li><%= count(prop.streams) %> <span>Streams for Media Monitoring</span></li>
                  <% if (prop.streams == 9999)  { %>
                    <li><b>20</b> <span>Hours of Customization </span></li>
                  <% } %>
                </ul>
              </div>
            </div>
            <% } %>
          <% if (Robin.currentUser.attributes.active_subscription.status != 'C') {%>
            <a href="/pricing" class="btn btn-success">Change plan</a>
          <% } else {%>
            <a href="/pricing" class="btn btn-success">Subscribe to new plan</a>
          <% } %>
          <a href="/add-ons" class="btn btn-success">Add ons</a>
          <a href="/change_card_info" class="btn btn-success">Update payment details</a>
          <!-- <input type="button" value="Checkout" class="btn btn-success"> -->
          <% if (Robin.currentUser.attributes.active_subscription.status != 'C') {%>
            <input type="button" id="cancel-subscription" value="Cancel Subscription" class="btn btn-danger user-list--delete">
          <% } else {%>
            <div><span class='canceled'> Your current plan is canceled </span></div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
