<% var currentPlan = Robin.currentUser.attributes.active_subscription.product %>
<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-md-6">
        <h4 class="billing-title"><%= polyglot.t("billing.payment_title") %></h4>
        <table class="billing-data-table">
          <thead>
            <tr>
              <th>#</th>
              <th><%= polyglot.t("billing.created_at") %></th>
              <th><%= polyglot.t("billing.card_last") %></th>
              <th><%= polyglot.t("billing.card_type") %></th>
              <th><%= polyglot.t("billing.amount") %></th>
            </tr>
          </thead>
          <tbody>
          <% _.each(items, function(item, index) { %>
            <tr class='payment'>
              <td><%= index + 1 %></td>
              <% var date = moment.utc(item.payment.another_format_created_at).toDate() %>
              <td><%= moment(date).format('MM/DD/YYYY hh:mm A') %></td>
              <td><%= item.payment.card_last_four_digits %></td>
              <td><%= item.payment.card_type %></td>
              <td><%= item.payment.amount %></td>
            </tr>
          <% }); %>
          </tbody>
        </table>
        <br>
        <h4 class="billing-title"><%= polyglot.t("billing.addons_title") %></h4>
        <table class="billing-data-table">
          <thead>
            <tr>
              <th><%= polyglot.t("billing.name") %></th>
              <th><%= polyglot.t("billing.price") %></th>
              <th><%= polyglot.t("billing.status") %></th>
              <th><%= polyglot.t("billing.action") %></th>
            </tr>
          </thead>
          <tbody>
          <% _.each(Robin.currentUser.get('current_active_add_ons'), function(item, index) { %>
            <tr class='payment' id="<%= item.id %>">
              <td><%= item.product.name %></td>
              <td><%= item.product.price %></td>
              <td><%= item.status %></td>
              <td ><a class="<%= item.status == 'C' ? 'hidden' : ''%> cancel-addon"><%= polyglot.t("billing.cancel_action") %></a></td>
            </tr>
          <% }); %>
          </tbody>
        </table>
      </div>
      <div class="col-md-5 col-lg-4">
        <div class="billing-current-plan">
          <h4 class="billing-title"><%= polyglot.t("billing.current_plan") %></h4>
            <% if (currentPlan != undefined) { %>
            <div class="subscription-type active" id="plantype-ultra" data-plan="ultra" data-equalizer-watch="">
              <h2><%= currentPlan.name %></h2>
              <div class="price-bubble">
                <div class="<%= priceClass(currentPlan.slug) %>">
                  $<%= currentPlan.properties.price %><span class="permonth"><%= polyglot.t("billing.per_month") %></span>
                  <% if (!s(currentPlan.slug).startsWith("new")) { %>
                    <em><%= polyglot.t("billing.annually") %><br>$<%= currentPlan.properties.annually_price %> <%= polyglot.t("billing.month") %> </em>
                  <% } %>
                </div>
              </div>
              <div class="plan-inclusions">
                <ul>
                  <li><strong><%= currentPlan.properties.seat %></strong> <span><%= polyglot.t("billing.seat") %></span></li>
                  <li><strong><%= currentPlan.properties.newsroom %></strong> <span><%= polyglot.t("billing.newsroom") %></span></li>
                  <li><strong><%= currentPlan.properties.press_release %></strong> <span><%= polyglot.t("billing.press_release") %></span></li>
                  <li><strong><%= currentPlan.properties.smart_release %></strong> <span><%= polyglot.t("billing.smart_release") %></span></li>
                  <li><%= count(currentPlan.properties.media_list) %> <span><%= polyglot.t("billing.personal_lists") %></span></li>
                  <li><%= count(currentPlan.properties.streams) %> <span><%= polyglot.t("billing.streams") </span></li>
                </ul>
              </div>
            </div>
            <% } %>
          <% if (Robin.currentUser.attributes.active_subscription.status != 'C') {%>
            <a href="/pricing" class="btn btn-success"><%= polyglot.t("billing.buttons.change") %></a>
          <% } else {%>
            <a href="/pricing" class="btn btn-success"><%= polyglot.t("billing.buttons.new_plan") %></a>
          <% } %>
          <a href="/add-ons" class="btn btn-success"><%= polyglot.t("billing.buttons.addons") %></a>
          <a href="/change_card_info" class="btn btn-success"><%= polyglot.t("billing.buttons.update") %></a>
          <a href="/change_campaign_card_info" class="btn btn-success">Campaign payment details</a>
          <!-- <input type="button" value="Checkout" class="btn btn-success"> -->
          <% if (Robin.currentUser.attributes.active_subscription.status != 'C') {%>
            <input type="button" id="cancel-subscription" value="<%= polyglot.t("billing.buttons.cancel") %>" class="btn btn-danger user-list--delete">
          <% } else {%>
            <div><span class='canceled'> <%= polyglot.t("billing.plan_is_canceled") %> </span></div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>
