<% var planName = Robin.currentUser.attributes.active_subscription.package == undefined ? 'Plan without name' : Robin.currentUser.attributes.active_subscription.package.name %>
<%= Robin.currentUser.attributes.active_subscription == null ? "You don't have subscription" : planName %>
<% var url = Robin.currentUser.attributes.active_subscription == null ? "create_subscription" : "update_subscription" %>

<br/>
<select id="subscription-selector"></select>

<br/>

<form class="frmContact hidden" id="checkout-form" action="/subscriptions/<%=url%>"  accept-charset="UTF-8" method="post" data-remote="true" data-type="json">
  <input type="hidden" name="package_id">
  <input type="hidden" name="authenticity_token" value="I6P5tKAnHCR6Nwczy7bW14WoFXQXzgCZn8xcyU5oi6DN0TgAadDLFJgGcxplCnfg2oNfSHJcS5Gf9Rtw8zNL6Q==">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
      <h3 class="title">Checkout Form</h3>
      <div class="row">
        <div class="form-group col-sm-6">
          <label for="ccno" class="col-sm-4 control-label">Title</label>
          <div class="col-sm-8">
            <select class="form-control" name="contact[title]" id="contact_title">
              <option value="Mr">Mr</option>
              <option value="Ms">Ms</option>
              <option value="Mrs">Mrs</option>
            </select>
          </div>
        </div>
        <input type="hidden" name="slug" value="ultra-annual">
        <div class="form-group col-sm-6">
          <label for="ccno" class="col-sm-4 control-label">First Name</label>
          <div class="col-sm-8">
            <input value="" class="form-control" autocomplete="off" type="text" name="contact[first_name]" id="contact_first_name">
          </div>
        </div>

        <div class="form-group col-sm-6">
          <label for="ccno" class="col-sm-4 control-label">Last Name </label>
          <div class="col-sm-8">
            <input value="" class="form-control" autocomplete="off" type="text" name="contact[last_name]" id="contact_last_name">
          </div>
        </div>

        <div class="form-group col-sm-6">
          <label for="ccno" class="col-sm-4 control-label">Address</label>
          <div class="col-sm-8">
            <input class="form-control" autocomplete="off" type="text" name="contact[address1]" id="contact_address1">
          </div>
        </div>

        <div class="form-group col-sm-6">
          <label for="ccno" class="col-sm-4 control-label">City</label>
          <div class="col-sm-8">
            <input class="form-control" autocomplete="off" type="text" name="contact[city]" id="contact_city">
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="ccno" class="col-sm-4 control-label">Zip</label>
          <div class="col-sm-8">
            <input class="form-control" autocomplete="off" type="text" name="contact[zip]" id="contact_zip">
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="ccno" class="col-sm-4 control-label">State</label>
          <div class="col-sm-8">
            <input class="form-control" autocomplete="off" type="text" name="contact[state]" id="contact_state">
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="ccno" class="col-sm-4 control-label">Country</label>
          <div class="col-sm-8">
            <select name="contact[country]" id="contact_country"><option value="AD">Andorra</option>
              <option value="AE">United Arab Emirates</option>
              <option value="AF">Afghanistan</option>
              <option value="AG">Antigua and Barbuda</option>
              <option value="AI">Anguilla</option>
              <option value="AL">Albania</option>
              <option value="AM">Armenia</option>
              <option value="AN">Netherlands Antilles</option>
              <option value="AO">Angola</option>
              <option value="AQ">Antarctica</option>
              <option value="AR">Argentina</option>
              <option value="AS">American Samoa</option>
              <option value="AT">Austria</option>
              <option value="AU">Australia</option>
              <option value="AW">Aruba</option>
              <option value="AX">Åland Islands</option>
              <option value="AZ">Azerbaijan</option>
              <option value="BA">Bosnia and Herzegovina</option>
              <option value="BB">Barbados</option>
              <option value="BD">Bangladesh</option>
              <option value="BE">Belgium</option>
              <option value="BF">Burkina Faso</option>
              <option value="BG">Bulgaria</option>
              <option value="BH">Bahrain</option>
              <option value="BI">Burundi</option>
              <option value="BJ">Benin</option>
              <option value="BL">Saint Barthélemy</option>
              <option value="BM">Bermuda</option>
              <option value="BN">Brunei Darussalam</option>
              <option value="BO">Bolivia</option>
              <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
              <option value="BR">Brazil</option>
              <option value="BS">Bahamas</option>
              <option value="BT">Bhutan</option>
              <option value="BV">Bouvet Island</option>
              <option value="BW">Botswana</option>
              <option value="BY">Belarus</option>
              <option value="BZ">Belize</option>
              <option value="CA">Canada</option>
              <option value="CC">Cocos (Keeling) Islands</option>
              <option value="CD">Congo, The Democratic Republic Of The</option>
              <option value="CF">Central African Republic</option>
              <option value="CG">Congo</option>
              <option value="CH">Switzerland</option>
              <option value="CI">Côte D'Ivoire</option>
              <option value="CK">Cook Islands</option>
              <option value="CL">Chile</option>
              <option value="CM">Cameroon</option>
              <option value="CN">China</option>
              <option value="CO">Colombia</option>
              <option value="CR">Costa Rica</option>
              <option value="CU">Cuba</option>
              <option value="CV">Cape Verde</option>
              <option value="CW">Curaçao</option>
              <option value="CX">Christmas Island</option>
              <option value="CY">Cyprus</option>
              <option value="CZ">Czech Republic</option>
              <option value="DE">Germany</option>
              <option value="DJ">Djibouti</option>
              <option value="DK">Denmark</option>
              <option value="DM">Dominica</option>
              <option value="DO">Dominican Republic</option>
              <option value="DZ">Algeria</option>
              <option value="EC">Ecuador</option>
              <option value="EE">Estonia</option>
              <option value="EG">Egypt</option>
              <option value="EH">Western Sahara</option>
              <option value="ER">Eritrea</option>
              <option value="ES">Spain</option>
              <option value="ET">Ethiopia</option>
              <option value="FI">Finland</option>
              <option value="FJ">Fiji</option>
              <option value="FK">Falkland Islands (Malvinas)</option>
              <option value="FM">Micronesia, Federated States Of</option>
              <option value="FO">Faroe Islands</option>
              <option value="FR">France</option>
              <option value="GA">Gabon</option>
              <option value="GB">United Kingdom</option>
              <option value="GD">Grenada</option>
              <option value="GE">Georgia</option>
              <option value="GF">French Guiana</option>
              <option value="GG">Guernsey</option>
              <option value="GH">Ghana</option>
              <option value="GI">Gibraltar</option>
              <option value="GL">Greenland</option>
              <option value="GM">Gambia</option>
              <option value="GN">Guinea</option>
              <option value="GP">Guadeloupe</option>
              <option value="GQ">Equatorial Guinea</option>
              <option value="GR">Greece</option>
              <option value="GS">South Georgia and the South Sandwich Islands</option>
              <option value="GT">Guatemala</option>
              <option value="GU">Guam</option>
              <option value="GW">Guinea-Bissau</option>
              <option value="GY">Guyana</option>
              <option value="HK">Hong Kong</option>
              <option value="HM">Heard and McDonald Islands</option>
              <option value="HN">Honduras</option>
              <option value="HR">Croatia</option>
              <option value="HT">Haiti</option>
              <option value="HU">Hungary</option>
              <option value="ID">Indonesia</option>
              <option value="IE">Ireland</option>
              <option value="IL">Israel</option>
              <option value="IM">Isle of Man</option>
              <option value="IN">India</option>
              <option value="IO">British Indian Ocean Territory</option>
              <option value="IQ">Iraq</option>
              <option value="IR">Iran, Islamic Republic Of</option>
              <option value="IS">Iceland</option>
              <option value="IT">Italy</option>
              <option value="JE">Jersey</option>
              <option value="JM">Jamaica</option>
              <option value="JO">Jordan</option>
              <option value="JP">Japan</option>
              <option value="KE">Kenya</option>
              <option value="KG">Kyrgyzstan</option>
              <option value="KH">Cambodia</option>
              <option value="KI">Kiribati</option>
              <option value="KM">Comoros</option>
              <option value="KN">Saint Kitts And Nevis</option>
              <option value="KP">Korea, Democratic People's Republic Of</option>
              <option value="KR">Korea, Republic of</option>
              <option value="KW">Kuwait</option>
              <option value="KY">Cayman Islands</option>
              <option value="KZ">Kazakhstan</option>
              <option value="LA">Lao People's Democratic Republic</option>
              <option value="LB">Lebanon</option>
              <option value="LC">Saint Lucia</option>
              <option value="LI">Liechtenstein</option>
              <option value="LK">Sri Lanka</option>
              <option value="LR">Liberia</option>
              <option value="LS">Lesotho</option>
              <option value="LT">Lithuania</option>
              <option value="LU">Luxembourg</option>
              <option value="LV">Latvia</option>
              <option value="LY">Libya</option>
              <option value="MA">Morocco</option>
              <option value="MC">Monaco</option>
              <option value="MD">Moldova, Republic of</option>
              <option value="ME">Montenegro</option>
              <option value="MF">Saint Martin</option>
              <option value="MG">Madagascar</option>
              <option value="MH">Marshall Islands</option>
              <option value="MK">Macedonia, the Former Yugoslav Republic Of</option>
              <option value="ML">Mali</option>
              <option value="MM">Myanmar</option>
              <option value="MN">Mongolia</option>
              <option value="MO">Macao</option>
              <option value="MP">Northern Mariana Islands</option>
              <option value="MQ">Martinique</option>
              <option value="MR">Mauritania</option>
              <option value="MS">Montserrat</option>
              <option value="MT">Malta</option>
              <option value="MU">Mauritius</option>
              <option value="MV">Maldives</option>
              <option value="MW">Malawi</option>
              <option value="MX">Mexico</option>
              <option value="MY">Malaysia</option>
              <option value="MZ">Mozambique</option>
              <option value="NA">Namibia</option>
              <option value="NC">New Caledonia</option>
              <option value="NE">Niger</option>
              <option value="NF">Norfolk Island</option>
              <option value="NG">Nigeria</option>
              <option value="NI">Nicaragua</option>
              <option value="NL">Netherlands</option>
              <option value="NO">Norway</option>
              <option value="NP">Nepal</option>
              <option value="NR">Nauru</option>
              <option value="NU">Niue</option>
              <option value="NZ">New Zealand</option>
              <option value="OM">Oman</option>
              <option value="PA">Panama</option>
              <option value="PE">Peru</option>
              <option value="PF">French Polynesia</option>
              <option value="PG">Papua New Guinea</option>
              <option value="PH">Philippines</option>
              <option value="PK">Pakistan</option>
              <option value="PL">Poland</option>
              <option value="PM">Saint Pierre And Miquelon</option>
              <option value="PN">Pitcairn</option>
              <option value="PR">Puerto Rico</option>
              <option value="PS">Palestine, State of</option>
              <option value="PT">Portugal</option>
              <option value="PW">Palau</option>
              <option value="PY">Paraguay</option>
              <option value="QA">Qatar</option>
              <option value="RE">Réunion</option>
              <option value="RO">Romania</option>
              <option value="RS">Serbia</option>
              <option value="RU">Russian Federation</option>
              <option value="RW">Rwanda</option>
              <option value="SA">Saudi Arabia</option>
              <option value="SB">Solomon Islands</option>
              <option value="SC">Seychelles</option>
              <option value="SD">Sudan</option>
              <option value="SE">Sweden</option>
              <option value="SG">Singapore</option>
              <option value="SH">Saint Helena</option>
              <option value="SI">Slovenia</option>
              <option value="SJ">Svalbard And Jan Mayen</option>
              <option value="SK">Slovakia</option>
              <option value="SL">Sierra Leone</option>
              <option value="SM">San Marino</option>
              <option value="SN">Senegal</option>
              <option value="SO">Somalia</option>
              <option value="SR">Suriname</option>
              <option value="SS">South Sudan</option>
              <option value="ST">Sao Tome and Principe</option>
              <option value="SV">El Salvador</option>
              <option value="SX">Sint Maarten</option>
              <option value="SY">Syrian Arab Republic</option>
              <option value="SZ">Swaziland</option>
              <option value="TC">Turks and Caicos Islands</option>
              <option value="TD">Chad</option>
              <option value="TF">French Southern Territories</option>
              <option value="TG">Togo</option>
              <option value="TH">Thailand</option>
              <option value="TJ">Tajikistan</option>
              <option value="TK">Tokelau</option>
              <option value="TL">Timor-Leste</option>
              <option value="TM">Turkmenistan</option>
              <option value="TN">Tunisia</option>
              <option value="TO">Tonga</option>
              <option value="TR">Turkey</option>
              <option value="TT">Trinidad and Tobago</option>
              <option value="TV">Tuvalu</option>
              <option value="TW">Taiwan, Republic Of China</option>
              <option value="TZ">Tanzania, United Republic of</option>
              <option value="UA">Ukraine</option>
              <option value="UG">Uganda</option>
              <option value="UM">United States Minor Outlying Islands</option>
              <option value="US">United States</option>
              <option value="UY">Uruguay</option>
              <option value="UZ">Uzbekistan</option>
              <option value="VA">Holy See (Vatican City State)</option>
              <option value="VC">Saint Vincent And The Grenedines</option>
              <option value="VE">Venezuela, Bolivarian Republic of</option>
              <option value="VG">Virgin Islands, British</option>
              <option value="VI">Virgin Islands, U.S.</option>
              <option value="VN">Vietnam</option>
              <option value="VU">Vanuatu</option>
              <option value="WF">Wallis and Futuna</option>
              <option value="WS">Samoa</option>
              <option value="YE">Yemen</option>
              <option value="YT">Mayotte</option>
              <option value="ZA">South Africa</option>
              <option value="ZM">Zambia</option>
              <option value="ZW">Zimbabwe</option></select>
          </div>
        </div>

        <div class="form-group col-sm-6">
          <label for="ccno" class="col-sm-4 control-label">Phone</label>
          <div class="col-sm-8">
            <input class="form-control" autocomplete="off" type="text" name="contact[phone]" id="contact_phone">
          </div>
        </div>


        <div class="form-group col-sm-6">
          <label for="ccno" class="col-sm-4 control-label">Credit Card Type</label>
          <div class="col-sm-8">
            <select class="form-control" name="card[credit_card_type]" id="card_credit_card_type"><option value="visa">Visa</option>
            <option value="master">Master Card</option>
            <option value="american_express">American Express</option>
            <option value="discover">Discover</option></select>
          </div>
        </div>


        <div class="form-group col-sm-6">
          <label for="ccno" class="col-sm-4 control-label">Credit Card Number</label>
          <div class="col-sm-8">
            <input class="form-control" autocomplete="off" data-bluesnap="encryptedCreditCard" type="text" name="card[credit_card_number]" id="card_credit_card_number">
          </div>
        </div>

        <div class="form-group col-sm-6">
          <label for="cvc" class="col-sm-4 control-label">CVC</label>
          <div class="col-sm-8">
            <input class="form-control" autocomplete="off" data-bluesnap="encryptedCvv" type="text" name="card[verification_code]" id="card_verification_code">
          </div>
        </div>

        <div class="form-group col-sm-6">
          <label for="cvc" class="col-sm-4 control-label">Exp. Date</label>
          <div class="col-sm-6">
            <input type="hidden" id="card_expiration_month" name="card[expiration_month]" value="1">
            <select id="card_expiration_month" name="card[expiration_month]" class="form-control">
              <option value=""></option>
              <option value="1">January</option>
              <option value="2">February</option>
              <option value="3">March</option>
              <option value="4">April</option>
              <option value="5">May</option>
              <option value="6">June</option>
              <option value="7">July</option>
              <option value="8">August</option>
              <option value="9">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select>
            <select id="card_expiration_year" name="card[expiration_year]" class="form-control">
              <option value=""></option>
              <option value="2015">2015</option>
              <option value="2016">2016</option>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
              <option value="2021">2021</option>
              <option value="2022">2022</option>
              <option value="2023">2023</option>
              <option value="2024">2024</option>
              <option value="2025">2025</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <input type="submit" id="submit-checkout" name="commit" value="SUBMIT" class="btn-lg">
  </div>
</form>

</br>
<input type="button" id="cancel-subscription" value="CANCEL SUBSCRIPTION" class="btn-lg">

</br>
</br>

<table border='1'>
  <caption>Payment</caption>
  <thead>
    <tr>
      <th>#</th>
      <th>Created at</th>
      <th>Card last four</th>
      <th>Card type</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
  <% _.each(items, function(item) { %>
    <tr class='payment'>
      <!-- <td><%= i %></td> -->
      <td><%= item.get('created_at') %></td>
      <td><%= item.get('card_last_four_digits') %></td>
      <td><%= item.get('card_type') %></td>
      <td><%= item.get('amount') %></td>
    </tr>
  <% }); %>
  </tbody>
</table>
