<!--<div class="campaign-share">-->
  <!--<div class="title">推广活动信息</div>-->
  <!--<div class="notice" style="text-align: center;margin: 0 auto;color: #008CBA; font-style: italic;"> 请复制'转发内容'，然后发送到朋友圈</div>-->
  <!--<div class="share-content">-->

    <!--<div class="top">-->
      <!--<div class="left-logo"><%#= image_tag @campaign.img_url %></div>-->
      <!--<div class="right-info">-->
          <!--<%#= @campaign.name %>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="bottom">-->
      <!--<div class="item">-->
        <!--<div class="label">活动开始时间</div>-->
        <!--<div class="value"><%#= @campaign.start_time.to_s(:all_time) %></div>-->
      <!--</div>-->
      <!--<div class="item">-->
        <!--<div class="label">活动结束时间</div>-->
        <!--<div class="value"><%#= @campaign.deadline.to_s(:all_time) %></div>-->
      <!--</div>-->
      <!--<div class="item">-->
        <!--<div class="label">活动推广链接</div>-->
        <!--<div class="value"><%#= link_to '查看原文', @campaign.url %></div>-->
      <!--</div>-->
      <!--<div class="item">-->
        <!--<div class="label">活动描述</div>-->
        <!--<div class="value"><%#= @campaign.description %></div>-->
      <!--</div>-->
      <!--<div class="item">-->
        <!--<div class="label">转发内容（请复制后，发送到朋友圈）</div>-->
        <!--<div class="value"><%#= @campaign.description %> <%#= @campaign_invite.share_url %></div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<iframe src="<%= @campaign.url %>" width="100%" height="100%">

</iframe>

<%= javascript_include_tag "http://res.wx.qq.com/open/js/jweixin-1.0.0.js" %>
<% sign_package = ($weixin_client.get_jssign_package(request.url) rescue {}) %>

<style type="text/css">
  body {
    background: #fff;
  }

  .title {
    margin-top: 10px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    width: 100%;
    font-size: 20px;
  }

  .share-content {
    margin: 15px;
    margin-bottom: 40px;
    border-radius: 3px;
  }

  .share-content .top {
    background: rgb(71, 152, 172);
    padding: 20px;
    border-radius: 3px;
    overflow: auto;
  }

  .share-content .left-logo {
    float: left;
    width: 30%;
  }

  .share-content img {
    width: 70px;
    height: 70px;
    border-radius: 5px;
  }

  .share-content .right-info {
    float: left;
    margin-left: 4%;
    width: 65%;
    font-size: 18px;
  }

  .share-content .bottom {
    background: #fff;
  }

  .share-content .bottom .item {
    background-color: #ecf0f5;
    border-bottom: 1px solid #d4d4d4;
    padding: 12px 15px;
    overflow: auto;
  }

  .share-content .bottom .item .label {
    float: left;
    width: 30%;
    padding: 8px 3px;
  }

  .share-content .bottom .item .value {
    float: left;
    margin-left: 10px;
  }


</style>
<script type="text/javascript">
  wx.config({
    debug: true,
    appId: "<%= sign_package['appId'] %>",
    timestamp: "<%= sign_package['timestamp'] %>",
    nonceStr: "<%= sign_package['nonceStr'] %>",
    signature: "<%= sign_package['signature'] %>",
    jsApiList: [
      'onMenuShareTimeline',
      'onMenuShareAppMessage',
      'onMenuShareQQ',
      'onMenuShareWeibo'
    ]
  });
  // wx.ready(function () {
  //   var info = {
  //     title: "<%= raw @campaign.name %>",
  //     desc: "<%= raw @campaign.description %>",
  //     link: "<%= request.url %>",
  //     imgUrl: "<%=  @campaign.img_url || @campaign.user.avatar_url %>"
  //   };

  //   wx.onMenuShareAppMessage(info);
  //   wx.onMenuShareTimeline(info);
  //   wx.onMenuShareQQ(info);
  // });
</script>
