<html>
<body>
Hello Support

<p>
  Someone contacted from Robin8 Contact Us Page. Details as follows
  <br/>
</p>

First Name: <%=@user[:first_name]%><br/>
Last Name: <%=@user[:last_name]%><br/>
Email: <%=@user[:email]%><br/>
Subject: <%=@user[:subject]%><br/><br/>

Message: <%=@user[:message]%><br/>
<p>
  Regards, <br/>
  Team, Robin8
</p>
</body>
</html>