<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Robin8 Newswire Notification</title>
  <%= stylesheet_link_tag  'mail-template' %>
</head>

<body>
<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" width="600">
      <div class="content">
        <table class="main" width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td class="content-wrap">
              <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-block">
                    This Email is to notify you that following new newswire distribution has arrived for processing,
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Publisher Name:</b> <%= @user.first_name + ' ' + @user.last_name %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Release Title:</b> <%= @release_title %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Newswire Type:</b> <%= @newswire_types %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Newswire Publish date:</b> <%= @newswire_publish_date %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Link to Release:</b> <a href="<%= @link_to_release %>"><%= @link_to_release %></a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </td>
    <td></td>
  </tr>
</table>

</body>
</html>