<h3>Kol Banner</h3>

<div style="float:right"><%= link_to '新增Banner', new_marketing_dashboard_kol_announcement_path, :class => 'btn btn-primary' %></div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>排序</th>
      <th>标题</th>
      <th>类型</th>
      <th>封面URL</th>
      <th>link</th>
      <th>kol_id</th>
      <th>状态</th>
      <th>Ops</th>
    </tr>
  </thead>

  <tbody>
    <% @kol_announcements.each do |announcement| %>
      <tr>
        <td><%= announcement.position %></td>
        <td><%= announcement.title %></td>
        <td><%= announcement.category %></td>
        <td><%= image_tag announcement.cover.url('200') %></td>
        <td><%= announcement.link %></td>
        <td><%= announcement.kol_id %></td>
        <td><%= announcement.enable == true ? 'Y' : 'N' %></td>
        <td>
          <%= link_to 'Destroy', marketing_dashboard_kol_announcement_path(announcement), method: :delete, data: { confirm: 'Are you sure?' } %>
          <%= link_to 'switch', switch_marketing_dashboard_kol_announcement_path(announcement) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


