<h3>支付宝黑名单列表</h3>

<div class="panel panel-default">
  <div class="panel-heading">
    搜索过滤
  </div>
  <div id="searchPanel" class="panel-body">
    <%= search_form_for @q, url: request.path, class: "form" do |f| %>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>支付宝帐号</label>
            <%= f.search_field :account_eq, class: "form-control", placeholder: "支付宝帐号" %>
          </div>
        </div>
        <div class="col-md-4">
          <label>&nbsp;</label>
          <div>
            <%= f.submit "搜索", class: "btn btn-primary" %>
            <%= link_to "清除全部", request.path, class: "btn btn-default" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th width="50px;">ID</th>
      <th>支付宝帐号</th>
      <th>KOL ID</th>
      <th>KOL昵称</th>
      <th>KOL手机</th>
      <th>提现金额</th>
      <th>提现次数</th>
      <th>KOL等级</th>
      <th>可提现金额</th>
      <th>历史收益</th>
      <th>平均点击</th>
      <th>最高点击</th>
      <th>加入黑名单时间</th>
      <th width="90px;">操作</th>
    </tr>
  </thead>
  <tbody>
    <% @alipay_accounts.each do |a| %>
      <tr>
        <td><%= a.id %></td>
        <td><%= a.account %></td>
        <td><%= link_to Withdraw.find(a.withdraw_id).kol_id, marketing_dashboard_kol_path(:id => Withdraw.find(a.withdraw_id).kol_id), :target => "_blank" %></td>
        <td><%= Withdraw.find(a.withdraw_id).kol.name rescue "" %></td>
        <td><%= Withdraw.find(a.withdraw_id).kol.mobile_number rescue "" %></td>
        <td><%= Withdraw.find(a.withdraw_id).credits %></td>
        <td><%= Withdraw.where(:alipay_no =>a.account).count rescue "" %></td>
        <td><%= Withdraw.find(a.withdraw_id).kol_level rescue "" %></td>
        <td><%= Withdraw.find(a.withdraw_id).kol.avail_amount rescue "" %></td>
        <td><%= Withdraw.find(a.withdraw_id).kol.total_income rescue "" %></td>
        <td> <%= Withdraw.find(a.withdraw_id).kol.average_click_of_campaigns rescue "" %></td>
        <td> <%= Withdraw.find(a.withdraw_id).kol.maximum_click_of_campaigns rescue "" %></td>
        <td><%= a.created_at %></td>
        <td>
          <%= link_to "把此帐号移出黑名单", disban_marketing_dashboard_alipay_account_blacklist_path(a) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @alipay_accounts, renderer: BootstrapPagination::Rails  %>
