<h3>支付宝黑名单列表</h3>

<div class="panel panel-default">
  <div class="panel-heading">
    搜索过滤
  </div>
  <div id="searchPanel" class="panel-body">
    <%= search_form_for @q, url: request.path, class: "form" do |f| %>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>支付宝帐号</label>
            <%= f.search_field :account_eq, class: "form-control", placeholder: "支付宝帐号" %>
          </div>
        </div>
        <div class="col-md-4">
          <label>&nbsp;</label>
          <div>
            <%= f.submit "搜索", class: "btn btn-primary" %>
            <%= link_to "清除全部", request.path, class: "btn btn-default" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th width="50px;">ID</th>
      <th>KOL ID</th>
      <th>KOL昵称</th>
      <th>KOL手机</th>
      <th>提现金额</th>
      <th>提现状态</th>
      <th>支付宝关联用户</th>
      <th>提现次数</th>
      <th>KOL等级</th>
      <th>拉黑时间</th>
      <th>来源</th>
      <th>支付宝帐号</th>
      <th>支付宝姓名</th>
      <th>身份证号码</th>
      <th>可提现金额</th>
      <th>历史收益</th>
      <th>平均点击</th>
      <th>最高点击</th>
      <th>拒绝理由</th>
      <th width="90px;">操作</th>
    </tr>
  </thead>
  <tbody>
    <% @alipay_accounts.each do |a| %>
      <% withdraw = Withdraw.find(a.withdraw_id) %>
      <tr>
        <td><%= a.id %></td>
        <td><%= link_to withdraw.kol_id, marketing_dashboard_kol_path(:id => withdraw.kol_id), :target => "_blank" %></td>
        <td><%= withdraw.kol.name rescue "" %></td>
        <td><%= withdraw.kol.mobile_number rescue "" %></td>
        <td><%= withdraw.credits %></td>
        <td><%= withdraw.status %></td>
        <td>
          <% Withdraw.where(:alipay_no => a.account).map(&:kol_id).uniq.each do |kol_id|%>
            <%= link_to kol_id, "/marketing_dashboard/kols/#{kol_id}", :target => "_blank" %>&nbsp;&nbsp;&nbsp;
          <% end %>
        </td>

        <td><%= Withdraw.where(:alipay_no =>a.account).count rescue "" %></td>

        <td><%= withdraw.kol_level rescue "" %></td>
        <td><%= a.created_at %></td>
        <td><%= withdraw.kol.app_platform rescue "" %></td>
        <td><%= a.account %></td>
        <td><%= withdraw.real_name %></td>
        <td><%= withdraw.kol.id_card rescue "" %></td>
        <td><%= withdraw.kol.avail_amount rescue "" %></td>
        <td><%= withdraw.kol.total_income rescue "" %></td>
        <td> <%= withdraw.kol.average_click_of_campaigns rescue "" %></td>
        <td> <%= withdraw.kol.maximum_click_of_campaigns rescue "" %></td>
        <td> <%= withdraw.reject_reason rescue "" %></td>
        <td>
          <%= link_to "把此帐号移出黑名单", disban_marketing_dashboard_alipay_account_blacklist_path(a) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @alipay_accounts, renderer: BootstrapPagination::Rails  %>
