<h1>PUT 钱包列表</h1>

<%= "共有#{@e_wallet_accounts.count}个搜索结果" %>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>kol ID</th>
      <th>name</th>
      <th>put address</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @e_wallet_accounts.each do |ele| %>
      <tr>
        <td><%= link_to ele.kol_id, marketing_dashboard_kol_path(ele.kol) %></td>
        <td><%= link_to ele.kol.name, marketing_dashboard_kol_path(ele.kol) %></td>
        <td><%= ele.token %></td>
        <td><%= link_to "流水", list_marketing_dashboard_e_wallets_kol_transactions_path(ele.kol_id)%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @e_wallet_accounts, renderer: BootstrapPagination::Rails  %>
