<div class="row">
  <% if (history.length == 0) { %>
    <i><%=polyglot.t('smart_campaign.no_history')%></i>
  <% } else { %>
    <table class="table table-striped" id="accepted-kols">
      <thead style="cursor:pointer;"><tr>
        <th><%=polyglot.t('smart_campaign.name')%></th>
        <th><%=polyglot.t('smart_campaign.deadline')%></th>
        <th><%=polyglot.t('smart_campaign.status')%></th>
      </tr></thead>
      <tbody>
        <% _.each(history, function(k) { %>
          <tr data-id="<%= k.id %>" data-article-id="<%= k.article.id %>" class="preview">
            <td><%= k.first_name %></td>
            <td><%= formatDate(campaign.deadline) %></td>
            <td id="code_status_<%= k.article.id %>"><%= status(k) %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } %>
</div>
