<div class="row">
  <% if (invited.length == 0) { %>
    <i><%=polyglot.t('smart_campaign.no_invited_yet')%></i>
  <% } else { %>
    <table class="table table-striped detailed-table" id="accepted-kols">
      <thead style="cursor:pointer;"><tr>
        <th class='campaign-details-column col-md-4'><%=polyglot.t('smart_campaign.name')%></th>
        <th class='campaign-details-column'><%=polyglot.t('smart_campaign.deadline')%></th>
        <th class='campaign-details-column'><%=polyglot.t('smart_campaign.last_login_date')%></th>
      </tr></thead>
      <tbody>
        <% _.each(invited, function(k) { %>
          <tr data-id="<%= k.id %>" data-article-id="<%= k.article.id %>" class="preview">
            <td><%= k.first_name %></td>
            <td><%= formatDate(campaign.deadline) %></td>
            <% if(k.sign_in_info.last_sign_in_at!=null && k.sign_in_info.last_sign_in_at!=undefined){ %>
            <td><%= formatDate(k.sign_in_info.last_sign_in_at) %></td>
            <% }else{ %>
            <td>N/A</td>
            <% } %>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } %>
</div>
