<div class="row">
  <% if (negotiating.length == 0) { %>
    <i><%=polyglot.t('smart_campaign.no_negotiate')%></i>
  <% } else { %>
    <table class="table table-striped" id="accepted-kols">
      <thead style="cursor:pointer;"><tr>
        <th><%=polyglot.t('smart_campaign.name')%></th>
        <th><%=polyglot.t('smart_campaign.deadline')%></th>
        <th><%=polyglot.t('smart_campaign.status')%></th>
        <th class="non_cash_description"><%=polyglot.t('smart_campaign.budget')%></th>
        <th><%=polyglot.t('smart_campaign.last_update')%></th>
      </tr></thead>
      <tbody>
        <% _.each(negotiating, function(k) { %>
          <tr data-id="<%= k.id %>" data-article-id="<%= k.article.id %>" class="preview">
            <td><%= k.first_name %></td>
            <td><%= formatDate(campaign.deadline) %></td>
            <td><%= status(k) %></td>
            <td><%= budget(campaign) %></td>
            <td> <%= formatDate(k.article.updated_at) %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } %>
</div>
