<% if (declined.length !=0 ) { %>
  <div class="row">
    <table class="table table-striped" id="accepted-kols">
      <thead style="cursor:pointer;"><tr>
        <th data-sort="string"><%=polyglot.t('smart_campaign.name')%></th>
        <th data-sort="string"><%=polyglot.t('smart_campaign.status')%></th>
      </tr></thead>
      <tbody>
        <% _.each(declined, function(k) { %>
          <tr data-id="<%= k.id %>">
            <td><%= k.first_name %> <%= k.last_name %></td>
            <td><%= status(k) %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
<% } else { %>
  <i><%=polyglot.t('smart_campaign.no_one_declined')%></i>
<% } %>
