<div class="scanner-wrap">
  <div class="form-wrap">
    <%= render partial: "users/shared/alert" %>
    <div class="container">
      <h3>APP用户扫码登录</h3>
      <div class="scanner-step-wrap">
        <ul class="scan-steps">
          <li><i>1</i> 打开 APP</li>
          <li><i>2</i> 进入 ［我的 - 设置］</li>
          <li><i>3</i> 点击 ［扫一扫］</li>
        </ul>
      </div>
      <div class="scanner-cont">
        <%= raw @url %>
        <input type="hidden" name="ok_url" id="ok_url" value="<%= params[:ok_url] %>" />
        <input type="hidden" id="scan_uuid" value="<%= @uuid %>" />
      </div>
      <div class="scanner-bottom">
        <a href="/login" class="back-btn with-ok-url">
          <i class="l-arraw-left"></i> 返回账号登录
        </a>
      </div>
    </div>
  </div>
</div>

<script>

this.App = {};

(function() {
  okUrl = $("#ok_url").val();
  App.cable = Cable.createConsumer("<%= smart_root_url('passport/scan/cable', protocol: 'wss', subdomain: false) %>");
  return App.cable.subscriptions.create({
    channel: 'QrCodeLoginChannel',
    uuid: $("#scan_uuid").val()
  }, {
    connected: function() {},
    disconnected: function() {},
    received: function(data) {
      return window.location = "/login/scan/submit?token=" + data["token"] + "&id=" + data["id"] + "&ok_url=" + okUrl;
    }
  });
})();

</script>
