Hi <%= author.get('full_name') %>,
<br><br>
Here's a content you might find interesting:
<br><br>
"<%= release.get('title') %>"
<br><br>
<%= summary %>
<br><br>
Regards,<br>
<%= s.isBlank(currentUser.get('name')) ? '' : currentUser.get('name') %>
<% if (china_instance) { %>
<br><br>
P.S. We kindly recommend you to <a href="<%= kolSignUpUrl %>">register</a> in our system as an Influencer.
<% } %>