<div class="modal-content">
  <div class="modal-header">
    <button class="close" data-dismiss="modal" type="button">×</button>

    <h4 class="modal-title"><i class="fa fa-envelope"></i> Contact</h4>
  </div>
  <div class="modal-body">
    <p>Send your content to <strong class="author-name"><%= author.full_name %></strong>.</p>

    <div class="row">
      <div class="col-xs-6">
        <label>Subject</label> <input name="subject" class="form-control" placeholder="<%= polyglot.t("smart_release.pitch_step.email_panel.subject_placeholder")%>" type="text">
      </div>

      <div class="col-xs-6">
        <label>Your Email</label> <input class="form-control" name="email" placeholder="<%= polyglot.t("smart_release.pitch_step.email_panel.email_placeholder")%>" type="text" value="<%= currentUser.get('email') %>">
      </div>
    </div>
    <% if (!author.email) {%>
    <br/>
    <div class="row">
      <div class="col-xs-12">
        <span class="help-block" style="color: red"><%= polyglot.t("smart_release.targets_step.influencers_tab.no_email")%></span>
        <input class="form-control" name="author_email" placeholder="<%= polyglot.t("smart_release.pitch_step.email_panel.email_placeholder")%>" type="text" value="<%= author.email %>">
      </div>
    </div>
    <% } %>
    <hr>

    <div class="row">
      <div class="col-xs-12">
        <label for="numberOfSentences" id="number-of-sentences"><%= polyglot.t("smart_release.pitch_step.email_panel.length") %>: <span>5</span></label>

        <div id="slider"></div><label>Message</label>
        <div id="form-message">
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
    <button id="send-btn" class="btn btn-success" type="button">Send</button>
  </div>
</div>
