<div  class="signup">
  <header class="formheader">
    <div class="nav fixed">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li><a class="logo" href="/">SmartContent</a></li>
          <li class="toggle-topbar menu-icon">
            <a href="#"><span>Menu</span></a>
          </li>
        </ul>
        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">

            <% if(Robin.chinaLocale) { %>
              <li><a href="?locale=en">EN</a></li>
            <% } else { %>
              <li><a href="?locale=zh">CN</a></li>
            <% } %>

            <% if (location.search === "?is_user=true") { %>
              <li><a href="/users/new"><%=polyglot.t('header.sign_up')%></a></li>
            <% } else { %>
              <li><a href="/kols/new"><%=polyglot.t('header.sign_up')%></a></li>
            <% } %>
          </ul>
        </section>
      </nav>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <h2 class="signup-tag"></h2>
      </div>
    </div>
  </header>

  <div class="form-step">
  </div>

  <footer>
    <div class="row">

      <% if(Robin.chinaInstance) { %>
        <a href="<%= Robin.us_host %>" title="<%= polyglot.t('landing_page.english_locale') %>" class="country_flag" >
          <img src="<%= AppAssets.path('us-flag-icon.png') %>" height="13" />
        </a>

      <% } else { %>
        <a href="<%= Robin.cn_host %>" title="<%= polyglot.t('landing_page.chinese_locale') %>" class="country_flag" >
          <img src="<%= AppAssets.path('china-flag-icon.png') %>"  height="13" />
        </a>
      <% } %>

      <div class="small-12 medium-3 columns ft-logo right">
        <img src="<%= AppAssets.path('robin8-footer-icon.png') %>" />
      </div>

      <div class="small-12 medium-9 columns left">
        &copy;<%= polyglot.t('footer.right_reserved') %> <br class="show-for-medium-only"> <a href="about.html" class="ft-link privacy"><%= polyglot.t('footer.about') %></a>  <a href="/contact" class="ft-link privacy"><%= polyglot.t('footer.contact') %></a> <a href="/terms" class="ft-link privacy"><%= polyglot.t('footer.terms') %></a> <a href="/privacy_policy" class="ft-link privacy"><%= polyglot.t('footer.privacy') %></a>
      </div>
    </div>
  </footer>
</div>
