<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="flexible" content="initial-dpr=2,maximum-dpr=3" />
    <%= stylesheet_link_tag 'kol_pk/style' %>
    <%= csrf_meta_tag %>
		<title>影响力大比拼</title>
	</head>
	<body>
		<section class="content-wrap">
			<div><%= image_tag "kol_pk/influential-01.jpg" %></div>
			<div style="text-align: center;">
        <h1>服务器走丢了，请稍后重试哦！</h1>
			</div>
      <a class="i-btn" href='<%= params[:was] %>'>
        <%= image_tag "kol_pk/retry.jpg" %></a>
      </a>
		</section>
		<section class="i-bottom">
      <%= image_tag "kol_pk/influential-04.jpg" %>
      <a class="btn-download" href="<%=Rails.application.secrets[:download_url]%>">下载Robin8</a>
		</section>
	</body>
  <%= javascript_include_tag 'kol_pk/flexible' %>
</html>
