<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-2">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">文章审核</h3>
        </div>
        <div class="panel-body">
          <%= form_for(@cps_article, as: :cps_article, url: marketing_dashboard_cps_article_path(@cps_article), method: :put) do |f| %>
            <div class="field form-group">
              <%= f.label "审核结果" %><br />
              <%= f.select :status, options_for_select([['通过', 'passed'],['拒绝', 'rejected']]), autofocus: true, class: "form-control" %>
            </div>

            <div class="field form-group">
              <%= f.label "审核备注(理由)" %><br />
              <%= f.text_field :check_remark, autofocus: true, class: "form-control" %>
            </div>

            <div class="actions">
              <%= f.submit "保存", class: "btn btn-lg btn-success btn-block" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
