<h3>50元红包流水</h3>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>ID</th>
      <th>类型</th>
      <th>金额</th>
      <th>品牌主ID</th>
      <th>品牌主名称</th>
      <th>品牌主可用余额</th>
      <th>品牌主历史花费</th>
      <th>品牌主总充值金额</th>
      <th>订单号</th>
    </tr>
  </thead>
  <tbody>
    <% @transactions.each do |t| %>
      <tr>
        <td><%= t.id %></td>
        <td><%= t.subject %></td>
        <td><%= t.credits %></td>
        <td><%= link_to t.account.try(:id), marketing_dashboard_user_path(t.account.try(:id)), :target => "_blank" %></td>
        <td><%= t.account.smart_name %></td>
        <td><%= t.account.avail_amount %></td>
        <td><%= t.account.historical_payout %></td>
        <td><%= t.account.historical_recharge %></td>
        <td><%= t.trade_no %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <% zong = 0 %>
  <% @transactions.each do |a| %>
    <% zong = zong + a.account.historical_recharge %>
  <% end %>
  <%= "总金额#{zong}" %>
</p>

<%= will_paginate @transactions, renderer: BootstrapPagination::Rails  %>
