<div class="card mb-12">
  <div class="card-header">
  </div>
  <div class="card-body">
    <div class="well profile_view card-shadow">
        <br />
        <div class="col-sm-12">
        <div class=" col-xs-12 text-center">
          <%= image_tag("partners/user.png", alt: "", id: "avatar_url_historical", class: "img-circle img-responsive profile-img-max") %>
          <br />
        </div>
        <div class="winner-margin col-xs-12 text-center">
            <h4 class="winner-name" id="kol_historical_winner_name">
              <%= t('partner.dashboard.error.msg') %>
            </h4>
            <div class="btn btn-champions color3">
              <%= t('partner.dashboard.chart3.champion') %>
            </div>
            <br />
            <br />
            <br />
        </div>
      </div>
      <div class="col-sm-12 card-bottom text-center">
        <div class="col-xs-12 col-sm-12 ">
            <div class="card-footer small " >
                <h3 class="winner-money">
                    <i style="font-size: 19px;" class="fa fa-jpy" aria-hidden="true"></i> <span id="cur_historical_winner_price">0</span>
                </h3>
                <h4 class="text-muted winner-title">
                  <%= t('partner.dashboard.chart3.title') %>
                </h4>

            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    var imgSrc3 = $("#avatar_url_historical").attr('src');
    var chartJson = 
    $.ajax({url: "/partners/dashboard/chart3.json"})
    .done(function(chartJson){
      if(Object.keys(chartJson).length < 1){
        $("#cur_historical_winner_price").text(0);
        $("#kol_historical_winner_name").text("<%= t('partner.dashboard.error.msg') %>");
        $("#avatar_url_historical").attr('src', imgSrc3);
        return;
      }
      $("#cur_historical_winner_price").text(chartJson.income.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
      $("#kol_historical_winner_name").text(chartJson.name);
      $("#avatar_url_historical").attr('src', chartJson.avatar_url).on("error", function(){
        this.src = imgSrc3;
      });
      $('#lastupdate3').text(moment().subtract(1, 'days').hour(1).minute(59).format("LLL"));
    })
    .fail(function(){
      $("#cur_historical_winner_price").text(0);
      $("#kol_historical_winner_name").text("<%= t('partner.dashboard.error.msg') %>");
      $("#avatar_url_historical").attr('src', imgSrc3);
    });
  });
</script>