<style>
  .row {
    margin: 10px;
  }
  .nav-tabs{
      border-bottom: 1px solid #ddd;
      margin: 0;
  }
  .tab-content{
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      border-radius: 0 0 5px 5px;
      margin: 0;
  }
</style>
<%= render partial: "income_data" %>
<div class="row">
  <h3 style="padding-left: 15px;"><%= @admintag.tag %> <%= t('partner.dashboard.data_statistics') %></h3>
  <br />
  <div class="col-md-6">
    <%= render partial: "chart4" %>
  </div>

  <div class="col-md-6">
    <%= render partial: "chart5" %>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= render partial: "chart6" %>
  </div>
  <div class="col-md-4">
    <%= render partial: "chart7" %>
  </div>
  <div class="col-md-4">
    <%= render partial: "chart8" %>
  </div>
</div>
<script>
  var dataIsFound = function(found, id){
    if(found === true){
      $("#chart"+id).removeClass("hide");
      $("#not-found"+id).addClass("hide");
    }else{
      $("#chart"+id).addClass("hide");
      $("#not-found"+id).removeClass("hide");
    }
  };
  $('#kol-summary a').click(function(e){
    e.preventDefault();
    $(this).tab('show');
  });
  var imgSrc = $("#reg_top1_avatar").attr('src');
  function arr_diff (a1, a2) {
      var a = [], diff = [];

      for (var i = 0; i < a1.length; i++) {
          a[a1[i]] = true;
      }

      for (var i = 0; i < a2.length; i++) {
          if (a[a2[i]]) {
              delete a[a2[i]];
          } else {
              a[a2[i]] = true;
          }
      }

      for (var k in a) {
          diff.push(k);
      }

      return diff;
  }
  var reqData = function(tab){
    
    $.ajax({
      url: "/partners/dashboard/income_data.json",
      data: {
        cur_tab: tab
      }
    })
    .done(function(res){
      $.each(res, function(cat_key, cat){
        if(Object.keys(cat).length < 1){
          defaultEle(cat_key)
        }
        $.each(cat, function(rank_key, rank){
          if(Object.keys(cat).length < 3){
            defaultEle(cat_key, Object.keys(cat))
          }
          $.each(rank, function(item_key, value){
            var eleID = cat_key + '_' + rank_key + '_' + item_key;
            switch(item_key){
              case 'avatar':
                $('#'+eleID).attr('src', value).on("error", function(){
                  this.src = imgSrc;
                });
                break;
              case 'name':
                $('#'+eleID).text(value);
                break;
              case 'price':
                value = value*1;
                $('#'+eleID).text(value.toFixed(2).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'));
                break;
            }
          });
        });
      });
    });
  };
  
  var defaultEle = function(cat, rank_key=[]){
    var items = ['avatar', 'name', 'price'];
    var defRank = ['top1','top2','top3'];
    
    defRank = arr_diff(defRank, rank_key);
    
    $.each(defRank, function(index, rank){
      $.each(items, function(key, v){
        var eleID = cat + '_' + rank + '_' + v;
        switch(v){
          case 'avatar':
            $('#'+eleID).attr('src', imgSrc);
            break;
          case 'name':
            $('#'+eleID).text("<%= t('partner.dashboard.error.msg') %>");
            break;
          case 'price':
            $('#'+eleID).text(0.00);
            break;
        }
      });
    });
    
  };
  
  $('a[data-toggle="tab"]').on('show.bs.tab', function(e){
    reqData($(e.target).attr('aria-controls'));
  });
  reqData('kol_1d');
</script>
