<div class="container-fluid" style="padding: 20px 0;">
  <div class="panel panel-default">
    <div class="panel-heading" style="padding: 0;">
      <a data-toggle="collapse" href="#searchPanel" style="display: block; padding: 10px">
        搜索过滤 <span class="pull-right">(单击展开或隐藏)</span>
      </a>
    </div>
    <div id="searchPanel" class="panel-body <%= 'collapse' unless params[:q] %>">
      <%= search_form_for @q, url: request.path, class: "form" do |f| %>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>活动状态</label>
              <%= f.select :status_eq, Creation::STATUS.collect{|ele| ele.reverse}, { include_blank: true }, class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>&nbsp;</label>
              <div>
                <%= f.submit "搜索", class: "btn btn-primary" %>
                <%= link_to "清除全部", request.path, class: "btn btn-default" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="container-fluid" style="padding: 20px 0;">
  <table class='table'>
    <thead>
      <tr>
        <th>ID</th>
        <th>活动名称</th>
        <th>大V</th>
        <th>价格</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @kols.each do |_kol| %>
        <tr>
          <td><%= link_to _kol.id, marketing_dashboard_creation_path(_kol.id), target: "_blank" %></td>
          <td><%= _kol.creation.name %></td>
          <td><%= _kol.kol.name %></td>
          <td>
            <%- _kol.tenders.map(&:show_info).each do |ele| %>
              <ul>
                <li><%= ele %></li>
              </ul>
            <% end %>
          </td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>