<div class="container-fluid">
  <h2>
    一元夺宝 中奖者和发货详情
    <%= link_to "返回上一页", marketing_dashboard_lottery_expresses_path, class: "btn btn-default pull-right" %>
  </h2>
  <hr/>

  <div class="row">
    <div class="col-md-8">
      <h3>发货信息</h3>
      <table class="table table-bordered">
        <tr>
          <td> 是否发货 </td>
          <td> <%= @lottery_activity.delivered ? "是" : "否" %> </td>
        </tr>
        <tr>
          <td> 快递单号 </td>
          <td> <%= @lottery_activity.express_number %> </td>
        </tr>
        <tr>
          <td> 快递公司 </td>
          <td> <%= @lottery_activity.express_name %> </td>
        </tr>
        <tr>
          <td> 发货日期 </td>
          <td> <%= @lottery_activity.delivered_at %> </td>
        </tr>
      </table>
    </div>
  </div>

  <% if @lottery_activity.lucky_kol %>
  <div class="row">
    <div class="col-md-8">
      <h3>中奖者信息</h3>
      <table class="table table-bordered">
        <tr>
          <td> 中奖者昵称 </td>
          <td> <%= @lottery_activity.lucky_kol.name %> </td>
        </tr>
        <tr>
          <td> 中奖者电话 </td>
          <td> <%= @lottery_activity.lucky_kol.mobile_number %> </td>
        </tr>
        <tr>
          <td> 收货人姓名 </td>
          <td> <%= @lottery_activity.lucky_kol.address!.name %> </td>
        </tr>
        <tr>
          <td> 收货人电话号码 </td>
          <td> <%= @lottery_activity.lucky_kol.address!.phone %> </td>
        </tr>
        <tr>
          <td> 收货人地址 </td>
          <td> <%= @lottery_activity.lucky_kol.address!.location %> </td>
        </tr>
      </table>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col-md-8">
      <h3>活动信息</h3>
      <table class="table table-bordered">
        <tr>
          <td> 活动名称 </td>
          <td> <%= @lottery_activity.name %> </td>
        </tr>
        <tr>
          <td> 活动状态 </td>
          <td> <%= @lottery_activity.status_text %> </td>
        </tr>
        <tr>
          <td> 活动描述 </td>
          <td> <%= @lottery_activity.description %> </td>
        </tr>
        <tr>
          <td> 创建时间 </td>
          <td> <%= @lottery_activity.created_at %> </td>
        </tr>
        <tr>
          <td> 开奖时间 </td>
          <td> <%= @lottery_activity.draw_at %> </td>
        </tr>
      </table>
    </div>
  </div>
  <hr/>

  <%= form_for([:marketing_dashboard, @lottery_activity], url: marketing_dashboard_lottery_express_path) do |f| %>
    <div class="row">
      <div class="col-md-6">
        <h3>发货管理</h3>
        <div class="form-group">
          <label>快递单号（会被放在短信中通知KOL）</label>
          <%= f.text_field :express_number, class: "form-control" %>
        </div>

        <div class="form-group">
          <label>快递公司名（默认顺丰）</label>
          <%= f.text_field :express_name, class: "form-control" %> (圆通，顺丰，申通，百世汇通)
        </div>
        <%= f.submit '确认发货', :class => 'btn btn-primary btn-lg' %>
        <p>* 点击发货按钮后，会向KOL手机发送已发货短信</p>
      </div>
    </div>
    <hr/>
  <% end %>
</div>
