<div class="row">
  <div class="col-md-2 col-md-offset-5 vcenter region-title"><b>Campaigns<b/></div>
</div>
<% if (items.length == 0) { %>
  <div class="row">You don't have any campaigns. It's time to create one!</div>
<% } else { %>
  <div class="row">
    <table class="table table-striped" id="campaigns-table">
      <thead style="cursor:pointer;"><tr>
        <th>Name</th>
        <th>Budget</th>
        <th>Created</th>
        <th>Deadline</th>
      </tr></thead>
      <tbody>
        <% _.each(items, function(c) { %>
          <tr data-id="<%= c.id %>">
            <td>
              <a href="#/smart_campaign/details/<%= c.id %>">
                <%= c.name %>
              </a>
            </td>
            <td data-order="<%= c.budget %>">$<%= c.budget %></td>
            <td data-order="<%= timestamp(c.created_at)%>"><%= formatDate(c.created_at) %></td>
            <td data-order="<%= timestamp(c.deadline) %>"><%= formatDate(c.deadline) %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
<% } %>
