<% if (items.length == 0) { %>
  <div class="row"><%=polyglot.t('smart_campaign.no_campaigns')%></div>
<% } else { %>
  <div class="row campaigns-list-table">
    <table class="table table-striped table-bordered dataTable" cellspacing="0" width="100%" id="campaigns-table">
      <thead style="cursor:pointer;">
        <tr>
          <th><%=polyglot.t('smart_campaign.name')%></th>
          <th><%=polyglot.t('smart_campaign.status')%></th>
          <th><%=polyglot.t('smart_campaign.share')%></th>
          <th><%=polyglot.t('smart_campaign.click')%></th>
          <th><%=polyglot.t('smart_campaign.cost')%></th>
          <th class="no-sort" width="120px"></th>
          <th width="100px"><%=polyglot.t('smart_campaign.created')%></th>
          <th width="100px"><%=polyglot.t('smart_campaign.deadline')%></th>
        </tr>
      </thead>
      <tbody>
        <% _.each(items, function(c) { %>
          <tr data-id="<%= c.id %>">
            <td class="middle col-md-3"><%= c.name %></td>
            <td class="middle col-md-1"><%= c.status %></td>
            <td class="middle col-md-1"><%= c.get_share_time %></td>
            <td class="middle col-md-1"><%= c.get_avail_click %></td>
            <td class="middle"><%= c.get_fee_info %></td>
            <td class="middle" align="center">
              <a class="btn btn-success vcenter edit-btn" id="copy_campaign" campaign="<%= c.id %>"><%= polyglot.t("smart_campaign.replicate") %></a>
            </td>
            <td class="middle" data-order="<%= timestamp(c.start_time) %>"><%= formatDate(c.start_time) %></td>
            <td class="middle" data-order="<%= timestamp(c.deadline) %>"><%= formatDate(c.deadline) %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
<% } %>
