<div class="smart-campaign dashboard-btns col-sm-12" style="width: 99%;">
  <div class="row">
    <div class="col-md-6">
      <h5><i class="fa fa-home glyphicon glyphicon-bullhorn"></i> SmartCampaign</h5>
    </div>
    <div class="pull-right">
      <a type="button" class="save-campaign btn btn-success vcenter" id="new_campaign" href="/#smart_campaign">Back</a>
    </div>
  </div>
  <div class="row">
    <b>Name: </b> <%= campaign.name %></br>
    <b>Deadline: </b> <%= formatDate(campaign.deadline) %></br>
    <b>Total influencers invited: </b> <%= campaign.campaign_invites.length %>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-5 vcenter region-title"><b>Accepted:<b/></div>
    <% if (accepted.length == 0) { %>
      <br/><br/>
      <i>No one accepted your invitation yet.</i>
    <% } else { %>
      <table class="table table-striped" id="accepted-kols">
        <thead style="cursor:pointer;"><tr>
          <th data-sort="string">Name</th>
          <th data-sort="string">Email</th>
          <th>Last update</th>
        </tr></thead>
        <tbody>
          <% _.each(accepted, function(k) { %>
            <tr data-id="<%= k.id %>">
              <td><%= k.first_name %> <%= k.last_name %></td>
              <td><%= k.email %></td>
              <td>
                <span class="preview" data-article-id="<%= k.article.id %>">
                  <%= formatDate(k.article.updated_at) %>
                </span>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } %>
  </div>
  <% if (declined.length !=0 ) { %>
    <hr/>
    <div class="row">
      <div class="col-md-2 col-md-offset-5 vcenter region-title"><b>Declined/Unknown:<b/></div>
      <table class="table table-striped" id="accepted-kols">
        <thead style="cursor:pointer;"><tr>
          <th data-sort="string">Name</th>
          <th data-sort="string">Email</th>
          <th data-sort="string">Status</th>
        </tr></thead>
        <tbody>
          <% _.each(declined, function(k) { %>
            <tr data-id="<%= k.id %>">
              <td><%= k.first_name %> <%= k.last_name %></td>
              <td><%= k.email %></td>
              <td><%= status(k) %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  <% } %>
</div>
