<div class="smart-campaign dashboard-btns col-sm-12" style="width: 99%;">
  <div class="row">
    <div class="col-md-6">
      <h5><i class="fa fa-home glyphicon glyphicon-bullhorn"></i> <%=polyglot.t('smart_campaign.smartcampaign')%></h5>
    </div>
    <div class="pull-right">
      <a type="button" class="save-campaign btn btn-success vcenter" id="new_campaign" href="/#smart_campaign"><%=polyglot.t('smart_campaign.back')%></a>
    </div>
  </div>
  <div class="row">
    <b><%=polyglot.t('smart_campaign.name')%>: </b> <%= campaign.name %><br/>
    <b><%=polyglot.t('smart_campaign.deadline')%>: </b> <%= formatDate(campaign.deadline) %><br/>
    <b><%=polyglot.t('smart_campaign.total_influencers_invited')%>: </b> <%= campaign.campaign_invites.length %>
  </div>
  <div class="row">
    <div class="vcenter region-title"><b><%=polyglot.t('smart_campaign.accepted')%>:</b></div>
    <% if (accepted.length == 0) { %>
      <i><%=polyglot.t('smart_campaign.no_one_accepted')%></i>
    <% } else { %>
      <table class="table table-striped" id="accepted-kols">
        <thead style="cursor:pointer;"><tr>
          <th><%=polyglot.t('smart_campaign.name')%></th>
          <th><%=polyglot.t('smart_campaign.email')%></th>
          <th><%=polyglot.t('smart_campaign.last_update')%></th>
          <th><%=polyglot.t('kol_campaign.article_url')%></th>
          <th><%=polyglot.t('smart_campaign.status')%></th>
        </tr></thead>
        <tbody>
          <% _.each(accepted, function(k) { %>
            <tr data-id="<%= k.id %>" data-article-id="<%= k.article.id %>" class="preview">
              <td><%= k.first_name %> <%= k.last_name %></td>
              <td><%= k.email %></td>
              <td><%= formatDate(k.article.updated_at) %></td>
              <td id="code_<%= k.article.id %>"><%= code(k) %></td>
              <td id="code_status_<%= k.article.id %>"><%= code_status(k) %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    <% } %>
  </div>
  <% if (declined.length !=0 ) { %>
    <hr/>
    <div class="row">
      <div class="vcenter region-title"><b><%=polyglot.t('smart_campaign.declined_unknown')%>:</b></div>
      <table class="table table-striped" id="accepted-kols">
        <thead style="cursor:pointer;"><tr>
          <th data-sort="string"><%=polyglot.t('smart_campaign.name')%></th>
          <th data-sort="string"><%=polyglot.t('smart_campaign.email')%></th>
          <th data-sort="string"><%=polyglot.t('smart_campaign.status')%></th>
        </tr></thead>
        <tbody>
          <% _.each(declined, function(k) { %>
            <tr data-id="<%= k.id %>">
              <td><%= k.first_name %> <%= k.last_name %></td>
              <td><%= k.email %></td>
              <td><%= status(k) %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  <% } %>
  <div class="pull-right">
    <a type="button" class="save-campaign btn btn-success vcenter" id="edit_campaign" ><%=polyglot.t('smart_campaign.edit_campaign')%></a>
  </div>
</div>
