<div class="col-sm-12 smart-campaign" id="campaign-content" style="width: 99%">
<h5><i class="fa fa-send-o"></i> <%= polyglot.t("smart_campaign.pitch_step.title") %></h5>
<p><%= polyglot.t("smart_campaign.pitch_step.description") %> </p>


<div id="email-targets"></div>
<div id="wechat-targets"></div>
<div id="weibo-targets"></div>

<div class="form-group col-md-3">
  <label class="control-label start-form"><%=polyglot.t('smart_campaign.start_step.campaign_budged')%></label>
  <div class="help-block with-errors campaign-errors"></div>
  <div>
    <input class="form-control" placeholder="$1000" name="budget" type="number" min="1" max="1000000000" value="" required>
  </div>
</div>

<div class="col-md-3">
  <div class="form-group">
    <label class="control-label start-form"><%=polyglot.t('smart_campaign.start_step.campaign_deadline')%></label>
    <div class="help-block with-errors campaign-errors"></div>
    <div>
      <input class="form-control" placeholder="<%=polyglot.t('smart_campaign.start_step.pick_deadline')%>" id="deadline" name="deadline" type="text" value="" required>
    </div>
  </div>
</div>

<div class="col-md-3">
  <div class="form-group">
    <label class="control-label start-form"><%=polyglot.t('smart_campaign.content_type')%></label>
    <div class="ui-select">
      <select class="form-control" name='sort_column'>
        <option value="pre_packaged"><%= polyglot.t("smart_campaign.pitch_step.pre_packaged") %></option>
        <option value="original"><%= polyglot.t("smart_campaign.pitch_step.original") %></option>
        <option value="re_share"><%= polyglot.t("smart_campaign.pitch_step.re_share") %></option>
        <option value="post_product_review"><%= polyglot.t("smart_campaign.pitch_step.post_product_review") %></option>
        <option value="speech_or_presentation"><%= polyglot.t("smart_campaign.pitch_step.speech_or_presentation") %></option>
        <option value="attend_event"><%= polyglot.t("smart_campaign.pitch_step.attend_event") %></option>
        <option value="focus_event"><%= polyglot.t("smart_campaign.pitch_step.focus_event") %></option>
        <option value="focus_group"><%= polyglot.t("smart_campaign.pitch_step.focus_group") %></option>
        <option value="host_event"><%= polyglot.t("smart_campaign.pitch_step.host_event") %></option>
        <option value="endorsements"><%= polyglot.t("smart_campaign.pitch_step.endorsements") %></option>
      </select>
    </div>
  </div>
</div>

<div class="panel panel-primary" id="email-pitch"></div>
<div class="panel panel-primary" id="wechat-pitch"></div>
<div class="panel panel-primary" id="weibo-pitch"></div>
<button id="save-pitch" class="btn btn-block btn-success smart-release-btn" style="width: 100%; font-size: 20px; margin-top: 20px;"><i class="fa fa-rocket"></i> <%= polyglot.t("smart_campaign.pitch_step.button") %> </button>
</div>
