<div class="panel-heading">
  <h1 class="panel-title">
    <i class="fa fa-search"></i><strong> <%= polyglot.t("smart_release.targets_step.search_tab.search_authors.title") %></strong>
    <div class="pull-right">
      <input type="checkbox" name="switch-find" checked />
    </div>
  </h1>
</div>
<div class="panel-body">
  <form role="form" class="form" id="find-authors">
    <div class="form-group">
      <label><%= polyglot.t("smart_release.targets_step.search_tab.search_authors.keywords") %></label>
      <input type="text" name="search_categories" autocomplete="off" placeholder="<%=polyglot.t('smart_campaign.targets_step.enter_categories')%>" class="typeahead form-control">
    </div>
    <div class="form-group">
      <label><%= polyglot.t("smart_release.targets_step.search_tab.search_authors.name") %></label>
      <input type="text" name="contact_name" autocomplete="off" placeholder="<%=polyglot.t('smart_campaign.targets_step.contact_first_last')%>" class="typeahead form-control">
    </div>
    <div class="form-group">
      <label><%= polyglot.t("smart_release.targets_step.search_tab.search_authors.location") %></label>
      <input type="text" name="location" autocomplete="off"
        placeholder="<%=polyglot.t('smart_campaign.targets_step.city_state')%>" class="typeahead form-control">
    </div>
    <button class="btn btn-success pull-right btn-small" type="submit" id="social-search"><%= polyglot.t("smart_release.targets_step.search_tab.search") %></button>
  </form>

  <form role="form" class="form hide" id="find-influencers">
    <div class="form-group">
      <label><%= polyglot.t("smart_release.targets_step.search_tab.search_influencers.show") %></label>
      <input type="text" autocomplete="off" name="topics" id="topic-input" placeholder="<%= polyglot.t('smart_campaign.targets_step.comma_separate') %>" class="form-control">
    </div>
    <div class="form-group">
      <label><%= polyglot.t("smart_release.targets_step.search_tab.search_influencers.from") %></label>
      <input type="text" name="weibo_location" autocomplete="off"
        id="location-input" placeholder="<%= polyglot.t('smart_campaign.targets_step.location') %>" class="form-control">
    </div>

    <button class="btn btn-success pull-right btn-small" type="submit" id="weibo-search"><%= polyglot.t("smart_release.targets_step.search_tab.search") %></button>
  </form>
</div>
