<script id="wyihtml5-extract-button" type="text/template">
  <li><a class="btn btn-default btn-sm" id="extract_url" title='Grab release from URL'><i class="fa fa-cloud-download font-12"></i></a></li>
</script>
<script id="wyihtml5-insert-link" type="text/template">
  <li><a class="btn btn-default btn-sm" id="insert_link" title="Insert link"><i class="fa fa-external-link font-12"></i></a></li>
</script>
<script id="wyihtml5-unlink" type="text/template">
  <li><a class="btn btn-default btn-sm" id="unlink" title="Delete link"><i class="fa fa-unlink font-12"></i></a></li>
</script>
<script id="wyihtml5-word-button" type="text/template">
  <li><a class="btn btn-default btn-sm" title="Grab release from DOCX document " onclick="document.getElementById('upload').click(); return false" id="extract_word"><i class="fa fa-file-word-o font-12"></i></a></li>
</script>
<script id="wyihtml5-direct-image-button" type="text/template">
  <div class="btn-group">
    <a class="btn btn-default btn-sm" id="direct-image-upload" title="Insert image by uploading"><i class="fa fa-file-image-o font-12"></i></a>
    <a class="btn btn-default btn-sm" id="url-image-upload" title="Insert image by url"><i class="fa fa-upload font-12"></i></a>
  </div>
</script>
<script id="wyihtml5-direct-video-button" type="text/template">
  <div class="btn-group">
    <a class="btn btn-default btn-sm" id="direct-video-upload" title="Insert video by uploading"><i class="fa fa-file-video-o font-12"></i></a>
    <a class="btn btn-default btn-sm" id="url-video-upload" title="Insert video by url"><i class="fa fa-upload font-12"></i></a>
  </div>
</script>

<input type="file" id="upload" name="upload" accept=".docx" style="visibility: hidden; width: 1px; height: 1px" />
<div class="col-sm-12 smart-campaign" id="campaign-content" style="width: 99%">
  <div class="row">
    <form accept-charset="UTF-8" class="form-horizontal" role="form" autocomplete="off" id="campaign-form" onsubmit="return false;">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="name" class="control-label start-form"><%=polyglot.t('smart_campaign.start_step.campaign_title')%>
            </label>
            <div class="help-block with-errors campaign-errors"></div>
            <div>
              <input id="name" required class="form-control campaign_name_input" placeholder="<%=polyglot.t('smart_campaign.start_step.enter_title')%>" name="name" type="text" value="">
            </div>
            <p class="help-block">请输入一个吸引人的活动名称或文章标题, 让KOL一目了然。</p>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label for="name" class="control-label start-form"><%=polyglot.t('smart_campaign.start_step.campaign_description')%>
            </label>
            <div class="help-block with-errors campaign-errors"></div>
            <div>
              <textarea id="name" required class="form-control campaign_desc_input" placeholder="<%=polyglot.t('smart_campaign.start_step.enter_description')%>" name="description" type="text" value="" rows="10" data-widearea="enable" data-widearea-id="1"/>
            </div>
            <p class="help-block">活动介绍可以是建议KOL使用的转发语</p>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <label for="name" class="control-label start-form">
              <%=polyglot.t('smart_campaign.start_step.campaign_url')%>
            </label>
            <div class="help-block with-errors campaign-errors"></div>
            <div>
              <input id="name" required class="form-control campaign_url_input" placeholder="<%=polyglot.t('smart_campaign.start_step.enter_url')%>" name="url" type="text" value="">
            </div>
            <p class="help-block">活动链接即需要KOL转发的URL,系统会自动添加追踪链接</p>
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <h6>
              活动图片
            </h6>
            <div class="col-md-3">
              <div class="text-center" id="img-url-container">

              <% if (campaign && campaign.img_url)  {%>
                <img src="<%= campaign.img_url%>" id="campaign-image" alt="avatar" style="width: 200px; height: 200px">
              <% }else { %>
                <img src="<%= AppAssets.path('campaign_default_img.png')%>" id="campaign-image" alt="avatar" style="width: 200px; height: 200px">
              <%}%>


                <input type="text" name="img_url" id="img_url" value='' hidden>
                <p class="help-block">KOL转发到朋友圈时显示的配图</p>
                <input type="button" id="img-url-pick" class="btn btn-primary" value="选择图片">
              </div>
            </div>
          </div>
        </div>

        <div class='row col-md-12'>
          <label for="name" class="control-label start-form"><%=polyglot.t('smart_campaign.start_step.campaign_budget')%></label>

          <div class="form-group">
            <div class="help-block with-errors campaign-errors"></div>
            <div class="col-md-5 cell campaign_time_group">
              <div class="input-group money-input-group">
                <label for="name" class="control-label start-form campaign_budget_label new_campaign_label" style="text-align: left"><%=polyglot.t('smart_campaign.start_step.campaign_budget_label')%></label>
                <i class="glyphicon glyphicon-minus operate-money-icon subtraction_budget_icon"></i>
                <input id="name" required class="form-control budget_input" placeholder="活动总预算" name="budget" type="text" value="" style="width: 140px;display: inline">
                <span class="input-group-addon input-money-icon " id="basic-addon2">RMB</span>
                <i class="glyphicon glyphicon-plus operate-money-icon plus_budget_icon"></i>
              </div>
            </div>

            <div class="action_types clearfix">
              <div class="action_type_radion">
                <input type="radio" name="action_type" value="post" > &nbsp;&nbsp;按转发次数付费
              </div>
              <div class="action_type_radion">
                <input type="radio" name="action_type" value="click" > &nbsp;&nbsp;按点击次数付费
              </div>

              <div class="action_type_radion">
                <input type="radio" name="action_type" value="download" > &nbsp;&nbsp;按行动次数付费
              </div>
            </div>

            <div class="form-group download-urls" style="display: none">
              <div class="col-xs-5">
                <input type="text" class="form-control" name="option[]" />
              </div>
              <div class="col-xs-4">
                <button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
              </div>
            </div>

            <div class="form-group hide" id="optionTemplate">
              <div class="col-xs-5">
                <input class="form-control" type="text" name="option[]" />
              </div>
              <div class="col-xs-4">
                <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
              </div>
            </div>


            <div class="col-md-5 cell campaign_time_group campaign_per_click_group">
              <div class="input-group money-input-group">
                <label for="name" class="control-label start-form campaign_budget_label new_campaign_label" style="text-align: left"><%=polyglot.t('smart_campaign.start_step.campaign_per_action_budget_label')%></label>
                <i class="glyphicon glyphicon-minus operate-money-icon per-budget-operate-icon subtraction_per_budget_icon"></i>
                <input id="name" required class="form-control per_budget_input" placeholder="每次预算" name="per_action_budget" type="text" value="" style="width: 140px;display: inline">
                <span class="input-group-addon input-money-icon " id="basic-addon2">RMB</span>
                <i class="glyphicon glyphicon-plus operate-money-icon plus_per_budget_icon"></i>
              </div>
            </div>

          </div>
        </div>
        <div class='row col-md-12'>
          <label for="name" class="control-label start-form campain_time"><%=polyglot.t('smart_campaign.start_step.campaign_time')%></label>
          <div class="form-group">
            <div class="help-block with-errors campaign-errors"></div>
            <div class=' col-md-5 cell'>
              <div class="date input-group"  id='datetimepicker6'>
                 <label for="name" class="control-label start-form  new_campaign_label campaign_start_time" style="text-align: left"><%=polyglot.t('smart_campaign.start_step.campaign_start_time')%></label>
                 <input type='text' class="form-control campaign_start_time_input" name="start_time"  readonly="readonly" autocomplete="off"/>
                 <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
                 </span>
               </div>
            </div>

            <div class='col-md-5 cell'>
              <div class="date input-group" id='datetimepicker7'>
                <label for="name" class="control-label start-form campaign_end_time" style="text-align: left"><%=polyglot.t('smart_campaign.start_step.campaign_end_time')%></label>
                <input type='text' class="form-control campaign_deadline_input" name="deadline" readonly="readonly"  autocomplete="off" />
                <span class="input-group-addon deadline_icon">
                  <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
          </div>
        </div>
       </div>

      <div class="col-md-12">
        <div class="form-group messeage_to_kol">
          <label for="name" class="control-label start-form"><%=polyglot.t('smart_campaign.start_step.campaign_message')%></label>
          <div class="help-block with-errors campaign-errors"></div>
          <div>
            <textarea id="name" class="form-control" placeholder="<%=polyglot.t('smart_campaign.start_step.enter_message')%>" name="message" type="text" value="" rows="3" data-widearea="enable" data-widearea-id="1" name="message"/>
          </div>
        </div>

      <div class="modal create-campaign-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close not_to_create_campaign" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title"><%=polyglot.t('smart_campaign.start_step.create_campaign_title')%></h4>
            </div>
            <div class="modal-body">
              <p><%=polyglot.t('smart_campaign.start_step.are_sure_to_create_campaign')%></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default not_to_create_campaign" data-dismiss="modal"><%=polyglot.t('smart_campaign.start_step.close')%></button>
              <button type="button" class="btn btn-primary double_check_create_campaign"><%=polyglot.t('smart_campaign.start_step.sure_to_create')%></button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

      <button id="create-campagin" class="btn btn-primary pull-left btn btn-success vcenter" type="submit"><%=polyglot.t('smart_campaign.start_step.save')%> </button>
      </div>
    </form>
  </div>
</div>
