<div id="blast-analysis" class="tab-pane active" role="tabpanel">
  <h5>
    <i class="fa fa-bar-chart"></i> <%= polyglot.t("smart_release.analysis_step.title") %>
    <sup><i class="fa fa-undo" data-toggle="tooltip" data-placement="right" title="Reanalyze"></i></sup>
  </h5>
  <p> <%= polyglot.t("smart_release.analysis_step.description1", {name: title, button: polyglot.t("smart_release.analysis_step.buttons.next") }) %></p>

  <p>
    <i style="color: #A0D468;" class="fa fa-check"></i> <%= polyglot.t("smart_release.analysis_step.is_about", {name: title }) %> <strong class="editable-parent">
    "<a data-type="select2" data-value="<%= textapiResult['classify'] %>" data-title="Select a category" id="release-category" href="#" class="editable editable-click"><%= textapiResult['classify'] %></a>"</strong> and the following topics are mentioned in it: <strong class="editable-parent"><a data-type="select2" id="release-topics" data-title="Select topics" href="#" class="editable editable-click"><%= textapiResult["concepts"] %></a></strong>.
  </p>

   <% if (!s.isBlank(textapiResult["summarize"])) { %>
    <p><i style="color: #A0D468;" class="fa fa-check"></i> Here's a summary of what <strong>"<%= title %>"</strong> is all about:</p>
    <ul id="summaries" style="margin-left: 38px; margin-bottom: 10px;">
      <% _.each(textapiResult["summarize"], function(item, index){ %>
        <li id="summary-<%= index%>" pk="<%= index%>" style="margin-bottom: 7px;"><%= item %></li>
      <% }); %>
    </ul>
  <% } %>
  <br />
  <% if (!s.isBlank(textapiResult["summarize"]) || !s.isBlank(textapiResult["concepts"]) || !s.isBlank(textapiResult["classify"])) { %>
    <button class="btn btn-primary pull-right smart-release-btn" id="btn-next"><i class="fa fa-chevron-right"></i> <%= polyglot.t("smart_release.analysis_step.buttons.next") %></button>
  <% } %>
</div>
