<% window.news_room = news_room; %>
<ul class="sidebar-nav">
  <li class="sidebar-brand">
    <a href="company.html">
      <img src="http://logos-vector.com/images/logo/xxl/1/3/1/1317/ACME_9fe0b_450x450.png" class="logo">
      <br>
      <strong><%- news_room.company_name %></strong> Pressroom
    </a>
  </li>
  <li>
    <a data-toggle="collapse" href="#collapseContact" aria-expanded="false" aria-controls="collapseContact"><i class="fa fa-info-circle"></i> Contact</a>
    <div class="collapse collapsible" id="collapseContact">
      <div>
        <strong><%- news_room.company_name %></strong>
        <p>Email: <a href="mailto:<%- news_room.email %>"><%- news_room.email %></a>
        <br><%- news_room.address_1 %></p>
        <ul class="contact-links">
          <li>
            <a href="#"><i class="fa fa-globe"></i> Main website</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-building"></i> Company blog</a>
          </li>
          <li>
            <a href="#"><i class="fa fa-envelope"></i> Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </li>
  <li>
    <a data-toggle="collapse" href="#collapseSocial" aria-expanded="false" aria-controls="collapseSocial"><i class="fa fa-bullhorn"></i> Social Media</a>
    <div class="collapse collapsible" id="collapseSocial">
      <ul class="soc">
        <li><a class="soc-twitter" target='_blank' href="<%= news_room.twitter_link == null ? 'javascript:void(0)' : news_room.twitter_link%>"></a></li>
        <li><a class="soc-facebook" target='_blank' href="<%= news_room.facebook_link == null ? 'javascript:void(0)' : news_room.facebook_link%>"></a></li>
        <li><a class="soc-instagram" target='_blank' href="<%= news_room.instagram_link == null ? 'javascript:void(0)' : news_room.instagram_link%>"></a></li>
        <li><a class="soc-linkedin" target='_blank' href="<%= news_room.linkedin_link == null ? 'javascript:void(0)' : news_room.linkedin_link%>"></a></li>
        <!-- <li><a class="soc-google" href="#"></a></li> -->
        <!-- <li><a class="soc-rss" href="#"></a></li> -->
        <!-- <li><a class="soc-youtube soc-icon-last" href="#"></a></li> -->
      </ul>
    </div>
  </li>
  <li>
    <a data-toggle="collapse" href="#collapseSpokeperson" aria-expanded="false" aria-controls="collapseSpokeperson"><i class="fa fa-user"></i> Spokeperson</a>
    <div class="collapse collapsible" id="collapseSpokeperson">
      <div class="media">
        <a class="media-left" href="#">
          <img src="http://lorempixel.com/50/50" class="img-circle avatar">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><%= news_room.owner_name == null ? 'Not set' : news_room.owner_name %></h4>
          <p>
            <%= news_room.job_title == null ? 'Not set' : news_room.job_title %>, <a href="#"><%= news_room.email == null ? 'Not set' : news_room.email %></a><br>
            <!-- <a href="#"><i class="fa fa-twitter"></i> jsmith</a> -->
          </p>
        </div>
      </div>
    </div>
  </li>
  <li>
    <a data-toggle="collapse" id='twitter-timeline' href="#collapseTweets" aria-expanded="false" aria-controls="collapseTweets"><i class="fa fa-twitter"></i> Latest Tweets</a>
    <%= console.log(news_room.twitter_link == null || news_room.twitter_link == '') %>
    <div class="collapse collapsible" id="collapseTweets" style="padding: 6px !important;">
      <a class="twitter-timeline <%= (news_room.twitter_link == null || news_room.twitter_link == '') ? 'hidden' : '' %>" href="<%= news_room.twitter_link%>"  data-screen-name="<%= (news_room.twitter_link == null || news_room.twitter_link == '')? '' : _.last(news_room.twitter_link.split('/'))%>" data-widget-id="398762441560952832" data-chrome="nofooter noheader transparent">Tweets by @parsaghaffari</a>
      
      <span class="<%= (news_room.twitter_link == null || news_room.twitter_link == '') ? '' : 'hidden' %>"> Twitter user's page is not set</span>
    </div>
  </li>
  <li>
    <hr>
  </li>
  <li>
    <a href="#presskit" class="btn btn-md btn-default"><i class="fa fa-image"></i> Press kit</a>
  </li>
  <li>
    <small style="padding-left: 27px;">Receive Updates</small><br>
    <a href="#follow" class="btn btn-md btn-default"><i class="fa fa-newspaper-o"></i> Follow pressroom</a>
  </li>
</ul>