<h3>师傅 <%= @kol.name %> 的徒弟列表</h3>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>师傅名称：<%= @kol.name %></th>
      <th>师傅手机号码：<%= @kol.mobile_number %></th>
      <th>徒弟数量：<%= @kol.children.count %></th>
    </tr>
  </thead>
</table>

<div class="panel panel-default">
  <div class="panel-heading">
    搜索过滤
  </div>
  <div id="searchPanel" class="panel-body">
    <%= search_form_for @q, url: request.path, class: "form" do |f| %>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>手机号</label>
            <%= f.search_field :mobile_number_cont, class: "form-control", placeholder: "手机" %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>昵称</label>
            <%= f.search_field :name_cont, class: "form-control", placeholder: "昵称" %>
          </div>
        </div>
        <div class="col-md-8">
          <div class="form-group">
            <label>创建时间</label>
            <div class="row">
              <div class="col-md-6">
                <%= f.search_field :created_at_gt, class: "form-control datetime", placeholder: "最小时间" %>
              </div>
              <div class="col-md-6">
                <%= f.search_field :created_at_lt, class: "form-control datetime", placeholder: "最大时间" %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <label>&nbsp;</label>
          <div>
            <%= f.submit "搜索", class: "btn btn-primary" %>
            <%= link_to "清除全部", request.path, class: "btn btn-default" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<%= render partial:  "list" %>
