<td>
  <div class="media targets-author">
    <a class="pull-left" 
      href="http://twitter.com/<%= influencer.screen_name %>" 
      target="_blank">
      <img class="media-object" src="<%= influencer.profile_image_url %>">
    </a>
    <div class="media-body">
      <h4 class="media-heading">
        <%= influencer.fullName %>
      </h4>
      <% if (influencer.location) { %>
        <div style="display: inline;">
          <span class="badge badge-default">
            <i class="fa fa-map-marker"></i> <%= influencer.location %>
          </span>
        </div>
      <% } %>
      <% if (influencer.skills) { %>
        <% _.each(_.range(3), function(index){ %>
          <% if (influencer.skills[index]) { %>
            <span class="badge badge-default">
              <i class="fa fa-tag"></i> <%= influencer.skills[index] %>
            </span>
          <% } %>
        <% }) %>
      <% } %>
    </div>
  </div>
</td>
<td><%= s.numberFormat(parseInt(influencer.followers_count)) %></td>

<td>
  <div class="progress active">
    <div style="width: <%= influencer.reachScore %>%;" aria-valuemax="100" aria-valuemin="0"
      aria-valuenow="<%= influencer.reachScore %>" role="progressbar" class="progress-bar">
        <%= influencer.reachScore %>%
    </div>
  </div>
</td>
<td>
  <div class="progress active">
    <div style="width: <%= influencer.ampScore %>%;" 
      aria-valuemax="100" aria-valuemin="0" aria-valuenow="<%= influencer.ampScore %>"
      role="progressbar" class="progress-bar"><%= influencer.ampScore %>%
    </div>
  </div>
</td>
<td>
  <div class="progress active">
    <div style="width: <%= influencer.relScore %>%;" aria-valuemax="100" aria-valuemin="0"
      aria-valuenow="<%= influencer.relScore %>" 
      role="progressbar" class="progress-bar"><%= influencer.relScore %>%
    </div>
  </div>
</td>
<td>
  <% if (pitchContactsCollection.findWhere({twitter_screen_name: influencer.screen_name})) { %>
    <a disabled class="btn btn-xs btn-success" href="#"><i class="fa fa-check"></i> Yes</a> 
    <a class="btn btn-xs btn-danger" href="#"><i class="fa fa-close"></i> No</a>
  <% } else { %>
    <a class="btn btn-xs btn-success" href="#"><i class="fa fa-check"></i> Yes</a> 
    <a disabled class="btn btn-xs btn-danger" href="#"><i class="fa fa-close"></i> No</a>
  <% } %>
</td>
<td>
  <a id="tweet-contact-button" href="http://twitter.com/<%= influencer.screen_name %>">
    <i class="fa fa-twitter"></i>
  </a>
</td>
