<div class="row">
  <div class="col-lg-12" style='padding-bottom: 50px'>
    <div role="tabpanel">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="/#analytics" aria-controls="analytics" role="tab" data-toggle="tab" class='web-label'><%=polyglot.t('analytics.web')%></a>
        </li>
        <li role="presentation">
          <a href="/#analytics-email" aria-controls="analytics-email" role="tab" data-toggle="tab" class='emails-label'><%=polyglot.t('analytics.emails')%></a>
        </li>
        <li role="presentation">
          <a href="/#analytics-campaign" aria-controls="analytics-campaign" role="tab" data-toggle="tab" class='campaigns-label'>Campaigns</a>
        </li>
	     <li role="presentation">
          <a href="/#analytics-wechat" aria-controls="analytics-wechat" role="tab" data-toggle="tab" class='wechat-label'>WeChat report</a>
        </li>
         <li role="presentation">
          <a href="/#analytics-weibo" aria-controls="analytics-weibo" role="tab" data-toggle="tab" class='weibo-label'>Weibo report</a>
        </li>
      </ul>
      <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="analytics">
          <div class="panel-default panel-toolbar panel-body">
            <div class="panel-body">
              <div class="pull-right toolbar releases-toolbar">
                <%= polyglot.t("analytics.date_range") %> &nbsp;&nbsp;
                <div class="input date" id='select-start-date-web-region'>
                  <input class="form-control" type="text" id="start-date-input">
                </div>
                <div class="input date" id='select-end-date-web-region'>
                  <input class="form-control" type="text" id="end-date-input">
                </div>
                <button class="btn btn-info" id="apply-date"><%= polyglot.t("analytics.apply") %></button>
                <%= polyglot.t("analytics.filter_by") %> &nbsp;&nbsp;
                <div class="ui-select" id='select-web-region'></div>
              </div>
            </div>
          </div>
          <div id='analytics-region' class='row'></div>
        </div>

        <div role="tabpanel" class="tab-pane" id="analytics-email">
          <div class="panel-default panel-toolbar panel-body">
            <div class="panel-body">
              <div class="pull-right toolbar releases-toolbar content-filter">
                <%= polyglot.t("analytics.select_content") %>&nbsp;&nbsp;
                <div class="ui-select" id='select-release-region'></div>
              </div>
              <div class="pull-right toolbar releases-toolbar">
                <%= polyglot.t("analytics.date_range") %> &nbsp;&nbsp;
                <div class="input date" id='select-start-date-email-region'>
                  <input class="form-control" type="text" id="start-email-date-input">
                </div>
                <div class="input date" id='select-end-date-email-region'>
                  <input class="form-control" type="text" id="end-email-date-input">
                </div>
                <button class="btn btn-info" id="apply-email-date"><%= polyglot.t("analytics.apply") %></button>
                <%= polyglot.t("analytics.filter_by") %> &nbsp;&nbsp;
                <div class="ui-select" id='select-email-region'></div>
              </div>
            </div>
          </div>
          <div id='emails-analytics-region' class='row'></div>
          <div class="row">
            <div class="col-lg-12" id='emails-list-region'>
            </div>
            <div class="col-lg-12" id='emails-dropped-list-region'>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="analytics-campaign">
          <div id='campaign-analytics-region' class='row'></div>
        </div>
	     <div role="tabpanel" class="tab-pane" id="analytics-wechat">
          <div id='wechat-analytics-region' class='row'></div>
        </div>

        <div role="tabpanel" class="tab-pane" id="analytics-weibo">
          <div id='weibo-analytics-region' class='row'></div>
	     </div>

      </div>
    </div>
  </div>
</div>
