<div class="weibo-tab">
<% if (items.length == 0) { %>
  <div class="row">Weibo report is empty!</div>
<% } else { %>
  <div class="weibo-search">
    <input type="text" name="authorname" placeholder="Author name">
    <input type="text" name="categories" placeholder="Categories">
    <input type="button" id="weiboReportSearch" class="btn btn-primary" value="Search">
    <div class="weibo-info">Showing <%= items.length %> entries</div>
  </div>
  <div>
    <table class="table table-hover targets dataTable no-footer" id="weibo_table">
       <thead><tr>
        <th>KOL</th>
        <th>Email</th>
        <th>Followers</th>
        <th>Landing page clicks</th>
        <th>Page views</th>
        <th>Shares</th>
        <th>KPI</th>
       </tr></thead>
       <tbody>
       <% _.each(items, function(c) { %>
          <tr data-id="<%= c.id %>">
            <td>
                <div class="media targets-author">
                  <a href="#" class="media-left">
                    <img alt="<%= c.author_first_name %> <%= c.author_last_name %>" src="<%= c.avatar %>">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading">
                      <%= c.author_first_name %> <%= c.author_last_name %>
                    </h4>
                    <a class="btn btn-xs btn-primary inspect" href="#">
                      <i class="fa fa-search"></i> Inspect
                    </a>
                  </div>
                </div>
            </td>
            <td><%= c.email %></td>
            <td><%= c.followers.toLocaleString() %></td>
            <td><%= c.landing_page_clicks.toLocaleString() %></td>
            <td><%= c.page_views.toLocaleString() %></td>
            <td><%= c.shares.toLocaleString() %></td>
            <td>
               <div class="progress active">
                <div style="width: <%= c.kpi %>%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="<%= c.kpi %>" role="progressbar" class="progress-bar"><%= c.kpi %>%
                </div>
              </div>
            </td>
          </tr>
        <% }); %>

      </tbody>
    </table>
  </div>
<% } %>
</div>
