<div class="clearfix">
  <img class="discover-item-img" src="<%- img_url %>" alt="">
  <div class="discover-w">
    <div class="discover-item-header clearfix">
      <h5><a href='<%- url %>' target='_blank'><%= title %></a></h5>
      <p>
        <%- datetime %>
      </p>
    </div>
    <div class="discover-item-body">
      <p>
        <%- digest %>...
      </p>
    </div>

  </div>

</div>
