<div class="clearfix">
  <img class="discover-item-img" alt="" src='<%= item.img_url %>'>
  <div class="discover-w">
    <div class="discover-item-header clearfix">
      <h5><%= item.name %></h5>
      <p>
        <i class='glyphicon glyphicon-time'></i> <%= start_at %>  &nbsp;&nbsp;
        <i class='glyphicon glyphicon-piggy-bank'></i> 当前收入： <%= item.avail_click * item.per_click_budget %> &nbsp;&nbsp;
       <i class='glyphicon glyphicon-piggy-bank'></i> 活动预算： <%= item.budget %> &nbsp;&nbsp;
        <i class='glyphicon glyphicon-piggy-bank'></i> 剩余预算： <%= item.remain_budget %> &nbsp;&nbsp;


        <a href="#" class='cam-item btn btn-primary' id='<%= item.id %>'>
          <i class='glyphicon glyphicon-search'></i>&nbsp;查看
        </a>
      </p>
    </div>
    <div class="discover-item-body">
      <p>
        <%= item.description %>
      </p>
    </div>

  </div>

</div>
