<div class="modal fade taskModal" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= item.name %></h4>
      </div>
      <div class="modal-body">
        <h5>活动详情: </h5>

        <p><a target='_blank' href="<%= item.url %>">查看原文</a></p>

        <p>
          <i class='glyphicon glyphicon-exclamation-sign'></i> 接受状态：
          <% if(item.status=='running'){ %>
            未接受
          <% }else if(item.status=='approved'){ %>
            已接受
          <% }else{ %>
            已完成
          <% } %>
        </p>
        <p>
          <i class='glyphicon glyphicon-time'></i> 开始时间：  <%= start_at %>
        </p>

        <p>
          <i class='glyphicon glyphicon-time'></i> 结束时间： <%= end_at %>
        </p>

        <% if(item.status != 'running'){ %>
        <p>
          <i class='glyphicon glyphicon-hand-up'></i> 当前有效点击： <%= item.avail_click %>
        </p>
        <% } %>

        <p>
          <i class='glyphicon glyphicon-info-sign'></i> 有效点击单价： ￥<%= item.per_click_budget %>
        </p>

        <% if(item.status != 'running'){ %>
        <p>
          <i class='glyphicon glyphicon-piggy-bank'></i> 当前收入： ￥<%= Number((item.avail_click * item.per_click_budget).toFixed(2)) %>
        </p>

        <p class="form-control disabled"  id='descAndUrl'><%= item.description %> <%= item.share_url %></p>
        <br />
        <button class='task-modal-btn displayForDesktop' data-clipboard-action="copy" data-clipboard-target="#descAndUrl">复制到剪切板</button>

        <div class='alert alert-warning displayForMobile' role='alert'>请复制链接分享给你的朋友吧</div>

        <% } %>

        <h6>来自品牌的消息：</h6>
        <p>
          <%= item.message %>
        </p>

        <hr>

        <p>
          <% if(item.status=='running'){ %>
            注意：请点击「接受」按钮接受这次活动
          <% } %>
        </p>

        <% if(item.status=='approved' && !Robin.mobileRequest){ %>
          <div>
            打开微信扫一扫即可分享
            <img src='http://qr.liantu.com/api.php?w=200&text=<%= Robin.domain + "/campaign_share?id=" + item.campaign_invite_id  %>'/>
          </div>
        <% } %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <% if(item.status=='running') { %>
          <a class='triggerMark btn btn-primary'><i class='glyphicon glyphicon-ok'></i>&nbsp;接受</a>
        <% } %>
      </div>
    </div>
  </div>
</div>
