<div class="modal taskModal" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= item.name %></h4>
      </div>
      <div class="modal-body">
        <% if (finished) { %>
          <div class="alert alert-danger">活动已结束 :(</div>
        <% } %>
        <h5>活动详情: </h5>
        <p><a target='_blank' href="<%= item.url %>">查看原文</a></p>

        <p>
          <i class='glyphicon glyphicon-exclamation-sign'></i> 接受状态：
          <% if(item.status){ %>
            <% if(item.status=='running'){ %>
              未接受
            <% }else if(item.status=='approved'){ %>
              已接受
            <% }else{ %>
              已完成
            <% } %>
          <% }else{ %>
            未接受
          <% } %>
        </p>

        <p>
          <i class='glyphicon glyphicon-exclamation-sign'></i> 收入模式:
          <% if(item.per_budget_type=='click'){ %>
            点击
            <span class='glyphicon glyphicon-question-sign' id='question_pop' data-toggle='popover' data-content='点击：活动期间通过 KOL 个人链接点击计入收入。'></span>
          <% }else if(item.per_budget_type=='post'){ %>
            转发
            <span class='glyphicon glyphicon-question-sign' id='question_pop' data-toggle='popover' data-content='转发：一旦发布并上传截图，审核通过即可获得收入。'></span>
          <% }else if(item.per_budget_type=='cpa'){ %>
            行动
            <span class='glyphicon glyphicon-question-sign' id='question_pop' data-toggle='popover' data-content='行动：广告主定义的活动，如下载 APP 或者订阅。'></span>
          <% } %>

        </p>

        <p>
          <i class='glyphicon glyphicon-time'></i> 开始时间：  <%= start_at %>
        </p>

        <p>
          <i class='glyphicon glyphicon-time'></i> 结束时间： <%= end_at %>
        </p>

        <% if(isShowIncome(item) && (item.per_budget_type == 'click' || item.per_budget_type == 'cpa')){ %>
        <p>
          <i class='glyphicon glyphicon-hand-up'></i> 当前有效点击： <%= item.avail_click %>
        </p>
        <% } %>

        <p>
          <% if(isShowIncome(item) && (item.per_budget_type == 'click' || item.per_budget_type == 'cpa')){ %>
            <i class='glyphicon glyphicon-info-sign'></i> 有效点击单价： ￥<%= item.per_action_budget %>
          <% } else if(item.per_budget_type == 'post') { %>
            <i class='glyphicon glyphicon-info-sign'></i> 转发即可获得： ￥<%= item.per_action_budget %>
          <% } %>
        </p>

        <p>
          <% if(isShowIncome(item) && (item.per_budget_type == 'click' || item.per_budget_type == 'cpa')){ %>
            <i class='glyphicon glyphicon-piggy-bank'></i> 当前收入： ￥<%= Number((item.avail_click * item.per_action_budget).toFixed(2)) %>
          <% } else if(item.per_budget_type == 'post') { %>
          <% } %>
        </p>

        <% if(item.has_img){ %>
          <p><i class='glyphicon glyphicon-info-sign'></i>配图: <img src="<%= item.img_url + '-400' %>" alt="" style='height: 50px;'></p>
        <% } %>
        <p class="form-control disabled"  id='descAndUrl'><%= item.description %> <%= item.share_url %></p>
        <br />
        <button class='task-modal-btn displayForDesktop' data-clipboard-action="copy" data-clipboard-target="#descAndUrl">复制到剪切板</button>

        <div class='alert alert-warning displayForMobile' role='alert'>请复制文本并上传配图分享给你的朋友吧（长按图片可下载）</div>

        <h6>来自品牌的消息：</h6>
        <p>
          <%= item.message %>
        </p>
        <hr>
        <% if(item.status=='finished' || item.status=='approved') { %>
        <h5>提现审核</h5>
          <% show_upload = false %>
          <% if(item.screenshot){ %>
            <strong>审核状态:</strong>
            <% if(item.img_status == 'passed') { %>
              <span class='label label-success'>审核通过</span>
            <% } %>
            <% if(item.img_status == 'rejected') { %>
              <p>您需要上传任务截图，待审核通过后，您方可提现 <a href="/screenshot_sample" target="_blank">查看范例</a></p>
              <span class='label label-danger'>审核未通过, 请您重新上传截图供审核</span>
              <% show_upload = true %>
            <% } %>
            <% if(item.img_status == 'pending') { %>
              <% show_upload = true %>
              <span class='label label-warning'>待审核</span>
            <% } %>
          <% }else{%>
            <p>您需要上传任务截图，待审核通过后，您方可提现 <a href="/screenshot_sample" target="_blank">查看范例</a></p>
            <% show_upload = true %>
          <% } %>

          <form action="">
            <div id='screenshot-container'>
              <% if(item.screenshot) { %>
              <img src="<%= item.screenshot + '-400' %>" id='show-screenshot' alt="">
              <% } %>
              <% if(show_upload){%>
                <input type='text' id='screenshot' name='screenshot' value='' hidden>
                <input type='button' id='upload-screenshot' class='btn btn-primary' value='上传截图'>
              <% }%>
            </div>
          </form>

          <div id="upload-tip" hidden>
            <input type='button'  class="btn btn-primary" value=""  disabled="true" style="float: left">
            <p style="line-height: 35px">请接受任务30分钟后再截图上传</p>
          </div>

        <hr>
        <% } %>
        <p>
          <% if(!item.status){ %>
            注意：请点击「接受」按钮接受这次活动
          <% } %>
        </p>

        <% if(item.status=='approved' && !Robin.mobileRequest){ %>
          <div>
            打开微信扫一扫
            <img src='http://qr.liantu.com/api.php?w=200&text=<%= Robin.domain + "/campaign_share?id=" + item.id  %>'/>
          </div>
        <% } %>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <% if(!item.status) { %>
          <% if(needComplete){ %>
            <a class='triggerMark btn disabled' disabled="disabled"><i class='glyphicon glyphicon-ok'></i>&nbsp;接受</a>
            <a class='triggerComplete btn btn-primary'><i class='glyphicon glyphicon-ok'></i>&nbsp;完善资料</a>
          <% }else{ %>
            <a class='triggerMark btn btn-primary'><i class='glyphicon glyphicon-ok'></i>&nbsp;接受</a>
          <% }%>
        <% } %>
      </div>
    </div>
  </div>
</div>
