<div class="clearfix">
  <% if(item.has_img){ %>
    <img class="discover-item-img" alt="" src='<%= item.img_url + '-400' %>'>
  <% }else{ %>
    <img class="discover-item-img" alt="" src='<%= item.img_url %>'>
  <% } %>
  <div class="discover-w">
    <div class="discover-item-header clearfix">
      <h5><%= item.name %></h5>
      <p>
        
        <i class='glyphicon glyphicon-time'></i> <%= start_at %>  &nbsp;&nbsp;
        <% if(item.per_budget_type == 'click' || item.per_budget_type == 'cpa') { %>
          <% if(isShowIncome(item)){ %>
            <i class='glyphicon glyphicon-piggy-bank'></i> 当前收入：￥<%= Number((item.avail_click * item.per_action_budget).toFixed(2)) %> &nbsp;&nbsp;
          <% } %>
          <i class='glyphicon glyphicon-info-sign'></i> 有效点击/行动单价：￥<%= item.per_action_budget %> &nbsp;&nbsp;
        <% } else if(item.per_budget_type == 'post'){ %>
          <i class='glyphicon glyphicon-piggy-bank'></i> 分享即可获得： <%= Number((item.per_action_budget).toFixed(2)) %> &nbsp;&nbsp;
        <% } %>
        <i class='glyphicon glyphicon-piggy-bank'></i> 剩余预算： <%= item.remain_budget %> &nbsp;&nbsp;
        <% if(item.status && item.status=='finished' && item.img_status!='passed'){ %>
          <i class='glyphicon glyphicon-warning-sign'></i> 审核状态：
          <% if(item.img_status=='pending'){ %>
            <% if(item.screenshot){ %>
              审核中
            <% }else{ %>
              待上传截图
            <% } %>
          <% }else if(item.img_status=='rejected'){ %>
            审核未通过
          <% } %>
        <% } %>


        <a href="#" class='cam-item btn btn-primary' id='<%= item.id %>'>
          <i class='glyphicon glyphicon-search'></i>&nbsp;查看
        </a>
      </p>
    </div>
    <div class="discover-item-body">
      <p>
        <%= item.description %>
      </p>
    </div>

  </div>

</div>
