<style type="text/css">
  .table-responsive table {
    margin-bottom: 0;
  }
</style>
<div class="modal admin-campaign-modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">填写审核不通过的理由</h4>
      </div>
      <div class="modal-body admin-reject-modal-body">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="form-group">
              <textarea id="invalid_reason" class="invalid_reason processed" name="post-text" rows="8" data-min-length="" placeholder="填写审核不通过的理由" style="width: 100%; border: 1px solid #ccc;"></textarea>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="button" class="btn reject reject-campaign-checked btn-primary">确认不通过</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" style="padding: 20px 0;">
  <%= search_form_for @q, url: request.path, class: "form-inline pull-right" do |f| %>
    <div class="form-group">
      <%= f.search_field :id_eq, class: "form-control", placeholder: "活动ID" %>
    </div>

    <div class="form-group">
      <%= f.search_field :name_or_per_budget_type_or_status_cont, class: "form-control", placeholder: "活动名称/类型/状态" %>
    </div>

    <div class="form-group">
      <%= f.search_field :user_name_or_user_mobile_number_cont, class: "form-control", placeholder: "用户名/手机号" %>
    </div>

    <%= f.submit "搜索", class: "btn btn-primary" %>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        排序
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right">
        <li>
          <%= sort_link(@q, :start_time, "Start") %>
        </li>
        <li>
          <%= sort_link(@q, :deadline, "Deadline") %>
        </li>
        <li>
          <%= sort_link(@q, :actual_deadline_time, "Actual Deadline") %>
        </li>
      </ul>
    </div>
    <%= link_to "清除", request.path, class: "btn btn-default" %>
  <% end %>
</div>

<table class='table'>
  <thead>
    <tr>
      <th>活动</th>
      <th>Ops</th>
    </tr>
  </thead>
  <tbody>
    <% @campaigns.each do |c| %>
      <tr>
      <td>
          <div class="table-responsive">
            <table class="table table-field">
              <tr class="active">
                <td width="15%"><i>ID:</i> <%= c.id %></td>
                <td width="15%"><i>状态:</i> <%= c.status %></td>
                <td><i>活动名:</i> <%= c.name %></td>
              </tr>
            </table>
            <table class="table table-bordered table-condensed table-field">
              <colgroup>
                <col width="25%"/>
                <col width="25%"/>
                <col width="25%"/>
                <col width="25%"/>
              </colgroup>
              <tr>
                <td><i>Type:</i> <%= c.per_budget_type %></td>
                <td><i>Max Action:</i> <%= c.max_action.to_i %></td>
                <td><i>Actual:</i> <%= c.actual_per_action_budget %></td>
                <td><i>Budget:</i> <%= c.budget %></td>
              </tr>
              <tr>
                <td><i>Avail:</i> <%= c.get_avail_click %></td>
                <td><i>Total:</i> <%= c.get_total_click %></td>
                <td><i>Accepted Count:</i> <%= c.campaign_invites.count %></td>
                <td><i>Spent:</i> <%= c.take_budget %></td>
              </tr>
              <tr>
                <td colspan="2"><i>Start:</i> <%= c.start_time.to_s(:date_time) %></td>
                <td colspan="2"><i>Deadline:</i> <%= c.deadline.to_s(:date_time)%></td>
              </tr>
              <tr>
                <td colspan="2"><i>Actual Deadline:</i> <%= c.actual_deadline_time.to_s(:date_time)  rescue nil %></td>
                <td><i>From:</i> <%= c.campaign_from %></td>
                <td>
                  <i>KOL:</i>
                  <%= link_to c.user.name, marketing_dashboard_campaigns_path(:user_id => c.user_id)%>
                  [<%= link_to c.user_id, marketing_dashboard_campaigns_path(:user_id => c.user_id)%>]
                </td>
              </tr>
            </table>
          </div>
        </td>

        <td width="85px">
          <div class="btn-group-vertical" role="group" aria-label="...">
            <%= link_to '详情', marketing_dashboard_campaign_path(c), :target => "_blank", class: "btn btn-default" %>
            <%= link_to '编辑', get_edit_brand_campaign_show_url(c), :target => "_blank", class: "btn btn-default" %>

            <% if c.status == 'unexecute' %>
              <%= link_to '审核', targets_marketing_dashboard_campaign_path(c), class: "btn btn-primary", target: "_blank" %>
              <% if c.campaign_from != "app" %>
              <a href="" onclick="return false;" class="btn btn-warning reject-campaign" data-campaign-id=<%= c.id %> >不通过</a>
              <% end %>
            <% end %>

            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                更多
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><%= link_to '接受活动的Kols', marketing_dashboard_campaign_kols_path(c), :target => "_blank" %></li>
                <li><%= link_to '点击数据', marketing_dashboard_campaign_campaign_shows_path(c), :target => "_blank" %></li>
                <li><%= link_to '统计', get_brand_campaign_show_url(c), :target => "_blank" %></li>

                <% if c.status != 'unexecute' && c.per_budget_type == "recruit" %>
                <li><%= link_to 'kol招募审核', recruit_targets_marketing_dashboard_campaign_path(c), target: "_blank" %></li>
                <% end %>

                <% if c.status == 'executing' %>
                <li><%= link_to '中途停止',stop_marketing_dashboard_campaign_path(c), :confirm => "确认停止吗？" %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @campaigns, renderer: BootstrapPagination::Rails  %>

<script>
  $(".reject-campaign").click(function(){
    $(".admin-campaign-modal").modal("show")
    $(".reject-campaign-checked").attr("data-campaign-id", $(this).attr("data-campaign-id"))
  })
  $(".reject-campaign-checked").click(function(){
    $.ajax(
    {
      method: "put",
      url: "/marketing_dashboard/campaigns/reject",
      data: {campaign_id: $(this).attr("data-campaign-id"), invalid_reason: $("#invalid_reason").val()}
    }).done(function(data){
      if(data["status"] == 'error'){
        alert(data["message"])
      }else{
        alert("成功拒绝")
        $(".admin-campaign-modal").modal("hide")
        location.reload();
      }
    })
  })
</script>
