<style type="text/css">
  .table-responsive table {
    margin-bottom: 0;
  }


</style>


<div class="container-fluid" style="padding: 20px 0;">
  <div class="panel panel-default">
    <div class="panel-heading" style="padding: 0;">
      <a data-toggle="collapse" href="#searchPanel" style="display: block; padding: 10px">
        搜索过滤 <span class="pull-right">(单击展开或隐藏)</span>
      </a>
    </div>
    <div id="searchPanel" class="panel-body <%= 'collapse' unless params[:q] %>">
      <%= search_form_for @q, url: request.path, class: "form" do |f| %>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>活动ID</label>
              <%= f.search_field :id_eq, class: "form-control", placeholder: "活动ID" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>活动名称</label>
              <%= f.search_field :name_cont, class: "form-control", placeholder: "活动名称" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>活动预算</label>
              <div class="row">
                <div class="col-md-6">
                  <%= f.number_field :budget_gt, step: 'any', class: "form-control", placeholder: "最小值" %>
                </div>
                <div class="col-md-6">
                  <%= f.number_field :budget_lt, step: 'any', class: "form-control", placeholder: "最大值" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>活动创建人ID</label>
              <%= f.search_field :user_id_eq, class: "form-control", placeholder: "活动创建人ID" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>活动创建人名称/手机号</label>
              <%= f.search_field :user_name_or_user_mobile_number_cont, class: "form-control", placeholder: "活动创建人名称/手机号" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>活动单价</label>
              <div class="row">
                <div class="col-md-6">
                  <%= f.number_field :per_action_budget_gt, step: 'any', class: "form-control", placeholder: "最小值" %>
                </div>
                <div class="col-md-6">
                  <%= f.number_field :per_action_budget_lt, step: 'any', class: "form-control", placeholder: "最大值" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>活动类型</label>
              <%= f.select :per_budget_type_eq, [ :click, :post, :cpa, :recruit, :invite, :simple_cpi, :cpt ], { include_blank: true }, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>活动状态</label>
              <%= f.select :status_eq, [ :unexecute, :unpay, :agreed, :rejected, :executing, :executed, :revoked, :settled ], { include_blank: true }, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>活动来源</label>
              <%= f.select :campaign_from_eq, [ :pc, :app, :open ], { include_blank: true }, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label>活动开始时间</label>
              <div class="row">
                <div class="col-md-6">
                  <%= f.search_field :start_time_gt, class: "form-control datetime", placeholder: "最小时间" %>
                </div>
                <div class="col-md-6">
                  <%= f.search_field :start_time_lt, class: "form-control datetime", placeholder: "最大时间" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label>活动结束时间</label>
              <div class="row">
                <div class="col-md-6">
                  <%= f.search_field :deadline_gt, class: "form-control datetime", placeholder: "最小时间" %>
                </div>
                <div class="col-md-6">
                  <%= f.search_field :deadline_lt, class: "form-control datetime", placeholder: "最大时间" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label>活动创建时间</label>
              <div class="row">
                <div class="col-md-6">
                  <%= f.search_field :created_at_gt, class: "form-control datetime", placeholder: "最小时间" %>
                </div>
                <div class="col-md-6">
                  <%= f.search_field :created_at_lt, class: "form-control datetime", placeholder: "最大时间" %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>&nbsp;</label>
              <div>
                <%= f.submit "搜索", class: "btn btn-primary" %>
                <%= link_to "清除全部", request.path, class: "btn btn-default" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div>
    <table class='table'>
      <thead>
        <tr>
          <th>活动ID</th>
          <th>活动名称</th>
          <th>筛选条件</th>
          <th>创建人ID</th>
          <th>创建人名称</th>
          <th>活动状态</th>
          <th>活动平台</th>
          <th>活动类型</th>
          <th><%= sort_link(@q, :per_action_budget, "活动单价") %></th>
          <th><%= sort_link(@q, :budget, "活动预算") %></th>
          <th>剩余预算</th>
          <th>实际消耗预算</th>
          <th><%= sort_link(@q, :start_time, "活动开始时间") %></th>
          <th><%= sort_link(@q, :deadline, "活动结束时间") %></th>
          <th><%= sort_link(@q, :valid_invite_count, "有效接单人数") %></th>
          <th><%= sort_link(@q, :total_invite_count, "总接单人数") %></th>
          <th><%= sort_link(@q, :total_click, "总点击数") %></th>
          <th><%= sort_link(@q, :avail_click, "有效点击") %></th>
          <th>结算点击</th>
          <th>补推</th>
          <th>销售人员</th>
          <th>是否限制点击数</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% @campaigns.each do |c| %>
        <tr>
          <td><%= link_to c.id, marketing_dashboard_campaign_path(c), target: "_blank" %></td>
          <td><%= c.name %></td>
          <td>
            <% abc = c.manual_campaign_targets %>
            <% if abc.present? %>
              <a data-toggle="collapse" href="#target_<%= c.id %>"><span>展开</span></a>
              <div id="target_<%= c.id %>" class="panel-collapse collapse">
              <% abc.group('target_type').each do |i| %>
                <%= i.get_target_type_text %>
                <%= abc.where('target_type = ?', i.target_type).map {|i| i.target_content}.join(', ') %>
                <hr />
              <% end %>
              </div>
            <% end %>
          </td>
          <td><%= link_to c.user_id, marketing_dashboard_user_path(c.user_id), target: "_blank" rescue "未知" %></td>
          <td><%= c.user.smart_name rescue "未知" %></td>
          <td><%= c.status %></td>
          <td><%= c.sub_type %></td>
          <td><%= c.per_budget_type %></td>
          <td><%= c.per_action_budget %></td>
          <td><%= c.budget %></td>
          <td><%= c.remain_budget %></td>
          <td><%= c.take_budget %></td>
          <td><%= c.start_time.strftime("%Y-%m-%d %H:%M") rescue "未知" %></td>
          <td><%= c.deadline.strftime("%Y-%m-%d %H:%M") rescue "未知" %></td>
          <td><%= c.valid_invites.count %></td>
          <td><%= c.campaign_invites.count %></td>
          <td><%= c.get_total_click > 0 ? c.get_total_click : c.total_click  %></td>
          <td><%= c.get_avail_click > 0 ? c.get_avail_click : c.avail_click  %></td>
          <td><%= c.settled_invites.sum(:avail_click) > 0 ? c.settled_invites.sum(:avail_click) : '-'  %></td>
          <td><%= c.enable_append_push ? '是' : '否' %> </td>
          <td>
            <% if seller = get_campaign_seller(c) %>
              <%= seller.name %>
            <% end %>
          </td>
          <td><%= c.is_limit_click_count ? '是' : '否' %> </td>
          <td>
            <%= link_to '详情', marketing_dashboard_campaign_path(c), target: "_blank" %> /
            <% if ["executing", "executed", "settled"].include?(c.status) %>
              <%= link_to '基本编辑', get_base_edit_brand_campaign_show_url(c), target: "_blank" %> /
            <% else %>
              <%= link_to '编辑', get_edit_brand_campaign_show_url(c), target: "_blank" %> /
            <% end %>
            <div class="option-group" role="group">
              <a data-toggle="dropdown">
                更多
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li><%= link_to '活动推送记录', push_record_marketing_dashboard_campaign_path(c), :target => "_blank" %></li>
                <li><%= link_to '活动参与数据', marketing_dashboard_campaign_campaign_invites_path(c), :target => "_blank" %></li>
                <li><%= link_to '活动点击数据', marketing_dashboard_campaign_campaign_shows_path(c), target: "_blank" %></li>
                <li><%= link_to '活动统计数据', get_brand_campaign_show_url(c), target: "_blank" %></li>
                <% if c.status == 'unexecute' || c.status == "agreed" || c.status == 'unpay' %>
                  <li><%= link_to '设置授权类型', set_auth_type_marketing_dashboard_campaign_path(c), target: "_blank" %></li>
                <% end %>
                <% if c.status != 'unexecute' && c.per_budget_type == "recruit" %>
                  <li><%= link_to 'KOL招募审核', recruit_targets_marketing_dashboard_campaign_path(c), target: "_blank" %></li>
                <% end %>

                <% if c.status == 'executing' %>
                  <li><%= link_to '中途停止',stop_marketing_dashboard_campaign_path(c), :confirm => "确认停止吗？" %></li>
                <% if not Rails.cache.fetch("campaign_id_#{c.id}_push_all")%>
                  <li><%= link_to '补推给所有人',push_all_marketing_dashboard_campaign_path(c), :confirm => "确认停止吗？" %></li>
                <% end %>
                <% end %>

                <% ch = c.channel %>
                <% if ch == nil || ch == 'wcs' %>
                  <li><%= link_to '同步到阿里众包', push_to_partners_marketing_dashboard_campaign_path(c , channel: "azb"), method: :put %></li>
                <% elsif ch == 'azb' ||  ch == 'all'%>
                  <li><%= link_to '点一下就可以给阿里众包结算哦(๑•ᴗ•๑)', settle_for_partners_marketing_dashboard_campaign_path(c, channel: "azb") , method: :put %></li>
                  <li><%= link_to '导出阿里众包参与详情', azb_csv_marketing_dashboard_campaign_path(c) %></li>
                  <li><%= link_to '将此活动从阿里下线', terminate_ali_campaign_marketing_dashboard_campaign_path(c), method: :put %></li>
                <% end %>
                <% if ch == nil || ch == 'azb' %>
                  <li><%= link_to '同步到微差事', push_to_partners_marketing_dashboard_campaign_path(c, channel: "wcs"), method: :put %></li>
                <% elsif ch == 'wcs' || ch == "all"%>
                  <li><%= link_to '该活动早已推送过微差事了，长点心', '#' %></li>
                <% end %>
                <% if ch == nil || ch == 'azb' || ch == 'wcs' %>
                  <li><%= link_to '同步到所有合作伙伴', push_to_partners_marketing_dashboard_campaign_path(c , channel: "all"), method: :put %></li>
                <% elsif ch == 'all' %>
                  <li><%= link_to '该活动早已推送过所有合作伙伴了，长点心', '#' %></li>
                <% end %>
                <% if c.is_limit_click_count %>
                  <li><%= link_to '解除kol点击限制', lift_kol_level_count_marketing_dashboard_campaign_path(c), method: :put %></li>
                <% end %>
                <% if %w(executing executed).include?(c.status) %>
                  <li><%= link_to ' 点击数据维护', bots_marketing_dashboard_campaign_path(c) %></li>
                <% end %>
                <% if c.status == 'settled' %>
                  <li><%= link_to '完善点击数据', perfect_marketing_dashboard_campaign_path(c), method: "PUT", :"data-confirm" => "确实要用机器人补全这些数据。" %></li>
                <% end %>
              </ul>
            </div>
            <div class="option-group" role="group">
              <% if c.status == 'unpay' and c.is_invite_type? %>
                <%= link_to '允许付款', refresh_budget_marketing_dashboard_campaign_path(c), method: "POST", class: "btn btn-primary", :"data-confirm" => "注意：确认价格后，用户将可以付款支付，付款后将不再方便修改价格，确定价格并允许支付吗？" %>
              <% end %>
            </div>
            <div class="option-group" role="group">
              <% if c.status == 'unexecute' %>
                <% if c.example_screenshot_required? && c.example_screenshot.blank? %>
                  <%= link_to '添加截图示例', add_example_screenshot_marketing_dashboard_campaign_path(c), class: "btn btn-primary btn-sm", target: "_blank" %>
                <% elsif c.per_budget_type == 'cpa' && c.remark.blank? %>
                  <%= link_to '添加说明', add_example_screenshot_marketing_dashboard_campaign_path(c), class: "btn btn-primary btn-sm", target: "_blank" %>
                <% else %>
                  <% if (current_admin_user.has_role? :super_admin) || (current_admin_user.has_role? :manage_campaign) %>
                    <%= link_to '审核', targets_marketing_dashboard_campaign_path(c), class: "btn btn-primary btn-sm", target: "_blank" %>
                  <% end %>
                <% end %>
                <% if (current_admin_user.has_role? :super_admin) || (current_admin_user.has_role? :manage_campaign) %>
                  <a href="" onclick="return false;" class="btn btn-warning reject-campaign btn-sm" data-campaign-id=<%= c.id %> >不通过</a>
                <% end %>
              <% end %>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%
  csv_url = request.path + ".csv"
  csv_url += "?" + request.query_string if request.query_string
%>

<%= link_to '导出活动CSV', csv_url, :class => 'btn btn-default', "data-confirm" => "关于打开csv文件中文乱码？\r\n 1. 打开Excel并新建一个空白表 \r\n 2. 顶部工具栏选择  数据 -> 自文本，选择csv文件 \r\n 3. 在弹出框中，字符集选择 UTF-8，分割符号为逗号 \r\n\r\n 确认要下载码？" %>

<div class="pull-right">
  <%= will_paginate @campaigns, renderer: BootstrapPagination::Rails  %>
</div>

<div class="modal admin-campaign-modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">填写审核不通过的理由</h4>
      </div>
      <div class="modal-body admin-reject-modal-body">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="form-group">
              <textarea id="invalid_reason" class="invalid_reason processed" name="post-text" rows="8" data-min-length="" placeholder="填写审核不通过的理由" style="width: 100%; border: 1px solid #ccc;"></textarea>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="button" class="btn reject reject-campaign-checked btn-primary">确认不通过</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(".reject-campaign").click(function(){
    $(".admin-campaign-modal").modal("show")
    $(".reject-campaign-checked").attr("data-campaign-id", $(this).attr("data-campaign-id"))
  })
  $(".reject-campaign-checked").click(function(){
    $.ajax(
    {
      method: "put",
      url: "/marketing_dashboard/campaigns/reject",
      data: {campaign_id: $(this).attr("data-campaign-id"), invalid_reason: $("#invalid_reason").val()}
    }).done(function(data){
      if(data["status"] == 'error'){
        alert(data["message"])
      }else{
        alert("成功拒绝")
        $(".admin-campaign-modal").modal("hide")
        location.reload();
      }
    })
  })
</script>
