<table class='table table-bordered'>

  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>User ID</th>
      <th>Type</th>
      <th>Per action budget</th>
      <th>Budget</th>
      <th>Take Budget</th>
      <th>Actual Clicks</th>
      <th>Start_at</th>
      <th>Deadline</th>
      <th>Status</th>
      <th>Ops</th>
    </tr>
  </thead>
  <tbody>
    <% @campaigns.each do |c| %>
      <tr>
        <% %w(id name user_id per_budget_type per_action_budget budget take_budget get_avail_click start_time deadline status).each do |v| %>
          <td> <%= c.send v %> </td>
        <% end %>
        <td>
          <%= link_to 'Edit', edit_marketing_dashboard_campaign_path(c) %> |
          <%= link_to 'Show', marketing_dashboard_campaign_path(c) %> |
          <%= link_to 'Kols', marketing_dashboard_campaign_kols_path(c) %> |
          <%= link_to 'Track', marketing_dashboard_campaign_campaign_shows_path(c) %>
          <% if c.status == 'pending' %>
            |
            <%= link_to 'Agree', marketing_dashboard_campaign_agree_path(c), method: :put %>
          <% end %>



        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @campaigns %>
