<div class="modal admin-campaign-modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">填写审核不通过的理由</h4>
      </div>
      <div class="modal-body admin-reject-modal-body">
          <div class="col-sm-4">
            <div class="form-group">
              <textarea id="invalid_reason" class="invalid_reason processed" name="post-text" cols="30" rows="15" tabindex="101" data-min-length="" placeholder="填写审核不通过的理由"></textarea>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn reject reject-campaign-checked btn-primary">确认不通过</button>
      </div>
    </div>
  </div>
</div>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>User ID</th>
      <th>Type</th>
      <th>CPA/CPP</th>
      <th>Budget</th>
      <th>Spent</th>
      <th>Max Click</th>
      <th>Avail Click</th>
      <th>Total Click</th>
      <th>Start_at</th>
      <th>Deadline</th>
      <th>Accepted Kols Count</th>
      <th>Status</th>
      <th>活动来自</th>
      <th>Ops</th>
    </tr>
  </thead>
  <tbody>
    <% @campaigns.each do |c| %>
      <tr>
        <% %w(id name).each do |v| %>
          <td> <%= multi_send c, v %> </td>
        <% end %>
        <td> <%= link_to c.user_id, marketing_dashboard_campaigns_path(:user_id => c.user_id)%>
        <% %w(per_budget_type per_action_budget budget take_budget max_action get_avail_click get_total_click start_time deadline campaign_invites.count status campaign_from).each do |v| %>
          <td> <%= multi_send c, v %> </td>
        <% end %>
        <td>
          <%= link_to '编辑', get_edit_brand_campaign_show_url(c), :target => "_blank" %> |<br/>
          <%= link_to '详情', marketing_dashboard_campaign_path(c), :target => "_blank" %> | <br/>
          <%= link_to '接受活动的Kols', marketing_dashboard_campaign_kols_path(c), :target => "_blank" %> | <br/>
          <%= link_to '点击数据', marketing_dashboard_campaign_campaign_shows_path(c), :target => "_blank" %> | <br/>
          <%= link_to '统计', get_brand_campaign_show_url(c), :target => "_blank" %> | <br/>
          <% if c.status == 'unexecute' %>
            <%= link_to '审核', targets_marketing_dashboard_campaign_path(c), target: "_blank" %> | <br/>
            <button type="button" class="reject-campaign" data-campaign-id= <%= c.id %>>不通过</button> | <br/>
          <% end %>
          <% if ['unexecute', 'unpay'].exclude?(c.status) && c.per_budget_type == "recruit" %>
            <%= link_to 'kol招募审核', recruit_targets_marketing_dashboard_campaign_path(c), target: "_blank" %> | <br/>
          <% end %>
          <% if c.status == 'executing' %>
            <%= link_to '中途停止',stop_marketing_dashboard_campaign_path(c), :confirm => "确认停止吗？" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @campaigns %>

<script>
  $(".reject-campaign").click(function(){
    $(".admin-campaign-modal").modal("show")
    $(".reject-campaign-checked").attr("data-campaign-id", $(this).attr("data-campaign-id"))
  })
  $(".reject-campaign-checked").click(function(){
    $.ajax(
    {
      method: "put",
      url: "/marketing_dashboard/campaigns/reject",
      data: {campaign_id: $(this).attr("data-campaign-id"), invalid_reason: $("#invalid_reason").val()}
    }).done(function(data){
      if(data["status"] == 'error'){
        alert(data["message"])
      }else{
        alert("成功拒绝")
        $(".admin-campaign-modal").modal("hide")
        location.reload();
      }
    })
  })
</script>
