<style type="text/css">
  .table-responsive table {
    margin-bottom: 0;
  }
</style>

<div class="panel panel-default">
  <div class="panel-heading">
    搜索过滤
  </div>
  <div id="searchPanel" class="panel-body">
    <%= search_form_for @q, url: request.path, class: "form" do |f| %>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Campaign ID</label>
            <%= f.search_field :campaign_id, class: "form-control", placeholder: "Campaign ID" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Kol IDs</label>
            <%= f.search_field :kol_ids, class: "form-control", placeholder: "Kol ID's" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Push Type</label>
            <%= f.select :push_type_eq, options_for_select([['normal', 'normal'], ['append', 'append'], ['newbie_kol', 'newbie_kol']]), { include_blank: true }, class: 'form-control' %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Filter Type</label>
            <div class="row">
              <div class="col-md-6">
                <%= f.select :filter_type, options_for_select([['match', 'match'], ['unmatch', 'unmatch']]), { include_blank: true }, class: 'form-control' %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Filter Reason</label>
            <div class="row">
              <div class="col-md-6">
                <%= f.select :filter_reason, options_for_select([['match', 'match'], ['unmatch', 'unmatch'], ['specified_kol', 'specified_kol'], ['tags_target_removed', 'tags_target_removed'], ['region_target_removed', 'region_target_removed'], ['age_target_removed', 'age_target_removed'], ['gender_target_removed', 'gender_target_removed'], ['invite', 'invite'], ['newbie_kol', 'newbie_kol']]), { include_blank: true }, class: 'form-control' %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <label>&nbsp;</label>
          <div>
            <%= f.submit "搜索", class: "btn btn-primary" %>
            <%= link_to "清除全部", request.path, class: "btn btn-default" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div>
  <table class='table'>
    <thead>
      <tr>
        <th>Campaign ID</th>
        <th>Kol IDs</th>
        <th>Push Type</th>
        <th>Filter Type</th>
        <th>Filter Reason</th>
      </tr>
    </thead>
    <tbody>
      <% @push_records.each do |pr| %>
      <tr>
        <td><%= pr.campaign_id %></td>
        <td><%= pr.kol_ids %></td>
        <td><%= pr.push_type %></td>
        <td><%= pr.filter_type %></td>
        <td><%= pr.filter_reason %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate @push_records, renderer: BootstrapPagination::Rails  %>
