<h2>
  招募活动审核
</h2>

<table class="table" style="text-align: left;">
  <tr>
    <td width="150px;">合格报名人数：</td>
    <td><span class="label label-default"><%#= @campaign_applies.count %></span></td>
    <td width="150px;">平台通过人数:</td>
    <td><span class="label label-info"><%= @platform_passed_count + @brand_passed_count %></span></td>
  </tr>
  <tr>
    <td>预期招募人数：</td>
    <td><span class="label label-default"><%= @campaign.recruit_person_count.to_i %></span></td>
    <td>品牌通过人数:</td>
    <td><span class="label label-success"><%= @brand_passed_count %></span></td>
  </tr>
</table>

<div class="container-fluid" style="padding: 20px 0;">
  <div class="panel panel-default">
    <div class="panel-heading" style="padding: 0;">
      <a data-toggle="collapse" href="#searchPanel" style="display: block; padding: 10px">
        搜索过滤 <span class="pull-right">(单击展开或隐藏)</span>
      </a>
    </div>
    <div id="searchPanel" class="panel-body <%= 'collapse' unless params[:q] %>">
      <%= search_form_for @q, url: request.path, class: "form" do |f| %>
        <div class="row">
          <div class="col-md-2">
            <div class="form-group">
              <label>审核类型</label>
              <%= f.select :status_eq, [['未处理', 'applying'], ['备选', 'option'], ['通过', 'platform_passed'], ['拒绝', 'platform_rejected'],
                                        ['品牌√', 'brand_passed'], ['品牌×', 'brand_rejected']],
                           {include_blank: true}, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>Kol等级</label>
              <%= f.select :kol_kol_level_eq, options_for_select([['A', 'A'], ['B', 'B'], ['C', 'C'], ['S', 'S']]), {include_blank: true}, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <label>性别</label>
              <%= f.select :kol_gender_eq, options_for_select([['男', '1'], ['女', '2'], ['未知', '0']]), {include_blank: true}, class: "form-control" %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Kol 手机</label>
              <%= f.search_field :kol_mobile_number_eq, class: "form-control", placeholder: "请输入用户手机号" %>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>地区（拼音）</label>
              <%= f.search_field :kol_app_city_cont, class: "form-control", placeholder: "请输入城市拼音" %>
            </div>
          </div>
        <div class="col-md-2">
          <div class="form-group">
            <label>&nbsp;</label>
            <div>
              <%= f.submit "搜索", class: "btn btn-primary" %>
            </div>
          </div>
        </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div style="padding-bottom: 6px;">
  <button class="choose-all btn btn-default">全选</button>
  <button class="revert-all btn btn-default">反选</button>
  <button class="btn btn-success btn-sm batch-check-btn" value="pass">批量通过</button>
  <button class="btn btn-danger btn-sm batch-check-btn" value="reject">批量拒绝</button>
  <button class="btn btn-info btn-sm batch-check-btn" value="option">批量备选</button>
</div>
<!--<span class="pull-right">按报名先后顺序</span>-->
<!--<span class="pull-left">注意：品牌主只能确认平台筛选通过的KOL</span>-->
<table class='table table-bordered'>
  <thead>
  <tr>
    <th>勾选</th>
    <th>KOL ID</th>
    <th>头像</th>
    <th>昵称/电话</th>
    <th>等级</th>
    <th>微博号</th>
    <th><%= sort_link(@q, :weibo_followers_count, "微博粉丝数") %></th>
    <th>微信号</th>
    <th><%= sort_link(@q, :wechat_followers_count, "微信粉丝数") %></th>
    <th><%= sort_link(@q, :kol_avg_click, "平均点击") %></th>
    <th><%= sort_link(@q, :kol_max_click, "最高点击") %></th>
    <th>性别/城市</th>
    <th><%= sort_link(@q, :status, "审核状态") %></th>
    <th>操作理由</br>素材</th>
    <th>后台筛选</th>
  </tr>
  </thead>
  <tbody>
  <% @campaign_applies.each do |campaign_apply| %>
    <% kol = campaign_apply.kol %>
    <% social_accounts = kol.social_accounts.group(:provider).select("max(followers_count) as followers_count, provider, username, homepage")
       weibo = social_accounts.detect{|t| t.provider == 'weibo'}
       wechat = social_accounts.detect{|t| t.provider == 'wechat'}
       campaign_avail_clicks = kol.campaign_invites.collect{|t| t.avail_click}
    %>
    <%# weibo = kol.social_accounts.where(provider: 'weibo').order("followers_count DESC").first %>
    <%# wechat = kol.social_accounts.where(provider: 'wechat').order("followers_count DESC").first %>
    <tr class=<%= kol.id %> data-kol-id="<%= campaign_apply.kol_id %>" data-campaign-id="<%= campaign_apply.campaign_id %>">
	  <td class="expandCheck">
	    <%= check_box_tag "campaign_apply_ids[]", campaign_apply.id %>
	  </td>
      <td>
        <%= link_to kol.id, marketing_dashboard_kol_path(kol), :target => "_blank" %>
      </td>
      <td>
        <%= image_tag kol.avatar, style: "width: 40px; height: 40px;" rescue "" %>
      </td>
      <td> <%= kol.name %><br> <%= kol.mobile_number %></td>
      <td> <%= link_to (kol.kol_level || '未设置'), "/marketing_dashboard/kols/#{kol.id}/ban", target: "_blank" %></td>
      <td>
        <% if weibo %>
          <a href="<%= weibo.homepage %>" target="_blank"> <%= weibo.username %></a>
        <% end %>
      </td>
      <td><%= weibo.followers_count if weibo %></td>
      <td> <%= wechat.username if wechat %> </td>
      <td> <%= wechat.followers_count if wechat %></td>
      <td> <%= campaign_avail_clicks.max %></td>
      <td> <%= (campaign_avail_clicks.sum / campaign_avail_clicks.size.to_f).round(1) %></td>
      <td> <%= kol.gender_text %><br><%= kol.app_city_label %></td>
      <td id="check-status-<%= campaign_apply.id %>">
        <%= render "check_status", campaign_apply: campaign_apply %>
      </td>
      <td>
        <%= text_area_tag :agree_reason, campaign_apply.agree_reason, :style => "width: 120px;height: 50px"%>
        <% if campaign_apply.status != 'brand_passed' %>
          <% @campaign_materials.each do |material| %>
            <div><%= CampaignMaterial.get_track_url(material, campaign_apply.kol) %></div>
          <% end %>
        <% end %>
      </td>
      <td>
        <div class="check-groups" id="check-groups-<%= campaign_apply.id %>">
          <%= render "check_buttons", campaign_apply: campaign_apply %>
        </div>
        <%= link_to '截图', marketing_dashboard_campaign_invites_path(q: { kol_id_eq: kol.id }), target: "_blank"  %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @campaign_applies, renderer: BootstrapPagination::Rails  %>

<script>
  $(function () {
	  
	  $('.choose-all').click(function(){
	    $(':checkbox').each(function(){
	      this.checked = true;
	    });
	  })

	  $('.revert-all').click(function(){
	    $(':checkbox').each(function(){
	      if(this.checked == true) {
	        this.checked = false;
	      } else {
	        this.checked = true;
	      }
	    });
	  })
	  
	  
    $(document).on("click", '.check-btn', function () {
      console.log("----check-btn");
      var row = $(this).parents('tr');
      var kol_id = row.data("kol-id");
      var campaign_id = row.data("campaign-id");
      var agree_reason = row.find('.agree_reason').val();
      var operate = $(this).val();

      $.ajax({
        method: "POST",
        dataType: 'script',
        url: "/marketing_dashboard/campaigns/" + campaign_id + "/add_or_remove_recruit_kol",
        beforeSend: function (xhr) {
          xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
        },
        data: {"kol_id": kol_id, "campaign_id": campaign_id, "agree_reason": agree_reason, "operate": operate}
      });
    });
  
	$(".expandCheck").on('click', function (event) {
   	 event.stopPropagation();
	 event.preventDefault();
	   var cb = $(event.target).children(":checkbox");
	   //cb.attr("checked", !cb.attr("checked"));
	   if (cb.is(':checked') ){
		   cb.prop('checked', false);
		} else{
		   cb.prop('checked', true);		
		}
	  });
  
    $(document).on("click", '.batch-check-btn', function () {
      var selected_size = $("input[type='checkbox']:checked").length;
      if(selected_size == 0){
        alert("当前未选中任何申请！");
        return false;
      }
      var apply_ids = [];
      $("input[type='checkbox']:checked").each(function(){
        apply_ids.push($(this).val());
      });
      console.log(apply_ids);


      var operate = $(this).val();
      $.ajax({
        method: "POST",
        dataType: 'script',
        url: "/marketing_dashboard/campaigns/batch_add_or_remove_recruit_kol",
        beforeSend: function (xhr) {
          xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
        },
        data: {"apply_ids": apply_ids,  "operate": operate}
      });
    })
  })
</script>
