<div class="container-fluid" style="padding: 20px 0;">
  <div class="btn-group" role="group">
    <%= link_to 'CampaignInvites', marketing_dashboard_campaign_campaign_invites_path(@campaign.id), class: 'btn btn-primary' %>
    <%= link_to 'CampaignShows', marketing_dashboard_campaign_campaign_shows_path(@campaign.id), class: 'btn btn-primary' %>
  </div>
</div>

<table class="table table-striped">
  <colgroup>
    <col width="200" />
  </colgroup>

  <% %w(id user_id user.email name description start_time deadline created_at budget take_budget per_action_budget per_budget_type img_url url avail_click total_click status actual_deadline_time evaluation_status).each do |v| %>
    <tr>
      <td> <%= v.classify %> </td>
      <% if v.end_with?("url") %>
        <td> <%= link_to multi_send(@campaign, v),  multi_send(@campaign, v), :target => "blank"%> </td>
      <% else %>
        <td> <%= multi_send @campaign, v %> </td>
      <% end %>
    </tr>
  <% end %>
  <% if %w(all azb).include?(@campaign.channel) %>
    <tr>
      <td> Ali Task Id </td>
      <td><%= @campaign.ali_task_id %></td>
    </tr>
    <tr>
      <td> Ali Task Type Id </td>
      <td><%= @campaign.ali_task_type_id %></td>
    </tr>
  <% end %>
  <tr>
    <td> Effect Score </td>
    <td> <%= @campaign.effect_evaluation.score rescue nil %> </td>
  </tr>
  <tr>
    <td> Experience Score </td>
    <td> <%= @campaign.experience_evaluation.score rescue nil %> </td>
  </tr>
  <tr>
    <td> Review content</td>
    <td> <%= @campaign.review_evaluation.content rescue nil %></td>
  </tr>

  <% if @campaign.is_cpa_type? %>
    <tr>
      <td>CPA短链</td>
      <td>
        <% @campaign.campaign_action_urls.each do |action| %>
          <%= link_to action.action_url %> <br />
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
