<h3>拉黑KOL</h3>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= form_for(@kol, as: :kol, url: marketing_dashboard_kol_path(@kol), method: :put) do |f| %>
        <div class="field form-group">
          <%= devise_error_messages! %>
        </div>
        <div class="field form-group">
          <%= f.label "手机号" %>
          <%= f.text_field :mobile_number, disabled: true, class: "form-control" %>
        </div>
        <div class="field form-group">
          <%= f.label "名字" %>
          <%= f.text_field :name, disabled: true, class: "form-control" %>
        </div>

        <div class="field form-group" style="position: relative;">
          <%= f.label "拉黑截止日期" %>
          <%= f.text_field :forbid_campaign_time, autofocus: true, class: "form-control datetime",  id: "datetimepicker1" %>
        </div>
        <div class="field form-group" style="position: relative;">
          <%= f.label "Kol等级" %>
          <ul>
            Kol 等级[[S级别的用户 是 5000,有效点击上限是100；B级别的用户,有效点击上限是50, C是10]
          </ul>
          <%= f.select :kol_level, ["A", "B", "C", "S"], {}, { class: "form-control" } %>
        </div>
        <div class="actions">
          <%= f.submit "确定", class: "btn btn-warning btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>