<%= link_to 'Search', search_marketing_dashboard_kols_path, :class => 'btn btn-primary' %>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>MobileNumber</th>
      <th>Province</th>
      <th>Amount</th>
      <th>Avail Amount</th>
      <th>Source</th>
      <th>Forbid Campaign Time</th>
      <th>Ops</th>
    </tr>
  </thead>

  <tbody>
    <% @kols.each do |k| %>
      <tr>
        <% %w(id name email mobile_number province amount avail_amount utm_source forbid_campaign_time).each do |v| %>
          <td> <%= k.send v %> </td>
        <% end %>
        <td>
          <%= link_to '详情', marketing_dashboard_kol_path(k.id) %>
          |
          <%= link_to '拉黑', marketing_dashboard_kol_ban_path(k.id) %>
          |
          <%= link_to '取消拉黑', marketing_dashboard_kol_disban_path(k.id), method: :post %>
          |
          <%= link_to '提现', marketing_dashboard_kol_withdraw_path(k.id) %>
          |
          <%= link_to '点击数据', marketing_dashboard_kol_campaign_shows_path(k.id) %>
          |
          <%= link_to '接受的活动', marketing_dashboard_kol_campaigns_path(k.id) %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>

<%= will_paginate @kols %>
