<h1>KOL列表</h1>

<!--
  <div class="well well-sm pull-right">
    <ul>
      <li>等级A的用户，活动有效点击上限是 100</li>
      <li>等级B的用户，活动有效点击点击上限是 10</li>
      <li>被拉黑的用户，不能接活动</li>
    </ul>
  </div>
-->

<div class="panel panel-default">
  <div class="panel-heading">
    搜索过滤
  </div>
  <div id="searchPanel" class="panel-body">
    <%= search_form_for @q, url: request.path, class: "form" do |f| %>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>KOL ID</label>
            <%= f.search_field :id_eq, class: "form-control", placeholder: "KOL ID" %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>KOL手机</label>
            <%= f.search_field :mobile_number_cont, class: "form-control", placeholder: "KOL手机" %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>KOL昵称</label>
            <%= f.search_field :name_cont, class: "form-control", placeholder: "KOL昵称" %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>KOL等级</label>
            <%= f.select :kol_level_eq, [ "A", "B" ], { include_blank: true }, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>社交账号名称</label>
            <%= f.search_field :social_accounts_username_cont, class: "form-control", placeholder: "社交账号名称" %>
          </div>
        </div>
        <div class="col-md-4">
          <label>&nbsp;</label>
          <div>
            <%= f.submit "搜索", class: "btn btn-primary" %>
            <%= link_to "清除全部", request.path, class: "btn btn-default" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>KOL ID</th>
      <th>昵称</th>
      <th>手机</th>
      <th>来源</th>
      <th>等级</th>
      <th>角色</th>
      <th>审核状态</th>
      <th>是否热门</th>
      <th><%= sort_link(@q, :forbid_campaign_time, "拉黑时间") %></th>
      <th>可提现金额</th>
      <th>历史收益</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @kols.each do |k| %>
      <tr>
        <td>
          <%= link_to k.id, marketing_dashboard_kol_path(k.id), :target => "_blank"  %>
        </td>
        <td><%= k.name %></td>
        <td><%= k.mobile_number %></td>
        <td><%= k.utm_source %></td>
        <td><%= k.kol_level %></td>
        <td><%= k.kol_role %></td>
        <td><%= k.role_apply_status %></td>
        <td><%= k.is_hot_text %></td>
        <td><%= k.forbid_campaign_time.strftime("%Y-%m-%d %H:%M") rescue "" %></td>
        <td><%= k.avail_amount %></td>
        <td><%= k.total_income %></td>
        <td>
          <%= link_to '资料编辑', edit_profile_marketing_dashboard_kol_path(k.id), :target => "_blank"  %> /
          <%= link_to '社交帐号', marketing_dashboard_social_accounts_path(:kol_id => k.id), :target => "_blank"  %> /
          <%= link_to '个人展示', marketing_dashboard_kol_shows_path(:kol_id => k.id), :target => "_blank"  %> /
          <% if k.forbid_campaign_time.present? and k.forbid_campaign_time > Time.now %>
          <%= link_to '取消拉黑', marketing_dashboard_kol_disban_path(k.id), method: :post, :target => "_blank"  %> /
          <% else %>
          <%= link_to '拉黑', marketing_dashboard_kol_ban_path(k.id), :target => "_blank"  %> /
          <% end %>
          <div class="option-group" role="group">
            <a data-toggle="dropdown">
              更多
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><%= link_to '手动提现', marketing_dashboard_kol_withdraw_path(k.id), :target => "_blank" %></li>
              <li><%= link_to "活动补偿", campaign_compensation_marketing_dashboard_kol_path(k.id), :target => "_blank" %></li>
              <li><%= link_to '接受的活动', marketing_dashboard_kol_campaigns_path(k.id), :target => "_blank"  %></li>
              <li><%= link_to '点击数据', marketing_dashboard_kol_campaign_shows_path(k.id), :target => "_blank"  %></li>
              <li><%= link_to "收益流水", transaction_marketing_dashboard_kol_path(k.id), :target => "_blank" %></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>

<%= will_paginate @kols, renderer: BootstrapPagination::Rails  %>
