<h1>Kol列表</h1>
<div class="well">
 <span>
   等级[等级A的用户 campaign 有效点击 上限是100
   等级B用户 有效点击 点击上限是10]
   被拉黑的用户 不能接活动
 </span>
</div>

<div class="well">
  <%= form_tag search_marketing_dashboard_kols_path do %>
    <%= text_field_tag :search_key, nil, :placeholder => "以name、email、mobile_number、id 搜索", class: "search_input" %>
    <%= submit_tag 'Search', :class => 'btn btn-primary' %>
  <% end %>
</div>
<h5><%= devise_error_messages! %></h5>
<table class='table table-bordered'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>MobileNumber</th>
      <th>Province</th>
      <th>Amount</th>
      <th>Avail Amount</th>
      <th>Source</th>
      <th>用户等级</th>
      <th>Forbid Campaign Time</th>
      <th>Ops</th>
    </tr>
  </thead>

  <tbody>
    <% @kols.each do |k| %>
      <tr>
        <% %w(id name email mobile_number province amount avail_amount utm_source kol_level forbid_campaign_time).each do |v| %>
          <td> <%= k.send v %> </td>
        <% end %>
        <td>
          <%= link_to '详情', marketing_dashboard_kol_path(k.id), :target => "_blank"  %>
          <% if k.forbid_campaign_time.present? and k.forbid_campaign_time > Time.now %>
          |
          <%= link_to '取消拉黑', marketing_dashboard_kol_disban_path(k.id), method: :post, :target => "_blank"  %>
          <% else %>
          |
          <%= link_to '拉黑', marketing_dashboard_kol_ban_path(k.id), :target => "_blank"  %>
          <% end %>
          |
          <%= link_to '提现', marketing_dashboard_kol_withdraw_path(k.id), :target => "_blank"  %>
          |
          <%= link_to '点击数据', marketing_dashboard_kol_campaign_shows_path(k.id), :target => "_blank"  %>
          |
          <%= link_to '接受的活动', marketing_dashboard_kol_campaigns_path(k.id), :target => "_blank"  %>
          |
          <%= link_to "修改", edit_marketing_dashboard_kol_path(k.id), :target => "_blank" %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>

<%= will_paginate @kols %>
