<h3>资金流水</h3>
<ul>
  <li>KOL ID: <%= link_to @kol.id, marketing_dashboard_kol_path(@kol.id) %></li>
  <li>KOL 姓名: <%= @kol.name %></li>
  <li>KOL 手机号: <%= @kol.mobile_number %></li>
</ul>

<table class="table table-bordered">
  <thead>
  <tr>
    <th><%= sort_link(@q, :created_at, "日期") %></th>
    <th>流动方向</th>
    <th>项目</th>
    <th><%= sort_link(@q, :credits, "金额") %></th>
    <th>可用余额</th>
    <th>冻结余额</th>
    <th>总余额（可用+冻结）</th>
  </tr>
  </thead>
  <tbody>
  <% @transactions.each do |w| %>
    <tr>
      <td> <%= w.created_at.to_s(:date_time) %> </td>
      <% %w( direct get_subject credits avail_amount frozen_amount amount).each do |v| %>
        <td> <%= multi_send w, v %> </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @transactions %>
