<%= form_tag admin_localization_update_path do %>
  <%= submit_tag 'Update' %>
  <%= button_tag 'Add new translation', type: :button, class: 'add-new-translation' %>
  <%= link_to 'Cancel', admin_localization_path %>
  <%= hidden_field_tag :section, text_field_name %>
  <table style="margin-top: 30px" class='localization-table'>
    <thead>
      <tr>
        <th>
          Key
        </th>
        <th>
          English
        </th>
        <th>
          Chinese
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "item", collection: collection, as: :key, locals: { en: en, zh: zh, key_label: key_label, text_field_name: text_field_name } %>
      <% some = 'sdasd' %>
    </tbody>
  </table>
  <%= submit_tag 'Update' %>
  <%= button_tag 'Add new translation', type: :button, class: 'add-new-translation', data: { template: "#{render( partial:'row', locals: { key: text_field_name })}" } %>
  <%= link_to 'Cancel', admin_localization_path %>
<% end %>