<ul class="sidebar-nav" id="sidebar">
  <li>
    <a href="/#dashboard" id="nav-dashboard"> <%= polyglot.t("navigation.dashboard") %><span class="sub_icon glyphicon glyphicon-home"></span></a>
  </li>
  <li>
    <a href="/#robin8" id="nav-robin8"><%= polyglot.t("navigation.smart_release") %><span class="sub_icon fa fa-rocket"></span></a>
  </li>
  <li>
    <a href="/#smart_campaign" id="nav-smart-campaign"><%= polyglot.t("navigation.smart_campaign") %><span class="sub_icon fa fa-bullhorn"></span></a>
  </li>
  <li>
    <a href="/#monitoring" id="nav-monitoring"><%= polyglot.t("navigation.monitoring") %><span class="sub_icon glyphicon glyphicon-eye-open"></span></a>
  </li>
  <li>
    <a href="/#campaigns_list" id="nav-campaignslist"><%= polyglot.t("navigation.campaigns") %><span class="sub_icon fa fa-list"></span></a>
  </li>
  <li>
    <a href="/#news_rooms" id="nav-newsrooms"><%= polyglot.t("navigation.newsrooms") %><span class="sub_icon fa fa-building"></span></a>
  </li>
  <li>
    <a href="/#releases" id="nav-releases"><%= polyglot.t("navigation.releases") %><span class="sub_icon glyphicon glyphicon-list-alt"></span></a>
  </li>
  <li>
    <a href="/#social" id="nav-social"><%= polyglot.t("navigation.social") %><span class="sub_icon fa fa-users"></span></a>
  </li>
  <li>
    <a href="/#analytics" id="nav-analytics"><%= polyglot.t("navigation.analytics") %><span class="sub_icon fa fa-line-chart"></span></a>
  </li>
  <li>
    <a href="/#recommendations" id="nav-recommendations"><%= polyglot.t("navigation.recommendations") %><span class="sub_icon fa fa-leanpub"></span></a>
  </li>
  <li id="new-recommendations" style="display:none">
    <a href="/#recommendations" id="nav-recommendations">Recommendations <span id="new-recommendations-badge" class="badge"></span></a></span>
  </li>
  <!-- End of recommendations —>

  <!-- <li>
    <a id="nav-opportunities">Opportunities<span class="sub_icon glyphicon glyphicon-bullhorn"></span></a>
  </li> -->
</ul>
<ul class="sidebar-nav sidebar-nav-bottom" id="sidebar-bottom">
  <li>
    <a href="/#profile" id="nav-sidebar-profile"> <%= polyglot.t("navigation.profile") %> <span class="sub_icon glyphicon glyphicon-user"></span></a>
  </li>
</ul>
<span class='copyright-bottom'>&copy; Robin8, Inc.</span>


