<div class="panel-heading"><i class="fa fa-envelope"></i> <%= polyglot.t("smart_release.pitch_step.email_panel.title") %></div>
<div class="panel-body">
  <form role="form">
    <div class="form-group">
      <label><%= polyglot.t("smart_release.pitch_step.email_panel.subject") %></label>
      <input type="text" placeholder="<%= polyglot.t("smart_release.pitch_step.email_panel.subject_placeholder") %>" 
        class="form-control" value="<%= pitch.email_subject %>" 
        name="email_subject">
    </div>
    <div class="form-group">
      <label><%= polyglot.t("smart_release.pitch_step.email_panel.email") %></label>
      <input type="text" placeholder="<%= polyglot.t("smart_release.pitch_step.email_panel.email_placeholder") %>" 
        class="form-control" value="<%= pitch.email_address %>"
        name="email_address">
    </div>
    <div class="form-group">
      <label><%= polyglot.t("smart_release.pitch_step.email_panel.pitch_text") %></label>
      <div id="email-pitch-textarea" class="form-control" contenteditable="true"><%= pitch.email_pitch %></div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <div class="form-group">
          <label><%= polyglot.t("smart_release.pitch_step.email_panel.length") %>: </label>
          <span id="summary-slider-amount"></span>
          <div id="summary-slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><span tabindex="0" class="ui-slider-handle ui-state-default ui-corner-all" style="left: 20%;"></span></div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="form-group">
          <label><%= polyglot.t("smart_release.pitch_step.email_panel.tags") %></label>
          <br>
          <label class="label label-default add_merge_tag"><a href="#" data-tagname="first_name"><%=polyglot.t("smart_release.pitch_step.email_panel.merge_tags.first_name")%></a></label>
          <label class="label label-default add_merge_tag"><a href="#" data-tagname="last_name"><%=polyglot.t("smart_release.pitch_step.email_panel.merge_tags.last_name")%></a></label>
          <label class="label label-default add_merge_tag"><a href="#" data-tagname="summary"><%=polyglot.t("smart_release.pitch_step.email_panel.merge_tags.summary")%></a></label>
          <label class="label label-default add_merge_tag"><a href="#" data-tagname="outlet"><%=polyglot.t("smart_release.pitch_step.email_panel.merge_tags.outlet")%></a></label>
          <label class="label label-default add_merge_tag"><a href="#" data-tagname="link"><%=polyglot.t("smart_release.pitch_step.email_panel.merge_tags.link")%></a></label>
          <label class="label label-default add_merge_tag"><a href="#" data-tagname="title"><%=polyglot.t("smart_release.pitch_step.email_panel.merge_tags.title")%></a></label>
          <label class="label label-default add_merge_tag"><a href="#" data-tagname="text"><%=polyglot.t("smart_release.pitch_step.email_panel.merge_tags.text")%></a></label>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="form-group">
          <br />
          <button type="button" class="btn btn-default" id="send-test-email-btn"><%= polyglot.t("smart_release.pitch_step.test_button") %></button>
        </div>
      </div>
    </div>
  </form>
</div>
