<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title text-center" id="myModalLabel"><%=polyglot.t('smart_release.send_test.send_test')%></h4>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="emails" class="col-sm-3 control-label"><%=polyglot.t('smart_release.send_test.send_test_to')%></label>
          <br />
          <div class="col-sm-10">
            <input type="email" class="form-control" id="test-pitch-emails-input"
              placeholder="<%=polyglot.t('smart_release.send_test.ex')%>: freddie@mailchimp.com, mannie@mandrill.com...">
            <span id="helpBlock" class="help-block"><%=polyglot.t('smart_release.send_test.comma_separate')%></span>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <div>
        <button type="button" class="btn btn-link" data-dismiss="modal"><%=polyglot.t('smart_release.send_test.cancel')%></button>
        <button type="button" class="btn btn-primary" id="send-test-btn"><%=polyglot.t('smart_release.send_test.send_test_button')%></button>
      </div>
    </div>
  </div>
</div>
