<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Dashboard</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-comments fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= Kol.where("created_at > ?", Date.today.to_time).count %></div>
            <div>今日新增Kol 数量</div>
          </div>
        </div>
      </div>
      <a href="/marketing_dashboard/kols">
        <div class="panel-footer">
          <span class="pull-left">查看详情</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-tasks fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= Campaign.where(status: 'unexecute').realable.where("deadline >?", (Time.now-30.days)).count %></div>
            <div>待审核的活动个数</div>
          </div>
        </div>
      </div>
      <a href="/marketing_dashboard/campaigns/pending">
        <div class="panel-footer">
          <span class="pull-left">查看详情</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-yellow">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-shopping-cart fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= CampaignInvite.where(:img_status => :pending).where("screenshot is not NULL").count %></div>
            <div>待审核的截图个数</div>
          </div>
        </div>
      </div>
      <a href="/marketing_dashboard/campaign_invites/pending">
        <div class="panel-footer">
          <span class="pull-left">查看详情</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-red">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-support fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= Withdraw.all.where(status: 'pending').count %></div>
            <div>待处理的提现记录</div>
          </div>
        </div>
      </div>
      <a href="/marketing_dashboard/withdraws/pending">
        <div class="panel-footer">
          <span class="pull-left">查看详情</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="well">
  <table class='table table-bordered'>
    <thead>
      <tr>
        <th>Brand总人数</th>
        <th>发过单的Brand总人数</th>
        <th>Kol总人数</th>
        <th>接过单Kol人数</th>
        <th>已结算的Campaign总数</th>
        <th>已结算的Campaign总价</th>
        <th>Kol总共提现多少钱</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      CampaignInvite.count
        <td><%= User.count %></td>
        <td><%= User.joins(:campaigns).group("campaigns.user_id").having("count(campaigns.id) > 0").count.keys.count %></td>
        <td><%= Kol.count %></td>
        <td><%= Kol.joins(:campaign_invites).where("campaign_invites.status ='settled'").group("campaign_invites.kol_id").having("count(campaign_invites.id) > 0").count.keys.count %></td>
        <td><%=  Campaign.where(:status => "settled").count%></td>
        <td><%=  Campaign.where(:status => "settled").sum(:budget) %></td>
        <td><%= Withdraw.where(:status => "paid").sum(:credits) %></td>
      </tr>
    </tbody>
  </table>
  ```
  备注: 活动ID 337, 旅游城市推广招募KOL budget 是 350000
  ```
</div>
<%= render 'admin_panel' %>
<!-- /.row -->
