<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Dashboard</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-comments fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= @r8_infos['first_overall']['today_kols_count'] %></div>
            <div>Today Kol registered count</div>
          </div>
        </div>
      </div>
      <a href="/marketing_dashboard/kols">
        <div class="panel-footer">
          <span class="pull-left">detail</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-tasks fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= @r8_infos['first_overall']['pending_campaigns_count'] %></div>
            <div>Pending campaign records</div>
          </div>
        </div>
      </div>
      <a href="/marketing_dashboard/campaigns/pending">
        <div class="panel-footer">
          <span class="pull-left">detail</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-yellow">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-shopping-cart fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= @r8_infos['first_overall']['pending_screenshots_count'] %></div>
            <div>Pending screenshot records</div>
          </div>
        </div>
      </div>
      <a href="/marketing_dashboard/campaign_invites/pending">
        <div class="panel-footer">
          <span class="pull-left">detail</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-red">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-support fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge"><%= @r8_infos['first_overall']['pending_tixians_count'] %></div>
            <div>Pending withdrawal records</div>
          </div>
        </div>
      </div>
      <a href="/marketing_dashboard/withdraws/pending">
        <div class="panel-footer">
          <span class="pull-left">detail</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="well">
  <table class='table table-bordered'>
    <thead>
      <tr>
        <th>Total Count Of Brands</th>
        <th>Total Count Of Traded Brands</th>
        <th>Total Count Of Kols</th>
        <th>Total Count Of Active Kols</th>
        <th>Total Count Of Settled Campaigns</th>
        <th>Total Amount Of Settled Campaign</th>
        <th>Total Amount Of Kol Withdrawn</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      CampaignInvite.count
        <td><%= @r8_infos['table']['users_count'] %></td>
        <td><%= @r8_infos['table']['traded_users_count'] %></td>
        <td><%= @r8_infos['table']['kols_count'] %></td>
        <td><%= @r8_infos['table']['active_kols_count'] %></td>
        <td><%= @r8_infos['table']['settled_campaigns_count'] %></td>
        <td><%= @r8_infos['table']['settled_campaigns_amount'] %></td>
        <td><%= @r8_infos['table']['withdrawn_total_amount'] %></td>
      </tr>
    </tbody>
  </table>
<!--   ```
  备注: 活动ID 337, 旅游城市推广招募KOL budget 是 350000
  ``` -->
</div>
<%= render 'admin_panel' %>
<!-- /.row -->
