<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">KOL“发现”数据</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<%= render 'statistics' %>

<div class="panel panel-default">
  <div class="panel-heading">
    搜索过滤
  </div>
  <div id="searchPanel" class="panel-body">
    <%= search_form_for @q, url: request.path, class: "form" do |f| %>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>KOL ID</label>
            <%= f.search_field :id_eq, class: "form-control", placeholder: "KOL ID" %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label>KOL手机</label>
            <%= f.search_field :mobile_number_cont, class: "form-control", placeholder: "KOL手机" %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group">
            <label>KOL昵称</label>
            <%= f.search_field :name_cont, class: "form-control", placeholder: "KOL昵称" %>
          </div>
        </div>

        <div class="col-md-3">
          <label>&nbsp;</label>
          <div>
            <%= f.submit "搜索", class: "btn btn-primary" %>
            <%= link_to "清除全部", request.path, class: "btn btn-default" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div>
  <table class='table table-bordered'>
    <thead>
      <tr>
        <th class="text-center">序号</th>
        <th>KOL ID</th>
        <th>昵称</th>
        <th>手机</th>
        <th>邮箱</th>
        <th class="text-center">阅读总时长(/时/分/秒)</th>
        <th class="text-center">阅读次数</th>
        <th class="text-center">点赞次数</th>
        <th class="text-center">分享次数</th>
        <th class="text-center">总红包数</th>
        <th class="text-center">总红包金额</th>
        <th class="text-center">今日红包数</th>
        <th class="text-center">今日红包金额</th>
      </tr>
    </thead>
    <tbody>
      <% @kols.each_with_index do |kol, index| %>
        <tr>
          <td class="text-center"><%= index %></td>
          <td><%= kol.id %></td>
          <td><%= kol.name %></td>
          <td><%= kol.mobile_number %></td>
          <td><%= kol.email %></td>
          <td class="text-center"><%= format_hms(kol.redis_elastic_stay_time.value) %></td>
          <td class="text-center"><%= kol.redis_elastic_reads_count %></td>
          <td class="text-center"><%= kol.redis_elastic_likes_count %></td>
          <td class="text-center"><%= kol.redis_elastic_forwards_count %></td>
          <td class="text-center"><%= kol.transactions.subjects('red_money').count %></td>
          <td class="text-center"><%= kol.transactions.subjects('red_money').sum(:credits) %></td>
          <td class="text-center"><%= kol.transactions.recent(Time.now, Time.now).subjects('red_money').count %></td>
          <td class="text-center"><%= kol.transactions.recent(Time.now, Time.now).subjects('red_money').sum(:credits) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="pull-right">
    <%= will_paginate @kols, renderer: BootstrapPagination::Rails  %>
  </div>
</div>
<!-- /.row -->
