
<style>
.remove-picture {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -18px 0 0 -40px;
}
</style>

<div class="row">
  <div class="col-md-6">

    <div class="form-group">
      <label>商品名称</label>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <label>商品描述</label>
      <%= f.text_field :description, class: "form-control" %>
    </div>

    <div class="form-group">
      <label>商品库存</label>
        <%= f.number_field :quantity, class: "form-control" %>
    </div>

    <div class="form-group">
      <label>商品价格</label>
        <%= f.number_field :price, class: "form-control" %>
    </div>

    <div class="form-group">
      <label>封面</label>
      <%= f.file_field :cover, :class => "well well-sm" %>
    </div>

    <div class="form-group">
      <label>轮播图片</label>
      <%= f.file_field :posters, multiple: true, :class => "well well-sm" %>
      <p class="text-warning">* 图片可多选上传，APP上图片将与此处图片顺序保持一致</p>
      <div class="well" style="width: 380px;">
        <% f.object.posters.each do |picture| %>
          <div style="position: relative; text-align: center;">
            <%= image_tag picture.name.url, style: "width: 100%;" %>
            <%= link_to marketing_dashboard_lottery_product_path(f.object, poster_id: picture.id), method: :put, class: "btn btn-danger remove-picture" do %>
              移除此图
            <% end %>
          </div>
        <% end unless f.object.posters.blank? %>
      </div>
    </div>
    <div class="form-group">
      <label>商品图片</label>
      <%= f.file_field :pictures, multiple: true, :class => "well well-sm" %>
      <p class="text-warning">* 图片可多选上传，APP上图片将与此处图片顺序保持一致</p>
      <div class="well" style="width: 380px;">
        <% f.object.pictures.each do |picture| %>
          <div style="position: relative; text-align: center;">
            <%= image_tag picture.name.url, style: "width: 100%;" %>
            <%= link_to marketing_dashboard_lottery_product_path(f.object, picture_id: picture.id), method: :put, class: "btn btn-danger remove-picture" do %>
              移除此图
            <% end %>
          </div>
        <% end unless f.object.pictures.blank? %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <hr />
    <%= f.submit '确认提交', :class => 'btn btn-primary btn-lg' %>
  </div>
</div></div>