<%= javascript_include_tag 'https://cdn.robin8.net/pmes.min.js', 'data-turbolinks-track' => true %>
<%= hidden_field_tag 'campaign_id', @campaign.id %>
<%= hidden_field_tag 'host_url', Rails.application.secrets.domain %>

<h3>
  PUT活动奖励列表
  <% unless params[:status] == 'successful' %>
    <button type="button" class="btn btn-primary pull-right ml-10" id="put_remit_btn">批量付款</button>
  <% end %>
  <button type="button" class="btn btn-info pull-right ml-10" id="wallet_detail_btn">钱包详情</button>
  <!-- <button type="button" class="btn btn-success pull-right" id="wallet_transactions_btn">钱包流水</button> -->
</h3>
<hr>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="<%= params[:status] == 'pending' ? 'active' : '' %>">
    <%= link_to '待支付', marketing_dashboard_e_wallets_campaign_transactions_path(status: 'pending') %>
  </li>
  <li role="presentation" class="<%= params[:status] == 'failed' ? 'active' : '' %>">
    <%= link_to '支付失败', marketing_dashboard_e_wallets_campaign_transactions_path(status: 'failed') %>
  </li>
  <li role="presentation" class="<%= params[:status] == 'successful' ? 'active' : '' %>">
    <%= link_to '支付成功', marketing_dashboard_e_wallets_campaign_transactions_path(status: 'successful') %>
  </li>
</ul>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>用户名</th>
      <th>PUT address</th>
      <th>奖励数量</th>
      <th>tx_id</th>
      <th>状态</th>
      <% unless params[:status] == 'successful' %>
        <th>付款</th>
      <% end %>
    </tr>
  </thead>
  <tbody id="put_remit_table">
    <% @transtions.each do |tr|%>
      <tr>
        <td class="put-tr-id"><%= tr.id %></td>
        <td><%= tr.kol.name %></td>
        <td class="put-remit-token"><%= tr.kol.e_wallet_account.try(:token) %></td>
        <td class="put-remit-amount"><%= tr.amount %></td>
        <td class="put-tx-id"><%= tr.txid %></td>
        <td><%= tr.status %></td>
        <% unless params[:status] == 'successful' %>
          <td>
            <button type="button" class="btn btn-primary btn-sm put-remit-btn">付款</button>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @transtions, renderer: BootstrapPagination::Rails  %>

<div class="modal fade" id="token_input_modal" tabindex="-1" role="dialog" aria-labelledby="token_input_modal_label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="token_input_modal_label">请输入您的Token和密码</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="password_input">Password:</label>
          <input type="password" minlength="6" maxlength="6" class="form-control" id="password_input" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="token_input">Token:</label>
          <textarea class="form-control" rows="6" id="token_input" placeholder="Token"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-link pull-left" id="forget_pw_btn">忘记密码</button> -->
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="token_confirm">确定</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="wallet_detail_modal" tabindex="-1" role="dialog" aria-labelledby="wallet_detail_modal_label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="wallet_detail_modal_label">钱包详情</h4>
      </div>
      <div class="modal-body">
        <div class="wallet-detail-publickey">
          <p><strong>public_key:</strong></p>
          <p id="wallet_detail_publickey"></p>
        </div>
        <div id="wallet_detail_container"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="password_modal" tabindex="-1" role="dialog" aria-labelledby="password_modal_label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="password_modal_label">重置密码</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="reset_password_input">Password:</label>
          <input type="password" minlength="6" maxlength="6" class="form-control" id="reset_password_input" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="password_confirm_input">Password Confirm:</label>
          <input type="password" minlength="6" maxlength="6" class="form-control" id="password_confirm_input" placeholder="Password Confirm">
        </div>
        <div class="form-group">
          <label for="mnemonic_input">Mnemonic:</label>
          <textarea class="form-control" rows="6" id="mnemonic_input" placeholder="Mnemonic"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="reset_password_confirm">确定</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="wallet_transactions_modal" tabindex="-1" role="dialog" aria-labelledby="wallet_transactions_modal_label">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="wallet_transactions_modal_label">钱包流水详情</h4>
      </div>
      <div class="modal-body">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
