<div class="modal admin-withdraw-modal fade" tabindex="-1" role="dialog">
  <h5><%= devise_error_messages! %></h5>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">请填写拒绝理由</h4>
      </div>
      <div class="modal-body admin-reject-modal-body">
          <h3>请输入拒绝理由（非必填）</h3>
          <div class="col-sm-4">
            <div class="form-group">
              <input type="text" name='reject_reason' class='reject_reason form-control'>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn check_reject btn-primary">确认拒绝</button>
      </div>
    </div>
  </div>
</div>

<!-- This class is created to make the "confiscation" button. Copied from the button for refusal. -Martin -->
<div class="modal admin-confiscate-modal fade" tabindex="-1" role="dialog">
  <h5><%= devise_error_messages! %></h5>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">请填写没收理由</h4>
      </div>
      <div class="modal-body admin-reject-modal-body">
          <h3>请输入没收理由（非必填）</h3>
          <div class="col-sm-4">
            <div class="form-group">
              <input type="text" name='confiscate_reason' class='confiscate_reason form-control'>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn check_confiscate btn-primary">确认没收</button>
      </div>
    </div>
  </div>
</div>


<h3>提现列表</h3>

<div class="panel panel-default">
  <div class="panel-heading">
    搜索过滤
  </div>
  <div id="searchPanel" class="panel-body">
    <%= search_form_for @q, url: request.path, class: "form" do |f| %>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>KOL ID</label>
            <%= f.search_field :kol_id_eq, class: "form-control", placeholder: "KOL ID" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>KOL手机</label>
            <%= f.search_field :kol_mobile_number_cont, class: "form-control", placeholder: "KOL手机" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>KOL昵称</label>
            <%= f.search_field :kol_name_cont, class: "form-control", placeholder: "品牌主昵称" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>身份证号码</label>
            <%= f.search_field :kol_id_card_cont, class: "form-control", placeholder: "身份证号码" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>支付宝账号</label>
            <%= f.search_field :alipay_no_cont, class: "form-control", placeholder: "支付宝账号" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>支付宝姓名</label>
            <%= f.search_field :real_name_cont, class: "form-control", placeholder: "支付宝姓名" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>提现金额</label>
            <div class="row">
              <div class="col-md-6">
                <%= f.number_field :credits_gt, step: 'any', class: "form-control", placeholder: "最小值" %>
              </div>
              <div class="col-md-6">
                <%= f.number_field :credits_lt, step: 'any', class: "form-control", placeholder: "最大值" %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>提现状态</label>
            <%= f.select :status_eq, Withdraw::STATUS , { include_blank: true }, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Admintag</label>
            <%= f.select :kol_admintags_tag_eq, Admintag.pluck(:tag).uniq, { include_blank: true }, class: 'form-control' %>
          </div>
        </div>
        <div class="col-md-offset-9 col-md-3">
          <label>&nbsp;</label>
          <div>
            <%= f.submit "搜索", class: "btn btn-primary" %>
            <%= link_to "清除全部", request.path, class: "btn btn-default" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="contianer-fluid">
    <button class="choose-all btn btn-default">全选</button>
    <button class="revert-all btn btn-default">反选</button>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th></th>
      <th width="50px">ID</th>
      <th width="60px">KOL ID</th>
      <th>KOL昵称</th>
      <th>KOL手机</th>
      <th><%= sort_link(@q, :credits, "提现金额") %></th>
      <th>提现状态</th>
      <th>支付宝关联用户</th>
      <th>提现次数</th>
      <th>上次成功提现时间</th>
      <th><%= sort_link(@q, :created_at, "申请时间") %></th>
      <th>KOL等级</th>
      <th>拉黑时间</th>
      <th>来源</th>
      <th>支付宝账号</th>
      <th>支付宝姓名</th>
      <th>身份证号码</th>
      <th>可提现金额</th>
      <th>历史收益</th>
      <th>平均点击</th>
      <th>最高点击</th>
      <th>拒绝理由</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @withdraws.each do |w| %>
      <tr>
        <td class="expandCheck">
          <% if w.status.in? ['pending', 'checked'] %>
            <%= check_box_tag "withdraw_id[]", w.id, false, :class => 'withdraw_checkbox' %>
          <% end %>
        </td>
        <td><%= w.id %></td>
        <td><%= link_to w.kol_id, marketing_dashboard_kol_path(:id => w.kol_id), :target => "_blank" rescue "" %></td>
        <td><%= w.kol.name rescue "" %></td>
        <td><%= w.kol.mobile_number rescue "" %></td>
        <td><%= w.credits %></td>
        <td><%= w.status %></td>
        <td>
          <% Withdraw.where(:alipay_no => w.alipay_no).map(&:kol_id).uniq.each do |kol_id|%>
            <%= link_to kol_id, "/marketing_dashboard/kols/#{kol_id}", :target => "_blank" %>&nbsp;&nbsp;&nbsp;
          <% end %>
        </td>
        <td><%= w.kol.withdraws.count rescue "" %></td>
        <td>
          <%= w.kol.withdraws.where("created_at < ? AND status = ?", w.created_at, :paid ).last.updated_at.strftime('%Y-%m-%d %H:%M') rescue "" %>
        </td>
        <td><%= w.created_at.strftime('%Y-%m-%d %H:%M') %></td>
        <td><%= w.kol.kol_level rescue "" %></td>
        <td><%= color_time(w.kol.forbid_campaign_time) rescue "" %></td>
        <td><%= w.kol.app_platform rescue "" %></td>
        <td>
          <%= w.alipay_no %>
          <%= link_to edit_marketing_dashboard_kol_path(w.kol), target: "_blank" do %>
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          <% end %>
        </td>
        <td>
          <%= w.real_name %>
          <%= link_to edit_marketing_dashboard_kol_path(w.kol), target: "_blank" do %>
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          <% end %>
        </td>
        <td><%= w.kol.id_card rescue "" %></td>
        <td><%= w.kol.avail_amount rescue "" %></td>
        <td><%= w.kol.total_income rescue "" %></td>
        <td> <%= w.kol.average_click_of_campaigns rescue "" %></td>
        <td> <%= w.kol.maximum_click_of_campaigns rescue "" %></td>
        <td><%= w.reject_reason %></td>
        <td>
          <% if w.status == 'pending' %>
            <%= link_to '通过', marketing_dashboard_withdraw_check_path(w.id), method: :post %> /
            <%= link_to '拒绝', "javascript:void(0)", :class => "reject_withdraw", "data-url" => marketing_dashboard_withdraw_reject_path(w.id)  %> /
			<%= link_to '没收', "javascript:void(0)", :class => "confiscate btn-danger", "data-url" => marketing_dashboard_withdraw_confiscate_path(w.id)  %> /
          <% elsif w.status == 'checked' %>
          <%= link_to '同意', marketing_dashboard_withdraw_agree_path(w.id), method: :post %> /
          <%= link_to '拒绝', "javascript:void(0)", :class => "reject_withdraw", "data-url" => marketing_dashboard_withdraw_reject_path(w.id)  %> /
          <% end %>
          <%= link_to '拉黑', "javascript:void(0)", :class => "reject_withdraw", "data-url" =>marketing_dashboard_withdraw_permanent_frozen_alipay_path(w.id)  %> /
          <%= link_to "流水", transaction_marketing_dashboard_kol_path(w.kol_id), :target => "_blank" rescue "" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if params[:action] == 'pending' %>
<%= link_to '批量审核', 'javascript:void(0)', "data-action" => 'batch_check', :class => 'batch_agree batch btn btn-primary '  %>
<%= link_to '批量拒绝', 'javascript:void(0)', "data-action" => 'batch_reject', :class => 'batch_reject batch btn btn-danger'  %>
<% elsif params[:action] == 'checked' %>
<%= link_to '批量通过', 'javascript:void(0)', "data-action" => 'batch_agree', :class => 'batch_agree batch btn btn-primary ' %>
<% end %>


<%= link_to '导出CSV', request.path + ".csv", :class => 'btn btn-default', "data-confirm" => "关于打开csv文件中文乱码？\r\n 1. 打开Excel并新建一个空白表 \r\n 2. 顶部工具栏选择  数据 -> 自文本，选择csv文件 \r\n 3. 在弹出框中，字符集选择 UTF-8，分割符号为逗号 \r\n\r\n 确认要下载码？" %>

<div class="pull-right">
  <%= will_paginate @withdraws, renderer: BootstrapPagination::Rails %>
</div>

<script type="text/javascript">

    $('.choose-all').click(function(){
      $(':checkbox').each(function(){
        this.checked = true;
      });
    })

    $('.revert-all').click(function(){
      $(':checkbox').each(function(){
        if(this.checked == true) {
          this.checked = false;
        } else {
          this.checked = true;
        }
      });
    })

  $(function(){
    $(".batch").click(function(e){
      e.preventDefault();
      if($(".withdraw_checkbox:checked").length > 0){
        var batch_ids = "";
        var handle_action = $(this).attr("data-action");
        $(".withdraw_checkbox:checked").each(function(){
          batch_ids += $(this).val();
          batch_ids += ","
        });
        console.log(batch_ids);
             
        if (confirm('确定此操作?')){
          if(handle_action == "batch_reject"){
            $('.admin-withdraw-modal').modal("show")

            var url = "/marketing_dashboard/withdraws/batch_handle?batch_ids=" + 
                                    batch_ids + "&handle_action=" + handle_action
            $('.admin-withdraw-modal').attr("data-url", url)
          }else{
            $.post("/marketing_dashboard/withdraws/batch_handle", {"batch_ids": batch_ids, "handle_action": handle_action},function(data){
              if(data.status == 'error'){
                alert(data.text);
              }else if (data.status == 'ok'){
                alert("操作成功");
                location.reload();
              }
            })
          }
        }else{}
      }else{
        alert("请选择要批量操作的提现申请");
        return false;
      }
    })
  })

  $(".expandCheck").on('click', function (event) {
    event.stopPropagation();
    event.preventDefault();
    var cb = $(event.target).children(":checkbox");
	if (cb.is(':checked') ){
		cb.prop('checked', false);
	} else{
		cb.prop('checked', true);
	}
  });

  $(".expandCheck").on('click', function (event) {
    event.stopPropagation();
    event.preventDefault();
    var cb = $(event.target).children(":checkbox");
    cb.attr("checked", !cb.attr("checked"));
  });

  $(".reject_withdraw").click(function(event){
     $('.admin-withdraw-modal').modal("show")
     $('.admin-withdraw-modal').attr("data-url", $(this).attr("data-url"))
     event.stopPropagation()
   })

   // Same as reject button to make the confiscate button.
   $(".confiscate").click(function(event){
      $('.admin-confiscate-modal').modal("show")
      $('.admin-confiscate-modal').attr("data-url", $(this).attr("data-url"))
      event.stopPropagation()
    })


  $(".check_reject").click(function(e){
    e.preventDefault();
    if( ! $('.reject_reason').val()){
      alert("拒绝理由不能为空")
      return
    }
    $.ajax({
      method: "POST",
      url: $('.admin-withdraw-modal').attr("data-url"),
      beforeSend: function(xhr) {
        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
      },
      data: { "reject_reason":  $('.reject_reason').val()}
    })
      .done(function(data) {
        console.log(data);
        if(data.status == "error"){
          alert(data.text);
        }else if (data.status == 'ok'){
          alert('操作成功');
          location.reload();
        }
      });
  });

  // Same as reject. This button allows the admin to confiscate the money from a particular when they reuqest a withdrawal, possibly due to cheating of clicks or inivitation.
  $(".check_confiscate").click(function(e){
    e.preventDefault();
    if( ! $('.confiscate_reason').val()){
      alert("没收理由不能为空")
      return
    }
    $.ajax({
      method: "POST",
      url: $('.admin-confiscate-modal').attr("data-url"),
      beforeSend: function(xhr) {
        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
      },
      data: { "confiscate_reason":  $('.confiscate_reason').val()}
    }
    )
    .done(function(data) {
      location.reload();
    });
  });

</script>
