<h3>提现列表</h3>
<div class="well">
  <%= form_tag search_marketing_dashboard_withdraws_path do %>
    <%= text_field_tag :search_key, nil, :placeholder => "以品牌主名称、手机号、ID、email 进行搜索", :class => "search_input" %>
    <%= submit_tag 'Search', :class => 'btn btn-primary' %>
  <% end %>
</div>


<table class="table table-bordered">
  <thead>
    <tr>
      <th>Chose</th>
      <th>ID</th>
      <th>Kol ID</th>
      <th>Credits</th>
      <th>Withdraw type</th>
      <th>Real Name</th>
      <th>Alipay No.</th>
      <th>Status</th>
      <th>Total Amount</th>
      <th>Frozen Amount</th>
      <th>Avail Amount</th>
      <th>Ops</th>
    </tr>
  </thead>
  <tbody>
    <% @withdraws.each do |w| %>
      <tr>
        <td>
          <% if w.status== 'pending' %>
            <%= check_box_tag "withdraw_id[]", w.id, false, :class => 'withdraw_checkbox' %>
          <% end %>
        </td>
        <% %w(id kol_id credits withdraw_type real_name alipay_no status).each do |v| %>
          <td> <%= multi_send w, v %> </td>
        <% end %>
        <td> <%= w.kol.amount %> </td>
        <td> <%= w.kol.frozen_amount %> </td>
        <td> <%= w.kol.avail_amount %> </td>
        <td>
          <% if w.status == 'pending' %>
            <%= link_to 'Agree', marketing_dashboard_withdraw_agree_path(w.id), method: :post %> |
            <%= link_to 'Reject', marketing_dashboard_withdraw_reject_path(w.id), method: :post %>|
            <%= link_to '永久冻结', marketing_dashboard_withdraw_permanent_frozen_path(w.id), method: :post %>
          <% end %>
          <%= link_to "资金流水", transaction_marketing_dashboard_kol_path(w.kol_id), :target => "_blank" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '批量通过', 'javascript:void(0)', "data-action" => 'batch_agree', :confirm => '确定批量通过吗？', :class => 'batch_agree batch btn btn-primary '  %>
<%= link_to '批量拒绝', 'javascript:void(0)', "data-action" => 'batch_reject', :confirm => '确定批量通过吗？', :class => 'batch_reject batch btn btn-danger'  %>
<%= link_to '导出CSV', request.path + ".csv", :class => 'btn btn-default' %>

<div class="pull-right">
  <%= will_paginate @withdraws, renderer: BootstrapPagination::Rails %>
</div>

<script type="text/javascript">
  $(function(){
    $(".batch").click(function(e){
      e.preventDefault();
      if($(".withdraw_checkbox:checked").length > 0){
        var batch_ids = "";
        var handle_action = $(this).attr("data-action");
        $(".withdraw_checkbox:checked").each(function(){
          batch_ids += $(this).val();
          batch_ids += ","
        });
        console.log(batch_ids);
        $.post("/marketing_dashboard/withdraws/batch_handle", {"batch_ids": batch_ids, "handle_action": handle_action},function(data){
          if(data.status == 'error'){
            alert(data.text);
          }else if (data.status == 'ok'){
            alert("操作成功");
            window.location.href = '/marketing_dashboard/withdraws'
          }
        })
      }else{
        alert("请选择要批量操作的提现申请");
      }
    })
  })
</script>
