<%
   title = @campaign.name
   description = @campaign.description
   poster_url = @campaign.img_url
   url = request.url
   sign_package = ($weixin_client.get_jssign_package(url) rescue {})
   share_url = @share_url
   app_id = sign_package['appId']
   nonce = sign_package['nonceStr']
   ts = sign_package['timestamp']
   signature = sign_package['signature']
%>

<!DOCTYPE html>
<html>
<head>
  <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport"/>
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="description" content="<%= description %>">
  <!-- Open Graph meta -->
  <meta property="og:title" content="<%= title %>" />
  <meta property="og:description" content="<%= description %>" />
  <meta property="og:site_name" content="Robin8" />
  <meta property="og:url" content="<%= url %>" />
  <meta property="og:image" content="<%= poster_url %>" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="150" />
  <meta property="og:image:height" content="150" />
  <!-- Wechat meta -->
  <meta property="weixin:timeline_title" content="<%= title %>" />
  <meta property="weixin:chat_title" content="<%= title %>" />
  <meta property="weixin:description" content="<%= description %>" />
  <meta property="weixin:image" content="<%= poster_url %>" />
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-capable" content="yes">
<%= csrf_meta_tags %>


  <%= javascript_include_tag "http://res.wx.qq.com/open/js/jweixin-1.0.0.js" %>
  <script src="//cdn.bootcss.com/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript">
      wx.config({
          debug: false,
          appId: '<%= app_id %>',
          timestamp: '<%= ts %>',
          nonceStr: '<%= nonce %>',
          signature: '<%= signature %>',
          jsApiList: [
              'onMenuShareTimeline',
              'onMenuShareAppMessage',
              'onMenuShareQQ',
              'onMenuShareWeibo'
          ]
      });

      wx.ready(function () {
          var shareData = {
              title: '<%= title %>',
              desc: '<%= description %>',
              link: '<%= @share_url %>',
              imgUrl: '<%= poster_url %>',
              success: function() {
                  window.location.href = '/wechat_campaign/app_download_page';
              }
          };

          wx.onMenuShareAppMessage(shareData);
          wx.onMenuShareTimeline(shareData);
          wx.onMenuShareQQ(shareData);
          wx.onMenuShareWeibo(shareData);
      });

      wx.error(function (res) {
          console.log(res.errMsg);
      });



  </script>
  </head>
  <body>

  <h3>
    <img src="<%= @campaign.img_url %>" />
    <br/>
    <%= @campaign.name %>
    <br/>
    <%= @campaign.description %>
  </h3>

  </body>
</html>
