<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
      <%= stylesheet_link_tag 'wechat_campaign' %>
      <%= javascript_include_tag "http://res.wx.qq.com/open/js/jweixin-1.0.0.js" %>
	</head>
	<body>
		<section class="head-ro">
			<%= image_tag "http://img1.imgtn.bdimg.com/it/u=545584529,814270868&fm=11&gp=0.jpg" %>
		</section>
		<section class="content-ro">
			<h1 class="title-ro"><%= "Robin8邀请你成为品牌带盐人" %></h1>
		</section>
		<section class="bottom-ro">
			<a class="btn-blue-ro width100" onclick="showDialog(2)">去下载</a>
      <div class="black" id="black">  </div>
		</section>
	</body>

    <script type="text/javascript">
        var dialog = document.getElementById('dialog');
        var dialog02 = document.getElementById('dialog02');
        var black = document.getElementById('black');
          function showDialog(con){
            window.location.href = '<%= @app_download_url %>';
        };
    </script>

</html>
