<div class="signup pricing">
  <header class="int-header">
    <%= render :partial => "pages/partials/menu"%>
    <%= render :partial => "pages/partials/page_banner", :locals => { :header => "ADD ON SERVICES"}%>
  </header>

  <div class="form-step step3">
    <form action="/subscribe/<%=params[:plan] || 'add-on'%>" method="POST" data-abide>
      <input type="hidden" name="slug" value="<%=params[:plan]%>"/>
      <div class="row">
        <div class="small-12 columns">
          <div class="goback">
            <a href="/pricing">Go back</a>
          </div>

          <p class="selection-intro-heading">Add on services</p>
          <% if current_user.active_subscription.present? %>
            <p class="selection-guarantee">30 day money back guarantee!</p>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <table cellpadding="0" cellspacing="0">
            <tr>
              <th class="qty">Qty</th>
              <th>Add-on</th>
              <th class="price">Price</th>
            </tr>
            <%@add_ons.each_with_index do |a,index|%>
                <tr>
                  <td class="qty">
                    <input type="text" size="2" value="0" name="add_ons[<%=a.id%>]" id="qty-<%=index+1%>" />
                    <div class="updown">
                      <a class="qty-plus" data-qty="qty-<%=index+1%>">+</a>
                      <a class="qty-minus" data-qty="qty-<%=index+1%>">-</a>
                    </div>
                  </td>
                  <td class="addon">
                    <%=a.name%>
                  </td>
                  <td class="price">
                    $<%=a.price%>
                  </td>
                </tr>
            <%end%>
          </table>
        </div>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token%>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <div class="submit-wrap">
            <input type="submit" value="Continue" class="button button-signup nextstep">
          </div>
        </div>
      </div>
    </form>
  </div>

</div>

