<%= render :partial => "pages/partials/header" %>

<div class="branding-pg">
  <div class="hero-section hero-sm hero-bg">
    <div class="container">
      <div class="hero-cont">
        <h1>基于大数据的KOL广告平台</h1>
      </div>
    </div>
  </div>

  <div class="section section-plain">
    <div class="container">
      <div class="hero-cont">
        <p>不管你是要寻找专家，网红还是KOL （意见领袖），Robin8 智能引擎都可以帮你精准匹配，请他们分享你的故事，展示你的产品，精准的触及目标受众</p>
        <a href="http://store.robin8.net" class="btn btn-line btn-big btn-blue">KOL价格</a>
      </div>
    </div>
  </div>
</div>

<div class="section section-card section-func">
  <div class="container">
    <div class="hd-cont">
      <h3>
        <span class="order-number inline"><i>01/</i></span>
        我们可以为你做些什么
      </h3>
    </div>
    <div class="bd-cont">
      <div class="func-ls-wrap">
        <ul class="func-ls">
          <li>
            <%= image_tag "page/branding-func-2.png" %>
            <h4>内容合作与分享</h4>
            <p>请行业大咖为活动主题原创，或转发内容，支持微信公众号、微信朋友圈、微博等平台</p>
          </li>
          <li>
            <%= image_tag "page/branding-func-3.png" %>
            <h4>出席线下活动</h4>
            <p>请网络红人做演讲嘉宾、参加焦点访谈小组出席产品发布会、颁奖典礼等</p>
          </li>
          <li>
            <%= image_tag "page/branding-func-1.png" %>
            <h4>SOCIAL CRM</h4>
            <p>帮您找到关注者中的大V，转化消费者为品牌大使，实现互动升级</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="section section-card section-precise">
  <div class="container">
    <div class="hd-cont">
      <h3>
        <span class="order-number"><i>02/</i></span>
        大数据精准定位
      </h3>
      <p>Robin8 目前覆盖来自微信公众号、微信朋友圈、微博和知乎的海量数据</p>
    </div>
    <div class="bd-cont">
      <div class="precise-wrap">
        <%= image_tag "page/branding-prec.png" %>
      </div>
    </div>
  </div>
</div>

<div class="section section-card section-effc">
  <div class="container">
    <div class="hd-cont">
      <h3>
        <span class="order-number"><i>03/</i></span>
        实时效果追踪
      </h3>
      <p>你可以轻松看到每位KOL的表现情况，<br />谁接受了你的活动邀请触达多少观众，<br />消耗了多少预算，都在清晰的图表中。</p>
    </div>
    <div class="bd-cont">
      <div class="effc-wrap">
        <%= image_tag "page/branding-effc.png" %>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="learn-more">
      <a href="/contact" class="btn btn-line btn-big btn-blue center-block">了解更多</a>
    </div>
  </div>
</div>

<div class="section section-card section-cops">
  <div class="container">
    <div class="hd-cont">
      <h3>
        <span class="order-number"><i>04/</i></span>
        合作品牌
      </h3>
    </div>
    <div class="bd-cont">
      <div class="cops-wrap">
        <ul class="cops-ls">
          <li><%= image_tag "page/cops/cop-1.png" %></li>
          <li><%= image_tag "page/cops/cop-2.png" %></li>
          <li><%= image_tag "page/cops/cop-3.png" %></li>
          <li><%= image_tag "page/cops/cop-4.png" %></li>
          <li><%= image_tag "page/cops/cop-5.png" %></li>
          <li><%= image_tag "page/cops/cop-6.png" %></li>
          <li><%= image_tag "page/cops/cop-7.png" %></li>
          <li><%= image_tag "page/cops/cop-8.png" %></li>
          <li><%= image_tag "page/cops/cop-9.png" %></li>
          <li><%= image_tag "page/cops/cop-10.png" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<%= render :partial => "pages/partials/footer" %>
