<%
  title = "我最近发现一款每天都可以赚钱的APP，您也来试试？"
  description = "Robin8基于大数据的社交影响力平台"
  poster_url = "http://7xuw3n.com1.z0.glb.clouddn.com/logo.png?imageView2/1/w/150/h/150"
  url = request.url
  sign_package = ($weixin_client.get_jssign_package(url) rescue {})
  app_id = sign_package['appId']
  nonce = sign_package['nonceStr']
  ts = sign_package['timestamp']
  signature = sign_package['signature']
%>

<!DOCTYPE html>
<html>
  <head>
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" id="viewport"/>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="<%= description %>">
    <!-- Open Graph meta -->
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:site_name" content="Robin8" />
    <meta property="og:url" content="<%= url %>" />
    <meta property="og:image" content="<%= poster_url %>" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="150" />
    <meta property="og:image:height" content="150" />
    <!-- Wechat meta -->
    <meta property="weixin:timeline_title" content="<%= title %>" />
    <meta property="weixin:chat_title" content="<%= title %>" />
    <meta property="weixin:description" content="<%= description %>" />
    <meta property="weixin:image" content="<%= poster_url %>" />
    <%= favicon_link_tag 'favicon.ico' %>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <style>
      * {
        box-sizing: border-box;
      }
      body {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        font-size: 15px;
      }
      .bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
      }
      .container {
        display: block;
        width: 100%;
        height: 100%;
        padding: 15px;
        position: absolute;
      }
      .container:after {
        content: "";
        clear: both;
        display: block;
      }
      .logo {
        position: absolute;
        top: 45%;
        left: 50%;
        margin: -35px 0 0 -100px;
        width: 200px;
        height: 70px;
      }
      .logo img {
        width: 100%;
      }
      .ft-wrapper {
        position: fixed;
        width: 100%;
        max-width: 430px;
        height: 240px;
        bottom: 30px;
        left: 50%;
        padding: 15px;
        transform: translateX(-50%);
        -webkit-transform: -webkit-translateX(-50%);
      }
      .feature {
        width: 100%;
        height: 100%;
        background: linear-gradient(left top, #252121, #131111);
        background: -webkit-linear-gradient(left top, #252121, #131111);
        padding: 25px;
      }
      .feature h3 {
        font-size: 1.5em;
        color: #fff;
        text-align: center;
        padding: 0;
        margin: 5px 0 0;
      }
      .feature p {
        font-size: 1.2em;
        color: #939393;
        text-align: center;
        margin: 10px 0 35px 0;
      }
      .feature .btn {
        display: block;
        width: 100%;
        height: 55px;
        color: #fff;
        font-size: 1em;
        font-weight: 600;
        line-height: 60px;
        background-color: #2dcad0;
        text-align: center;
        text-decoration: none;
      }
      .feature .btn:hover {
        background-color: #10777b;
      }
    </style>

    <%= javascript_include_tag "http://res.wx.qq.com/open/js/jweixin-1.0.0.js" %>
    <script type="text/javascript">
      wx.config({
          debug: false,
          appId: '<%= app_id %>',
          timestamp: '<%= ts %>',
          nonceStr: '<%= nonce %>',
          signature: '<%= signature %>',
          jsApiList: [
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'onMenuShareQQ',
            'onMenuShareWeibo'
          ]
      });

      wx.ready(function () {
        var shareData = {
          title: '<%= title %>',
          desc: '<%= description %>',
          link: '<%= url %>',
          imgUrl: '<%= poster_url %>'
        };

        wx.onMenuShareAppMessage(shareData);
        wx.onMenuShareTimeline(shareData);
        wx.onMenuShareQQ(shareData);
        wx.onMenuShareWeibo(shareData);
      });

      wx.error(function (res) {
        console.log(res.errMsg);
      });
    </script>
  </head>
  <body>
    <div class="bg" style="background-image: url(<%= asset_url("invite-bg.jpg") %>)"></div>
    <div class="container">
      <div class="logo">
        <%= image_tag "logo-sd.png" %>
      </div>
      <div class="ft-wrapper">
        <div class="feature">
          <h3>你，比想象中更有价值</h3>
          <p>用您的社交账号赚钱</p>
          <a class="btn" href="/download_invitation?inviter_id=<%= params[:inviter_id] %>&redirect_url=http://a.app.qq.com/o/simple.jsp?pkgname=com.robin8.rb">
            测试您的社交价值
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
