<%
  title = t("invite.title")
  description = t("invite.description")
  poster_url = "http://7xuw3n.com1.z0.glb.clouddn.com/logo.png?imageView2/1/w/150/h/150"
  url = request.url
  sign_package = ($weixin_client.get_jssign_package(url) rescue {})
  app_id = sign_package['appId']
  nonce = sign_package['nonceStr']
  ts = sign_package['timestamp']
  signature = sign_package['signature']
%>

<%= stylesheet_link_tag '//cdn.bootcss.com/Swiper/4.3.0/css/swiper.min.css' %>
<%= javascript_include_tag "//res.wx.qq.com/open/js/jweixin-1.0.0.js" %>
<%= javascript_include_tag "//cdn.bootcss.com/Swiper/4.3.0/js/swiper.min.js" %>

<style>
  .page.invite-page {
    padding: 0;
    margin: 0;
    text-align: center;
    position: relative;
    height: 100vh;
  }
  .invite-container {
    width: 400px !important;
    display: inline-block;
    position: inherit;
    margin: auto;
    width: auto;
  }
</style>

<div class="page-wrapper">
  <div class="page full-page overflow-hidden invite-page">
    <div class="invite-container">
      <div class="invite-rewards">
        <h5 class="title">
          <p><%= t('invite.heading.line_1') %></p>
          <p><%= t('invite.heading.line_2') %></p>
        </h5>
        <div class="rewards-num">1,500₫</div>
      </div>
  
      <div class="ft-container">
        <div class="ft-wrapper">
          <%= form_for RegisteredInvitation.new, url: registered_invitations_path do |f| %>
            <div class="f-field">
              <!-- <span class="f-icon"><%= image_tag "message.png" %></span> -->
              <%= f.text_field :mobile_number, id: "mobileNumber", placeholder: t("invite.enter_mobile_number") %>
            </div>
            <div class="f-field f-with-req">
              <!-- <span class="f-icon"><%= image_tag "email.png" %></span> -->
              <%= f.text_field :sms_code, id: "smsCode", placeholder: t("invite.enter_verification_code") %>
              <a id="request-sms" href="javascript:void(0);" class="f-btn-req" data-remaining="<%= sms_remaining_seconds %>"><%= t('invite.get_verification_code
  ') %></a>
            </div>
            <%= f.hidden_field :invite_code, id: "inviteCode", value: params[:inviter_id] %>
            <div class="reg-bt">
              <button id="submit" type="submit"><%= t('invite.register_for_free') %></button>
            </div>
            <div class="f-error"></div>
            <div class="f-info"></div>
          <% end %>
        </div>
      </div>
  
      <div class="invite-loops-feedback">
        <div class="swiper-container" id="invite_loops_feedback">
          <div class="list swiper-wrapper">
            <div class="item swiper-slide">+843****7865 <%= t('invite.earning_money_phrase', money: '3,000') %></div>
            <div class="item swiper-slide">+119****3334 <%= t('invite.earning_money_phrase', money: '5,000') %></div>
            <div class="item swiper-slide">+188****9487 <%= t('invite.earning_money_phrase', money: '10,000') %></div>
            <div class="item swiper-slide">+846****4395 <%= t('invite.earning_money_phrase', money: '12,000') %></div>
            <div class="item swiper-slide">+843****2045 <%= t('invite.earning_money_phrase', money: '5,000') %></div>
            <div class="item swiper-slide">+869****6803 <%= t('invite.earning_money_phrase', money: '3,000') %></div>
            <div class="item swiper-slide">+803****0185 <%= t('invite.earning_money_phrase', money: '25,000') %></div>
            <div class="item swiper-slide">+118****4892 <%= t('invite.earning_money_phrase', money: '8,000') %></div>
            <div class="item swiper-slide">+115****6938 <%= t('invite.earning_money_phrase', money: '5,000') %></div>
            <div class="item swiper-slide">+188****3242 <%= t('invite.earning_money_phrase', money: '3,000') %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('title').html('<%= title %>');
  $('meta[name="description"]').attr('content', '<%= description %>');

  // Open Graph meta
  $('head').append('<meta property="og:title" content="<%= title %>" />');
  $('head').append('<meta property="og:description" content="<%= description %>" />');
  $('head').append('<meta property="og:site_name" content="Robin8" />');
  $('head').append('<meta property="og:url" content="<%= url %>" />');
  $('head').append('<meta property="og:image" content="<%= poster_url %>" />');
  $('head').append('<meta property="og:image:type" content="image/png" />');
  $('head').append('<meta property="og:image:width" content="150" />');
  $('head').append('<meta property="og:image:height" content="150" />');

  // Wechat meta
  $('head').append('<meta property="weixin:timeline_title" content="<%= title %>" />');
  $('head').append('<meta property="weixin:chat_title" content="<%= title %>" />');
  $('head').append('<meta property="weixin:description" content="<%= description %>" />');
  $('head').append('<meta property="weixin:image" content="<%= poster_url %>" />');

  // Wechat share
  wx.config({
    debug: false,
    appId: '<%= app_id %>',
    timestamp: '<%= ts %>',
    nonceStr: '<%= nonce %>',
    signature: '<%= signature %>',
    jsApiList: [
      'onMenuShareTimeline',
      'onMenuShareAppMessage',
      'onMenuShareQQ',
      'onMenuShareWeibo'
    ]
  });

  wx.ready(function () {
    var shareData = {
      title: '<%= title %>',
      desc: '<%= description %>',
      link: '<%= url %>',
      imgUrl: '<%= poster_url %>'
    };

    wx.onMenuShareAppMessage(shareData);
    wx.onMenuShareTimeline(shareData);
    wx.onMenuShareQQ(shareData);
    wx.onMenuShareWeibo(shareData);
  });

  wx.error(function (res) {
    console.log(res.errMsg);
  });

  $(document).ready(function() {
    var smsUrl = "<%= sms_registered_invitations_path %>";
    var createUrl = "<%= registered_invitations_path %>";
    var smsBtn = $("#request-sms");
    var submitBtn = $("#submit");
    var remainingNumber = smsBtn.data("remaining");
    var errorAlert = $(".f-error");
    var infoAlert = $(".f-info");

    var smsTimeCounter = (function(element) {
      var counter, countNumber;

      return {
        run: function(number) {
          if (!!counter) return;

          countNumber = number || 60;
          element.data("txt", element.html());
          element.attr('disabled', true);

          counter = setInterval(function() {
            element.html(countNumber + " (秒)");
            countNumber -= 1;
            if (countNumber < 0) {
              clearInterval(counter);
              counter = null;
              element.html(element.data("txt"));
              element.attr('disabled', false);
            }
          }, 1000);
        }
      }
    })(smsBtn);

    if (remainingNumber) {
      smsTimeCounter.run(remainingNumber);
    }

    smsBtn.click(function() {
      var mobileNumber = $("#mobileNumber").val();

      if (!!smsBtn.attr('disabled'))
          return false;

      smsBtn.attr('disabled', true);
      $.ajax({
        method: 'POST',
        url: smsUrl,
        data: {
          'mobile_number': mobileNumber
        },
        beforeSend: function(xhr){
          var token = $('meta[name="csrf-token"]').attr('content');
          xhr.setRequestHeader('X-CSRF-Token', token);
        }
      }).done(function(data){
        if (!!data.error) {
          errorAlert.html(data.error).fadeIn();
          errorAlert.delay(3000).fadeOut()
          smsBtn.attr('disabled', false);
        } else {
          infoAlert.html("<%= t('invite.sms_code_sent') %>").fadeIn();
          infoAlert.delay(3000).fadeOut()
          smsTimeCounter.run();
        }
      }).fail(function(xhr, status) {
        errorAlert.html("<%= t('invite.error_try_again') %>").fadeIn();
        errorAlert.delay(3000).fadeOut();
        smsBtn.attr('disabled', false);
      });
    });

    $("form").submit(function(event) {
      var mobileNumber = $("#mobileNumber").val();
      var inviteCode = $("#inviteCode").val();
      var smsCode = $("#smsCode").val();

      if (!!submitBtn.attr('disabled'))
          return false;

      submitBtn.attr('disabled', true);
      $.ajax({
        method: 'POST',
        url: createUrl,
        data: {
          'mobile_number': mobileNumber,
          'invite_code': inviteCode,
          'sms_code': smsCode
        },
        beforeSend: function(xhr){
          var token = $('meta[name="csrf-token"]').attr('content');
          xhr.setRequestHeader('X-CSRF-Token', token);
        }
      }).done(function(data){
        if (!!data.error) {
          errorAlert.html(data.error).fadeIn();
          errorAlert.delay(3000).fadeOut()
        } else {
          infoAlert.html("<%= t('invite.acepted_downloading') %>").fadeIn();
          infoAlert.delay(3000).fadeOut();
          window.location.href = data.url;
        }
        submitBtn.attr('disabled', false);
      }).fail(function(xhr, status) {
        errorAlert.html("<%= t('invite.error_try_again') %>").fadeIn();
        errorAlert.delay(3000).fadeOut();
        submitBtn.attr('disabled', false);
      });

      event.preventDefault();
      return false;
    });

    var invite_loops_feedback = new Swiper('#invite_loops_feedback', {
      direction: 'vertical',
      speed: 1000,
      slidesPerView: 1,
      spaceBetween: 0,
      loop: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      }
    });
  });
</script>
