<%= render :partial => "pages/partials/header" %>

<div class="hero-section kol-pg hero-bg">
  <div class="container">
    <div class="hero-left">
      <div class="hero-cont">
        <h1>
          想要更多关注，<br />获取更多赞赏？
        </h1>
        <p>Robin8-最佳个人影响力管理平台</p>
        <p># 1 InfluencerAPP in China</p>
      </div>
      <div class="hero-qrcode">
        <%= image_tag "qrcode-sm.png" %>
        <a href="#" class="btn btn-blue btn-big btn-line center-block">APP 下载</a>
        <p>领先加入Robin8</p>
      </div>
    </div>
    <div class="hero-right">
      <div class="hero-app-cal">
        <%= image_tag "page/kol-app-cal.png" %>
      </div>
    </div>
  </div>
</div>

<div class="section section-card section-cal ">
  <div class="top-bar">
    <p>Robin8 能为我做什么</p>
    <span class="arrow-down"></span>
  </div>
  <div class="container">
    <div class="hd-cont">
      <h3>
        <span class="order-number"><i>01/</i></span>
        如何衡量社交影响力？
      </h3>
      <p>影响力是指驱动别人产生行动的能力体现在社交媒体活动中可表现为点赞，转发，评论，关注等等</p>
    </div>
    <div class="bd-cont">
      <div class="cal-step-wrap">
        <div class="step step-one"><%=image_tag "page/kol-cal-1.png" %></div>
        <div class="step step-arrow"><%=image_tag "page/kol-cal-arrow.png" %></div>
        <div class="step step-two">
          <p>发现你的闪光点</p>
          <%=image_tag "page/kol-cal-2.png" %>
        </div>
        <div class="step step-cross"><%=image_tag "page/kol-cal-cross.png" %></div>
        <div class="step step-thr">
          <p>各平台任你展示</p>
          <%=image_tag "page/kol-cal-3.png" %>
        </div>
        <div class="step step-cross"><%=image_tag "page/kol-cal-cross.png" %></div>
        <div class="step step-for">
          <p>随时了解你的关注度</p>
          <%=image_tag "page/kol-cal-4.png" %>
        </div>
        <div class="step step-equal"><%=image_tag "page/kol-cal-equal.png" %></div>
        <div class="step step-fiv"><%=image_tag "page/kol-cal-5.png" %></div>
      </div>
    </div>
  </div>
</div>

<div class="section section-card section-brd">
  <div class="container">
    <div class="hd-cont">
      <h3>
        <span class="order-number"><i>02/</i></span>
        我追求，我卓越
      </h3>
      <p>自媒体时代每个人都是一个品牌，让robin8做你的企划室和精算师</p>
    </div>
    <div class="bd-cont">
      <ul class="shot-ls">
        <li>
          <h4>发现人群中特别的你</h4>
          <p>&nbsp;</p>
          <%= image_tag "page/kol-app-hm.png" %>
        </li>
        <li>
          <h4>大数据更懂你</h4>
          <p>运营社交媒体大数据 预测你的影响力</p>
          <%= image_tag "page/kol-app-me.png" %>
        </li>
        <li>
          <h4>smart is the new sexy</h4>
          <p>个性化阅读内容，汲取行业领先观点</p>
          <%= image_tag "page/kol-app-brs.png" %>
        </li>
        <li>
          <h4>为好产品好内容代言</h4>
          <p>悬赏分享 获取奖金</p>
          <%= image_tag "page/kol-app-cmp.png" %>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="section section-card section-crs">
  <div class="container">
    <div class="hd-cont">
      <h3>
        <span class="order-number"><i>03/</i></span>
        我们的故事
      </h3>
    </div>
    <div class="bd-cont">
      <div class="crs-wrap">
        <ul class="crs-ls">
          <li>
            <%= image_tag "page/crs/crs-1.png" %>
            <p>浩腾创新基金2015获胜团队揭晓，颠覆者从这里出发</p>
          </li>
          <li>
            <%= image_tag "page/crs/crs-2.png" %>
            <p>Starcom Mediawest Group 2015路演比赛冠军</p>
          </li>
          <li>
            <%= image_tag "page/crs/crs-3.png" %>
            <p>世界移动大会 2015 比赛冠军</p>
          </li>
          <li>
            <%= image_tag "page/crs/crs-4.png" %>
            <p>ChinaBang Awards 2016最佳外国人创业公司</p>
          </li>
          <li>
            <%= image_tag "page/crs/crs-5.png" %>
            <p>创新中国Demo China 2016创新之星</p>
          </li>
          <li>
            <%= image_tag "page/crs/crs-6.png" %>
            <p>直击CES Asia | 浩腾媒体与Robin8联合发布微信公众号影响力Top100消费电子 KOL榜单</p>
          </li>
          <li class="no-txt">
            <%= image_tag "page/crs/crs-7.png" %>
          </li>
          <li class="no-txt">
            <%= image_tag "page/crs/crs-8.png" %>
          </li>
          <li class="no-txt">
            <%= image_tag "page/crs/crs-9.png" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="section section-card section-invs">
  <div class="container">
    <div class="hd-cont">
      <h3>
        <span class="order-number"><i>04/</i></span>
        投资人
      </h3>
    </div>
    <div class="bd-cont">
      <div class="invs-wrap">
        <ul class="invs-ls">
          <li><%= image_tag "page/invs/invest-1.png" %></li>
          <li><%= image_tag "page/invs/invest-2.png" %></li>
          <li><%= image_tag "page/invs/invest-3.png" %></li>
          <li><%= image_tag "page/invs/invest-4.png" %></li>
          <li><%= image_tag "page/invs/invest-5.png" %></li>
          <li><%= image_tag "page/invs/invest-6.png" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<%= render :partial => "pages/partials/footer" %>
