  <header class="navbar r-site-header">
    <div class="container-fluid">
      <a href="/" class="logo">Robin8</a>
      <% if !mobile_request? %>
        <div class="navbar-action pull-right">
          <a href="#signinupModal" class="quick-login" show-after-loading="<%= params[:landing_at] == 'brand' ? true : false %>" data-toggle="modal">品牌登录&nbsp;/&nbsp;注册</a>
        </div>
      <% end %>
    </div>
  </header>
  <!-- 头部 E -->

  <div class="container">
    <div class="jumbotron-content">
      <% if mobile_request? %>
        <h1>分享是一种</h1>
        <h1>领袖精神</h1>
        <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.robin8.rb" class="btn btn-blue btn-big btn-line cneter-block download-btn" data-toggle="modal">APP下载</a>
      <% end %>
      <% if !mobile_request? %>
        <p>每一次分享都使Robin8更好的了解你的社交影响力，大数据引擎会推荐最适合你的品牌推广机会，见证你意见领袖的一面。</p>
        <p>立即成为Robin8的意见领袖</p>
        <a href="#downloadModal" class="btn btn-blue btn-big btn-line cneter-block download-btn" data-toggle="modal">APP 下载</a>
      <% end %>
    </div>
  </div>

  <div class="modal fade" id="downloadModal" show-after-loading="<%= params[:landing_at]== 'kol' ? true : false%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="modal-dialog">
      <div class="modal-body">
        <img src="http://qr.api.cli.im/qr?data=http%253A%252F%252Fa.app.qq.com%252Fo%252Fsimple.jsp%253Fpkgname%253Dcom.robin8.rb&level=Q&transparent=false&bgcolor=%23ffffff&forecolor=%23000000&blockpixel=12&marginblock=1&logourl=&size=280&kid=cliim&key=486cf3e730e344e2e7d308172073a64f">
      </div>
    </div>
  </div>

  <!-- 登录注册Modal S -->
  <div class="modal fade" id="signinupModal" tabindex="-1" data-backdrop="static">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="modal-dialog">
      <!-- 引入登录注册组件 -->
      <div class="signinup-wrap">
        <ul class="tab-menu">
          <li class="active"><a href="#signup-tab-pane" data-toggle="tab">注册</a></li>
          <li><a href="#signin-tab-pane" class="sign-in-tab" data-toggle="tab">登录</a></li>
        </ul>
        <div class="tab-content">
          <!-- 注册 S -->
          <div id="signup-tab-pane" class="tab-pane fade in active">
            <%= form_tag('/users/new', method: 'post', remote: true) do %>
              <div class="form-group">
                <i class="icon-brand"></i>
                <label>品牌名称</label>
                <input type="text" class="form-control" name='user[name]' placeholder="品牌名称" required>

              </div>
              <div class="form-group">
                <i class="icon-mobile"></i>
                <label>手机</label>
                <input type="text" class="form-control brand_mobile_number" name='user[mobile_number]' placeholder="输入您的手机" required>

              </div>
              <div class="form-group verify_code_group">
                <i class="icon-verify"></i>
                <label>验证码</label>
                <input type="text" class="form-control verify_code" name='user[verify_code]' placeholder="输入验证码" required>
                <div class="verify_code_block">
                  <button type='button' class='send_verify_code'>获取验证码</button>
                </div>

              </div>
              <div class="form-group password-group">
                <i class="icon-pwd"></i>
                <label>密码</label>
                <input type="password" class="form-control" name='user[password]' placeholder="设置您的密码" required>
              </div>
              <div class="tips">
                <p class='phone-number-error  error help-block'>手机号码格式错误!!</p>
                <p class='tipsFailed error help-block'></p>
                <p class='tipsSuccess help-block'>注册成功，正在跳转...</p>
              </div>

              <button type="submit" class="btn btn-blue btn-block">注册</button>

              <p class='help-block service-tip'>
                注册即视为同意Robin8的<a href='/terms'>服务条款</a>
              </p>
            <% end %>
          </div>
          <!-- 注册 E -->

          <!-- 登录 S -->
          <div id="signin-tab-pane" class="tab-pane fade">
            <%= form_tag('/users/sign_in', method: 'post', remote: true) do %>
            <div class="form-group">
              <i class="icon-mobile"></i>
              <label for='user[login]'>手机号</label>
              <input type="text" class="form-control" name='user[login]' placeholder="手机号码/邮箱" required>
            </div>
            <div class="form-group login-password">
              <i class="icon-pwd"></i>
              <label for='user[password]'>密码</label>
              <input type="password" class="form-control" name='user[password]' placeholder="密码" required>
              <div class="forget-password-block">
                <button type='button' class='forget-password-btn'>忘记密码</button>
              </div>
            </div>
            <div class="loginTips">
              <p class='tipsFailed help-block'>
                用户名或密码错误，请重新尝试
              </p>
              <p class='tipsSuccess help-block'>
                登录成功，正在跳转...
              </p>
            </div>
            <button type="submit" class="btn btn-blue btn-block">登录</button>
            <% end %>
          </div>
          <!-- 登录 E -->



          <!-- 第三方登录注册 S -->
          <div class="social-binding">

          </div>
          <!-- 第三方登录注册 S -->
        </div>
      </div>
  <!-- 登录注册组件 E -->
    </div>
  </div>
  <!-- 登录注册Modal E -->



  <!-- 忘记密码Modal S -->
  <div class="modal fade" id="forget-password-modal" tabindex="-1" data-backdrop="static">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="modal-dialog">
      <!-- 引入忘记密码组件 -->
      <div class="forget-password-wrap">
        <h3>重设密码</h3>
        <div class="tab-content">
          <div id="forget-password-tab-pane" class="tab-pane fade in active">
            <%= form_tag('/users/modify_password', method: 'post', remote: true) do %>
              <div class="form-group">
                <i class="icon-mobile"></i>
                <label>手机</label>
                <input type="text" class="form-control forget-password-brand-mobile-number" name='user[mobile_number]' placeholder="输入您的手机" required>

              </div>
              <div class="form-group verify_code_group">
                <i class="icon-verify"></i>
                <label>验证码</label>
                <input type="text" class="form-control verify_code" name='user[verify_code]' placeholder="输入验证码" required>
                <div class="verify_code_block">
                  <button type='button' class='send-forget-password-verify-code'>获取验证码</button>
                </div>

              </div>
              <div class="form-group password-group">
                <i class="icon-pwd"></i>
                <label>密码</label>
                <input type="password" class="form-control" name='user[password]' placeholder="设置新密码" required>
              </div>
              <div class="tips">
                <p class='phone-number-error  error help-block'>手机号码格式错误!!</p>
                <p class='no-phone-number  error help-block'>此用户未注册，请检查手机号码是否正确!!</p>
                <p class='tipsFailed error help-block'></p>
                <p class='tipsSuccess help-block'>密码修改成功，正在跳转...</p>
              </div>

              <button type="submit" class="btn btn-blue btn-block">完成</button>
            <% end %>
          </div>
        </div>
      </div>
  <!-- 忘记密码 E -->
    </div>
  </div>
  <!-- 忘记密码Modal E -->

  <!-- Small modal -->
  <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button> -->

  <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <a class='close'>
          <%= image_tag('register_verification_close_button.png') %>
        </a>

        <p>
          请输入图形验证码！
        </p>

        <div class="clearfix">
          <%= rucaptcha_input_tag(class: 'form-control rucaptcha_input', placeholder: '图片验证码') %>

          <%= rucaptcha_image_tag(alt: 'Captcha', :class => "rucaptcha_tag") %>

          <span class='rucaptcha_tips'>
            <p>看不清楚?</p>
            <p>点击图片更换</p>
          </span>

        </div>

        <br/>

        <a class='rucaptcha_ok'>确定</a>

        <section class='tips'>
          <p class='not_unique_number'><%= "手机号码已存在" %></p>
          <p class='mobile_numer_is_blank'><%= "请输入正确格式的手机号码" %></p>
          <p class=rucaptcha_not_right><%= "图片验证码不正确" %></p>
          <p class='send_sms_failed'><%= "验证码发送失败, 请稍后再试" %></p>
          <p class='send_sms_success'><%= "验证码发送成功" %></p>
        </section>
      </div>
    </div>
  </div>


  <div class="modal fade forget-password-rucaptcha-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <a class='close'>
          <%= image_tag('register_verification_close_button.png') %>
        </a>

        <p>
          请输入图形验证码！
        </p>

        <div class="clearfix">
          <%= rucaptcha_input_tag(class: 'form-control forget-password-rucaptcha-input', placeholder: '图片验证码') %>

          <%= rucaptcha_image_tag(alt: 'Captcha', :class => "rucaptcha_tag") %>

          <span class='rucaptcha_tips'>
            <p>看不清楚?</p>
            <p>点击图片更换</p>
          </span>

        </div>

        <br/>

        <a class='forget-password-rucaptcha-ok'>确定</a>

        <section class='tips'>
          <p class='no_user'><%= "此用户未注册，请检查手机号码是否正确!!" %></p>
          <p class='mobile_numer_is_blank'><%= "请输入正确格式的手机号码" %></p>
          <p class=rucaptcha_not_right><%= "图片验证码不正确" %></p>
          <p class='send_sms_failed'><%= "验证码发送失败, 请稍后再试" %></p>
          <p class='send_sms_success'><%= "验证码发送成功" %></p>
        </section>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    if($("#downloadModal").attr("show-after-loading") == 'true'){
      $("#downloadModal").modal('show');
    }
    if($('.quick-login').attr("show-after-loading") == 'true'){
      $(".quick-login").click()
    }
  </script>
