<header class="homeheader sizeheader">
  <%= render :partial => 'pages/partials/menu' %>
  <div class="row">
    <div class="large-12 columns" style='position: relative;'>
      <h1 class="logo" style="margin-top: 194px;">
        <a href="/"><%= @l.t('header.title') %></a>
      </h1>
      <h2 class="title_landing"><%= @l.t('landing_page.title_landing') %></h2>

      <div class="social-list">

        <div class="small-12 columns social-login">
          <a href="/users/auth/weibo?provider=weibo" class="social btn btn-weibo"><i class="fa fa-weibo"></i> <span><%= @l.t("login.use_weibo") %></span></a>
        </div>
    
        <div class="small-12 columns social-login">
          <a href="/users/auth/wechat?provider=wechat" class="social btn btn-wechat"><i class="fa fa-wechat"></i> <span><%= @l.t("login.use_weichat") %></span></a>
        </div>
    
        <div class="small-12 columns social-login">
          <a href="/users/auth/wechat_third?provider=wechat_third" class="social btn btn-wechat"><i class="fa fa-wechat"></i> <span><%= @l.t("login.use_weichat_third") %></span></a>
        </div>
        <a href="/kols/new" class="sign_up_with_email"><%= @l.t("login.use_email") %></a>
      </div>

    </div>
  </div>
</header>

<div class="screenpane">
  <div class="row">

    <div>
      <h2><%= @l.t('landing_page.text17') %></h2>
      <div class="small-12 medium-7 large-6 center">
        <div class='embed-container'>
          <%= image_tag "landingpage_kol.png" %>
      </div>
    </div>
      
    </div>
  </div>
</div>

<div class="prsteps">
  <div class="row ">
    <div class="small-12 columns">
      <h2><%= @l.t('landing_page.text19') %></h2>
    </div>
  </div>
  <div class="row ">
    <div class="medium-3 columns pr-types">
      <div class="icon-wrap">
        <div class="icon-img">
          <%= image_tag "icon_register.png" %>
        </div>
      </div>
      <div class="pr-content">
        <h3><%= @l.t('landing_page.register') %></h3>
      </div>
    </div>
    <div class="medium-3 columns pr-types">
      <div class="icon-wrap">
        <div class="icon-img">
          <%= image_tag "icon-social-small.png" %>
        </div>
      </div>
      <div class="pr-content">
        <h3><%= @l.t('landing_page.social') %></h3>
      </div>
    </div>
    <div class="medium-3 columns pr-types">
      <div class="icon-wrap">
        <div class="icon-img">
          <%= image_tag "icon-score.png" %>
        </div>
      </div>
      <div class="pr-content">
        <h3><%= @l.t('landing_page.score') %></h3>
      </div>
    </div>
    <div class="medium-3 columns pr-types">
      <div class="icon-wrap">
        <div class="icon-img">
          <%= image_tag "icon-monetize-small.png" %>
        </div>
      </div>
      <div class="pr-content">
        <h3><%= @l.t('landing_page.monetize') %></h3>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="small-12 columns">
      <p><%= @l.t('landing_page.text11') %></p>
    </div>
  </div>

</div>

<div class="partner">
  <div class="container">
    <ul class='clearfix'>
      <li class='first_line li1'>
        <div class="img_containier"></div>
        <p><%= @l.t('landing_page.chinaccelerator') %></p>    </li>
      <li class='first_line li2'>
        <div class="img_containier"></div>
        <p><%= @l.t('landing_page.smg') %></p>   
      </li>
      <li class='first_line li3'>
        <div class="img_containier"></div>
        <p><%= @l.t('landing_page.mwc') %></p>
      </li>
      <li class='second_line li4'>
        <div class="img_containier"></div>
        <p><%= @l.t('landing_page.technode') %></p>
        <a class="read_more" href="http://technode.com/2015/06/05/female-founders-takes-the-lead-at-chinaccelerator-demo-day/#.VXX5i1HKgjw.facebook" target="_blank"><span class="label"><%= @l.t("landing_page.read_more") %></span></a>
      </li>
      <li class='second_line li5'>
        <div class="img_containier"></div>
        <p><%= @l.t('landing_page.techinasia') %></p>
        <a class="read_more" href="https://www.techinasia.com/chinaccelerator-7th-batch-startups/" target="_blank"><span class="label"><%= @l.t("landing_page.read_more") %></span></a>
      </li>
      <li class='second_line li6'>
        <div class="img_containier"></div>
        <p><%= @l.t('landing_page.omd') %></p>
        <a class="read_more_3" href="http://mp.weixin.qq.com/s?__biz=MzAwMDM5ODM1MQ==&mid=207052870&idx=1&sn=ffa67196a951f0cf82d10a18efeab4ee&scene=1&srcid=1013ZG5ZCHyvA8h7rqVVtXjn&key=b410d3164f5f798e0ef03c9f9834310f510e0ef5cdb78350c655910c26b86f0dc79ad43d61b0875ad6effd889ca5e974&ascene=1&uin=MTU3MjQwNDcyMA%3D%3D&devicetype=Windows+8&version=61050016&pass_ticket=5epe4WzCev7X6VAiPsg63mNE7a2jejgDtpLrxMNIFvJUEMsP47qmlF%2FzIlGxjR7v" target="_blank"><span class="label"><%= @l.t("landing_page.read_more") %></span></a>
      </li>
    </ul>
  </div>
</div>



<div class="ft-lead">
  <div class="row">
    <div class="large-12 columns">
      <h2><%= @l.t('landing_page.text9') %></h2>
      <a class="button button-signup" href="/kols/new"><%= @l.t('landing_page.register_text') %></a>
    </div>
  </div>
</div>

<footer>
  <div class="row">
    <div class="small-12 medium-3 columns ft-logo right">
      <%= image_tag 'ROBIN8-logo.png' %>
    </div>
    <div class="small-12 medium-12 columns left">
      &copy;<%= @l.t('footer.right_reserved') %> <br class="show-for-medium-only" /> <a href="/about" class="ft-link privacy"><%= @l.t('footer.about') %></a> <a href="/team" class="ft-link privacy"><%= @l.t('footer.team') %></a> <a href="/contact" class="ft-link privacy"><%= @l.t('footer.contact') %></a> <a  href="/terms" class="ft-link privacy"><%= @l.t('footer.privacy_and_terms') %> </a>
    </div>
  </div>
</footer>
