<header class="homeheader sizeheader">
  <div class="nav fixed">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li><a class="logo" href="/"><%= @l.t('header.title') %></a></li>
        <li class="toggle-topbar menu-icon">
          <a href="#"><span><%= @l.t('header.menu') %></span></a>
        </li>
      </ul>
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <% if not Rails.env.production? || Rails.application.config.china_instance %>
            <li><%= link_to root_path(locale: :en), class: 'ft-link privacy' do %>
              <%= image_tag asset_path('us-flag-icon.png'), height: 13, title: 'landing_page.english_locale' %>
            <% end %></li>
            <li><%= link_to root_path(locale: :zh), class: 'ft-link privacy' do %>
              <%= image_tag asset_path('china-flag-icon.png'), height: 13, title: 'landing_page.chinese_locale' %>
            <% end %></li>
          <% end %>
          <li><a href="/home" class="advertisers_link"><%= @l.t('header.advertisers') %></a></li>
          <li><a href="/signin"><%= @l.t('header.log_in') %></a></li>
        </ul>
      </section>
    </nav>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <h1 class="logo" style="margin-top: 194px;">
        <a href="/"><%= @l.t('header.title') %></a>
      </h1>
      <h2><%= @l.t('landing_page.title_landing') %></h2>
      <div class="small-12 medium-12 large-12 columns">
        <a class="button button-signup kols_register_button" href="/kols/new"><%= @l.t('landing_page.register_text') %></a>
      </div>
    </div>
  </div>
</header>

<div class="screenpane">
  <div class="row">

    <div>
      <h2><%= @l.t('landing_page.text17') %></h2>
      <div class="small-12 medium-7 large-6 center">
        <style>.embed-container { position: relative; padding-bottom: 56.25% !important; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'>
        <%=raw @video%>
      </div>
    </div>
      <p class="register" ><%= @l.t('landing_page.text18') %> <a href="/kols/new"><%= @l.t('landing_page.text16') %></a></p>
      <p><%= @l.t('landing_page.text10') %></p>
      <p class="btn"><a class="button button-signup" href="/kols/new"><%= @l.t('landing_page.register_text') %></a></p>
    </div>
  </div>
</div>

<div class="prsteps">
  <div class="row ">
    <div class="small-12 columns">
      <h2><%= @l.t('landing_page.text19') %></h2>
    </div>
  </div>
  <div class="row ">
    <div class="medium-3 columns pr-types">
      <div class="icon-wrap">
        <div class="icon-img">
          <%= image_tag "icon_register.png" %>
        </div>
      </div>
      <div class="pr-content">
        <h3><%= @l.t('landing_page.register') %></h3>
      </div>
    </div>
    <div class="medium-3 columns pr-types">
      <div class="icon-wrap">
        <div class="icon-img">
          <%= image_tag "icon-social-small.png" %>
        </div>
      </div>
      <div class="pr-content">
        <h3><%= @l.t('landing_page.social') %></h3>
      </div>
    </div>
    <div class="medium-3 columns pr-types">
      <div class="icon-wrap">
        <div class="icon-img">
          <%= image_tag "icon-score.png" %>
        </div>
      </div>
      <div class="pr-content">
        <h3><%= @l.t('landing_page.score') %></h3>
      </div>
    </div>
    <div class="medium-3 columns pr-types">
      <div class="icon-wrap">
        <div class="icon-img">
          <%= image_tag "icon-monetize-small.png" %>
        </div>
      </div>
      <div class="pr-content">
        <h3><%= @l.t('landing_page.monetize') %></h3>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="small-12 columns">
      <p><%= @l.t('landing_page.text11') %></p>
    </div>
  </div>
</div>
<div class="bgpane-image"></div>
<div class="bgpane-title">
  <h2><%= @l.t('landing_page.welcome') %></h2>
</div>
<div class="sizeheader bgpane"></div>
<div class="row whatwedo-title">
  <h2><%= @l.t('landing_page.text5') %></h2>
</div>
<div class="whatwedo">
  <div class="row">
    <div class="large-12 columns">
      <div class="row">
        <p><span class="icon-img-wrap left"><%= image_tag 'icon-calculate.png', class: 'icon-left' %></span><%= @l.t('landing_page.text12') %></p>
      </div>
      <div class="row">
        <p><span class="icon-img-wrap left"><%= image_tag 'icon-increase_influence.png', class: 'icon-left' %></span><%= @l.t('landing_page.text13') %></p>
      </div>
      <div class="row">
        <p><span class="icon-img-wrap left"><%= image_tag 'icon-machine_learning.png', class: 'icon-left' %></span><%= @l.t('landing_page.text20') %></p>
      </div>
      <div class="row">
        <p><span class="icon-img-wrap left"><%= image_tag 'icon-monetize.png', class: 'icon-left' %></span><%= @l.t('landing_page.text15') %></p>
      </div>
    </div>
  </div>
</div>



<div class="ft-lead">
  <div class="row">
    <div class="large-12 columns">
      <h2><%= @l.t('landing_page.text9') %></h2>
      <a class="button button-signup" href="/kols/new"><%= @l.t('landing_page.register_text') %></a>
    </div>
  </div>
</div>

<footer>
  <div class="row">
    <div class="small-12 medium-3 columns ft-logo right">
      <%= image_tag 'ROBIN8-logo.png' %>
    </div>
    <div class="small-12 medium-12 columns left">
      &copy;<%= @l.t('footer.right_reserved') %> <br class="show-for-medium-only" /> <a href="/about" class="ft-link privacy"><%= @l.t('footer.about') %></a> <a href="/team" class="ft-link privacy"><%= @l.t('footer.team') %></a> <a href="/contact" class="ft-link privacy"><%= @l.t('footer.contact') %></a> <a  href="/terms" class="ft-link privacy"><%= @l.t('footer.privacy_and_terms') %> </a>
      <% if not Rails.env.production? || Rails.application.config.china_instance %>
        <%= link_to root_path(locale: :en), class: 'ft-link privacy' do %>
          <%= image_tag asset_path('us-flag-icon.png'), height: 13, title: 'Switch to Chinese locale' %>
        <% end %>
        <%= link_to root_path(locale: :zh), class: 'ft-link privacy' do %>
          <%= image_tag asset_path('china-flag-icon.png'), height: 13, title: 'Switch to Chinese locale' %>
        <% end %>
      <% end %>
    </div>
  </div>
</footer>
