<header class="homeheader sizeheader">
  <div class="nav fixed">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li><a class="logo" href="/">Robin8</a></li>
        <li class="toggle-topbar menu-icon">
          <a href="#"><span>Menu</span></a>
        </li>
      </ul>
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li><a href="http://try.myprgenie.com/robin" target="_blank">Demo</a></li>
          <li><a href="/pricing">Pricing</a></li>
          <li><a href="/signin">Log In</a></li>
          <li class="signup-nav"><a href="/users/new">Sign Up</a></li>
        </ul>
      </section>
    </nav>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <h1 class="logo" style="margin-top: 194px;">
        <a href="/">Robin8</a>
      </h1>
      <h2>Next generation social and content marketing platform <br> powered by artificial intelligence</h2>
      <!-- <a class="button button-signup" href="/signin">Sign In</a> -->
      <a class="button button-signup" href="/users/new">Sign Up</a>
    </div>
  </div>
  <a class="learn-more">Learn More</a>
</header>

<div class="screenpane">
  <div class="row">

    <div class="small-12 medium-5 large-6  columns left">
      <h2>ROBIN8 makes reaching out to reporters and influencers effortless and effective.</h2>
      <p>We’re changing the face of PR with technology that’s been years in the making. Predict the success of every pitch you make to a reporter by knowing with confidence they will share your content. It’s simply intelligent.</p>
      <p><a class="button button-signup" href="/users/new">Sign Up</a></p>
    </div>
    <div class="small-12 medium-7  large-6  columns videoembedsection right">
      <style>.embed-container { position: relative; padding-bottom: 56.25% !important; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'>
      <%=raw @video%>
    </div>
    </div>
  </div>
</div>

<div class="prsteps">
  <div class="row ">
    <div class="small-12 columns">
      <h2>Take the guesswork out of social and content marketing</h2>
      <p>ROBIN8 is constantly tracking and analyzing data from the billions of articles that are released every day to create the ultimate curated database of influencers. By understanding the nuances behind every influencer and their interests, we can help make PR a simple four step process every time. </p>
    </div>
  </div>
  <div class="row ">
    <div class="medium-3 columns pr-types">
      <div class="icon-wrap">
        <div class="icon-img">
          <%= image_tag "icon-upload.png" %>
        </div>
      </div>
      <div class="pr-content">
        <h3>Upload</h3>
        <p>Upload your press release or content and watch it get analyzed in seconds.</p>
      </div>
    </div>
    <div class="medium-3 columns pr-types">
      <div class="icon-wrap">
        <div class="icon-img">
          <%= image_tag "icon-target.png" %>
        </div>
      </div>
      <div class="pr-content">
        <h3>Target</h3>
        <p>Select from the list of influencers Robin8 intelligently recommends in one click.</p>
      </div>
    </div>
    <div class="medium-3 columns pr-types">
      <div class="icon-wrap">
        <div class="icon-img">
          <%= image_tag "icon-track.png" %>
        </div>
      </div>
      <div class="pr-content">
        <h3>Track</h3>
        <p>Track your results through our robust analytic dashboard and use our media intelligence to keep abreast of the latest news.</p>
      </div>
    </div>
    <div class="medium-3 columns pr-types">
      <div class="icon-wrap">
        <div class="icon-img">
          <%= image_tag "icon-recommend.png" %>
        </div>
      </div>
      <div class="pr-content">
        <h3>Recommend</h3>
        <p>Influencers are curated and content is personalized to you. The Robin8 recommendation engine gets smarter every time you use it.</p>
      </div>
    </div>
  </div>
</div>

<div class="sizeheader bgpane">

</div>

<div class="whatwedo">
  <div class="row">
    <div class="large-12 columns">
      <h2>What can ROBIN8 do for you?</h2>
      <p><span class="icon-img-wrap left">
      <%= image_tag 'icon-time.png', class: 'icon-left' %></span> Spend less time doing database and research work and instead focus your efforts on actual pitches, contacts, planning, and content creation.</p>
      <p><span class="icon-img-wrap left">
      <%= image_tag 'icon-machine.png', class: 'icon-left' %></span> Uses algorithms and machine-learning technology to adapt PR recommendations and content personalized to you.</p>
      <p><span class="icon-img-wrap left">
      <%= image_tag 'icon-return.png', class: 'icon-left' %></span> Achieve a higher return on your marketing spend thanks to better earned media results.</p>

    </div>
  </div>
</div>



<div class="ft-lead">
  <div class="row">
    <div class="large-12 columns">
      <h2>Ready to see the world acording to ROBIN8?</h2>
      <a class="button button-signup" href="/users/new">Sign Up</a>
    </div>
  </div>
</div>

<footer>
  <div class="row">
    <div class="small-12 medium-3 columns ft-logo right">
      <%= image_tag 'ROBIN8-logo.png' %>
    </div>
    <div class="small-12 medium-9 columns left">
      &copy;2015 Robin8 Inc. All rights reserved. <br class="show-for-medium-only" /> <a href="/about" class="ft-link privacy">About</a> <a href="/team" class="ft-link privacy">Team</a> <a href="/contact" class="ft-link privacy">Contact</a> <a  href="/terms" class="ft-link privacy">Privacy &amp; Terms</a>
    </div>
  </div>
</footer>
