<nav class="navbar">
  <div class="user-pannel">
    <div class="container">
      <span class="service-no" style="float: right">客服热线: 400-017-1886</span>
    </div>
  </div>
  <div class="navbar-header">
    <div class="container">
      <div class="logo">
        <%= image_tag('robin8-fixedlogo.png') %>
      </div>
      <div class="nav-item">
        <ul class="nav navbar-nav">
        </ul>
      </div>
    </div>
  </div>

</nav>

<div style="border-bottom: 2px solid #ff6700"></div>

<div class="page-main">
  <div class="container confirm-box">
    <form target="_blank" action="#" id="J_payForm" method="post">
      <div class="section section-order">
        <div class="order-info clearfix">
            <div class="fl">
                <h2 class="title">订单提交成功！去付款咯～</h2>
                <p class="order-time" id="J_deliverDesc">请尽快支付，即可享受会员服务 <span class="beta">Beta</span></p>
                <p class="order-time">请在<span class="pay-time-tip">2小时0分</span>内完成支付, 超时后将取消订单</p>
                <p class="post-info" id="J_postInfo">
                </p>
            </div>
            <div class="fr">
              <p class="total">
                  应付总额：<span class="money"><em><%= @price %></em>元</span>
              </p>
            </div>
        </div>
        <i class="iconfont icon-right">√</i>
      </div>
      <div class="section section-payment">
          <div class="cash-title" id="J_cashTitle">
                                  选择以下支付方式付款
                              </div>

          <div class="payment-box">
              <div class="payment-header clearfix">
                  <h3 class="title">支付平台</h3>
                  <span class="desc">（大额支付推荐使用支付宝）</span>
              </div>
              <div class="payment-body">
                <ul class="clearfix payment-list J_paymentList J_linksign-customize">
                  <li class="J_bank selected" data-stat-id="ecb19ebff89bfe8d" onclick="_msq.push([&#39;trackEvent&#39;, &#39;192fa45feb8511c1-ecb19ebff89bfe8d&#39;, &#39;&#39;, &#39;pcpid&#39;]);">
                    <input type="radio" name="payOnlineBank" id="alipay" value="alipay">
                    <%= image_tag('temp_alipay_image/payOnline_zfb.png', :style => 'margin-left: 0;') %>
                  </li>
                  <li class="J_bank" data-stat-id="697962cd4871b27e" onclick="_msq.push([&#39;trackEvent&#39;, &#39;192fa45feb8511c1-697962cd4871b27e&#39;, &#39;&#39;, &#39;pcpid&#39;]);">
                    <input type="radio" name="payOnlineBank" id="unionpay" value="unionpay">
                    <%= image_tag('temp_alipay_image/unionpay.png', :style => 'margin-left: 0;') %>
                  </li>
                  <li class="J_bank" data-stat-id="f8ac83d702a1fcfd" onclick="_msq.push([&#39;trackEvent&#39;, &#39;192fa45feb8511c1-f8ac83d702a1fcfd&#39;, &#39;&#39;, &#39;pcpid&#39;]);">
                    <input type="radio" name="payOnlineBank" id="cft" value="cft">
                    <%= image_tag('temp_alipay_image/cft.png', :style => 'margin-left: 0;') %>
                  </li>
                </ul>
              </div>
          </div>

          <div class="payment-box ">
              <div class="payment-header clearfix">
                  <h3 class="title">银行借记卡及信用卡</h3>
              </div>
              <div class="payment-body">
                  <ul class="clearfix payment-list payment-list-much J_paymentList J_linksign-customize">
                      <li class="J_bank" data-stat-id="ab154aed085947cf" onclick="_msq.push([&#39;trackEvent&#39;, &#39;192fa45feb8511c1-ab154aed085947cf&#39;, &#39;&#39;, &#39;pcpid&#39;]);">
                        <input type="radio" name="payOnlineBank" id="CMB" value="CMB">
                        <%= image_tag('temp_alipay_image/payOnline_zsyh.png') %>
                      </li>
                      <li class="J_bank" data-stat-id="7998330cbb62eecb" onclick="_msq.push([&#39;trackEvent&#39;, &#39;192fa45feb8511c1-7998330cbb62eecb&#39;, &#39;&#39;, &#39;pcpid&#39;]);">
                        <input type="radio" name="payOnlineBank" id="ICBCB2C" value="ICBCB2C">
                        <%= image_tag('temp_alipay_image/payOnline_gsyh.png') %>
                      </li>
                      <li class="J_bank" data-stat-id="0ca03e76abb984c8" onclick="_msq.push([&#39;trackEvent&#39;, &#39;192fa45feb8511c1-0ca03e76abb984c8&#39;, &#39;&#39;, &#39;pcpid&#39;]);">
                        <input type="radio" name="payOnlineBank" id="CCB" value="CCB">
                        <%= image_tag('temp_alipay_image/payOnline_jsyh.png') %>
                      </li>
                      <li class="J_bank" data-stat-id="06de530039da8b38" onclick="_msq.push([&#39;trackEvent&#39;, &#39;192fa45feb8511c1-06de530039da8b38&#39;, &#39;&#39;, &#39;pcpid&#39;]);">
                        <input type="radio" name="payOnlineBank" id="ABC" value="ABC">
                        <%= image_tag('temp_alipay_image/payOnline_nyyh.png') %>
                      </li>
                      <li class="J_bank" data-stat-id="8656db966e93f938" onclick="_msq.push([&#39;trackEvent&#39;, &#39;192fa45feb8511c1-8656db966e93f938&#39;, &#39;&#39;, &#39;pcpid&#39;]);">
                        <input type="radio" name="payOnlineBank" id="COMM" value="COMM">
                        <%= image_tag('temp_alipay_image/payOnline_jtyh.png') %>
                      </li>
                      <li class="J_bank" data-stat-id="248651d06000e2a7" onclick="_msq.push([&#39;trackEvent&#39;, &#39;192fa45feb8511c1-248651d06000e2a7&#39;, &#39;&#39;, &#39;pcpid&#39;]);">
                        <input type="radio" name="payOnlineBank" id="PSBC-DEBIT" value="PSBC-DEBIT">
                        <%= image_tag('temp_alipay_image/payOnline_youzheng.png') %>
                      </li>
                      <li class="J_bank" data-stat-id="8fa40e5ac268b29e" onclick="_msq.push([&#39;trackEvent&#39;, &#39;192fa45feb8511c1-8fa40e5ac268b29e&#39;, &#39;&#39;, &#39;pcpid&#39;]);">
                        <input type="radio" name="payOnlineBank" id="GDB" value="GDB">
                        <%= image_tag('temp_alipay_image/payOnline_gfyh.png') %>
                      </li>
                      <li class="J_bank" data-stat-id="ab2fd7c15b466ad2" onclick="_msq.push([&#39;trackEvent&#39;, &#39;192fa45feb8511c1-ab2fd7c15b466ad2&#39;, &#39;&#39;, &#39;pcpid&#39;]);">
                        <input type="radio" name="payOnlineBank" id="SPDB" value="SPDB">
                        <%= image_tag('temp_alipay_image/payOnline_pufa.png') %>
                      </li>
                      <li class="J_bank" data-stat-id="a3c47799e97d470d" onclick="_msq.push([&#39;trackEvent&#39;, &#39;192fa45feb8511c1-a3c47799e97d470d&#39;, &#39;&#39;, &#39;pcpid&#39;]);">
                        <input type="radio" name="payOnlineBank" id="CEBBANK" value="CEBBANK">
                        <%= image_tag('temp_alipay_image/payOnline_gdyh.png') %>
                      </li>
                      <li class="J_bank" data-stat-id="56565ba582001f90" onclick="_msq.push([&#39;trackEvent&#39;, &#39;192fa45feb8511c1-56565ba582001f90&#39;, &#39;&#39;, &#39;pcpid&#39;]);">
                        <input type="radio" name="payOnlineBank" id="SPABANK" value="SPABANK">
                        <%= image_tag('temp_alipay_image/payOnline_payh.png') %>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
    </form>
  </div>
</div>

<style>

  .logo {
    float: left;
    margin-left: -373px;
  }

  .logo img {
    height: 30px;
    margin-top: 15px;
    margin-left: 254px;
  }

  .buy{
    width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
    overflow: auto;
    margin-bottom: 40px;
  }

  .buy1{
    width: 320px;
    float: left;
    padding-right: 20px;
    position: relative;
  }

  .buy1:last-child{
    padding-right: 0px;
  }

  .buy1 div{
    text-align: center;
    margin: 0 108px;
    padding: 13px 24px;
    border-radius:3px ;
    font-size: 14px;
    background: #3c96ff;
    color: white;
  }

  .buy-btn{
    position: absolute;
    bottom: 30px;
    cursor: pointer;
  }

  .navbar-header {
    float: none !important;
  }

  .navbar .user-pannel {
    height: 33px;
    line-height: 33px;
    color: #a1aab2;
    text-decoration: none;
    font-size: 13px;
    border-bottom: 1px solid #e6ecf2;
  }

  .navbar .navbar-nav {
    margin-left: 250px;
    margin-top: 3px;
  }

  .page-main{padding:38px 0}
  .section{padding:30px 48px;margin-bottom:30px;background-color:#fff;color:#424242}
  .section h2,.section h3,.section p,.section li{margin:0;padding:0}
  .section ul,.section li{list-style:none}
  .money{color:#ff6700;font-size:14px}
  .money em{font-style:normal;font-size:24px}
  .section-order{padding-left:183px;position:relative}
  .section-order .icon-right{width:112px;height:112px;line-height:90px;position:absolute;top:30px;left:50px;font-size:80px;color:#83c44e;text-align:center;border:2px solid #83c44e;border-radius:58px;overflow:hidden;_zoom:1}
  .order-info .fl{float:left}.order-info .fr{float:right;text-align:right}.order-info .title{margin-bottom:10px;font-size:24px;font-weight:normal;line-height:36px}
  .order-info .order-time{color:#616161;margin-bottom:5px;line-height:2}.order-info .order-time span{margin:0 5px;color:#ff6700}
  .order-info .order-time .beta{cursor:pointer;color:#b0b0b0}
  .order-info .post-info{color:#616161;-webkit-transition:height
  .3s ease;transition:height .3s ease}
  .order-info .post-info-hide{visibility:hidden}.order-info
  .total{margin-bottom:10px;color:#757575}
  .order-info .show-detail .iconfont{font-size:24px;vertical-align:middle;position:relative;top:-2px}.order-detail{display:none;margin-top:10px;padding-top:20px;border-top:1px solid #e0e0e0}.order-detail ul{padding:0}.order-detail li{line-height:24px;margin-bottom:8px;color:#333}.order-detail .label{float:left;width:85px}.order-detail .content{float:left}.order-detail .order-num{color:#ff6700}.payment-box{margin-bottom:30px}.payment-box .payment-header{margin-bottom:15px}.payment-box .payment-header .title{float:left;font-size:16px;color:#616161}.payment-box .payment-header .desc{float:left;margin-left:10px;margin-top:6px;font-size:12px;color:#b0b0b0}.payment-box-last{margin-bottom:0}.cash-title{height:50px;margin-bottom:30px;border-bottom:1px solid #e0e0e0;font-size:18px}.cash-title .money{margin-left:10px}.cash-title .no-selected{display:block}.cash-title .is-selected{display:none}.cash-title-selected .no-selected{display:none}.cash-title-selected .is-selected{display:block}.payment-list{margin:0 0 0 -14px;padding:0;overflow:hidden;_zoom:1}.payment-list li{float:left;width:174px;height:60px;line-height:60px;margin-left:14px;margin-bottom:14px;border:1px solid #e0e0e0;text-align:center;cursor:pointer;overflow:hidden;_zoom:1;-webkit-transition:all .4s;transition:all .4s}.payment-list li:hover{border-color:#ff6700}.payment-list li input{display:none}.payment-list li img{cursor:pointer;margin-left:-10px}.payment-list .tab-active:hover{border-color:#e0e0e0;border-bottom-color:#fff}.payment-list .selected{border-color:#ff6700}.section-installment .payment-box{margin-bottom:0}.section-installment .payment-list{margin-bottom:-1px}.section-installment .tab-active{margin-bottom:0;height:74px;background-color:#fff;border-bottom-color:#fff}.isinstalment-box{overflow:hidden;_zoom:1}.isinstalment-box .tab-content{display:none;padding-top:30px;margin-left:-20px;border-top:1px solid #e0e0e0;overflow:hidden;_zoom:1}.isinstalment-item{float:left;width:303px;height:310px;padding:20px 30px;margin-left:20px;background-color:#fafafa}.isinstalment-item .item-header{padding-bottom:15px;text-align:center;border-bottom:1px solid #e0e0e0}.isinstalment-item .item-header h3{margin-bottom:5px;font-weight:normal;font-size:18px;color:#ff6700}.isinstalment-item .item-body{margin-top:15px;margin-bottom:30px;color:#424242;font-size:12px;line-height:28px}.isinstalment-item .item-body ul{padding:0}.isinstalment-item .item-body li span{float:left;width:60px}.isinstalment-item .item-body li p{float:left;width:236px}.isinstalment-item .item-footer{text-align:center}.isinstalment-item .item-footer input{display:none}.isinstalment-item .item-footer .btn{border-color:#ff6700;color:#ff6700}.isinstalment-desc{margin-top:15px;font-size:12px;color:#b0b0b0}.cash-box{height:60px;font-size:16px}.cash-box .balance{float:left;margin-top:10px;cursor:pointer}.cash-box .surplus{float:right;margin-top:10px}.cash-box .surplus .btn{vertical-align:top;margin-left:20px}.cash-box .iconfont{display:inline-block;*zoom:1;*display:inline;width:18px;height:18px;line-height:18px;border:1px solid #e0e0e0;margin-right:12px;background-color:#fff;color:#fff;font-size:20px;text-align:center;vertical-align:middle;position:relative;top:-1px}.cash-box .iconfont:hover{color:#757575}.cash-box .selected .iconfont{color:#fff;border-color:#ff6700;background-color:#ff6700}.cash-box .selected .iconfont:hover{color:#fff}.cash-box .disabled .iconfont{color:#ff6700;border-color:#fff;background-color:#fff}.cash-box .disabled .iconfont:hover{color:#ff6700}.cash-pay-all{padding:0 17px;background-color:#f5f5f5}.cash-pay-all .icon-checkbox{display:none}.modal-balance-pay{width:500px;margin-left:-250px;text-align:center}.modal-balance-pay p{margin:0 0 20px;color:#757575}.modal-balance-pay p .num{color:#ff6700}.modal-balance-pay .form-section{margin-top:14px}.modal-balance-pay .form-section .input-label{top:15px}.modal-balance-pay .form-section-active .input-label{top:-7px}.modal-balance-pay .input-text{width:348px;height:28px;margin-bottom:14px}.modal-balance-pay .btn-block{display:block;height:48px;line-height:48px;text-align:center;border-color:#e0e0e0;color:#e0e0e0}.modal-balance-pay .tip{color:#e53935}.modal-pay-tip{width:496px;height:358px;margin-left:-248px;margin-top:-200px;-webkit-box-shadow:0 15px 20px rgba(0,0,0,0.15);box-shadow:0 15px 20px rgba(0,0,0,0.15)}.modal-pay-tip .modal-body{background-image:url(../i/pay/mitu.png);background-repeat:no-repeat;background-position:64px 50px;padding-left:270px}.modal-pay-tip .success{width:156px;margin-top:20px;border-bottom:1px solid #eee;padding-bottom:20px}.modal-pay-tip .fail{padding-top:20px;padding-bottom:20px}.modal-pay-tip h4{margin:0 0 10px;font-size:18px;font-weight:normal;color:#757575}.modal-pay-tip p{margin:0}.modal-pay-tip a{color:#ff6700}.event-desc{width:894px;background-color:#fafafa;padding:20px;border:1px solid #e0e0e0;font-size:12px;line-height:2;position:relative}.event-desc p{margin:0;color:#757575}.event-desc .more{position:absolute;right:20px;bottom:20px}.modal-alipay{width:560px;height:440px;margin-top:-300px;margin-left:-280px}.modal-alipay .modal-bd{height:360px;padding:40px;position:relative}.modal-alipay .loading{width:100%;position:absolute;top:170px;left:0;text-align:center;z-index:1}.modal-alipay iframe{position:absolute;top:40px;left:40px;width:480px;height:360px;z-index:2}.notice{margin-bottom:20px;padding:20px 62px 20px 186px;background-color:#fff;position:relative}.notice .icon{display:block;width:27px;height:19px;position:absolute;top:50%;left:78px;margin-top:-10px;background:url(//c1.mifile.cn/f/i/15/pay/icon-notice.png) no-repeat}.notice .close{display:block;width:20px;height:20px;position:absolute;top:50%;right:46px;cursor:pointer;color:#757575;margin-top:-10px}.notice p{margin:0;line-height:24px;color:#616161}.deliver-beta{width:450px;padding:20px;position:absolute;top:0;left:50%;background-color:#fff;border:1px solid #dfdfdf;z-index:100;color:#757575;-webkit-box-shadow:0 5px 15px rgba(8,2,4,0.2);box-shadow:0 5px 15px rgba(8,2,4,0.2);text-align:center}.deliver-beta p{margin:0 0 20px;text-align:left}.deliver-beta a{color:#ff6700}.deliver-beta .arrow{display:block;width:0;height:0;border-style:dashed dashed solid;overflow:hidden;_zoom:1;position:absolute;left:50%}.deliver-beta .arrow-a{top:-8px;margin-left:-10px;border-width:0 10px 8px;border-color:transparent transparent #dfdfdf;z-index:1}.deliver-beta .arrow-b{top:-7px;margin-left:-8px;border-width:0 8px 7px;border-color:transparent transparent #fff;z-index:2}
</style>
