<div class="signup">
  <header class="int-header">
    <%= render :partial => "pages/partials/menu"%>
    <%= render :partial => "pages/partials/page_banner", :locals => { :header => @l.t('payment_confirm_page.thank')}%>
  </header>

  <div class="form-step step3">
    <div class="confirmation">
      <div class="row">
        <div class="small-12 columns">
          <p class="selection-intro-heading"><%= @l.t 'payment_confirm_page.thank'%></p>
          <p class="selection-guarantee"><%= @l.t 'payment_confirm_page.desc'%></p>

          <a class="button button-signup" href="/"><%= @l.t 'payment_confirm_page.go_to'%></a>
        </div>
      </div>
    </div>
  </div>
</div>

