
<div class="signup pricing">
  <header class="int-header">
    <%= render :partial => "pages/partials/menu"%>
    <%= render :partial => "pages/partials/page_banner", :locals => { :header => I18n.t('pricing.select_plan.title')}%>

  </header>
  <div class="form-step">
    <form action="#" id="step2">
      <div class="row">
        <div class="small-12 columns">
          <div class="tab-nav">
            <a class="button button-signuptype active" id="selected-businesses"><%= I18n.t('pricing.select_plan.businesses_button') %></a>
            <a class="button button-signuptype" id="selected-agencies"><%= I18n.t('pricing.select_plan.agencies_button') %></a>
            <p class="selection-intro business-plans"><%= I18n.t('pricing.select_plan.empower').html_safe %></p>
            <p class="selection-intro agency-plans"><%= I18n.t('pricing.select_plan.exceed').html_safe %></p>
          </div>

          <p class="selection-intro-heading"><%= I18n.t('pricing.select_plan.plans') %></p>
        </div>
      </div>
      <div class="row business-plans" id="business-plans" data-equalizer>
        <div class="small-12 medium-6 large-4 columns">
          <div class="subscription-type" id="plantype-basic" data-plan="basic" data-equalizer-watch>
            <h2><%= @products[0].name.split(' ')[0] %></h2>
            <div class="price-bubble">
              <div class="price-amount">
                $<%=(@products[1].price/12).to_i %><span class="permonth">/<%= I18n.t('pricing.select_plan.per_month') %></span>
                <em><%= I18n.t('pricing.select_plan.annually') %><br />$<%=(@products[0].price).to_i%> <%= I18n.t('pricing.select_plan.month_to_month') %> </em>
              </div>
            </div>
            <div class="plan-inclusions">
              <ul>
                <li><strong>1</strong> <span><%= I18n.t('pricing.select_plan.seat') %></span></li>
                <li><strong>1</strong> <span><%= I18n.t('pricing.select_plan.newsroom') %></span></li>
                <li><strong>5</strong> <span><%= I18n.t('pricing.select_plan.press_release') %></span></li>
                <li><strong>3</strong> <span><%= I18n.t('pricing.select_plan.smart_release') %></span></li>
                <li><strong>3</strong> <span><%= I18n.t('pricing.select_plan.stream') %></span></li>
                <!--<li><strong></strong> <span></span></li>-->
                <!--<li><strong></strong> <span></span></li>-->
                <li><strong></strong> <span></span></li>
                <li><strong></strong> <span></span></li>
              </ul>
            </div>
            <div class="selector-wrap">
              <a data-selected="basic" <%if user_signed_in? && current_user.active_subscription.present? &&  BASIC_SLUGS.include?(current_user.active_subscription.product.slug)%> class="button button-planselector" data-select-text='Current' onclick="setPackage('<%=@products[1].slug%>');" onclick="setPackage('<%=@products[1].slug%>');" <%else%> data-select-text='<%= I18n.t('pricing.select_plan.select') %>' class="button button-planselector" onclick="setPackage('<%=@products[1].slug%>');" <%end%> data-selected-text='<%= I18n.t('pricing.select_plan.selected') %>' ><%=(user_signed_in? && current_user.active_subscription.present? &&  BASIC_SLUGS.include?(current_user.active_subscription.product.slug) )? I18n.t('pricing.select_plan.current') : I18n.t('pricing.select_plan.select')%></a>
            </div>
          </div>
        </div><!--end plan type column -->
        <div class="small-12 medium-6 large-4 columns">
          <div class="subscription-type" id="plantype-business" data-plan="business" data-equalizer-watch>
            <h2><%= @products[2].name.split(' ')[0] %></h2>
            <div class="price-bubble">
              <div class="price-amount">
                $<%=(@products[3].price/12).to_i %><span class="permonth">/<%= I18n.t('pricing.select_plan.per_month') %></span>
                <em><%= I18n.t('pricing.select_plan.annually') %><br />$<%=(@products[2].price).to_i%> <%= I18n.t('pricing.select_plan.month_to_month') %> </em>
              </div>
            </div>
            <div class="plan-inclusions">
              <ul>
                <li><strong>1</strong> <span><%= I18n.t('pricing.select_plan.seat') %></span></li>
                <li><strong>1</strong> <span><%= I18n.t('pricing.select_plan.newsroom') %></span></li>
                <li><strong>10</strong> <span><%= I18n.t('pricing.select_plan.press_release') %></span></li>
                <li><strong>5</strong> <span><%= I18n.t('pricing.select_plan.smart_release') %></span></li>
                <li><strong>1</strong> <span><%= I18n.t('pricing.select_plan.media_lists') %></span></li>
                <li><strong>5</strong> <span><%= I18n.t('pricing.select_plan.stream') %></span></li>
              </ul>
            </div>
            <div class="selector-wrap">
              <a data-selected="business" <%if user_signed_in? && current_user.active_subscription.present? &&  BUSINESS_SLUGS.include?(current_user.active_subscription.product.slug)%>class="button button-planselector" onclick="setPackage('<%=@products[3].slug%>');" data-select-text='Current' <%else%> data-select-text='<%= I18n.t('pricing.select_plan.select') %>' class="button button-planselector" onclick="setPackage('<%=@products[3].slug%>');" <%end%> data-selected-text='<%= I18n.t('pricing.select_plan.selected') %>' ><%=(user_signed_in? && current_user.active_subscription.present? &&  BUSINESS_SLUGS.include?(current_user.active_subscription.product.slug) )? I18n.t('pricing.select_plan.current') : I18n.t('pricing.select_plan.select')%></a>
            </div>
          </div>
        </div><!--end plan type column -->
        <div class="small-12 medium-6 large-4 columns">
          <div class="subscription-type" id="plantype-enterprise" data-plan="enterprise" data-equalizer-watch >
            <h2><%= @products[4].name.split(' ')[0] %></h2>
            <div class="price-bubble">
              <div class="price-amount">
                $<%=(@products[5].price/12).to_i %><span class="permonth">/<%= I18n.t('pricing.select_plan.per_month') %></span>
                <em><%= I18n.t('pricing.select_plan.annually') %><br />$<%=(@products[4].price).to_i%> <%= I18n.t('pricing.select_plan.month_to_month') %> </em>
              </div>
            </div>
            <div class="plan-inclusions">
              <ul>
                <li><strong>1</strong> <span><%= I18n.t('pricing.select_plan.seat') %></span></li>
                <li><strong>1</strong> <span><%= I18n.t('pricing.select_plan.newsroom') %></span></li>
                <li><strong>30</strong> <span><%= I18n.t('pricing.select_plan.press_release') %></span></li>
                <li><strong>15</strong> <span><%= I18n.t('pricing.select_plan.smart_release') %></span></li>
                <li><strong>20</strong> <span><%= I18n.t('pricing.select_plan.media_lists') %></span></li>
                <li><strong>25</strong> <span><%= I18n.t('pricing.select_plan.stream') %></span></li>
              </ul>
            </div>
            <div class="selector-wrap">
              <a data-plan="enterprise" <%if user_signed_in? && current_user.active_subscription.present? &&  ENTERPRISE_SLUGS.include?(current_user.active_subscription.product.slug)%>class="button button-planselector" onclick="setPackage('<%=@products[5].slug%>');" data-select-text='Current' <%else%> data-select-text='<%= I18n.t('pricing.select_plan.select') %>' class="button button-planselector" onclick="setPackage('<%=@products[5].slug%>');" <%end%> data-selected-text='<%= I18n.t('pricing.select_plan.selected') %>' ><%=(user_signed_in? && current_user.active_subscription.present? &&  ENTERPRISE_SLUGS.include?(current_user.active_subscription.product.slug) )? I18n.t('pricing.select_plan.current') : I18n.t('pricing.select_plan.select')%></a>
            </div>
          </div>
        </div><!--end plan type column -->
      </div><!-- end #business-plans -->


      <div class="row agency-plans" id="agency-plans" data-equalizer>
        <div class="small-12 medium-6 large-4 columns">
          <div class="subscription-type" id="plantype-pro" data-plan="pro" data-equalizer-watch>
            <h2><%= @products[6].name.split(' ')[0] %></h2>
            <div class="price-bubble">
              <div class="price-amount">
                $<%=(@products[7].price/12).to_i %><span class="permonth">/<%= I18n.t('pricing.select_plan.per_month') %></span>
                <em><%= I18n.t('pricing.select_plan.annually') %><br />$<%=(@products[6].price).to_i%> <%= I18n.t('pricing.select_plan.month_to_month') %> </em>
              </div>
            </div>
            <div class="plan-inclusions">
              <ul>
                <li><strong>1</strong> <span><%= I18n.t('pricing.select_plan.seat') %></span></li>
                <li><strong>5</strong> <span><%= I18n.t('pricing.select_plan.newsroom') %></span></li>
                <li><strong>30</strong> <span><%= I18n.t('pricing.select_plan.press_release') %></span></li>
                <li><strong>15</strong> <span><%= I18n.t('pricing.select_plan.smart_release') %></span></li>
                <li><strong>3</strong> <span><%= I18n.t('pricing.select_plan.media_lists') %></span></li>
                <li><strong>5</strong> <span><%= I18n.t('pricing.select_plan.stream') %></span></li>
              </ul>
            </div>
            <div class="selector-wrap">
              <a data-selected="pro" <%if user_signed_in? && current_user.active_subscription.present? &&  PRO_SLUGS.include?(current_user.active_subscription.product.slug)%> class="button button-planselector" onclick="setPackage('<%=@products[7].slug%>');" data-select-text='Current' <%else%> data-select-text='<%= I18n.t('pricing.select_plan.select') %>' class="button button-planselector"  onclick="setPackage('<%=@products[7].slug%>');" <%end%> data-selected-text='<%= I18n.t('pricing.select_plan.selected') %>' ><%=(user_signed_in? && current_user.active_subscription.present? &&  PRO_SLUGS.include?(current_user.active_subscription.product.slug) )? I18n.t('pricing.select_plan.current') : I18n.t('pricing.select_plan.select')%></a>
            </div>
          </div>
        </div><!--end plan type column -->
        <div class="small-12 medium-6 large-4 columns">
          <div class="subscription-type" id="plantype-premium" data-plan="premium" data-equalizer-watch>
            <h2><%= @products[8].name.split(' ')[0] %></h2>
            <div class="price-bubble">
              <div class="price-amount">
                $<%=(@products[9].price/12).to_i %><span class="permonth">/<%= I18n.t('pricing.select_plan.per_month') %></span>
                <em><%= I18n.t('pricing.select_plan.annually') %><br />$<%=(@products[8].price).to_i%> <%= I18n.t('pricing.select_plan.month_to_month') %> </em>
              </div>
            </div>
            <div class="plan-inclusions">
              <ul>
                <li><strong>1</strong> <span><%= I18n.t('pricing.select_plan.seat') %></span></li>
                <li><strong>20</strong> <span><%= I18n.t('pricing.select_plan.newsroom') %></span></li>
                <li><strong>75</strong> <span><%= I18n.t('pricing.select_plan.press_release') %></span></li>
                <li><strong>45</strong> <span><%= I18n.t('pricing.select_plan.smart_release') %></span></li>
                <li><strong>5</strong> <span><%= I18n.t('pricing.select_plan.media_lists') %></span></li>
                <li><strong>10</strong> <span><%= I18n.t('pricing.select_plan.stream') %></span></li>
              </ul>
            </div>
            <div class="selector-wrap">
              <a data-selected="premium" <%if user_signed_in? && current_user.active_subscription.present? &&  PREMIUM_SLUGS.include?(current_user.active_subscription.product.slug)%> class="button button-planselector" onclick="setPackage('<%=@products[9].slug%>');" data-select-text='Current' <%else%> data-select-text='<%= I18n.t('pricing.select_plan.select') %>' class="button button-planselector" onclick="setPackage('<%=@products[9].slug%>');" <%end%> data-selected-text='<%= I18n.t('pricing.select_plan.selected') %>' ><%=(user_signed_in? && current_user.active_subscription.present? &&  PREMIUM_SLUGS.include?(current_user.active_subscription.product.slug) )? I18n.t('pricing.select_plan.current') : I18n.t('pricing.select_plan.select')%></a>
            </div>
          </div>
        </div><!--end plan type column -->
        <div class="small-12 medium-6 large-4 columns">
          <div class="subscription-type" id="plantype-ultra" data-plan="ultra" data-equalizer-watch>
            <h2><%= @products[10].name.split(' ')[0] %></h2>
            <div class="price-bubble">
              <div class="price-amount">
                $<%=(@products[11].price/12).to_i %><span class="permonth">/<%= I18n.t('pricing.select_plan.per_month') %></span>
                <em><%= I18n.t('pricing.select_plan.annually') %><br />$<%=(@products[10].price).to_i%> <%= I18n.t('pricing.select_plan.month_to_month') %> </em>
              </div>
            </div>
            <div class="plan-inclusions">
              <ul>
                <li><strong>1</strong> <span><%= I18n.t('pricing.select_plan.seat') %></span></li>
                <li><strong>100</strong> <span><%= I18n.t('pricing.select_plan.newsroom') %></span></li>
                <li><strong>400</strong> <span><%= I18n.t('pricing.select_plan.press_release') %></span></li>
                <li><strong>200</strong> <span><%= I18n.t('pricing.select_plan.smart_release') %></span></li>
                <li><strong>10</strong> <span><%= I18n.t('pricing.select_plan.media_lists') %></span></li>
                <li><strong>25</strong> <span><%= I18n.t('pricing.select_plan.stream') %></span></li>
              </ul>
            </div>
            <div class="selector-wrap">
              <a data-plan="ultra" <%if user_signed_in? && current_user.active_subscription.present? &&  ULTRA_SLUGS.include?(current_user.active_subscription.product.slug)%>class="button button-planselector" onclick="setPackage('<%=@products[11].slug%>');" data-select-text='Current' <%else%> data-select-text='<%= I18n.t('pricing.select_plan.select') %>' class="button button-planselector" onclick="setPackage('<%=@products[11].slug%>');" <%end%> data-selected-text='<%= I18n.t('pricing.select_plan.selected') %>' ><%=(user_signed_in? && current_user.active_subscription.present? &&  ULTRA_SLUGS.include?(current_user.active_subscription.product.slug) )? I18n.t('pricing.select_plan.current') : I18n.t('pricing.select_plan.select')%></a>
            </div>
          </div>
        </div><!--end plan type column -->
      </div><!-- end #agency-plans -->

      <div class="row">
        <div class="small-12 columns">
          <div class="submit-wrap">
            <input type="button" onclick="checkout();" value="<%= I18n.t('pricing.select_plan.continue') %>" class="button button-signup nextstep" id="planselect-button">
          </div>
        </div>
      </div>
      <input type="text" name="plan_selection" id="plan-selection" style="display:none;" val="" />
    </form>
  </div>


  <div class="signup-footer">
    <div class="row">
      <div class="small-12 columns">
        <h3><%= I18n.t('pricing.service_details') %></h3>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-6 columns">
        <div class="service-item">
          <div class="icon-left">
            <%= image_tag("img/icon-seat.png")%>
            <!--<img src="img/icon-seat.png" />-->
          </div>
          <div class="details-right">
            <h4><%= I18n.t('pricing.seat') %></h4>
            <p><%= I18n.t('pricing.seat_description') %></p>
          </div>
        </div><!-- end service-item -->
        <div class="service-item">
          <div class="icon-left">
            <%= image_tag("img/icon-newsroom.png")%>
            <!--<img src="img/icon-newsroom.png" />-->
          </div>
          <div class="details-right">
            <h4><%= I18n.t('pricing.newsroom') %></h4>
            <p><%= I18n.t('pricing.newsroom_description') %></p>
          </div>
        </div><!-- end service-item -->
        <div class="service-item">
          <div class="icon-left">
            <%= image_tag("img/icon-pressrelease.png")%>
            <!--<img src="img/icon-pressrelease.png" />-->
          </div>
          <div class="details-right">
            <h4><%= I18n.t('pricing.press_release') %></h4>
            <p><%= I18n.t('pricing.press_release_description') %></p>
          </div>
        </div><!-- end service-item -->
        <div class="service-item">
          <div class="icon-left">
            <%= image_tag("img/icon-smartrelease.png")%>
            <!--<img src="img/icon-smartrelease.png" />-->
          </div>
          <div class="details-right">
            <h4><%= I18n.t('pricing.smart_release') %></h4>
            <p><%= I18n.t('pricing.smart_release_description') %></p>
          </div>
        </div><!-- end service-item -->
        <div class="service-item">
          <div class="icon-left">
            <%= image_tag("img/icon-mediamonitoring.png")%>
            <!--<img src="img/icon-mediamonitoring.png" />-->
          </div>
          <div class="details-right">
            <h4><%= I18n.t('pricing.monitoring_stream') %></h4>
            <p><%= I18n.t('pricing.monitoring_stream_description') %></p>
          </div>
        </div><!-- end service-item -->

      </div>
      <div class="small-12 medium-6 columns">
        <div class="service-item">
          <div class="icon-left">
            <%= image_tag("img/icon-personalmedia.png")%>
            <!--<img src="img/icon-personalmedia.png" />-->
          </div>
          <div class="details-right">
            <h4><%= I18n.t('pricing.media_list') %></h4>
            <p><%= I18n.t('pricing.media_list_description') %></p>
          </div>
        </div><!-- end service-item -->
        <div class="service-item">
          <div class="icon-left">
            <%= image_tag("img/icon-prnewswire.png")%>
            <!--<img src="img/icon-prnewswire.png" />-->
          </div>
          <div class="details-right">
            <h4><%= I18n.t('pricing.newswire') %></h4>
            <p><%= I18n.t('pricing.newswire_description') %></p>
          </div>
        </div><!-- end service-item -->
        <div class="service-item">
          <div class="icon-left">
            <%= image_tag("img/icon-myprgenieweb.png")%>
            <!--<img src="img/icon-myprgenieweb.png" />-->
          </div>
          <div class="details-right">
            <h4><%= I18n.t('pricing.web_distribution') %></h4>
            <p><%= I18n.t('pricing.web_distribution_description') %></p>
          </div>
        </div><!-- end service-item -->
        <div class="service-item">
          <div class="icon-left">
            <%= image_tag("img/icon-accesswire.png")%>
          </div>
          <div class="details-right">
            <h4><%= I18n.t('pricing.accesswire_distribution') %></h4>
            <p><%= I18n.t('pricing.accesswire_distribution_description') %></p>
          </div>
        </div>

      </div><!-- end service-item -->

    </div>
  </div>
  <input type="hidden" value="" name="package" id="package"/>.
  <script>
      function setPackage(slug){
          $('#package').val(slug);
          return true;
      }
      function checkout(){
          if($('#package').val() != '') {
              location.href='/add-ons?plan='+ $('#package').val(); //use this for add-ons
//              location.href='/subscribe/'+ $('#package').val();
          }
          return false;

      }

      $( document ).ready(function() {
          $( ".button-planselector" ).click(function() {
              var disableclass='n';
              if($(this).parent().parent().hasClass('active')){
                  disableclass='y';
              }
              $('.subscription-type').removeClass('active');

              $.each($('.button-planselector'), function(index, item){
                $(item).text($(item).data('select-text'));
              });

              if(disableclass == 'y'){
                  $('.active .button-planselector').text($(this).data('select-text'));
                  $('input#plan-selection').val('');
              }else{
                  $(this).parent().parent().addClass('active');
                  $('.active .button-planselector').text($(this).data('selected-text'));
              }

          });


          $('.business-plans').show();

          $('.agency-plans').hide();


          $( "#selected-businesses" ).click(function() {
              if(!$(this).is('active')){
                  $('.agency-plans').fadeOut();
                  setTimeout(function(){ $('.business-plans').fadeIn();}, 500);
                  $('.tab-nav a').removeClass('active');
                  $(this).addClass('active');
              }
          });
          $( "#selected-agencies" ).click(function() {
              if(!$(this).is('active')){
                  $('.business-plans').fadeOut();
                  setTimeout(function(){ $('.agency-plans').fadeIn();}, 500);
                  $('.tab-nav a').removeClass('active');
                  $(this).addClass('active');
              }
          });

      });

  </script>


</div>