<div class="about">
  <header class="int-header">
    <%= render :partial => "pages/partials/menu"%>
<%= render :partial => "pages/partials/page_banner", :locals => { :header => @l.t('terms.title').html_safe }%>
</header>

<div class="int-content">
  <div class="row">
    <div class="small-12 columns">
      <p><%= @l.t('terms.terms_definition') %></p>
      <p><%= @l.t('terms.published_content_1') %></p>
      <p><%= @l.t('terms.published_content_2') %></p>
      <h3><%= @l.t('terms.information.header') %></h3>
      <p><strong><%= @l.t('terms.information.personal_information_header') %></strong></p>
      <p><%= @l.t('terms.information.will_not_collect') %></p>
      <p><%= @l.t('terms.information.identification_and_profile') %></p>
      <p><%= @l.t('terms.information.privacy_options') %></p>
      <p><%= @l.t('terms.information.possible_unsubscribe') %></p>
      <p><%= @l.t('terms.information.age_restriction') %></p>
      <h3><%= @l.t('terms.non_personal_information.title') %></h3>
      <p><%= @l.t('terms.non_personal_information.text') %></p>
      <h3><%= @l.t('terms.online_store.title') %></h3>
      <p><%= @l.t('terms.online_store.text') %></p>
      <h3><%= @l.t('terms.cookies.title') %></h3>
      <p><%= @l.t('terms.cookies.general_info') %></p>
      <p><%= @l.t('terms.cookies.types') %></p>
      <p><%= @l.t('terms.cookies.control') %></p>
      <h3><%= @l.t('terms.email.title') %></h3>
      <p><%= @l.t('terms.email.text') %></p>
      <h3><%= @l.t('terms.third_party.title') %></h3>
      <p><%= @l.t('terms.third_party.text') %></p>
      <h3><%= @l.t('terms.information_sharing.title') %></h3>
      <p><%= @l.t('terms.information_sharing.text') %></p>
      <h3><%= @l.t('terms.security.title') %></h3>
      <p><%= @l.t('terms.security.measures') %></p>
      <p><%= @l.t('terms.security.ssl') %></p>
      <h3><%= @l.t('terms.links.title') %></h3>
      <p><%= @l.t('terms.links.text') %></p>
      <h3><%= @l.t('terms.contact.title') %></h3>
      <p><%= @l.t('terms.contact.text') %></p>
      <p><strong><%= @l.t('terms.contact.address.title') %></strong><br />
        <%= @l.t('terms.contact.address.company') %> <br />
        <%= @l.t('terms.contact.address.street') %> <br />
        <%= @l.t('terms.contact.address.city') %> <br /><br />
        <strong><%= @l.t('terms.contact.phone') %></strong><br />
        (212) 807-8300 <br /><br />
        <strong><%= @l.t('terms.contact.email') %></strong> <br />
        info@myprgenie.com</p>
      <h2><%= @l.t('terms.terms_of_use.title') %></h2><p><strong><%= @l.t('terms.terms_of_use.date') %></strong></p>
      <p><%= @l.t('terms.terms_of_use.intro') %></p>
      <p><%= @l.t('terms.terms_of_use.cease_use') %></p>
      <h3><%= @l.t('terms.terms_of_use.content.title') %></h3>
      <p><%= @l.t('terms.terms_of_use.content.intro') %></p>
      <p><%= @l.t('terms.terms_of_use.content.authorization') %></p>
      <p><%= @l.t('terms.terms_of_use.content.as_is') %></p>
      <p><%= @l.t('terms.terms_of_use.content.links') %></p>
      <h3><%= @l.t('terms.terms_of_use.conduct.title') %></h3>
      <p><%= @l.t('terms.terms_of_use.conduct.materials') %></p>
      <p><%= @l.t('terms.terms_of_use.conduct.no_responsibility') %></p>
      <p><%= @l.t('terms.terms_of_use.conduct.general_rule') %></p>
      <p><%= @l.t('terms.terms_of_use.conduct.sole_responsibility') %></p>
      <p><%= @l.t('terms.terms_of_use.conduct.prohibition') %></p>
      <h3><%= @l.t('terms.terms_of_use.copyright.title') %></h3>
      <p><%= @l.t('terms.terms_of_use.copyright.protection') %></p>
      <p><%= @l.t('terms.terms_of_use.copyright.policy') %></p>
      <p><strong><%= @l.t('terms.terms_of_use.copyright.notice.title') %></strong></p>
      <p><%= @l.t('terms.terms_of_use.copyright.notice.intro') %></p>
      <ol>
        <li><%= @l.t('terms.terms_of_use.copyright.notice.signature') %></li>
        <li><%= @l.t('terms.terms_of_use.copyright.notice.identification') %></li>
        <li><%= @l.t('terms.terms_of_use.copyright.notice.all_smack_talk') %></li>
        <li><%= @l.t('terms.terms_of_use.copyright.notice.address') %></li>
        <li><%= @l.t('terms.terms_of_use.copyright.notice.statement') %></li>
        <li><%= @l.t('terms.terms_of_use.copyright.notice.infringing') %></li>
        <li><%= @l.t('terms.terms_of_use.copyright.notice.accurate') %></li>
      </ol>
      <p><%= @l.t('terms.terms_of_use.copyright.notice.counter_notices') %></p>

      <p><strong><%= @l.t('terms.contact.address.title') %></strong><br />
        <%= @l.t('terms.contact.address.company') %> <br />
        <%= @l.t('terms.contact.address.street') %> <br />
        <%= @l.t('terms.contact.address.city') %> <br /><br />
        <strong><%= @l.t('terms.contact.phone') %></strong><br />
        (212) 807-8300 <br /><br />
        <strong><%= @l.t('terms.contact.email') %></strong> <br />
        info@myprgenie.com</p>
      <p><%= @l.t('terms.terms_of_use.copyright.notice.note') %></p>
      <h3><%= @l.t('terms.terms_of_use.permissions.title') %></h3>
      <p><%= @l.t('terms.terms_of_use.permissions.text') %></p>
      <h3><%= @l.t('terms.terms_of_use.registration.title') %></h3>
      <p><%= @l.t('terms.terms_of_use.registration.intro') %></p>
      <p><%= @l.t('terms.terms_of_use.registration.username_and_password') %></p>
      <p><%= @l.t('terms.terms_of_use.registration.under_thirteen') %></p>
      <h3><%= @l.t('terms.terms_of_use.security.title') %></h3>
      <p><%= @l.t('terms.terms_of_use.security.text') %></p>
      <h3><%= @l.t('terms.terms_of_use.termination.title') %></h3>
      <p><%= @l.t('terms.terms_of_use.termination.text') %></p>
      <h3><%= @l.t('terms.terms_of_use.disclaimer.title') %></h3>
      <p><%= @l.t('terms.terms_of_use.disclaimer.own_risk') %></p>
      <p><%= @l.t('terms.terms_of_use.disclaimer.no_guarantee') %></p>
      <p><%= @l.t('terms.terms_of_use.disclaimer.acknowledge') %></p>
      <p><%= @l.t('terms.terms_of_use.disclaimer.not_responsible') %></p>
      <h3><%= @l.t('terms.terms_of_use.liability.title') %></h3>
      <p><%= @l.t('terms.terms_of_use.liability.no_control') %></p>
      <p><%= @l.t('terms.terms_of_use.liability.accuracy') %></p>
      <p><%= @l.t('terms.terms_of_use.liability.risks') %></p>
      <p><%= @l.t('terms.terms_of_use.liability.sole_responsibility') %></p>
      <p><%= @l.t('terms.terms_of_use.liability.no_guarantees') %> </p>
      <h3><%= @l.t('terms.terms_of_use.indemnity.title') %></h3>
      <p><%= @l.t('terms.terms_of_use.indemnity.text') %></p>
      <h3><%= @l.t('terms.terms_of_use.restrictions.title') %></h3>
      <p><%= @l.t('terms.terms_of_use.restrictions.text') %></p>
      <p><%= @l.t('terms.terms_of_use.restrictions.abide') %></p>
      <h3><%= @l.t('terms.terms_of_use.unsolicited.title') %></h3>
      <p><%= @l.t('terms.terms_of_use.unsolicited.text') %></p>
      <h3><%= @l.t('terms.terms_of_use.grant.title') %></h3>
      <p><%= @l.t('terms.terms_of_use.grant.intro') %></p>
      <p><%= @l.t('terms.terms_of_use.grant.avoidance') %></p>
      <h3><%= @l.t('terms.terms_of_use.limitation_of_liability.title') %></h3>
      <p><%= @l.t('terms.terms_of_use.limitation_of_liability.part_1') %></p>
      <p><%= @l.t('terms.terms_of_use.limitation_of_liability.part_2') %></p>
      <h3><%= @l.t('terms.terms_of_use.governing_law.title') %></h3>
      <p><%= @l.t('terms.terms_of_use.governing_law.text') %></p>
      <h2><%= @l.t('terms.newswire.title') %></h2>
      <h3><%= @l.t('terms.newswire.disclaimer.title') %></h3>
      <p><%= @l.t('terms.newswire.disclaimer.accuracy') %></p>
      <p><%= @l.t('terms.newswire.disclaimer.does_not_infringe') %></p>
      <p><%= @l.t('terms.newswire.disclaimer.customer_agrees') %></p>
      <p><%= @l.t('terms.newswire.disclaimer.provide') %></p>
      <p><%= @l.t('terms.newswire.disclaimer.acknowledge') %></p>
      <h3><%= @l.t('terms.newswire.accesswire.title') %></h3>
      <p><%= @l.t('terms.newswire.accesswire.intro') %></p>
      <p><%= @l.t('terms.newswire.accesswire.agree') %></p>
      <h2><%= @l.t('terms.billing.title') %></h2>
      <p><%= @l.t('terms.billing.intro') %></p>
      <h3><%= @l.t('terms.billing.cancellation.title') %></h3>
      <p><%= @l.t('terms.billing.cancellation.monthly') %></p>
      <p><%= @l.t('terms.billing.cancellation.annual') %></p>
      <h3><%= @l.t('terms.billing.credit_card.title') %></h3>
      <p><%= @l.t('terms.billing.credit_card.notify') %></p>
      <p><%= @l.t('terms.billing.credit_card.change') %></p>
      <p><%= @l.t('terms.billing.credit_card.failure') %></p>

    </div>
  </div>
</div>