<%= form_tag recharge_admin_kol_path(@kol), :method => :post, :novalidate=>"novalidate" do %>
  <fieldset class="inputs">
    <legend><span>kol充值、提现</span></legend>
    <ol>
      <% if @kol.email != nil %>
        <li>
          <label for="kol_email" class="label">kol邮箱</label><%= @kol.email %>
        </li>
      <% else %>
        <li>
          <label for="kol_social_name" class="label">kol第三方帐号名称</label><%= @kol.social_name %>
        </li>
      <% end %>

      <li>
        <label for="kol_avail_amount" class="label">可用余额</label>
        <span id="avail_amount"><%= @kol.avail_amount %></span>
      </li>

      <li>
        <label for="frozen_amount" class="label">冻结余额</label><%= @kol.frozen_amount %>
      </li>

      <li>
        <label for="recharge" class="label">充值/提现</label><%= select_tag :operate_type, options_for_select([['充值','manual_recharge'],['提现','manual_withdraw']]) %>
      </li>

      <li>
        <label class="label">操作金额</label><%= text_field_tag :credits, 0  %>
      </li>

      <li class="email input required stringish" >
        <label for="user_email" class="label">操作后可用余额</label>
        <span class="after_operate_amount" style="color: red"><%= @kol.avail_amount %></span>
      </li>

    </ol>
  </fieldset>
  <fieldset class="actions">
    <ol>
      <li class="action input_action " id="submit_action">
        <%= submit_tag "确定提交", :disable => true %>
      </li>
      <li class="cancel"><a href="/admin/users">取消</a></li>
    </ol>
  </fieldset>
<% end %>


<script type="text/javascript">
  $(function(){
    $("#operate_type").on("change",function(){
      $("#credits").val(0);
      $(".after_operate_amount").html($("#avail_amount").val());
    });

    $("#credits").on("keyup",function(){
      var credits = parseFloat($("#credits").val());
      var operate_type = $("#operate_type option:selected").val();
      var avail_amount = parseFloat($("#avail_amount").html());
      if(credits >= 0 ) {
        if (operate_type == 'manual_withdraw' && avail_amount < credits) {
          alert("提现金额金额不能大于可用金额");
          $(".credits").val(0);
        } else if(operate_type == 'manual_withdraw') {
          $(".after_operate_amount").html(avail_amount - credits);
        } else {
          $(".after_operate_amount").html(avail_amount + credits);
        }
      }else{
        alert("输入金额必须是数字");
        $(".credits").val(0);
      }
    });
  });
</script>
