<div class="row">
  <h5><%= devise_error_messages! %></h5>
  <div class="well">
    <%= link_to "新建榜单", new_marketing_dashboard_hot_item_path, class: "btn btn-primary pull-right" %>
  </div>
  <div class="panel panel-default">

    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>标题</th>
              <th>地址</th>
              <th>发布时间</th>
              <th>阅读数</th>
              <th>操作</th>
          </thead>
          <tbody>
            <% @hot_items.each do |item| %>
              <tr>
                <td><%= item.title %> </td>
                <td><%= link_to item.origin_url,item.origin_url, :target => "_blank" %> </td>
                <td><%= item.publish_at.to_date %> </td>
                <td><%= item.redis_read_count.value %> </td>
                <td><%= link_to "删除", marketing_dashboard_hot_item_path(item), :confirm => "确认删除吗?", :method => :delete %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%= will_paginate @hot_items %>
