<footer class="footer">
  <div class="container">
    <div class="ft-cont">
      <div class="social-wrap">
        <ul class="social-ls">
          <li>
            <a href="#" class="social-i-wx">
              <span class="icon-weixin"></span>
              <div class="pop-wrap pop-up weixin-qrcode">
                <div class="pop-cont">
                  <%= image_tag "wx-qrcode.jpg" %>
                </div>
                <div class="pop-arrow"></div>
              </div>
            </a>
          </li>
          <li><a href="http://www.weibo.com/hellorobin8" target="_blank"><span class="icon-weibo"></span></a></li>
          <li><a href="https://twitter.com/HelloRobin8" target="_blank"><span class="icon-twitter"></span></a></li>
          <li><a href="https://www.facebook.com/Robin8Inc" target="_blank"><span class="icon-facebook"></span></a></li>
        </ul>
      </div>
      <div class="copyright-wrap">
        <p class="addr">上海市静安区江宁路77号7楼(200040) info@robin8.com</p>
        <p class="copyright">沪ICP备16004020号-1  ©Copyright 2015-2016 Robin8 All Rights Reserved. 络鬓科技（上海）有限公司 版权所有</p>
      </div>
    </div>
    <div class="ft-nav">
      <ul class="c_nav">
        <li><%=link_to "关于Robin8", "/about" %></li>
        <li><%=link_to "联系我们", "/contact" %></li>
        <li><%=link_to "隐私政策", "/privacy" %></li>
        <li><%=link_to "服务协议", "/service" %></li>
      </ul>
    </div>
  </div>
</footer>
