<header id="site-navbar" class="navbar r-site-header">
  <div class="container-fl">
    <a href="/" class="logo"></a>
    <div id="site-ctlbar" class="ctlbar">
      <em></em><em></em><em></em>
    </div>
    <div class="navbar-wrap">
      <ul class="nav navbar-nav navbar-right">
        <% if false %>
        <li>
          <a href="#signinupModal" class="quick-login" show-after-loading="<%= params[:landing_at] == 'brand' ? true : false %>" data-toggle="modal">品牌登录&nbsp;/&nbsp;注册</a>
        </li>
        <li>
          <a href="/ranking" target="_top"><i class="icon-ranking"></i> 排行榜</a>
        </li>
        <li>
          <a href="/" target="_top"><i class="icon-search"></i> 搜索引擎</a>
        </li>
        <li>
          <a href="/kols" target="_top"><i class="icon-user"></i> 我是网红</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
            <i class="icon-brand"></i> 我是广告主 <em></em>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/brands/moments" target="_top">朋友圈推广</a></li>
            <li><a href="http://store.robin8.net" target="_top">寻找大V</a></li>
          </ul>
        </li>
        <% end %>
        <li>
          <a href="/brands/moments" target="_top"><i class="icon-user"></i>朋友圈推广</a>
        </li>
        <% if current_kol %>
          <li class="dropdown profile">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
              <% avatar_url = current_kol.avatar_url || asset_url("default_pic.png") %>
              <%= image_tag avatar_url, class: "img-circle" %>
              <span><%= current_kol.safe_name.presence %></span>
              <em></em>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="/accounts/<%= current_kol.id %>/edit" data-no-turbolink="true" target="_top">个人中心</a>
              </li>
              <li>
                <% lout_url = Rails.env.development? ? logout_url(ok_url: root_url) : logout_url(subdomain: :passport, ok_url: root_url) %>
                   <%= link_to lout_url do %>
                  退出
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <li>
            <% lin_url = Rails.env.development? ? login_url(ok_url: root_url) : login_url(subdomain: :passport, ok_url: root_url) %>
            <%= link_to lin_url do %>
              <i class="icon-login"></i> 登录/注册
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
