<div class="nav fixed">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li><a class="logo" href="/"><%= @l.t('header.title') %></a></a></li>
      <li class="toggle-topbar menu-icon">
        <a href="#"><span><%= @l.t('header.menu') %></span></a>
      </li>
    </ul>
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li><a href="/home"><%= @l.t('header.advertisers') %></a></li>
        <% if not Rails.env.production? || Rails.application.config.china_instance %>
          <li><%= link_to root_path(locale: :en), class: 'ft-link privacy' do %>
            <%= image_tag asset_path('us-flag-icon.png'), height: 13, title: 'landing_page.english_locale' %>
          <% end %></li>
          <li><%= link_to root_path(locale: :zh), class: 'ft-link privacy' do %>
            <%= image_tag asset_path('china-flag-icon.png'), height: 13, title: 'landing_page.chinese_locale' %>
          <% end %></li>
        <% end %>
        <%if user_signed_in?%>
          <%if current_user.first_name.blank? || current_user.last_name.blank?%>
            <li><a href="/"><%=current_user.name.humanize%></a></li>
          <%else%>
            <li><a href="/"><%=current_user.first_name.humanize + " " + current_user.last_name.humanize%></a></li>
          <%end%>
          <li><%=link_to @l.t('header.logout'), destroy_user_session_path, :method => :delete%></li>
        <%else%>
          <li><a href="/signin"><%= @l.t('header.log_in') %></a></li>
        <%end%>
      </ul>
    </section>
  </nav>
</div>
