<div class="nav fixed">
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li><a class="logo" href="/"><%= @l.t('header.title') %></a></a></li>
      <li class="toggle-topbar menu-icon">
        <a href="#"><span><%= @l.t('header.menu') %></span></a>
      </li>
    </ul>
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li>
          <% if china_instance? %>
            <a class="button button-signup" href="/contact_us"><%=@l.t('header.contact_us')%></a>
          <% else %>
            <a class="button button-signup" href="http://try.robin8.com/robin/"><%=@l.t('header.contact_us')%></a>
          <% end %>
        </li>

        <%if user_signed_in?%>
          <%if current_user.first_name.blank? || current_user.last_name.blank?%>
            <li><a href="/"><%=current_user.name.humanize%></a></li>
          <%else%>
            <li><a href="/"><%=current_user.first_name.humanize + " " + current_user.last_name.humanize%></a></li>
          <%end%>
          <li><%=link_to "Logout", destroy_user_session_path, :method => :delete%></li>
        <%else%>
          <li><a href="/signin"><%= @l.t('header.log_in') %></a></li>
        <%end%>
      </ul>
    </section>
  </nav>
</div>
