<h1>
  Circel列表
  <%= link_to "创建新的圈子", new_marketing_dashboard_circle_path, class: "btn btn-primary pull-right" %>
</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Circle ID</th>
      <th>圈子</th>
      <th>所属标签</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @circles.each do |c| %>
      <tr>
        <td><%= c.id  %></td>
        <td><%= "#{c.label}(#{c.name})"%></td>
        <td><%= c.tags.map(&:label).join('、') %></td>
        <td><%= link_to "关联标签", marketing_dashboard_circle_add_tag_path(c.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>