<html>
<body>
Dear Miranda,

<p>
  This is your daily feed of Robin8.
  <br/>
</p>
  We have <b><%=@count%></b> campaigns started in the last 24 hours.<br/>
  The total budget is <b><%=@budget%></b> RMB.<br/>
  DAU is <b><%=@dau%></b>, WAU is <b><%=@wau%></b>.<br/>
  <b><%=@kol%></b> new KOLs joined the platform. <br/>

  <!-- <p>Sponsorship layer: </p>
  <table>
	  <tr>
		  <th>Timeframe</th>
		  <th>New Leaders</th>
		  <th>Activated Leaders</th>
		  <th>Campaign actions</th>
      </tr>
	  <tr>
		  <td><b>Last 24 hours</b></td>
		  <td align='center'><%=@day_leader%></td>
  		  <td align='center'><%=@day_active_leader%></td>
  		  <td align='center'><%=@day_invite%></td>
	  </tr>
	  <tr>
		  <td><b>Last 7 days</b></td>
  		  <td align='center'><%=@week_leader%></td>
		  <td align='center'><%=@week_active_leader%></td>
  		  <td align='center'><%=@week_invite%></td>
	  </tr>
	  <tr>
		  <td><b>Historical</b></td>
  		  <td align='center'><%=@all_leader%></td>
		  <td align='center'><%=@all_active_leader%></td>
		  <td align='center'><%=@all_invite%></td>
	  </tr>
  </table> -->
	<!-- we have <b><%=@clubs%></b> new leaders and <b><%=@members%></b> new members joined in the last 24 hours.<br/> -->
<p>
  Love, <br/>
  The Little Robin
</p>
</body>
</html>
