<html>
<body>
Dear Miranda,

<p>
  This is your daily feed of Robin8. 
  <br/>
</p>
  We have <b><%=@count%></b> campaigns started in the last 24 hours.<br/>
  The total budget is <b><%=@budget%></b> RMB.<br/>
  DAU is <b><%=@dau%></b>, WAU is <b><%=@wau%></b>.<br/>
  <b><%=@kol%></b> new KOLs joinde the platform. <br/>
  For sponsorship layers, we have <b><%=@clubs%></b> new leaders and <b><%=@members%></b> new members joined in the last 24 hours.<br/>
<p>
  Love, <br/>
  The Little Robin
</p>
</body>
</html>
