<html>
<body>
Dear Miranda,

<p>
  TGIF! Time for a weekly review!
  <br/>
</p>
  We have <b><%=@count%></b></font> campaigns started in the last 7 days.<br/>
  The total budget is <b><%=@budget.round(1)%></b></font> RMB.<br/>
  Out of that, <b><%=@total_consumed.round(1)%></b> RMB is consumed.<br/><br/>
  
  
  There are <b><%=@kol_count%></b> new KOLs joined the platform. <br/>
  Out of those, <b><%=@real_kol_count%></b> made more than 1RMB (likely took a campaign effectively!)<br/>
<p>
  Love, <br/>
  The Little Robin
</p>
</body>
</html>
