<h1>
  微信公众号用户列表
</h1>

<div class = "error-flash"></div>

<!-- <h5><%= devise_error_messages! %></h5> -->

<div class="panel panel-default">
  <div class="panel-heading">
    搜索过滤
  </div>
  <div id="searchPanel" class="panel-body">
    <%= search_form_for @q, url: request.path, class: "form" do |f| %>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>KOL ID</label>
            <%= f.search_field :kol_id_eq, class: "form-control", placeholder: "KOL ID" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>联系方式</label>
            <%= f.search_field :kol_mobile_number_cont, class: "form-control", placeholder: "联系方式" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>审核状态</label>
            <%= f.select :status_eq, options_for_select([['未审核',0],['审核通过',1],['审核拒绝',-1]], @q.status_eq), { include_blank: true }, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-3">
          <label>&nbsp;</label>
          <div>
            <%= f.submit "搜索", class: "btn btn-primary" %>
            <%= link_to "清除全部", request.path, class: "btn btn-default" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>ID</th>
      <th>kol ID</th>
      <th>profile_id</th>
      <th>联系方式</th>
      <th>公众号名称</th>
      <th>审核状态</th>
      <th>单图文报价</th>
      <th>多图文头条报价</th>
      <th>次条报价</th>
      <th>3-n条报价</th>
      <th>报价有效期至</th>
      <th>圈子</th>
      <th>粉丝数</th>
      <th>男女偏重值</th>
      <th>粉丝所在城市</th>
      <th>作品</th>
      <th>备注</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @public_wechat_accounts.each do |t| %>
      <tr>
        <td><%= link_to t.id, marketing_dashboard_public_wechat_account_path(t) %></td>
        <td><%= t.kol_id %></td>
        <td><%= t.profile_id%></td>
        <td><%= t.mobile_number %></td>
        <td><%= t.nickname %></td>
        <td><%= PublicWechatAccount::STATUS[t.status] %></td>
        <td><%= t.price %></td>
        <td><%= t.mult_price %></td>
        <td><%= t.sub_price %></td>
        <td><%= t.n_price %></td>
        <td><%= t.quote_expired_at.strftime("%Y%m%d %H:%M:%S") %></td>
        <td><%= t.circles.map(&:label).join(',') %></td>
        <td><%= t.fans_count %></td>
        <td><%= PublicWechatAccount::GENDER[t.gender] %></td>
        <td><%= t.cities.map(&:name).join(',') %></td>
        <td><%= t.content_show %></td>
        <td><%= t.remark %></td>
        <td>
          <% if t.status == 0 %>
            <button class="passed-modal-one btn btn-success btn-block" data-public-wechat-account-id="<%= t.id %>">通过</button>
            <button class="reject-modal-one btn btn-danger btn-block" data-public-wechat-account-id="<%= t.id %>">拒绝</button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @public_wechat_accounts, renderer: BootstrapPagination::Rails  %>

<div class="modal admin-public-wechat-account-modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">请填写profile_id</h4>
      </div>
      <div class="modal-body admin-passed-modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" name='profile_id' class='profile_id form-control', placeholder="profile_id">
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn passed-one btn-danger">确认提交</button>
      </div>
    </div>
  </div>
</div>


<div class="modal admin-public-wechat-account-modal-reject fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">请填写拒绝理由</h4>
      </div>
      <div class="modal-body admin-reject-modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-8">
              <div class="form-group">
                <input type="text" name='reject_reason' class='reject_reason form-control', placeholder="请输入拒绝理由">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn reject-one btn-danger">确认拒绝</button>
        <button type="button" class="btn reject btn-danger">确认批量拒绝</button>
      </div>
    </div>
  </div>
</div>




<script>
$(function(){
  $(".passed-modal-one").click(function(){
    var model = $('.admin-public-wechat-account-modal');

    model.attr("data-public-wechat-account-id", $(this).attr("data-public-wechat-account-id"));
    model.find(".reject").hide();
    model.find(".passed-one").show();
    model.modal("show");
  });

  $(".reject-modal-one").click(function(){
    var model = $('.admin-public-wechat-account-modal-reject');

    model.attr("data-public-wechat-account-id", $(this).attr("data-public-wechat-account-id"));
    model.find(".reject").hide();
    model.find(".reject-one").show();
    model.modal("show");
  });


  $(".passed-one").click(function(){
    var passed_id = $(".admin-public-wechat-account-modal").attr("data-public-wechat-account-id");

    var status = 'passed';
    var profile_id = $('.profile_id').val();

    doReject(passed_id, status, profile_id);
  });

  $(".reject-one").click(function(){
    var reject_id = $(".admin-public-wechat-account-modal-reject").attr("data-public-wechat-account-id");

    var status = 'rejected';
    var profile_id = $('.profile_id').val();
    var remark = $('.reject_reason').val();

    doReject(reject_id, status, profile_id, remark);
  });


  function doReject(result_id, status, profile_id, remark) {
    var data = {
      "status": status,
      "id": result_id,
      "profile_id": profile_id,
      "remark": remark
    };

    doAjaxRequest(data, function(data) {
      if(data['result'] == 'passed' || data['result'] == 'rejected') {
        location.reload();
      } else {
        location.reload();
      }
    });
  }

  function doAjaxRequest(data, callback) {
    $.ajax({
      method: "PUT",
      url: "/marketing_dashboard/public_wechat_accounts/" + data['id'] + '/',
      beforeSend: function(xhr) {
        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
      },
      data: data,
    }).done(callback);
  }
})
</script>