<h1>
  微博用户列表
</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>ID</th>
      <th>kol ID</th>
      <th>审核状态</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @weibo_accounts.each do |t| %>
      <tr>
        <td><%= link_to t.id, marketing_dashboard_weibo_account_path(t) %></td>
        <td>
          <%= t.kol_id %>
        </td>
        <td><%= WeiboAccount::STATUS[t.status] %></td>
        <td>
          <%= link_to "通过", marketing_dashboard_weibo_account_path(t, status: 'passed'), method: :put  if t.status == 0 %>
          <%= link_to "拒绝", marketing_dashboard_weibo_account_path(t, status: 'rejected'), method: :put if t.status == 0 %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>