<div class="panel panel-default panel-custom">
  <div id="growler-alert"></div>
  <div class="panel-body">
    <div class="row">
      <h3><%= polyglot.t("profile.title") %></h3>
      <hr>
      <!-- left column -->
      <% if (Robin.chinaInstance) { %>

        <div class="col-md-3">
          <div class="text-center" id="container">
            <% if (Robin.currentUser.attributes.avatar_url) { %>
              <img src="<%= Robin.currentUser.attributes.avatar_url %>" id="avatar-image" alt="avatar" style="width: 200px; height: 200px">
            <% } else {%>
              <img src="<%= AppAssets.path('noavatar.jpg') %>" id="avatar-image" alt="avatar" style="width: 200px; height: 200px">
            <% } %>
            <h6><%= polyglot.t("uploading.different_photo") %></h6>
            <input type="button" id="pickfiles" class="btn btn-primary" value="选择图片">
          </div>
        </div>
      <% } else { %>
        <div class="col-md-3">
          <div class="text-center" id="image-uploader-custom">
            <img src="//placehold.it/200" id="avatar-image" class="avatar img-circle" alt="avatar">
            <h6><%= polyglot.t("uploading.different_photo") %></h6>
            <input type="hidden" id="avatar-upload" role="uploadcare-uploader"
            data-crop="200x200 upscale"
            data-max-size="3145728"
            data-images-only="true"/>
          </div>
        </div>
      <% } %>
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
        <h3><%= polyglot.t("profile.personal_info") %></h3>
        <form class="form-horizontal" role="form" autocomplete="off" id="profileForm" onsubmit="return false;">
          <div class="form-group col-md-6">
            <label class="control-label"><%= polyglot.t("profile.first_name") %>:</label>
            <div>
              <input class="form-control" name="first_name" type="text" value="">
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label"><%= polyglot.t("profile.last_name") %>:</label>
            <div>
              <input class="form-control" name="last_name" type="text" value="">
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="control-label"><%= polyglot.t("profile.company") %>:</label>
            <div>
              <input class="form-control" name="company" type="text" value="">
            </div>
          </div>
          <div class="form-group col-md-6 pull-right">
            <label class="control-label"><%= polyglot.t("profile.email") %>:</label>
            <div>
              <input class="form-control" name="email" type="text" value="">
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label"><%= polyglot.t("profile.time_zone") %>:</label>
            <div>
              <div class="ui-select">
                <select id="user_time_zone" name="time_zone" class="form-control">
                  <option value=""> -- <%= polyglot.t("profile.time_placeholder") %> -- </option>
                  <option value="American Samoa"><%= polyglot.t('timezones.American_Samoa') %></option>
                  <option value="International Date Line West"><%= polyglot.t('timezones.International_Date_Line_West') %></option>
                  <option value="Midway Island"><%= polyglot.t('timezones.Midway_Island') %></option>
                  <option value="Samoa"><%= polyglot.t('timezones.Samoa') %></option>
                  <option value="Hawaii"><%= polyglot.t('timezones.Hawaii') %></option>
                  <option value="Alaska"><%= polyglot.t('timezones.Alaska') %></option>
                  <option value="Pacific Time (US & Canada)"><%= polyglot.t('timezones.Pacific_Time') %></option>
                  <option value="Tijuana"><%= polyglot.t('timezones.Tijuana') %></option>
                  <option value="Arizona"><%= polyglot.t('timezones.Arizona') %></option>
                  <option value="Chihuahua"><%= polyglot.t('timezones.Chihuahua') %></option>
                  <option value="Mazatlan"><%= polyglot.t('timezones.Mazatlan') %></option>
                  <option value="Mountain Time (US & Canada)"><%= polyglot.t('timezones.Mountain_Time') %></option>
                  <option value="Central America"><%= polyglot.t('timezones.Central_America') %></option>
                  <option value="Central Time (US & Canada)"><%= polyglot.t('timezones.Central_Time') %></option>
                  <option value="Guadalajara"><%= polyglot.t('timezones.Guadalajara') %></option>
                  <option value="Mexico City"><%= polyglot.t('timezones.Mexico_City') %></option>
                  <option value="Monterrey"><%= polyglot.t('timezones.Monterrey') %></option>
                  <option value="Saskatchewan"><%= polyglot.t('timezones.Saskatchewan') %></option>
                  <option value="Bogota"><%= polyglot.t('timezones.Bogota') %></option>
                  <option value="Eastern Time (US & Canada)"><%= polyglot.t('timezones.Eastern_Time') %></option>
                  <option value="Indiana (East)"><%= polyglot.t('timezones.Indiana') %></option>
                  <option value="Lima"><%= polyglot.t('timezones.Lima') %></option>
                  <option value="Quito"><%= polyglot.t('timezones.Quito') %></option>
                  <option value="Caracas"><%= polyglot.t('timezones.Caracas') %></option>
                  <option value="Atlantic Time (Canada)"><%= polyglot.t('timezones.Atlantic_Time') %></option>
                  <option value="Georgetown"><%= polyglot.t('timezones.Georgetown') %></option>
                  <option value="La Paz"><%= polyglot.t('timezones.La_Paz') %></option>
                  <option value="Santiago"><%= polyglot.t('timezones.Santiago') %></option>
                  <option value="Montevideo"><%= polyglot.t('timezones.Montevideo') %></option>
                  <option value="Newfoundland"><%= polyglot.t('timezones.Newfoundland') %></option>
                  <option value="Brasilia"><%= polyglot.t('timezones.Brasilia') %></option>
                  <option value="Buenos Aires"><%= polyglot.t('timezones.Buenos_Aires') %></option>
                  <option value="Greenland"><%= polyglot.t('timezones.Greenland') %></option>
                  <option value="Mid-Atlantic"><%= polyglot.t('timezones.Mid_Atlantic') %></option>
                  <option value="Azores"><%= polyglot.t('timezones.Azores') %></option>
                  <option value="Cape Verde Is."><%= polyglot.t('timezones.Cape_Verde') %></option>
                  <option value="UTC"><%= polyglot.t('timezones.UTC') %></option>
                  <option value="Casablanca"><%= polyglot.t('timezones.Casablanca') %></option>
                  <option value="Dublin"><%= polyglot.t('timezones.Dublin') %></option>
                  <option value="Edinburgh"><%= polyglot.t('timezones.Edinburgh') %></option>
                  <option value="Lisbon"><%= polyglot.t('timezones.Lisbon') %></option>
                  <option value="London"><%= polyglot.t('timezones.London') %></option>
                  <option value="Monrovia"><%= polyglot.t('timezones.Monrovia') %></option>
                  <option value="Amsterdam"><%= polyglot.t('timezones.Amsterdam') %></option>
                  <option value="Belgrade"><%= polyglot.t('timezones.Belgrade') %></option>
                  <option value="Berlin"><%= polyglot.t('timezones.Berlin') %></option>
                  <option value="Bern"><%= polyglot.t('timezones.Bern') %></option>
                  <option value="Bratislava"><%= polyglot.t('timezones.Bratislava') %></option>
                  <option value="Brussels"><%= polyglot.t('timezones.Brussels') %></option>
                  <option value="Budapest"><%= polyglot.t('timezones.Budapest') %></option>
                  <option value="Copenhagen"><%= polyglot.t('timezones.Copenhagen') %></option>
                  <option value="Ljubljana"><%= polyglot.t('timezones.Ljubljana') %></option>
                  <option value="Madrid"><%= polyglot.t('timezones.Madrid') %></option>
                  <option value="Paris"><%= polyglot.t('timezones.Paris') %></option>
                  <option value="Prague"><%= polyglot.t('timezones.Prague') %></option>
                  <option value="Rome"><%= polyglot.t('timezones.Rome') %></option>
                  <option value="Sarajevo"><%= polyglot.t('timezones.Sarajevo') %></option>
                  <option value="Skopje"><%= polyglot.t('timezones.Skopje') %></option>
                  <option value="Stockholm"><%= polyglot.t('timezones.Stockholm') %></option>
                  <option value="Vienna"><%= polyglot.t('timezones.Vienna') %></option>
                  <option value="Warsaw"><%= polyglot.t('timezones.Warsaw') %></option>
                  <option value="West Central Africa"><%= polyglot.t('timezones.West_Central_Africa') %></option>
                  <option value="Zagreb"><%= polyglot.t('timezones.Zagreb') %></option>
                  <option value="Athens"><%= polyglot.t('timezones.Athens') %></option>
                  <option value="Bucharest"><%= polyglot.t('timezones.Bucharest') %></option>
                  <option value="Cairo"><%= polyglot.t('timezones.Cairo') %></option>
                  <option value="Harare"><%= polyglot.t('timezones.Harare') %></option>
                  <option value="Helsinki"><%= polyglot.t('timezones.Helsinki') %></option>
                  <option value="Istanbul"><%= polyglot.t('timezones.Istanbul') %></option>
                  <option value="Jerusalem"><%= polyglot.t('timezones.Jerusalem') %></option>
                  <option value="Kyiv"><%= polyglot.t('timezones.Kyiv') %></option>
                  <option value="Pretoria"><%= polyglot.t('timezones.Pretoria') %></option>
                  <option value="Riga"><%= polyglot.t('timezones.Riga') %></option>
                  <option value="Sofia"><%= polyglot.t('timezones.Sofia') %></option>
                  <option value="Tallinn"><%= polyglot.t('timezones.Tallinn') %></option>
                  <option value="Vilnius"><%= polyglot.t('timezones.Vilnius') %></option>
                  <option value="Baghdad"><%= polyglot.t('timezones.Baghdad') %></option>
                  <option value="Kuwait"><%= polyglot.t('timezones.Kuwait') %></option>
                  <option value="Minsk"><%= polyglot.t('timezones.Minsk') %></option>
                  <option value="Moscow"><%= polyglot.t('timezones.Moscow') %></option>
                  <option value="Nairobi"><%= polyglot.t('timezones.Nairobi') %></option>
                  <option value="Riyadh"><%= polyglot.t('timezones.Riyadh') %></option>
                  <option value="St. Petersburg"><%= polyglot.t('timezones.St_Petersburg') %></option>
                  <option value="Volgograd"><%= polyglot.t('timezones.Volgograd') %></option>
                  <option value="Tehran"><%= polyglot.t('timezones.Tehran') %></option>
                  <option value="Abu Dhabi"><%= polyglot.t('timezones.Abu Dhabi') %></option>
                  <option value="Baku"><%= polyglot.t('timezones.Baku') %></option>
                  <option value="Muscat"><%= polyglot.t('timezones.Muscat') %></option>
                  <option value="Tbilisi"><%= polyglot.t('timezones.Tbilisi') %></option>
                  <option value="Yerevan"><%= polyglot.t('timezones.Yerevan') %></option>
                  <option value="Kabul"><%= polyglot.t('timezones.Kabul') %></option>
                  <option value="Ekaterinburg"><%= polyglot.t('timezones.Ekaterinburg') %></option>
                  <option value="Islamabad"><%= polyglot.t('timezones.Islamabad') %></option>
                  <option value="Karachi"><%= polyglot.t('timezones.Karachi') %></option>
                  <option value="Tashkent"><%= polyglot.t('timezones.Tashkent') %></option>
                  <option value="Chennai"><%= polyglot.t('timezones.Chennai') %></option>
                  <option value="Kolkata"><%= polyglot.t('timezones.Kolkata') %></option>
                  <option value="Mumbai"><%= polyglot.t('timezones.Mumbai') %></option>
                  <option value="New Delhi"><%= polyglot.t('timezones.New_Delhi') %></option>
                  <option value="Sri Jayawardenepura"><%= polyglot.t('timezones.Sri_Jayawardenepura') %></option>
                  <option value="Kathmandu"><%= polyglot.t('timezones.Kathmandu') %></option>
                  <option value="Almaty"><%= polyglot.t('timezones.Almaty') %></option>
                  <option value="Astana"><%= polyglot.t('timezones.Astana') %></option>
                  <option value="Dhaka"><%= polyglot.t('timezones.Dhaka') %></option>
                  <option value="Novosibirsk"><%= polyglot.t('timezones.Novosibirsk') %></option>
                  <option value="Urumqi"><%= polyglot.t('timezones.Urumqi') %></option>
                  <option value="Rangoon"><%= polyglot.t('timezones.Rangoon') %></option>
                  <option value="Bangkok"><%= polyglot.t('timezones.Bangkok') %></option>
                  <option value="Hanoi"><%= polyglot.t('timezones.Hanoi') %></option>
                  <option value="Jakarta"><%= polyglot.t('timezones.Jakarta') %></option>
                  <option value="Krasnoyarsk"><%= polyglot.t('timezones.Krasnoyarsk') %></option>
                  <option value="Beijing"><%= polyglot.t('timezones.Beijing') %></option>
                  <option value="Chongqing"><%= polyglot.t('timezones.Chongqing') %></option>
                  <option value="Hong Kong"><%= polyglot.t('timezones.Hong_Kong') %></option>
                  <option value="Irkutsk"><%= polyglot.t('timezones.Irkutsk') %></option>
                  <option value="Kuala Lumpur"><%= polyglot.t('timezones.Kuala_Lumpur') %></option>
                  <option value="Perth"><%= polyglot.t('timezones.Perth') %></option>
                  <option value="Singapore"><%= polyglot.t('timezones.Singapore') %></option>
                  <option value="Taipei"><%= polyglot.t('timezones.Taipei') %></option>
                  <option value="Ulaanbaatar"><%= polyglot.t('timezones.Ulaanbaatar') %></option>
                  <option value="Osaka"><%= polyglot.t('timezones.Osaka') %></option>
                  <option value="Sapporo"><%= polyglot.t('timezones.Sapporo') %></option>
                  <option value="Seoul"><%= polyglot.t('timezones.Seoul') %></option>
                  <option value="Tokyo"><%= polyglot.t('timezones.Tokyo') %></option>
                  <option value="Yakutsk"><%= polyglot.t('timezones.Yakutsk') %></option>
                  <option value="Adelaide"><%= polyglot.t('timezones.Adelaide') %></option>
                  <option value="Darwin"><%= polyglot.t('timezones.Darwin') %></option>
                  <option value="Brisbane"><%= polyglot.t('timezones.Brisbane') %></option>
                  <option value="Canberra"><%= polyglot.t('timezones.Canberra') %></option>
                  <option value="Guam"><%= polyglot.t('timezones.Guam') %></option>
                  <option value="Hobart"><%= polyglot.t('timezones.Hobart') %></option>
                  <option value="Magadan"><%= polyglot.t('timezones.Magadan') %></option>
                  <option value="Melbourne"><%= polyglot.t('timezones.Melbourne') %></option>
                  <option value="Port Moresby"><%= polyglot.t('timezones.Port_Moresby') %></option>
                  <option value="Sydney"><%= polyglot.t('timezones.Sydney') %></option>
                  <option value="Vladivostok"><%= polyglot.t('timezones.Vladivostok') %></option>
                  <option value="New Caledonia"><%= polyglot.t('timezones.New_Caledonia') %></option>
                  <option value="Solomon Is."><%= polyglot.t('timezones.Solomon_Is') %></option>
                  <option value="Auckland"><%= polyglot.t('timezones.Auckland') %></option>
                  <option value="Fiji"><%= polyglot.t('timezones.Fiji') %></option>
                  <option value="Kamchatka"><%= polyglot.t('timezones.Kamchatka') %></option>
                  <option value="Marshall Is."><%= polyglot.t('timezones.Marshall_Is') %></option>
                  <option value="Wellington"><%= polyglot.t('timezones.Wellington') %></option>
                  <option value="Chatham Is."><%= polyglot.t('timezones.Chatham_Is') %></option>
                  <option value="Nuku'alofa"><%= polyglot.t("timezones.Nuku'alofa") %></option>
                  <option value="Tokelau Is."><%= polyglot.t('timezones.Tokelau_Is') %></option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label"><%= polyglot.t("profile.username") %>:</label>
            <div>
              <input class="form-control" name="name" type="text" value="">
            </div>
          </div>
          <hr>
           <div class="form-group col-md-12" id="currentPassword">
            <label class="control-label"><%= polyglot.t("profile.curr_password") %>:</label>
            <div>
              <input class="form-control" name="current_password" type="password" value="">
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label"><%= polyglot.t("profile.new_password") %>:</label>
            <div>
              <input class="form-control" name="password" type="password" value="" minlength="8"
               data-fv-stringlength-message="<%= polyglot.t("profile.password_must_be_8") %>">
            </div>
          </div>
          <div class="form-group col-md-12">
            <label class="control-label"><%= polyglot.t("profile.confirm_new_password") %>:</label>
            <div>
              <input class="form-control" name="password_confirmation" type="password" value="">
            </div>
          </div>
          <div class="form-group col-md-12">
            <input type="button" id="saveChanges" class="btn btn-primary" value="<%= polyglot.t("profile.buttons.save") %>">
            <span></span>
            <a class="btn btn-default" href="/#dashboard"><%= polyglot.t("profile.buttons.cancel") %></a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
