<div class="signup">
  <header class="int-header">
    <%= render :partial => "pages/partials/menu"%>
    <%= render :partial => "pages/partials/page_banner", :locals => { :header => @l.t('payment_update_page.title_confirmation') }%>
  </header>

  <div class="form-step step3">
    <div class="confirmation">
      <div class="row">
        <div class="small-12 columns">
          <p class="selection-intro-heading"><%= @l.t('payment_update_page.thank_you') %></p>
          <p class="selection-guarantee"><%= @l.t('payment_update_page.messages.success') %></p>

          <a class="button button-signup" href="/"><%= @l.t('payment_update_page.to_robin') %></a>
        </div>
      </div>
    </div>
  </div>
</div>