<% if (items.length == 0) { %>
  <div class="row"><%=polyglot.t('smart_campaign.no_uploaded')%></div>
<% } else { %>
  <div class="row">
    <table class="table table-striped" id="private_kols-table">
      <thead><tr>
        <th><%=polyglot.t('smart_release.targets_step.media_tab.table.name')%></th>
        <th><%=polyglot.t('smart_release.targets_step.media_tab.table.contacts')%></th>
        <th><%=polyglot.t('smart_release.targets_step.media_tab.table.actions')%></th>
      </tr></thead>
      <tbody>
        <% _.each(items, function(c) { %>
          <tr data-id="<%= c.kols_list.id %>">
            <td><%= c.kols_list.name %></td>
            <td><%= c.kols_list.kols_count %></td>
            <td><a class="btn btn-danger btn-xs" href="#" data-list-id="<%= c.kols_list.id %>"><i class="fa fa-close"></i> <%= polyglot.t("smart_release.targets_step.media_tab.delete") %></a></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
<% } %>

