<div class="row">
  <div class="col-md-2 col-md-offset-5 vcenter"><b><%=polyglot.t('smart_campaign.private_influencers')%></b></div>
  <div class="pull-right">
    <form id="invite_kols_form" action="users/import_kols" enctype="multipart/form-data">
      <button type="button" class="btn btn-default btn-green vcenter" id="invite_kols"><i class="fa fa-upload"></i>  <%=polyglot.t('smart_campaign.invite_influencers')%>
      </button>
      <br>
      <small><%=polyglot.t('smart_campaign.supported_formats')%>: CSV <i title="" data-html="true" data-placement="bottom" data-toggle="tooltip" class="fa fa-question-circle" data-original-title="<%=polyglot.t('smart_campaign.uploaded_file')%>"></i></small>
      <input class="hide" type="file" id="private_kols_file" name="private_kols_file" accept="text/csv" />
      <input class="hide" type="button" id="submit_csv"/>
    </form>
  </div>
  <button type="button" class="btn btn-success vcenter" id="add_kol"><i class="fa fa-plus"></i>  <%=polyglot.t('smart_campaign.add_influencer')%></button>
</div>

<ul class="nav nav-tabs nav-justified">
  <li class="active"><a data-toggle="tab" href="#targets-blogs" aria-expanded="true"><i class="fa fa-rss"></i> <%= polyglot.t("smart_release.targets_step.influencers_tab.title") %></a></li>
  <li><a data-toggle="tab" href="#targets-list" aria-expanded="true"><i class="fa fa-list"></i> <%= polyglot.t("smart_release.targets_step.media_tab.title") %></a></li>
</ul>
<div class="tab-content">
  <div id="targets-blogs" class="tab-pane active" role="tabpanel">
  </div>
  <div id="targets-list" class="tab-pane" role="tabpanel">
  </div>
</div>

<div class="modal fade edit-kol" id='kol_form' role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"> <%=polyglot.t('smart_campaign.add_influencer')%></h4>
      </div>
      <div class="modal-body">
        <form role="form" id="add_kol-form" method="post" action="/users/import_kol/">
          <div class="form-group">
            <label><%=polyglot.t('smart_campaign.first_name')%></label>
            <div class="help-block with-errors kols-errors"></div>
            <div id='kol-first_name-block'>
              <input class="form-control" id="kol-first_name-input" name="first_name" type="text" value="" placeholder="<%=polyglot.t('smart_campaign.enter_first name')%>" required>
            </div>
          </div>
          <div class="form-group">
            <label><%=polyglot.t('smart_campaign.last_name')%></label>
            <div class="help-block with-errors kols-errors"></div>
            <div id='kol-last_name-block'>
              <input class="form-control" id="kol-last_name-input" name="last_name" type="text" value="" placeholder="<%=polyglot.t('smart_campaign.enter_last_name')%>" required>
            </div>
          </div>
          <div class="form-group">
            <label><%=polyglot.t('smart_campaign.email')%></label>
            <div class="help-block with-errors kols-errors"></div>
            <div id='kol-email-block'>
              <input class="form-control" id="kol-email-input" name="email" type="email" value="" placeholder="<%=polyglot.t('smart_campaign.enter_email')%>" required>
            </div>
          </div>
          <label class="control-label"><%=polyglot.t('smart_campaign.categories')%>:</label>
          <div>
            <input class="form-control" id="categories" name="categories" type="hidden">
          </div>
        </form>
        <div class="modal-footer">
          <div id="add_kol-buttons">
            <button type="button" class="btn btn-success" id="add_kol_confirm"><i class="fa fa-plus"></i> <%=polyglot.t('smart_campaign.add')%></button>
            <button type="button" class="btn btn-default" data-dismiss="modal"><%=polyglot.t('smart_campaign.close')%></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
