<div class="thumbnail release-item">
  <%= link_to release_path(release) do %>
    <div class="release-thumbnail-container">
      <div class="release-dummy"></div>
      <div class="release-thumbnail-inner">
        <% if release.thumbnail %>
          <img class="img" src="<%= release.thumbnail %>">
        <% elsif release.logo_url %>
          <img class="img" src="<%= release.logo_url %>">
        <% else %>
          <%= image_tag asset_path('release-btn.png'), class: 'img' %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="caption text-center">
    <h3>
      <%= link_to release.title, release_path(release) %>
    </h3>
    <small>15 Jan 2015</small>
    <div class='release-item-text'>
      <p>
        <%= truncate_html(release.text.html_safe, length: 85) if release.text %>
      </p>
    </div>
    <p class='concepts'>
      <% unless release.concepts.blank? %>
        <% JSON.parse(release.concepts).each do |concept| %>
          <label class="label label-success"><%= concept.gsub("_", " ").gsub("+", " ")%></label>
        <% end %>
      <% end %>
    </p>
    <hr>
    <p align="center">
      <%= link_to release_path(release), class: 'btn btn-info' do %>
        <i class="fa fa-leanpub"></i> Read more</a>
      <% end %>
    </p>
  </div>
</div>