<ul class="sidebar-nav">
  <li class="sidebar-brand">
    <% unless @preview_mode%>
      <a href="<%= subdomain_root_path %>">
    <% end %>
      <div class="brand-text">
        <% if news_room.logo_url && news_room.logo_url.length > 0 %>
          <%= image_tag news_room.logo_url, class: 'logo' %>
        <% else %>
          <img class="img-rounded" src="//placehold.it/250x100">
        <% end %>
        <br>
        <strong><%= news_room.company_name %></strong>
        <br /><%= @l.t('public_newsroom.brand_gallery') %>
      </div>
    <% unless @preview_mode%>
      </a>
    <% end %>
  </li>
  <% if news_room.has_contact_info? %>
    <li class="navlinks">
      <a data-toggle="collapse" href="#collapseContact" aria-expanded="false" aria-controls="collapseContact" class="collapsed"><i class="fa fa-info-circle"></i> Contact</a>
      <div class="collapse collapsible" id="collapseContact">
        <div>
          <% if (news_room.company_name) %>
            <strong class="subhead"><%- news_room.company_name %></strong>
          <% end %>
          <p><strong>Email:</strong><br /> <a href="mailto:<%= news_room.email %>"><%= news_room.email %></a></p>
          <p>
            <strong>Address:</strong><br />
            <% unless news_room.postal_code.blank? %>
              PO Box <%= news_room.postal_code %><br />
            <% end %>
            <% unless news_room.address_1.blank? %>
              <%= news_room.address_1 %><br />
            <% end %>
            <% unless news_room.city_state.blank? %>
              <%= news_room.city_state %><br />
            <% end %>
            <% unless news_room.country.blank? %>
              <%= news_room.country %><br />
            <% end %>
          </p>
          <ul class="contact-links">
            <% if news_room.web_address %>
              <li>
                <a href="<%= news_room.web_address %>"><i class="fa fa-globe"></i> <%= news_room.web_address %></a>
              </li>
            <% end %>
            <% if news_room.email %>
              <li>
                <%= mail_to news_room.email do %>
                  <i class="fa fa-envelope"></i> Contact
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </li>
    <% end %>
  <% if news_room.has_social_links? %>
    <li class="navlinks">
      <a data-toggle="collapse" href="#collapseSocial" aria-expanded="false" aria-controls="collapseSocial" class="collapsed"><i class="fa fa-users"></i> <%=@l.t('public_newsroom.social_media')%></a>
      <div class="collapse collapsible" id="collapseSocial">
        <ul class="soc">
          <% unless news_room.twitter_link.blank? %>
            <li><a class="soc-twitter" target='_blank' href="<%= news_room.twitter_link%>"></a></li>
          <% end %>
          <% unless news_room.facebook_link.blank? %>
            <li><a class="soc-facebook" target='_blank' href="<%= news_room.facebook_link%>"></a></li>
          <% end %>
          <% unless news_room.instagram_link.blank? %>
            <li><a class="soc-instagram" target='_blank' href="<%= news_room.instagram_link%>"></a></li>
          <% end %>
          <% unless news_room.linkedin_link.blank? %>
            <li><a class="soc-linkedin" target='_blank' href="<%= news_room.linkedin_link%>"></a></li>
          <% end %>
        </ul>
      </div>
    </li>
  <% end %>
  <% unless news_room.owner_name.blank? %>
    <li class="navlinks">
      <a data-toggle="collapse" href="#collapseSpokeperson" aria-expanded="false" aria-controls="collapseSpokeperson" class="collapsed"><i class="fa fa-user"></i> <%=@l.t('public_newsroom.spokeperson')%></a>
      <div class="collapse collapsible" id="collapseSpokeperson">
        <div class="media">
          <a class="media-left" href="#">
          <% unless news_room.email.blank? %>
            <% spokeperson = User.where(email: news_room.email).first%>
            <% if !spokeperson.nil? && spokeperson.avatar_url %>
              <%= image_tag spokeperson.avatar_url, class: 'img-circle avatar', style: 'width: 50px; height: 50px' %>
            <% end %>
          <% end %>
          </a>
          <div class="media-body">
            <h4 class="media-heading"><%= news_room.owner_name.blank? ? '' : news_room.owner_name %></h4>
            <p>
              <%= news_room.job_title.blank? ? '' : news_room.job_title+", " %><a href="#"><%= news_room.email.blank? ? '' : news_room.email %></a><br>
            </p>
          </div>
        </div>
      </div>
    </li>
  <% end %>
  <% unless news_room.twitter_link.blank? %>
    <li class="navlinks">
      <a data-toggle="collapse" id='twitter-timeline' href="#collapseTweets" aria-expanded="false" aria-controls="collapseTweets" class="collapsed "><i class="fa fa-twitter"></i> <%=@l.t('public_newsroom.latest_tweets')%></a>
      <div class="collapse collapsible <%= news_room.twitter_link.blank? ? 'blank' : 'correct' %>" id="collapseTweets" style="padding: 6px !important;">
        <!-- <a class="twitter-timeline <%= news_room.blank? ? 'hidden' : '' %>" href="<%= news_room.twitter_link %>"  data-screen-name="<%= news_room.twitter_link.blank? ? '' : news_room.twitter_link %>" data-widget-id="398762441560952832" data-chrome="nofooter noheader transparent">Tweets by @parsaghaffari</a> -->
        <div class="twitter-wrap  <%= news_room.twitter_link.blank? ? 'hidden' : '' %>">
          <a class="twitter-timeline" href="<%= news_room.twitter_link%>" data-widget-id="398762441560952832" data-screen-name="<%= news_room.twitter_link.blank? ? '' : news_room.twitter_link.split('/').last%>" data-chrome="nofooter noheader transparent"></a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>
    <li>
  <% end %>
  <% if news_room.attachments.length > 0 %>
    <li class="btn-li">
     <div class="public-button-centered">
        <%= link_to presskit_public_news_room_path, class: 'btn btn-default', disabled: @preview_mode do %>
          <i class="fa fa-image"></i> <%=@l.t('public_newsroom.press_kit')%>
        <% end %>
      </div>
    </li>
  <% end %>
  <li class="btn-li">
    <div class="public-button-centered">
      <%= link_to new_public_news_room_follower_path, class: 'btn btn-default', disabled: @preview_mode do %>
        <i class="fa fa-user-plus"></i> <%= @l.t('public_newsroom.follow') %>
      <% end %>
    </div>
  </li>
</ul>
