<div id='wrapper'>
  <div id="sidebar-wrapper">
    <%= render 'sidebar', news_room: @news_room %>
  </div>
  <div id="page-content-wrapper">
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-lg-12'>
          <h3>Press kit</h3>
          <hr />
          <div id='presskit' class='newsroom-presskit'>
            <% @news_room.images.each do |attachment| %>
              <% if attachment.attachment_type != 'image' || ['tif', 'tiff'].include?(attachment.name.split('.').last) %>
                <a href="<%= attachment.url  %>" class="not-image" title="<%= attachment.name  %>" data-gallery="">
                  <div class="presskit-file">
                    <div class="presskit-file--content">
                      <%= image_tag asset_path(attachment.get_correct_url) %>
                      <br>
                      <span class='name'> <%= attachment.name %> </span>
                    </div>
                  </div>
                </a>
              <% else %>
                <a href="<%= attachment.url  %>" title="<%= attachment.name  %>" data-gallery="">
                  <%= image_tag asset_path(attachment.thumbnail) %>
                </a>
              <%end%>
            <% end %>

          </div>
          <% if @news_room.videos.any? %>
            <h3>Videos</h3>
            <div class='videos newsroom-presskit row'>
              <% @news_room.videos.each do |attachment| %>
                <div class='col-md-2 col-lg-2'>
                  <a href="<%= attachment.url  %>" class="not-image " title="<%= attachment.name  %>" data-gallery="" type="video/<%=attachment.name.split('.').last%>">
                    <div class="presskit-file">
                      <div class="presskit-file--content">
                        <%= image_tag asset_path(attachment.get_correct_url) %>
                        <br>
                        <span class='name'> <%= attachment.name %> </span>
                      </div>
                    </div>
                  </a>
                </div>                    
              <% end %>
            </div>
          <% end %>
          <% if @news_room.files.any? %>
            <h3>Files</h3>
            <div class='files row'>
              <% @news_room.files.each do |attachment| %>
                <div class="col-md-2">
                  <a href="<%= attachment.url  %>" class="not-image" title="<%= attachment.name  %>" data-gallery="">
                    <div class="presskit-file">
                      <div class="presskit-file--content">
                        <%= image_tag asset_path(attachment.get_correct_url) %>
                        <br>
                        <span class='name'> <%= attachment.name %> </span>
                      </div>
                    </div>
                  </a>
                </div>                    
              <% end %>
            </div>
          <% end %>
        </div>
        <div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">
          <!-- The container for the modal slides -->
          <div class="slides"></div>
          <!-- Controls for the borderless lightbox -->
          <h3 class="title"></h3>
          <a class="prev">‹</a>
          <a class="next">›</a>
          <a class="close">×</a>
          <a class="play-pause"></a>
          <ol class="indicator"></ol>
          <!-- The modal dialog, which will be used to wrap the lightbox content -->
          <div class="modal fade">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" aria-hidden="true">&times;</button>
                  <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default pull-left prev">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    Previous
                  </button>
                  <button type="button" class="btn btn-primary next">
                    Next
                    <i class="glyphicon glyphicon-chevron-right"></i>
                  </button>
                </div>
              </div>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

 <script type="text/javascript">

  $( ".newsroom-presskit" ).click(function(event) {
    event = event || window.event;
    var target = event.target || event.srcElement;
    var link = target.src ? target.parentNode : target;
    if ($(link).hasClass('presskit-file') || $(link).hasClass('presskit-file--content')) {
      link = $(link).find('img').parents(".not-image")[0];
    };
    
    var options = {index: link, event: event};
    var links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
  });

</script>