<div id='wrapper'>
  <div id="sidebar-wrapper">
    <%= render 'sidebar', news_room: @news_room %>
  </div>
  <div id="page-content-wrapper">
    <div class='container-fluid'>
      <div class='row'>
        <div class='col-lg-12'>
          <h3>Press kit</h3>
          <hr />
          <div id='presskit'>
            <% @news_room.attachments.each do |attachment| %>
              <% if attachment.attachment_type != 'image'%>
                <a href="<%= attachment.url  %>" class="<%= attachment.attachment_type == 'image' ? '' : 'not-image'%>" title="<%= attachment.name  %>" data-gallery="">
                  <div class="presskit-file">
                    <div class="presskit-file--content">
                      <%= image_tag asset_path(attachment.get_correct_url) %>
                      <br>
                      <% if attachment.attachment_type != 'image' %>
                        <span class='name'> <%= attachment.name %> </span>
                      <% end %>
                    </div>
                  </div>
                </a>
              <% else %>
                <a href="<%= attachment.url  %>" class="<%= attachment.attachment_type == 'image' ? '' : 'not-image'%>" title="<%= attachment.name  %>" data-gallery="">
                  <%= image_tag asset_path(attachment.get_correct_url) %>
                </a>
              <%end%>
            <% end %>

          </div>
        </div>
        <div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">
          <!-- The container for the modal slides -->
          <div class="slides"></div>
          <!-- Controls for the borderless lightbox -->
          <h3 class="title"></h3>
          <a class="prev">‹</a>
          <a class="next">›</a>
          <a class="close">×</a>
          <a class="play-pause"></a>
          <ol class="indicator"></ol>
          <!-- The modal dialog, which will be used to wrap the lightbox content -->
          <div class="modal fade">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" aria-hidden="true">&times;</button>
                  <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default pull-left prev">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    Previous
                  </button>
                  <button type="button" class="btn btn-primary next">
                    Next
                    <i class="glyphicon glyphicon-chevron-right"></i>
                  </button>
                </div>
              </div>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var $container = $('#presskit');
  $container.imagesLoaded( function() {
    $container.masonry({
      columnWidth: $container.width()/3,
      gutter: 0,
      itemSelector: 'a'
    });
  });

  document.getElementById('presskit').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
    console.log(target);
    console.log(link);
    console.log(options);
    blueimp.Gallery(links, options);
  };

</script>