<div id='wrapper'>
  <div id="sidebar-wrapper">
    <%= render 'sidebar', news_room: @news_room %>
  </div>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <% if @preview_mode %>
            <i class="preview-notification">You are in a preview mode.</i>
          <% end %>
          <h1><%= @news_room.company_name %></h1>
          <p><%= @news_room.description %></p>
          <!-- <p>You can follow us on Twitter via <code>@acme</code> or using the <code>#acmecorp</code> hashtag.</p> -->
          <% if @news_room.attachments.length > 0 %>
            <%= link_to presskit_public_news_room_path, class: 'btn btn-default', disabled: @preview_mode do %>
              <i class="fa fa-image"></i> Press kit
            <% end %>
          <% end %>
          <%= link_to new_public_news_room_follower_path, class: 'btn btn-default', disabled: @preview_mode do %>
            <i class="fa fa-user-plus"></i> Follow
          <% end %>
          <hr>
          <% if @releases.length == 0 %>
            <i class="no-releases">No Releases published yet</i>
          <% end %>
          <div id='releases' class='row'>
            <div class="col-xs-12">
              <div class="row">
                <%= render partial: "public_news_rooms/release", collection: @releases %>
              </div>
            </div>
          </div>
          <nav id='pagination' align="center"><%= will_paginate @releases, renderer: BootstrapPagination::Rails %></nav>
          <hr>
          <div id='content-footer'>
            <% unless @news_room.location.blank? %>
              <h4>About <%= @news_room.company_name %></h4>
              <p>
                <strong>Location:</strong> 
                <%= @news_room.location %>
              </p>
            <% end %>
            <% unless @news_room.description.blank? %>
              <p>
                <strong>What Is <%= @news_room.company_name %>?</strong>
              </p>
              <div>
                <%= @news_room.description %>
              </div>
            <% end %>
          </div>
          <%= render 'footer' %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    arrangeReleases()
  });
  $(window).resize(function() {
    arrangeReleases()
  });
  arrangeReleases = function(){
    var listWidth = $('#releases').width();
    var releasesPerRow = Math.floor( listWidth / 360 );
    if (releasesPerRow != 1) {
      var allReleases = $('.release-item').toArray();
      var arrays = [], size = releasesPerRow;
      while (allReleases.length > 0)
        arrays.push(allReleases.splice(0, size));
      $.each(arrays, function(index, row) {
        var highest = 0;
        $.each(row, function(item, value) {
          $(value).height("auto");
          if ($(value).height() > highest) highest = $(value).height();
        });
        $(row).height(highest);
      });
    }
  };
</script>