<!--<header class="formheader">-->
  <!--<div class="row">-->
    <!--<div class="large-12 columns">-->
      <!--<h1 class="logo">Robin8</h1>-->
      <!--<h2 class="signup-tag">Upgrade</h2>-->
    <!--</div>-->
  <!--</div>-->
<!--</header>-->

<div class="signup">
  <header class="int-header">
    <%= render :partial => "pages/partials/menu"%>
    <%= render :partial => "pages/partials/page_banner", :locals => { :header => "Upgrade"}%>
  </header>

<% if flash[:success].present? %>
    <h2><%=flash[:success]%></h2>
<%else%>
    <%= form_for @subscription, :html =>{:class=>"payment ", :id=>"checkout-form"} do |f|  %>
        <div class="row">
          <div class="small-12 columns">
            <div class="goback">
              <a href="/pricing">Go back</a>
            </div>
          </div>
        </div>
        <div class="form-step step3">

          <div class="row">
            <div class="small-12 columns">
              <table cellpadding="0" cellspacing="0">
                <tr>
                  <th class="">Plan</th>
                  <th></th>
                  <th class="removecolumn"></th>
                  <th class="price">Price</th>
                </tr>
                <tr id="checkout-item-1">
                  <td class="">
                    <%=@package.name.split(' ')[0]%> Plan
                  </td>
                  <td>
                    <select name="payment_option" class="select-checkout" id="payment-option" onchange="updatePackage()">
                      <option value="<%=@package.slug%>">Pay Annually ($<%=(@package.price/12).to_i %> x 12/mo) - save 20%</option>
                      <option value="<%=@package.monthly_package.slug%>">Pay Monthly</option>
                    </select>
                  </td>
                  <input type="hidden" id="<%=@package.slug%>" value="<%=@package.price%>"/>
                  <input type="hidden" id="<%=@package.monthly_package.slug%>" value="<%=@package.monthly_package.price%>"/>

                  <input type="hidden" id="nbd-<%=@package.slug%>" value="<%=Date.today + @package.interval.days%>"/>
                  <input type="hidden" id="nbd-<%=@package.monthly_package.slug%>" value="<%=Date.today+ @package.monthly_package.interval.days%>"/>

                  <td class="remove">
                    <a class="remove" data-remove="checkout-item-1">remove</a>
                  </td>
                  <td class="price" id="price-sub">
                    <%=(@package.price).to_i %>
                  </td>
                </tr>
                <tr class="totals">
                  <td class="">
                    TOTAL
                  </td>
                  <td>
                  </td>
                  <td>
                  </td>
                  <td class="price" id="price-total">
                    <%=(@package.price).to_i %>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div>
            <%=flash[:errors] if flash[:errors].present?%>
          </div>
          <div class="signup-footer ftform" id="checkoutdata">
            <div class="row">
              <div class="small-12 columns">
                <h3>Payment Information</h3>
              </div>
            </div>
            <input type="hidden" value="<%=@package.slug%>" name="slug" id="slug"/>
            <div class="row">
              <div class="small-12 columns">
                <div class="submit-wrap">
                  <%= submit_tag "UPGRADE", :class=>"button button-signup nextstep" %>
                </div>
              </div>
            </div>
          </div>
        </div>
    <%end%>
<%end%>


<script>
    function updatePackage(){
        $('#slug').val($('#payment-option').val());
        $('#price-total').html($('#'+$('#slug').val()).val());
        $('#t-price').html($('#'+$('#slug').val()).val() );
        $('#price-sub').html($('#'+$('#slug').val()).val() );
        $('#next-date').html($('#nbd-'+$('#slug').val()).val() );
    }
</script>