<script id="wyihtml5-extract-button" type="text/template">
  <li><a class="btn btn-default btn-sm" id="extract_url" title='Grab release from URL'><i class="fa fa-cloud-download font-12"></i></a></li>
</script>
<script id="wyihtml5-insert-link" type="text/template">
  <li><a class="btn btn-default btn-sm" id="insert_link" title="Insert link"><i class="fa fa-external-link font-12"></i></a></li>
</script>
<script id="wyihtml5-unlink" type="text/template">
  <li><a class="btn btn-default btn-sm" id="unlink" title="Delete link"><i class="fa fa-unlink font-12"></i></a></li>
</script>
<script id="wyihtml5-word-button" type="text/template">
  <li><a class="btn btn-default btn-sm" title="Grab release from DOCX document " onclick="document.getElementById('upload').click(); return false" id="extract_word"><i class="fa fa-file-word-o font-12"></i></a></li>
</script>
<script id="wyihtml5-direct-image-button" type="text/template">
  <div class="btn-group">
    <a class="btn btn-default btn-sm" id="direct-image-upload" title="Insert image by uploading"><i class="fa fa-file-image-o font-12"></i></a>
    <a class="btn btn-default btn-sm" id="url-image-upload" title="Insert image by url"><i class="fa fa-upload font-12"></i></a>
  </div>
</script>
<script id="wyihtml5-direct-video-button" type="text/template">
  <div class="btn-group">
    <a class="btn btn-default btn-sm" id="direct-video-upload" title="Insert video by uploading"><i class="fa fa-file-video-o font-12"></i></a>
    <a class="btn btn-default btn-sm" id="url-video-upload" title="Insert video by url"><i class="fa fa-upload font-12"></i></a>
  </div>
</script>
<div class="panel-heading" style="background-color: #3c9eb6;"><i class="fa fa-envelope"></i> <%= polyglot.t("smart_campaign.pitch_step.email_panel.title") %></div>
<div class="panel-body">
  <form role="form" id="email_pitch_form">
    <div class="form-group">
      <label><%= polyglot.t("smart_campaign.pitch_step.email_panel.subject") %></label>
      <input type="text" placeholder="<%= polyglot.t("smart_campaign.pitch_step.email_panel.subject_placeholder") %>"
             class="form-control" value=""
             name="email_subject">
    </div>
    <div class="form-group">
      <label><%= polyglot.t("smart_campaign.pitch_step.email_panel.email") %></label>
      <input type="text" placeholder="<%= polyglot.t("smart_campaign.pitch_step.email_panel.email_placeholder") %>"
             class="form-control" value=""
             name="email_address">
    </div>
    <div class="form-group">
      <label><%= polyglot.t("smart_campaign.pitch_step.email_panel.pitch_text") %></label>
      <textarea class="wysihtml5 form-control widearea required" rows="10" id="email-pitch-textarea"  name="email_text" data-widearea="enable" data-widearea-id="1" style="width: 100%"></textarea>


    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="form-group">
          <label><%= polyglot.t("smart_release.pitch_step.email_panel.length") %>: </label>
          <span id="summary-slider-amount"></span>
          <div id="summary-slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><span tabindex="0" class="ui-slider-handle ui-state-default ui-corner-all" style="left: 20%;"></span></div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label><%= polyglot.t("smart_release.pitch_step.email_panel.tags") %></label>
          <br>
          <%= _(mergeTags).map(function(m) { return '<label class="label label-default"><a href="#">' + m + '</a></label>' }).join("\n") %>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="form-group" style="float: right">
          <br/>
          <button type="button" class="btn btn-default" id="send-test-email-btn"><%= polyglot.t("smart_release.pitch_step.test_button") %></button>
        </div>
      </div>
    </div>
  </form>
</div>
