<div class="modal admin-campaign-modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">添加备注理由</h4>
      </div>
      <div class="modal-body admin-reject-modal-body">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="form-group">
              <textarea id="admin_desc" class="invalid_reason processed" name="post-text" rows="8" data-min-length="" placeholder="添加备注" style="width: 100%; border: 1px solid #ccc;"></textarea>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="button" class="btn reject change-campaign-desc-checked btn-primary">确认</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h3>支付宝直接付款发起的活动</h3>

<div class="panel panel-default">
  <div class="panel-heading">
    搜索过滤
  </div>
  <div id="searchPanel" class="panel-body">
    <%= search_form_for @q, url: request.path, class: "form" do |f| %>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>品牌主ID</label>
            <%= f.search_field :user_id_eq, class: "form-control", placeholder: "品牌主ID" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>品牌主手机</label>
            <%= f.search_field :user_mobile_number_cont, class: "form-control", placeholder: "品牌主手机" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>品牌主昵称</label>
            <%= f.search_field :user_name_cont, class: "form-control", placeholder: "品牌主昵称" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>订单号</label>
            <%= f.search_field :trade_number_cont, class: "form-control", placeholder: "订单号" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>活动ID</label>
            <%= f.search_field :id_eq, class: "form-control", placeholder: "活动ID" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>活动名称</label>
            <%= f.search_field :name_cont, class: "form-control", placeholder: "活动名称" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>支付宝订单号</label>
            <%= f.search_field :alipay_notify_text_cont, class: "form-control", placeholder: "支付宝订单号" %>
          </div>
        </div>
        <div class="col-md-3">
          <label>&nbsp;</label>
          <div>
            <%= f.submit "搜索", class: "btn btn-primary" %>
            <%= link_to "清除全部", request.path, class: "btn btn-default" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<table class='table table-bordered table-striped'>
  <thead>
    <tr>
      <th>活动ID</th>
      <th>活动名称</th>
      <th>品牌主ID</th>
      <th>品牌名称</th>
      <th>订单号</th>
      <th>支付宝订单号</th>
      <th>支付金额</th>
      <th>支付状态</th>
      <th>下单时间</th>
      <th>备注</th>
      <th>修改备注</th>
    </tr>
  </thead>
  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= campaign.id %></td>
        <td><%= campaign.name %></td>
        <td><%= campaign.user.id if campaign.user %></td>
        <td><%= campaign.user.name if campaign.user %></td>
        <td><%= campaign.trade_number %></td>
        <td><%= campaign.alipay_trade_no %></td>
        <td><%= campaign.alipay_amount %></td>
        <td><%= campaign.alipay_status %></td>
        <td><%= campaign.created_at.strftime("%Y-%m-%d %H:%M") rescue "" %></td>
        <td><%= campaign.admin_desc %></td>
        <td><a href="" onclick="return false;" class="btn btn-warning change-campaign-desc" data-campaign-id=<%= campaign.id %> >修改备注</a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @campaigns, renderer: BootstrapPagination::Rails  %>

<script>
  $(".change-campaign-desc").click(function(){
    $(".admin-campaign-modal").modal("show")
    $(".change-campaign-desc-checked").attr("data-campaign-id", $(this).attr("data-campaign-id"))
  })
  $(".change-campaign-desc-checked").click(function(){
    $.ajax(
    {
      method: "put",
      url: "/marketing_dashboard/alipay_orders/change_campaign_desc",
      data: {campaign_id: $(this).attr("data-campaign-id"), admin_desc: $("#admin_desc").val()}
    }).done(function(data){
      if(data["status"] == 'error'){
        alert(data["message"])
      }else{
        alert("添加成功")
        $(".admin-campaign-modal").modal("hide")
        location.reload();
      }
    })
  })
</script>