<h3>支付宝订单列表</h3>

<div class="panel panel-default">
  <div class="panel-heading">
    搜索过滤
  </div>
  <div id="searchPanel" class="panel-body">
    <%= search_form_for @q, url: request.path, class: "form" do |f| %>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>品牌主ID</label>
            <%= f.search_field :user_id_eq, class: "form-control", placeholder: "品牌主ID" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>品牌主手机</label>
            <%= f.search_field :user_mobile_number_cont, class: "form-control", placeholder: "品牌主手机" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>品牌主昵称</label>
            <%= f.search_field :user_name_cont, class: "form-control", placeholder: "品牌主昵称" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>充值金额</label>
            <div class="row">
              <div class="col-md-6">
                <%= f.number_field :credits_gteq, step: 'any', class: "form-control", placeholder: "最小值" %>
              </div>
              <div class="col-md-6">
                <%= f.number_field :credits_lteq, step: 'any', class: "form-control", placeholder: "最大值" %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>订单号</label>
            <%= f.search_field :trade_no_cont, class: "form-control", placeholder: "订单号" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>订单状态</label>
            <%= f.select :status_eq, AlipayOrder::STATUS, { include_blank: true }, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>支付宝订单号</label>
            <%= f.search_field :alipay_trade_no_cont, class: "form-control", placeholder: "支付宝订单号" %>
          </div>
        </div>
        <div class="col-md-3">
          <label>&nbsp;</label>
          <div>
            <%= f.submit "搜索", class: "btn btn-primary" %>
            <%= link_to "清除全部", request.path, class: "btn btn-default" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th width="50px;">ID</th>
      <th>品牌主ID</th>
      <th>公司名称</th>
      <th>品牌昵称</th>
      <th width="110px;">品牌主手机</th>
      <th>销售人员</th>
      <th>下单时间</th>
      <th>订单号</th>
      <th>支付宝订单号</th>
      <th><%= sort_link(@q, :credits, "充值金额") %></th>
      <th>税费</th>
      <th>充值状态</th>
      <th width="90px;">查看流水 (若未付款则为空)</th>
    </tr>
  </thead>
  <tbody>
    <% @alipay_orders.each do |a| %>
      <tr>
        <td><%= a.id %></td>
        <td><%= link_to a.user_id, marketing_dashboard_user_path(:id => a.user_id), :target => "_blank" %></td>
        <td><%= a.user.campany_name %></td>
        <td><%= a.user.smart_name if a.user %></td>
        <td><%= a.user.mobile_number if a.user %></td>
        <td>
          <% if a.user.seller.present? %>
            <%= a.user.seller.name rescue nil %> |
            <%= link_to '编辑', add_seller_marketing_dashboard_alipay_order_path(a, edit: true) %>
          <% else %>
            <%= link_to '添加', add_seller_marketing_dashboard_alipay_order_path(a, new: true) %>
          <% end %>
        </td>

        <td><%= a.created_at.strftime("%Y-%m-%d %H:%M:%S") rescue "" %></td>
        <td><%= a.trade_no %></td>
        <td><%= a.alipay_trade_no %></td>
        <td><%= a.credits %></td>
        <td>
          <%= a.tax %>
          <%= "(需要发票)" if a.need_invoice %>
        </td>
        <td>
          <% if a.status == 'pending' %>
            未付款
          <% elsif a.status == 'paid' %>
            已付款
          <% end %>
        </td>
        <td>
          <%= link_to "查看流水", search_marketing_dashboard_transactions_path(:trade_no => a.trade_no), :target => "_blank" if a.status == 'paid' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  <% zong = 0 %>
  <% @alipay_orders.each do |a| %>
    <% cam_amount = a.credits rescue 0 %>
    <%  zong = zong + cam_amount %>
  <% end %>
  <%= "总金额#{zong}" %>
</p>

<%
  csv_url = request.path + ".csv"
  csv_url += "?" + request.query_string if request.query_string
%>

<%= link_to "导出CSV", csv_url, :class => "btn btn-default" %>

<%= will_paginate @alipay_orders, renderer: BootstrapPagination::Rails  %>
