<div class="cps_article">
  <!--<div class="cover" style="background-image: url('<%#= @cps_article.cover %>')"></div>-->
  <div class="topic-info">
    <p class="title"><%= @cps_article.title %></p>
    <p class="author">
      <span class="avatar">
        <%= image_tag @cps_article.kol.get_avatar_url %>
        <span class="name"><%= @cps_article.kol.name %></span>
      </span>
    </p>
  </div>
  <div class="section-content">
    <%
       content_arr = @cps_article.content_arr
       index = 0
       while index < content_arr.size
        if content_arr[index] == '<text>'
      %>
        <div class="text-box box"><%= content_arr[index + 1] %></div>
      <% elsif content_arr[index] == '<img>'  %>
        <div class="img-box box"><%= image_tag content_arr[index + 1] %></div>
      <% elsif content_arr[index] == '<product>'
        product = CpsMaterial.find(content_arr[index + 1]) rescue nil
        promotion_url = product.material_url
        next if product.blank?
        promotion_url = CpsPromotionMaterial.get_promotion_url(@cps_share.id, product.id)   if @cps_share.present?
      %>
        <div class="product-box box">
          <%= link_to promotion_url do  %>
            <div class="avatar"><%= image_tag product.img_url %></div>
            <div class="info">
              <div class="pro-title"><%= truncate product.goods_name, :length => 26, :separator => "..." %></div>
              <div class="price">
                售价&nbsp;&yen;<span class="sale-price"><%= product.unit_price %></span>
                <% if !@cps_share %>
                  &nbsp;&nbsp;提成&nbsp;<span class="commission">&yen;<%= product.kol_commision_wl %></span>
                <% end %>
              </div>
            </div>
            <div class="go">
              <%= image_tag 'detail-arrow.png' %>
            </div>
          <% end %>
        </div>
      <% end %>
      <% index += 2 %>
    <% end %>

    <!--分享出去后显示-->
    <% if @cps_share %>
      <div class="disclaimer">
        <div class="title">免责申明</div>
        <div class="content">Robin8平台所发布文章内容仅供读者参考，本平台不承担相关责任。转载时会标注作者及出处</div>
      </div>
      <%= link_to 'http://t.cn/RGrNLK2', :class => 'download-app' do %>
        <%= image_tag 'article_download_app.png' %>
      <% end  %>
    <% end %>
  </div>

</div>
