<% if (items.length == 0) { %>
  <div class="row"><%=polyglot.t('smart_campaign.no_campaigns')%></div>
<% } else { %>
  <div class="row campaigns-list-table">
    <table class="table table-striped" id="campaigns-table">
      <thead style="cursor:pointer;"><tr>
        <th><%=polyglot.t('smart_campaign.name')%></th>
        <th width="100px"><%=polyglot.t('smart_campaign.created')%></th>
        <th width="100px"><%=polyglot.t('smart_campaign.deadline')%></th>
        <th class="no-sort" width="120px"></th>
      </tr></thead>
      <tbody>
        <% _.each(items, function(c) { %>
          <tr data-id="<%= c.id %>">
            <td  class="middle col-md-6">
              <a href="#/smart_campaign/details/<%= c.id %>">
                <%= c.name %>
              </a>
            </td>
            <td class="middle" data-order="<%= timestamp(c.created_at)%>"><%= formatDate(c.created_at) %></td>
            <td class="middle" data-order="<%= timestamp(c.deadline) %>"><%= formatDate(c.deadline) %></td>
            <td class="middle" align="center">
              <a class="btn btn-success vcenter edit-btn" id="edit_campaign" campaign="<%= c.id %>"><%= polyglot.t("smart_campaign.edit") %></a>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
<% } %>
