<div class="signup">
  <header class="int-header">
    <%= render :partial => "pages/partials/menu"%>
    <%= render :partial => "pages/partials/page_banner", :locals => { :header => I18n.t('new_package.title')}%>
  </header>

  <%= form_for @payment, :html =>{:class=>"payment ", :id=>"checkout-form"} do |f|  %>
      <div class="row">
        <div class="small-12 columns">
          <div class="goback">
            <a href="/pricing"><%= I18n.t('new_package.back') %></a>
          </div>
        </div>
      </div>
      <div class="form-step step3">

        <div class="row">
          <div class="small-12 columns">
            <table cellpadding="0" cellspacing="0">
              <tr>
                <th class=""><%= I18n.t('new_package.plan') %></th>
                <th></th>
                <th class="removecolumn"></th>
                <th class="price"><%= I18n.t('new_package.price') %></th>
              </tr>
              <tr id="checkout-item-1">
                <td class="">
                  <%=@product.name.split(' ')[0]%> <%= I18n.t('new_package.plan') %>
                </td>
                <td>
                  <select name="payment_option" class="select-checkout" id="payment-option" onchange="updatePackage()">
                    <option id="<%=@product.name%>" value="<%=@product.slug%>">Pay Annually ($<%=(@product.price/12).to_i %> x 12/mo) - save 20%</option>
                    <option id="<%=@product.monthly_package.name%>" value="<%=@product.monthly_package.slug%>">Pay Monthly</option>
                  </select>
                </td>
                <input type="hidden" id="<%=@product.slug%>" value="<%=@product.price%>"/>
                <input type="hidden" id="<%=@product.monthly_package.slug%>" value="<%=@product.monthly_package.price%>"/>

                <input type="hidden" id="nbd-<%=@product.slug%>" value="<%=Date.today + @product.interval.days%>"/>
                <input type="hidden" id="nbd-<%=@product.monthly_package.slug%>" value="<%=Date.today+ @product.monthly_package.interval.days%>"/>

                <input type="hidden" id="total" value="<%=@product.price%>">
                <td class="remove">
                  <!--<a class="remove" data-remove="checkout-item-1">remove</a>-->
                </td>
                <td class="price" id="price-sub">
                  $<%=(@product.price).to_i %>
                </td>
              </tr>
              <tr class="totals">
                <td class="">
                  <%= I18n.t('new_package.total') %>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td class="price" id="price-total">
                  $<%=(@product.price).to_i %>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="hide-for-small medium-7 columns"> &nbsp;
          </div>
          <div class="small-12 medium-3 columns">
            <label>
              <input type="text" placeholder="<%= I18n.t('new_package.promo') %>" name="code" id="promo_code" aria-invalid="false" autocomplete="off" value="<%=@discount.code if @discount.present?%>">
            </label>
          </div>

          <div class="small-12 medium-2 columns">
            <label>
              <input type="button" value="<%= I18n.t('new_package.apply') %>" onclick="applyDiscount();" name="update">
            </label>
          </div>

          <div class="small-5 columns right">
            <p id="discount_response" style="margin-top:0px;"></p>
          </div>
        </div>


        <div>
          <%=flash[:errors] if flash[:errors].present?%>
        </div>
        <div class="signup-footer ftform" id="checkoutdata">
          <div class="row">
            <div class="small-12 columns">
              <h3><%= I18n.t('new_package.information') %></h3>
              <h4 style="text-align:center;color:#fff;">
                <%= I18n.t('new_package.current') %>: <%=current_user.active_subscription.product.name%> <%= I18n.t('new_package.at') %> $<%=current_user.active_subscription.product.price%>
                <br/> TO <br/>
                <%= I18n.t('new_package.new') %>: <span id='new-name'><%=@product.name%></span> <%= I18n.t('new_package.at') %> $<span id='new-value'><%=@product.price%></span>
              </h4>


              <div class="submit-wrap">
                <%= submit_tag I18n.t('new_package.confirm'), :class=>"button button-signup nextstep" %>
              </div>
            </div>
          </div>
          <input type="hidden" value="<%=@product.slug%>" name="slug" id="slug"/>
          <div class="row">
            <div class="small-12 columns">
              <div class="row formdisclaimers">
                <div class="small-12 columns">
                  <p class="chargesummary"><%= I18n.t('new_package.charge_notification') %> <span class="chargedate" id = "next-date">
                  <% date = current_user.active_subscription.next_charge_date || (Date.today + @product.interval.to_i.days) %>
                  <%=date.strftime("%b #{date.day.ordinalize}, %Y")%></span>. <%= I18n.t('new_package.amount_info') %> <span class="chargetotal" id="t-price">$<%=(@product.price).to_i %></span>.</p>
                </div>
              </div>
              <br/>
            </div>
          </div>
        </div>
      </div>
  <%end%>
</div>


<script>
    function updatePackage(){
        $('#slug').val($('#payment-option').val());
        $('#price-total').html("$"+$('#'+$('#slug').val()).val());
        $('#t-price').html("$"+$('#'+$('#slug').val()).val() );
        $('#new-name').html($("#payment-option option:selected").attr('id'));
        $('#new-value').html($('#'+$('#slug').val()).val() );
        $('#price-sub').html("$"+$('#'+$('#slug').val()).val() );
        $('#next-date').html($('#nbd-'+$('#slug').val()).val() );
    }

    function applyDiscount(){
        if($("#promo_code").val()!=''){
            previous_amount  = parseInt($("#"+$('#slug').val()).val());
            $('#price-sub').html('$'+(previous_amount));
            $('#discount_response').html("");
            $.ajax({
                url: "/payments/apply_discount?code="+$("#promo_code").val()+"&product_slug="+$('#slug').val()
            })
                    .done(function( amount ) {
                        if ( amount != '' ) {
                            previous_amount  = parseInt($("#"+$('#slug').val()).val());
                            $('#price-sub').html('$'+(previous_amount - amount));
                            $('#price-total').html('$'+(previous_amount - amount));
                            $('#t-price').html('$'+(previous_amount - amount) );
                            $('#new-value').html((previous_amount - amount));

                            $('#discount_response').html("Discount successfully applied to your account");
                            $('#discount_response').css("color","#02BA64");
                        }
                        else{
                            $('#discount_response').html("Discount code is not valid or expired");
                            $('#discount_response').css("color","#FF6301");
                        }
                    });
        }
    }


</script>