<div class="signup">
  <header class="int-header">
    <%= render :partial => "pages/partials/menu"%>
    <%= render :partial => "pages/partials/page_banner", :locals => { :header => @l.t('payment_page.title') }%>
  </header>
  <%total = 0.0%>
  <%= form_for @payment, :html =>{:class=>"payment ", :id=>"checkout-form"} do |f|  %>

      <div class="row">
        <div class="small-12 columns">
          <div class="goback">
            <a href="/add-ons<%="?plan="+ @product.slug if @product%>"><%= @l.t 'payment_page.go_back'%></a>
          </div>
        </div>
      </div>
      <div class="form-step step3">
        <% currency_sign = unless current_user.locale == 'zh' then '$' else '¥' end %>
        <% currency = unless current_user.locale == 'zh' then 'US Dollars' else 'RMB' end %>
        <input type="hidden" id="currency_sign" value="<%=currency_sign%>"/>

        <div class="row">
          <div class="small-12 columns">
            <table cellpadding="0" cellspacing="0">
              <tr>
                <th class=""><%= @l.t 'payment_page.table.plan'%></th>
                <th></th>
                <th class="removecolumn"></th>
                <th class="price"><%= @l.t 'payment_page.table.price'%></th>
              </tr>
              <%if @product%>
                  <tr id="checkout-item-1">
                    <td class="">
                      <%=@product.name.split(' ')[0]%> Plan
                    </td>
                    <td>
                      <select disabled name="payment_option" id="payment-option" onchange="updatePackage()">
                        <option value="<%=@product.monthly_package.slug%>">Pay Monthly</option>
                      </select>
                    </td>
                    <% unless current_user.locale == 'zh' %>
                      <%total = @product.price%>
                      <input type="hidden" id="<%=@product.slug%>" value="<%=@product.price%>"/>
                      <input type="hidden" id="<%=@product.monthly_package.slug%>" value="<%=@product.monthly_package.price%>"/>
                    <% else  %>
                      <%total = @product.china_price%>
                      <input type="hidden" id="<%=@product.slug%>" value="<%=@product.china_price%>"/>
                      <input type="hidden" id="<%=@product.monthly_package.slug%>" value="<%=@product.monthly_package.china_price%>"/>
                    <% end %>

                    <input type="hidden" id="nbd-<%=@product.slug%>" value="<%=Date.today + @product.interval.days%>"/>
                    <input type="hidden" id="nbd-<%=@product.monthly_package.slug%>" value="<%=Date.today+ @product.monthly_package.interval.days%>"/>

                    <td class="remove">
                      <!--<a class="remove" data-remove="checkout-item-1">remove</a>-->
                    </td>
                    <% product_price = unless current_user.locale == 'zh' then @product.price else @product.china_price end %>
                    <td class="price" id="price-sub">
                      <%=currency_sign%><%=(product_price) %>
                    </td>
                  </tr>
              <%end%>
              <% addons_price = 0.0 %>
              <% addons_id = [] %>
              <%@add_ons.each do |add_on|%>
                  <tr id="checkout-item-<%=add_on.id%>">
                    <input type="hidden" name="add_ons[<%=add_on.id%>]" value="<%=@add_on_hash["#{add_on.id}"]%>"/>
                    <td class="">
                      <%=add_on.name%> (<%=@add_on_hash["#{add_on.id}"]%>)
                    </td>
                    <td>
                    </td>
                    <% addon_price = unless current_user.locale == 'zh' then add_on.price else add_on.china_price end %>
                    <td class="remove">
                      <a data-remove="checkout-item-<%=add_on.id%>" class="remove" onclick="removeAddonCost(<%=add_on.id%>)"><%= @l.t 'payment_page.table.remove'%></a>
                    </td>
                    <td class="price"  id="<%=add_on.id%>"><%=currency_sign%><%=price = addon_price * @add_on_hash["#{add_on.id}"].to_f%></td>
                    <input type="hidden" value="<%=@add_on_hash["#{add_on.id}"].to_f%>" name="add_on<%=add_on.id%>count" id="add_on<%=add_on.id%>count"/>
                  </tr>
                  <%total += price %>
                  <%addons_price += price %>
                  <%addons_id.push(add_on.id) %>
              <%end if @add_ons.present?%>
              <tr class="tax_row <%unless params[:tax].present? %>hidden<%end%>">
                <td colspan="3"><%= @l.t 'payment_page.table.tax' %></td>
                <td class="price" id="tax-column"><%=currency_sign%><%= params[:tax].present? ? params[:tax] : 0 %></td>
              </tr>
              <input type="hidden" id="addons-price" value="<%=addons_price%>"/>
              <input type="hidden" value="<%=addons_id%>" name="addons_id" id="addons_id"/>
              <input type="hidden" value="<%=total%>" name="order_price" id="order_price"/>
              <input type="hidden" value="0" name="discount" id="discount"/>
              <tr class="totals">
                <td class="">
                  <%= @l.t 'payment_page.table.total'%>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td class="price" id="price-total"><%=currency_sign%><%= params[:tax].present? ? total + params[:tax].to_f : total %></td>
              </tr>
            </table>
          </div>
          <div class="tax_description <%unless params[:tax].present? %>hidden<%end%>"><%= @l.t('payment_page.tax_description') %></div>
        </div>


            <div class="row">
              <div class="hide-for-small medium-7 columns"> &nbsp;
              </div>
              <div class="small-12 medium-3 columns">
                <label>
                  <input type="text" placeholder="Promo Code" name="code" id="promo_code" autocomplete="off" aria-invalid="false" value="<%=@discount.code if @discount.present?%>">
                </label>
              </div>

              <div class="small-12 medium-2 columns">
                <label>
                    <input type="button" value="Apply Code" onclick="applyDiscount();" name="update">
                </label>
              </div>

              <div class="small-5 columns right">
                <p id="discount_response" style="margin-top:0px;"></p>
              </div>
            </div>
        <input type="hidden" name="tax_rate" id="tax_rate" value="<%= params[:tax_rate].present? ? params[:tax_rate] : 0 %>" />
        <input type="hidden" name="tax" id="tax" value="<%= params[:tax].present? ? params[:tax] : 0 %>">
        <input type="hidden" name="order_price" id="order_price" value="<%= total %>" />
        <input type="hidden" id="discount-amount" value="0"/>
        <div class="alert alert-danger">
          <ul style="list-style:none;text-align:center;">
            <%flash[:errors].each do |e|%>
                <li><%=e%></li>
            <%end if flash[:errors].present?%>
          </ul>
        </div>
        <div class="signup-footer ftform" id="checkoutdata">
          <div class="row">
            <div class="small-12 columns">
              <h3><%= @l.t 'payment_page.info'%></h3>
            </div>
          </div>
          <input type="hidden" value="<%=@product.try(:slug) || "add-on"%>" name="slug" id="slug"/>
          <input type="hidden" value="<%=@product.try(:sku_id) || @add_ons[0].try(:sku_id)%>" id="sku_id" />
          <div class="row">
            <div class="small-2 medium-2 large-2 columns custom-padding">
              <label><%= @l.t 'payment_page.your_title'%>
                <%=select "contact", "title", [[@l.t('payment_page.mr_title'), @l.t('payment_page.mr_title')], [@l.t('payment_page.ms_title'), @l.t('payment_page.ms_title')], [@l.t('payment_page.mrs_title'), @l.t('payment_page.mrs_title')]], {:selected => params[:contact].present? ? params[:contact][:title] : ''}, {:class => "select-checkout"} %>
              </label>
            </div>

            <div class="small-10 medium-5 large-5 columns custom-padding">
              <label><%= @l.t 'payment_page.first_name'%>
                <%=text_field "contact", "first_name" ,:value=>current_user.first_name, :class=>"form-control","data-validation"=>"required",
                              "data-validation-error-msg"=> @l.t('payment_page.messages.first_name_blank')%>
              </label>
            </div>

            <div class="small-12 medium-5 large-5 columns custom-padding">
              <label><%= @l.t 'payment_page.last_name'%>
                <%=text_field "contact", "last_name" , :value=>current_user.last_name, :class=>"form-control","data-validation"=>"required",
                              "data-validation-error-msg"=> @l.t('payment_page.messages.last_name_blank') %>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="small-12 columns custom-padding">
              <label><%= @l.t 'payment_page.phone'%>
                <%=text_field "contact", "phone" , :value => params[:contact].present? ? params[:contact][:phone] : '', :class=>"form-control","data-validation"=>"required",
                              "data-validation-error-msg"=> @l.t('payment_page.messages.phone_blank'), "data-validation"=>"number" %>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="small-12 medium-6 large-8 columns custom-padding">
              <label><%= @l.t 'payment_page.address'%>
                <%=text_field "contact", "address1" , :value => params[:contact].present? ? params[:contact][:address1] : '', :class=>"form-control","data-validation"=>"required",
                              "data-validation-error-msg"=> @l.t('payment_page.messages.address_blank') %>
              </label>
            </div>

            <div class="small-12 medium-6 large-4 columns custom-padding">
              <label><%= @l.t 'payment_page.city'%>
                <%=text_field "contact", "city" , :value => params[:contact].present? ? params[:contact][:city] : '', :class=>"form-control","data-validation"=>"required",
                              "data-validation-error-msg"=> @l.t('payment_page.messages.city_blank') %>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="small-12 medium-4 large-4 columns custom-padding">
              <label><%= @l.t 'payment_page.state'%>
                <%=text_field "contact", "state" , :value => params[:contact].present? ? params[:contact][:state] : '', :class=>"form-control","data-validation"=>"required",
                              "data-validation-error-msg"=> @l.t('payment_page.messages.state_blank'),:placeholder => "NY" %>
              </label>
            </div>

            <div class="small-12 medium-4 large-3 columns custom-padding">
              <label><%= @l.t 'payment_page.code'%>
                <%=text_field "contact", "zip" , :value => params[:contact].present? ? params[:contact][:zip] : '', :class=>"form-control","data-validation"=>"required",
                              "data-validation-error-msg"=> @l.t('payment_page.messages.code_blank') %>
              </label>
            </div>

            <div class="small-12 medium-4 large-5 columns custom-padding">
              <label><%= @l.t 'payment_page.country'%>
                <%=select_tag "contact[country]",options_for_select(Country.all.sort, :selected => params[:contact].present? ? params[:contact][:country] : ''), 
                    {:class=>"select-checkout"}%>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="small-12 medium-12 large-4 columns custom-padding">
              <label><%= @l.t 'payment_page.card_type'%>
                <%=select "card", "credit_card_type", [["Visa", 'visa'], ["Master Card", 'mastercard'],["American Express", 'amex'],["Discover", 'discover'],["JCB","jcb"] ], 
                    {:selected => params[:card].present? ? params[:card][:credit_card_type] : ''}, {:class => "select-checkout"} %>
              </label>
            </div>

            <div class="small-8 medium-8 large-5 columns custom-padding">
              <label><%= @l.t 'payment_page.card_number'%>
                <%=text_field "card", "credit_card_number" , :class=>"form-control", :autocomplete=>"off" , "data-bluesnap"=>"encryptedCreditCard","data-validation"=>"required",
                              "data-validation-error-msg"=> @l.t('payment_page.messages.card_number_blank'),"data-validation"=>"number" %>
              </label>
            </div>

            <div class="small-4 medium-4 large-3 columns custom-padding">
              <label><%= @l.t 'payment_page.cvv'%>
                <%=text_field "card", "verification_code", :class=>"form-control", :autocomplete=>"off", "data-bluesnap" =>"encryptedCvv",
                              "data-validation"=>"length", "data-validation-length"=>"min2",
                              "data-validation-error-msg"=> @l.t('payment_page.messages.cvv_blank'),"data-validation"=>"number"%>
              </label>
            </div>


          </div>
          <div class="row">
            <div class="small-6 medium-6 large-3 columns custom-padding">
              <label><%= @l.t 'payment_page.exp_month'%>
                <%=text_field "card", "expiration_month", :value => params[:card].present? ? params[:card][:expiration_month] : '',
                  :class=>"form-control", :autocomplete=>"off",:placeholder=>"04","data-validation"=>"required",
                  "data-validation-error-msg"=> @l.t('payment_page.messages.exp_month_blank'),"data-validation"=>"number"  %>
              </label>
            </div>
            <div class="small-6 medium-6 large-3 columns left custom-padding">
              <label><%= @l.t 'payment_page.exp_year'%>
                <%=text_field "card", "expiration_year", :value => params[:card].present? ? params[:card][:expiration_year] : '',
                  :class=>"form-control", :autocomplete=>"off",:placeholder=>"2015","data-validation"=>"required",
                  "data-validation-error-msg"=> @l.t('payment_page.messages.exp_year_blank'), "data-validation"=>"length" , "data-validation-length"=>"4-4"%>
              </label>
            </div>
          </div>

          <div class="row formdisclaimers">
            <div class="small-12 columns">
              <p><strong><%= @l.t 'payment_page.note.first_part'%> </strong><br /> <%= @l.t 'payment_page.note.second_part'%> <a href="terms.html"><%= @l.t 'payment_page.note.third_part'%></a> <%= @l.t 'payment_page.note.fourth_part'%> <br /><%= @l.t 'payment_page.note.fifth_part'%></p>
                <% if current_user.active_subscription.present? %>
                  Satisfaction guaranteed or your money back (within 30 days).
                <% end %>
                <br />All prices in <%=currency %>.</p>
              <%if @product.present?%>
                  <p class="chargesummary">Today your charge will be <span class="chargetotal" id = "t-price"><%=currency_sign %> <%=total%></span> and your next bill date will be <span class="chargedate" id = "next-date"><%=Date.today + @product.try(:interval).to_i.days %></span></p>
              <%end%>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <div class="submit-wrap">
                <%= submit_tag "#{@l.t('payment_page.submit_btn')}", :class=>"button button-signup nextstep" %>
              </div>
            </div>
          </div>
        </div>
      </div>
  <%end%>
  <div class="clearfix"></div>
  <style>
    .ui-selectmenu-button {
      margin-top:10px;
    }
    .ui-selectmenu-menu .ui-menu{
      max-height: 200px;
    }
    .signup-footer.ftform .ui-selectmenu-button {
      background: none repeat scroll 0 0 transparent;
      border: 1px solid #ffffff;
      color: #ffffff;
      height: 40px!important;
      margin-top: 10px;
    }
    .form-error{
      font-size: 15px;
      color: #FF0000;
      vertical-align:top;
    }
    .signup form .signup-footer.ftform label input {
      margin-bottom: 5px;
    }
    .custom-padding {
      margin-bottom: 25px;
    }
  </style>

  <script src="https://gateway.bluesnap.com/js/cse/v1.0.1/bluesnap.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.1.47/jquery.form-validator.min.js"></script>

  <script>
      $.validate();

      <%if @discount.present?%>
      applyDiscount();
      <%end%>

      $('#contact_state').on('change', function(){
        if($(this).val() != '' && $(this).val().length > 1) checkTax();
      });

      $('#contact_country').on('selectmenuchange', function(){
        if($('#contact_state').val() != '') checkTax();
      });

      function checkTax() {
        $.ajax({
          url: "/payments/check_tax_rate?sku_id=" + $('#sku_id').val() + "&country=" + $('#contact_country').val() + "&state=" + $('#contact_state').val()
        }).done(function(tax_rate){
          if (tax_rate == -1) {
            $('.alert.alert-danger > ul').append('<li class="tax_error"><%= @l.t 'payment_page.messages.tax_error'%></li>');
            $('html, body').animate({ scrollTop: $('#checkout-form').offset().top });
          } else {
            if ($('.alert.alert-danger > ul li').hasClass('tax_error')) $('.alert.alert-danger > ul .tax_error').remove();
            $('#tax_rate').val(tax_rate);
            countTax();
          }
        });
      }

      function countTax() {
        orderPrice = parseFloat($('#order_price').val());
        tax = parseFloat((orderPrice / 100 * parseFloat($('#tax_rate').val())).toFixed(2));
        total = orderPrice + tax;
        $('#tax-column').html($('#currency_sign').val() + tax);
        $('#price-total').html($('#currency_sign').val() + total);
        $('#tax').val(tax);
        $('#t-price').html($('#currency_sign').val() + total);
        if (tax == 0) {
          $('.tax_row, .tax_description').hide();
        } else {
          $('html, body').animate({
            scrollTop: $('#checkout-form').offset().top
          }, 300, function(){
            $('.tax_row, .tax_description').show();
          });
        }
      }

      function updatePackage(){
        $('#slug').val($('#payment-option').val());
        productCost = parseFloat($("#"+$('#slug').val()).val());
        addonsCost = parseFloat($('#addons-price').val());
        $('#next-date').html($('#nbd-'+$('#slug').val()).val());
        $('#order_price').val(productCost + addonsCost);
        applyDiscount();
      }

      function applyDiscount(){
        if($("#promo_code").val()!='' && $("#discount").val() != "1"){
          $.ajax({
            url: "/payments/apply_discount?code=" + $("#promo_code").val() + "&product_slug=" + $('#slug').val() + "&addons_id=" + JSON.parse($('#addons_id').val())
          }).done(function( discountAmount ) {
              if ( discountAmount != '' ) {
                var discountTotal = 0;
                var totalProductCost = 0;
                if ($('#slug').val() != "add-on") {
                  $.each(discountAmount, function( index, value ) {
                    if(index != discountAmount.length-1 && value[0]==$('#slug').val()){
                      productCost = parseInt($("#"+$('#slug').val()).val());
                      $('#price-sub').html($('#currency_sign').val()+parseInt((productCost - parseInt(value[1]))));
                      discountTotal += parseFloat(value[1]);
                      totalProductCost = parseFloat((productCost - parseFloat(value[1])));
                    }
                  });
                }
                var addons_total_price = 0;
                $.each(discountAmount, function( index, value ) {
                  if(index != discountAmount.length-1){
                    if(value[0] != $('#slug').val()){
                      productCost = parseInt($("#" + value[0]).html().slice(1));
                      count = parseInt($("#add_on" + value[0] + "count").val());
                      price = parseInt((productCost - (parseInt(value[1]) * count)));
                      discountTotal += parseFloat(value[1] * count);
                      $('#'+value[0]).html($('#currency_sign').val()+ price);
                      $('#'+value[0]).val(price);
                      addons_total_price += price;
                    }
                  }
                });
                $('#discount-amount').val(discountTotal);
                $('#order_price').val(totalProductCost + addons_total_price);
                countTax();
                $('#addons-price').val(addons_total_price);
                $('#discount_response').html("Discount successfully applied to your account");
                $('#discount_response').css("color","#02BA64");
                $("#discount").val("1");
              } else {
                $('#discount_response').html("Discount code is not valid or expired");
                $('#discount_response').css("color","#FF6301");
              }
          });
        } else {
          countTax();
        }
      }

      function removeAddonCost(item){
        addonPrice = parseInt($('#'+ item).html().slice(1));
        addonsCost = parseInt($('#addons-price').val());
        $('#addons-price').html( addonsCost - addonPrice );

        $('#order_price').val(parseFloat($('#order_price').val()) - addonPrice);

        addons_id = JSON.parse($('#addons_id').val());
        addons_id.splice(addons_id.indexOf(item), 1);
        $('#addons_id').val("[" + addons_id + "]");

        countTax();
      }

      $(document).ready(function(){
          if( !/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
              $( ".select-checkout" ).selectmenu();
          }
          trimPaymentInputs();
      });

      BlueSnap.publicKey = '<%=Rails.application.secrets[:bluesnap][:public_key]%>';
      BlueSnap.setTargetFormId("checkout-form");

  </script>
</div>
