<div class="modal-dialog modal-lg" id="campaign-article-modal">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><%= title %></h4>
        </div>
        <div class="modal-body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab" data-action="accepted">Content</a></li>
                <li role="presentation"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab" data-action="declined">Comment</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="content">
                    <textarea class="wysihtml5 article-content" <% if (disabled) { %>disabled="disabled"<% } %>><%= item.text %></textarea>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <% var button_disabled = ""; if (item.tracking_code != null && item.tracking_code != "Waiting") { button_disabled = "disabled"; } %>
                        <% if (!disabled) { %>
                            <button type="button" class="btn btn-primary" id="article-approve"  <%= button_disabled %> >Send for approval</button>
                        <% } %>
                        <% if (disabled) { %>
                          <button type="button" class="btn btn-success" id="article-save" <%= button_disabled %> >Approve</button>
                        <% } else { %>
                          <button type="button" class="btn btn-primary" id="article-save" <%= button_disabled %> >Save changes</button>
                        <% } %>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="comments">
                    <div class="row comments-title"> Documents
                        <ul class="files_list clearfix">
                            <li>
                                <div id="upload-tooltip">
                                    <div class="image-preview-multiple-plus">
                                        <input type="hidden" role="uploadcare-uploader" data-multiple="true" data-file="" />
                                    </div>
                                </div>
                            </li>
                            <li>
                                <ul id="files" class="files_list clearfix">
                                    <% _.each(item.attachments, function(c) { %>
                                    <li>
                                        <a href="<%= c.url %>" target="_blank"><%= c.name %></a>
                                    </li>
                                    <% }); %>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <hr />
                    <div class="row comments-title">Comments</div>
                    <div class="row comments-list" id="comments-list">

                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <input type="text" id="comment" value="" class="form-control" placeholder="Type your comment" />
                                    <p class="help-block with-errors hidden" id="comment-error">Please fill the field</p>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-3">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" id="comment-save">Send</button>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
