<div class="dashboard-btns dashboard-kol">
  <div class="row">
    <div class="invites" id="invites">

      <% if (items.length != 0) { %>
      <table class="table table-striped" id="kol-dashboard">
        <thead class="table-head">
          <tr>
            <th class="invite-cell head-cell invite-brand" data-sort="string"><%=polyglot.t('dashboard.brand')%></th>
            <th class="invite-cell head-cell invite-name" data-sort="string"><%=polyglot.t('dashboard.name')%></th>
            <th class="invite-cell head-cell invite-budget" data-sort="int"><%=polyglot.t('dashboard.budget')%></th>
            <th class="invite-cell head-cell invite-date" data-sort="int"><%=polyglot.t('dashboard.creation_date')%></th>
            <th class="invite-cell head-cell invite-deadline" data-sort="int"><%=polyglot.t('dashboard.deadline')%></th>
            <th class="invite-cell head-cell invite-status" data-sort="string"><%=polyglot.t('dashboard.status')%></th>
            <th class="invite-cell head-cell"><%=polyglot.t('dashboard_kol.campaigns_tab.action')%></th>
          </tr>
        </thead>
        <tbody>
        <% _.each(items, function(item){ %>
          <% if (item.status != 'A' && item.status != 'D'){ %>
            <tr >
              <td class="invite-cell invite-description">
                  <%= item.user.company %>
              </td>
              <td class="invite-cell invite-name">
                <%= item.campaign.name %>
              </td>
              <td class="invite-cell invite-description" data-order="<%= item.campaign.budget %>">
                <%= budget(item.campaign) %>
              </td>
              <td data-order="<%= timestamp(item.created_at) %>" class="invite-cell invite-date">
                  <%= formatDate(item.created_at) %>
              </td>
              <td data-order="<%= timestamp(item.campaign.deadline) %>" class="invite-cell invite-deadline">
                <b><%= formatDate(item.campaign.deadline) %></b>
              </td>
              <td class="invite-cell invite-action invite-nostatus">
                <%=polyglot.t('dashboard_kol.campaigns_tab.pending')%>
              </td>
              <td>
                <button type="button" class="btn top-btn camp-not-interested" id="negotiate" data-camp-id="<%= item.campaign.id %>" data-invite-id="<%= item.id %>"><%=polyglot.t('dashboard_kol.campaigns_tab.negotiate')%></button>
                <button type="button" class="btn top-btn camp-interested invitation-accept" data-invite-id="<%= item.id %>"><%=polyglot.t('dashboard.accept')%></button>
                <button type="button" class="btn top-btn btn-decline invitation-decline" data-invite-id="<%= item.id %>"><%=polyglot.t('dashboard_kol.campaigns_tab.reject')%></button>
              </td>
            </tr>
          <% } %>
        <% }); %>
        </tbody>

      </table>
      <% } else { %>
      <div class="col-sm-12">
        <%= polyglot.t("dashboard.not_invited")%>
      </div>
      <% } %>
    </div>
  </div>
</div>
