<% if (items.length == 0) { %>
<div class="row">
    You don't have any <% if (!declined) { %>accepted<% } else { %>declined<% } %> campaigns.
</div>
<% } else { %>
<div class="row">
    <table class="table table-striped" id="campaigns-table">
        <thead>
        <tr>
            <th data-sort="string">Name</th>
            <th data-sort="int">Deadline</th>
            <th data-sort="int">Created</th>
            <th data-sort="int">Budget</th>
        </tr>
        </thead>
        <tbody>
        <% _.each(items, function(c) { %>
        <tr data-id="<%= c.id %>" <% if (!declined) { %>class="campaign"<% } %>>
            <td><%= c.name %></td>
            <td data-sort-value="<%= timestamp(c.deadline) %>"><%= formatDate(c.deadline) %></td>
            <td data-sort-value="<%= timestamp(c.created_at) %>"><%= formatDate(c.created_at) %></td>
            <td data-sort-value="<%= c.budget %>">$<%= c.budget %></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</div>
<% } %>
