<div class="row">If you are WeChat author, please note that you have to submit your WeChat report for the campaign on each 7th day after approval of your article, since WeChat only stores data during 7 days after the article was posted. If you will delay submission of the report, your performance data (number of people reached, number of page views, number of "read more", number of re-share + favorites) for the delayed days will not be count.</div>
<hr>
<% if (items.length == 0) { %>
<div class="row">
    You don't have any <% if (!declined) { %>accepted<% } else { %>declined<% } %> campaigns.
</div>
<% } else { %>
<div class="row">
    <table class="table table-striped" id="campaigns-table">
        <thead class="table-head">
        <tr>
            <th>Name</th>
            <th>Brand</th>
            <th>Budget</th>
            <th>Creation Date</th>
            <th>Deadline</th>
            <% if (!declined) {%>
              <th>Article URL</th>
            <% }%>
        </tr>
        </thead>
        <tbody>
        <% _.each(items, function(item){ %>
        <tr data-id="<%= item.id %>" <% if (!declined) { %>class="campaign"<% } %>>
            <td class="invite-cell invite-name">
                <%= item.name %>
            </td>
            <td class="invite-cell invite-description">
                <%= item.user.first_name %> <%= item.user.last_name %>
            </td>
            <td class="invite-cell invite-description" data-order="<%= item.budget %>">
                $<%= item.budget %>
            </td>
            <td data-order="<%= timestamp(item.created_at) %>" class="invite-cell invite-date">
                <%= formatDate(item.created_at) %>
            </td>
            <td data-order="<%= timestamp(item.deadline) %>" class="invite-cell invite-deadline">
                <b><%= formatDate(item.deadline) %></b>
            </td>
            <% if (!declined) {%>
              <td><%= code(item) %></td>
            <% }%>
        </tr>
        <% }); %>
        </tbody>

    </table>
</div>
<% } %>
