<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#accepted" aria-controls="accepted" role="tab" data-toggle="tab" data-action="accepted"><%= polyglot.t('dashboard_kol.campaigns_tab.accepted') %></a></li>
        <li role="presentation"><a href="#invitation" aria-controls="invitation" role="tab" data-toggle="tab" data-action="invitation"><%= polyglot.t('dashboard_kol.campaigns_tab.invitation') %></a></li>
        <li role="presentation"><a href="#negotiating" aria-controls="negotiating" role="tab" data-toggle="tab" data-action="negotiating"><%= polyglot.t('dashboard_kol.campaigns_tab.negotiating') %></a></li>
        <li role="presentation"><a href="#declined" aria-controls="declined" role="tab" data-toggle="tab" data-action="declined"><%= polyglot.t('dashboard_kol.campaigns_tab.declined') %></a></li>
        <li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab" data-action="history"><%= polyglot.t('dashboard_kol.campaigns_tab.history') %></a></li>
        <li role="presentation"><a href="#all" aria-controls="all" role="tab" data-toggle="tab" data-action="all"><%= polyglot.t('dashboard_kol.campaigns_tab.all') %></a></li>
        <li role="presentation"><a href="#latest" aria-controls="latest" role="tab" data-toggle="tab" data-action="latest"><%= polyglot.t('dashboard_kol.campaigns_tab.latest') %></a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="accepted"></div>
        <div role="tabpanel" class="tab-pane" id="invitation"></div>
        <div role="tabpanel" class="tab-pane" id="negotiating"></div>
        <div role="tabpanel" class="tab-pane" id="declined"></div>
        <div role="tabpanel" class="tab-pane" id="history"></div>
        <div role="tabpanel" class="tab-pane" id="all"></div>
        <div role="tabpanel" class="tab-pane" id="latest"></div>
    </div>
</div>
