<h1>
  内容创作者列表
</h1>

<h5><%= devise_error_messages! %></h5>

<div class="panel panel-default">
  <div class="panel-heading">
    搜索过滤
  </div>
  <div id="searchPanel" class="panel-body">
    <%= search_form_for @q, url: request.path, class: "form" do |f| %>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>KOL ID</label>
            <%= f.search_field :kol_id_eq, class: "form-control", placeholder: "KOL ID" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>联系方式</label>
            <%= f.search_field :kol_mobile_number_cont, class: "form-control", placeholder: "联系方式" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>审核状态</label>
            <%= f.select :status_eq, options_for_select([['未审核',0],['审核通过',1],['审核拒绝',-1]], @q.status_eq), { include_blank: true }, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-3">
          <label>&nbsp;</label>
          <div>
            <%= f.submit "搜索", class: "btn btn-primary" %>
            <%= link_to "清除全部", request.path, class: "btn btn-default" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>ID</th>
      <th>kol ID</th>
      <th>联系方式</th>
      <th>审核状态</th>
      <th>图文报价</th>
      <th>原创视频报价</th>
      <th>自媒体圈子</th>
      <th>自媒体平台</th>
      <th>粉丝数</th>
      <th>男女比例偏重</th>
      <th>年龄段偏重</th>
      <th>作品展示</th>
      <th>备注</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @creators.each do |t| %>
      <tr>
        <td><%= link_to t.id, marketing_dashboard_creator_path(t) %></td>
        <td><%= t.kol_id %></td>
        <td><%= t.mobile_number %></td>
        <td><%= Creator::STATUS[t.status] %></td>
        <td><%= t.price %></td>
        <td><%= t.video_price %></td>
        <td><%= t.circles.map(&:label).join(',') %></td>
        <td><%= t.terraces.map(&:name).join(',') %></td>
        <td><%= t.fans_count %></td>
        <td><%= Creator::GENDER[t.gender] %></td>
        <td><%= Creator::AgeRanges[t.age_range] %></td>
        <td><%= t.content_show %></td>
        <td><%= t.remark %></td>
        <td>
          <% if t.status == 0 %>
            <%= link_to "通过", marketing_dashboard_creator_path(t, status: 'passed'), method: :put %>
            <%= link_to "拒绝", marketing_dashboard_creator_path(t, status: 'rejected'), method: :put %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @creators, renderer: BootstrapPagination::Rails  %>