<div>
  <table class='table'>
    <thead>
      <tr>
        <th>活动名称</th>
        <th>参与人数</th>
        <th>奖励总额</th>
        <th>未支付人数</th>
        <th>未支付总额</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @campaigns.each do |campaign|%>
      <tr>
        <td><%= campaign.name %></td>
        <td><%= campaign.kols.count %></td>
        <td><%= campaign.e_wallet_transtions.sum(:amount) %></td>
        <td><%= campaign.e_wallet_transtions.pending.count %></td>
        <td><%= campaign.e_wallet_transtions.pending.sum(:amount) %></td>
        <td>
          <%= link_to "详情", marketing_dashboard_e_wallets_campaign_transactions_path(campaign) %>
          <%= link_to "打款", withdraw_marketing_dashboard_e_wallets_campaign_transactions_path(campaign), method: :put if campaign.e_wallet_transtions.pending.present? %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>