<% if false %>
  <%- all_roles = %w(campaign_read campaign_update campaign_invite_read campaign_invite_update
                     kol_read kol_update withdraw_read withdraw_update hot_item_read hot_item_update
                     kol_announcement_read kol_announcement_update helper_tag_read helper_tag_update
                     lottery_activity_read lottery_activity_update user_read user_update
                     alipay_order_read alipay_order_update invoice_read invoice_update
                     feedback_read feedback_update track_read track_update statistic_data_read statistic_data_update
                     app_upgrade_read app_upgrade_update cps_article_read cps_article_update)
  %>
<% end %>

<%- all_roles = %w( campaign_update  campaign_invite_update
                   kol_update  withdraw_update  hot_item_update
                   kol_announcement_update  helper_tag_update
                   lottery_activity_update  user_update
                   alipay_order_update  invoice_update
                   feedback_update  track_update  statistic_data_update
                   app_upgrade_update cps_article_update  campaign_check
                   )
%>

<h3>管理员 &lt;<%= @admin_user.email %>&gt;</h3>

<%= form_for(@admin_user, url: update_auth_marketing_dashboard_admin_user_path(@admin_user), html: { class: "form-horizontal", multiple: true}) do |f| %>

  <div class="form-group">
    <% all_roles.each do |role| %>
      <div>
        <input name="admin_user[roles][]" class="admin_checkbox" type="checkbox" value="<%= role %>" <%= 'checked' if @admin_user.has_role?(role) %> />
        <%= AdminRole.chinese_name(role) %>
      </div>
    <% end %>
    <hr/>
    <div>
      <input name="admin_user[roles][]" type="checkbox" value="super_admin" <%= "checked" if @admin_user.has_role?("super_admin") %> />
      <%= AdminRole.chinese_name("super_admin") %>
    </div>
  </div>
  <div class="form-group">
    <%= f.submit '提交', :class => 'btn btn-primary submit-admin' %>
  </div>
<% end %>

<script>
  $(".submit-admin").click(function(e){
    if($("input[type='checkbox']:checked").length === 0){
      e.preventDefault()
      alert("请至少选择一个权限")
    }
  })
</script>
