<h3>
  管理员列表
  <%= link_to "创建管理员", new_marketing_dashboard_admin_user_path, class: "btn btn-primary pull-right" %>
</h3>
<hr />
<table class='table table-bordered'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>上次登录时间</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @admin_users.each do |user| %>
      <tr>
        <% %w(id email last_sign_in_at).each do |v| %>
          <td> <%= user.send v %> </td>
        <% end %>
        <td>
          <%= link_to "编辑", edit_marketing_dashboard_admin_user_path(user), :style => "margin-right: 20px" %>
          <%= link_to "删除", marketing_dashboard_admin_user_path(user), :method => :delete, "data-confirm" => "你确定要删除吗" %></td>
        </td>

      </tr>
    <% end %>
  </tbody>

</table>

<%= will_paginate @admin_users, renderer: BootstrapPagination::Rails  %>
