<div class='col-sm-6 col-md-4'>
  <div class="thumbnail release-item">
    <%= link_to release_path(release) do %>
      <% if release.logo_url %>
        <img class="img" src="<%= release.logo_url %>">
      <% else %>
        <% if release.attachments.length > 0 %>
          <img class="img" src="<%= release.attachments[0].url %>">
        <% else %>
          <img class="img" src="http://placehold.it/542x542">
        <% end %>
      <% end %>
    <% end %>
    <div class="caption text-center">
      <h3>
        <%= link_to release.title, release_path(release) %>
      </h3>
      <small>15 Jan 2015</small>
      <p class='release-item-text'><%= release.text.truncate(115).html_safe %></p>
      <p class='concepts'>
        <% JSON.parse(release.concepts).each do |concept| %>
          <label class="label label-success"><%= concept%></label>
        <% end %>
      </p>
      <hr>
      <p align="center">
        <%= link_to release_path(release), class: 'btn btn-info' do %>
          <i class="fa fa-leanpub"></i> Read more</a>
        <% end %>
      </p>
    </div>
  </div>
</div>