<div id='wrapper'>
  <div id="sidebar-wrapper">
    <%= render 'sidebar', news_room: @news_room %>
  </div>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1><%= @news_room.company_name %></h1>
          <p><%= @news_room.description %></p>
          <!-- <p>You can follow us on Twitter via <code>@acme</code> or using the <code>#acmecorp</code> hashtag.</p> -->
          <%= link_to presskit_news_rooms_path, class: 'btn btn-default' do %>
            <i class="fa fa-image"></i> Press kit
          <% end %>
          <%= link_to follow_news_rooms_path, class: 'btn btn-default' do %>
            <i class="fa fa-user-plus"></i> Follow
          <% end %>
          <hr>
          <div id='releases' class='row'>
            <h4>Press Releases</h4>
            <div class="row">
              <%= render partial: "news_rooms/release", collection: @releases %>
            </div>
          </div>
          <nav id='pagination' align="center"><%= will_paginate @releases, renderer: BootstrapPagination::Rails %></nav>
          <hr>
          <div id='content-footer'>
            <h4>About <%= @news_room.company_name %></h4>
            <p>
              <strong>Location:</strong> 
              <%= @news_room.location %>
            </p>
            <p>
              <strong>What Is <%= @news_room.company_name %>?</strong>
            </p>
            <div>
              <%= @news_room.description %>
            </div>
          </div>
          <%= render 'footer' %>
        </div>
      </div>
    </div>
  </div>
</div>