<td>
  <div class="media targets-author">
    <a href="#" class="media-left">
      <img alt="<%= author.full_name %>" 
        src="<%= author.avatar_url %>" />
    </a>
    <div class="media-body">
      <h4 class="media-heading">
        <%= author.full_name %>
      </h4>
      <a class="btn btn-xs btn-primary inspect" href="#">
        <i class="fa fa-search"></i> <%= polyglot.t("smart_release.targets_step.influencers_tab.buttons.inspect") %>
      </a>
    </div>
  </div>
</td>
<td>
  <% if (author.blog_names.length > 1) { %>
    <% var blog_names = author.blog_names.slice(1).join("<br />") %>
    <span data-toggle="tooltip" title="<%= blog_names %>" data-html="true">
      <%= author.blog_names[0] %>
    </span>
  <% } else { %>
    <%= author.blog_names[0] %>
  <% } %>
</td>

<% if(author.level_of_interest){ %>
<td>
  <div class="progress active">
    <div class="progress-bar" role="progressbar" 
      aria-valuenow="<%= author.level_of_interest %>" 
      aria-valuemin="0" aria-valuemax="100" 
      style="width: <%= author.level_of_interest %>%;">
        <%= author.level_of_interest %>%
    </div>
  </div>
</td>
<% } %>

<td>
  <% if (pitchContactsCollection.findWhere({author_id: author.id})) { %>
    <input id="author<%= author.id %>" class="css-checkbox" type="checkbox" 
      name="pitch" value="YES" checked>
    <label class="css-label" for="author<%= author.id %>"></label>
  <% } else { %>
    <input id="author<%= author.id %>" class="css-checkbox" type="checkbox" 
      name="pitch" value="NO">
    <label class="css-label" for="author<%= author.id %>"></label>
  <% } %>
</td>
<td>
  <a href="#" class='contact-author'>
    <i class="fa fa-envelope"></i>
  </a>
</td>
