<td>
	<img style="width:50px; height:50px;" src="<%- avatar_url %>">
</td>
<td>
  <span class="user-list--name"><b><%- name %></b></span>
</td>
<td>
	<%- email %>
	<span class="editable" data-type="textarea" data-pk="1" data-url="/post" data-title="Enter username"></span>
</td>
<td class="text-right">
	<div>
		<a id="remove-user" class="btn btn-sm btn-danger user-list--delete" data-toggle="tooltip" title="<%= polyglot.t("manage_users.buttons.delete_toggle") %>"><i class="fa fa-trash"></i> <%= polyglot.t("manage_users.buttons.delete") %></a>
	</div>
</td>