<h3>发票列表</h3>

<div class="panel panel-default">
  <div class="panel-heading">
    搜索过滤
  </div>
  <div id="searchPanel" class="panel-body">
    <%= search_form_for @q, url: request.path, class: "form" do |f| %>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>品牌主ID</label>
            <%= f.search_field :user_id_eq, class: "form-control", placeholder: "品牌主ID" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>品牌主手机</label>
            <%= f.search_field :user_mobile_number_cont, class: "form-control", placeholder: "品牌主手机" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>品牌主昵称</label>
            <%= f.search_field :user_name_cont, class: "form-control", placeholder: "品牌主昵称" %>
          </div>
        </div>
        <div class="col-md-3">
          <label>&nbsp;</label>
          <div>
            <%= f.submit "搜索", class: "btn btn-primary" %>
            <%= link_to "清除全部", request.path, class: "btn btn-default" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th width="40px">ID</th>
      <th>品牌主ID</th>
      <th>品牌主昵称</th>
      <th>品牌主手机</th>
      <th><%= sort_link(@q, :created_at, "创建时间") %></th>
      <th>发票类型</th>
      <th><%= sort_link(@q, :credits, "发票金额") %></th>
      <th>公司抬头</th>
      <th>纳税人识别号</th>
      <th>公司地址</th>
      <th>公司电话</th>
      <th>开户行</th>
      <th>开户行帐号</th>
      <th>收件地址</th>
      <th>收件人姓名</th>
      <th>收件人电话</th>
      <th>报价单</th>
      <th>快递单号</th>
      <th width="50px">操作</th>
    </tr>
  </thead>
  <tbody>
    <% @invoice_histories.each do |i| %>
      <tr>
        <td><%= i.id %></td>
        <td><%= link_to i.user_id, marketing_dashboard_user_path(:id => i.user_id), :target => "_blank" %></td>
        <td><%= i.user.smart_name rescue "" %></td>
        <td><%= i.user.mobile_number rescue "" %></td>
        <td><%= i.created_at.strftime("%Y-%m-%d %H:%M:%S") rescue "" %></td>
        <td>
          <% if i.invoice_type == 'common' %>
            普通增值税发票
          <% elsif i.invoice_type == 'special' %>
            增值税专用发票
          <% end %>
        </td>
        <td><%= i.credits %></td>
        <td><%= i.title %></td>
        <td><%= i.taxpayer_id %></td>
        <td><%= i.company_address %></td>
        <td><%= i.company_mobile %></td>
        <td><%= i.bank_name %></td>
        <td><%= i.bank_account %></td>
        <td><%= i.address %></td>
        <td><%= i.name %></td>
        <td><%= i.phone_number %></td>
        <td><%= need_price_sheet(i) %></td>
        <td><%= i.tracking_number %></td>
        <td>
          <%= link_to "编辑", send_marketing_dashboard_invoice_history_path(i), :target => "_blank" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @invoice_histories, renderer: BootstrapPagination::Rails  %>
</br>
<%
  csv_url = request.path + ".csv"
  csv_url += "?" + request.query_string if request.query_string
%>

<%= link_to '导出发票CSV', csv_url, :class => 'btn btn-default', "data-confirm" => "关于打开csv文件中文乱码？\r\n 1. 打开Excel并新建一个空白表 \r\n 2. 顶部工具栏选择  数据 -> 自文本，选择csv文件 \r\n 3. 在弹出框中，字符集选择 UTF-8，分割符号为逗号 \r\n\r\n 确认要下载码？" %>
