<li class="newsroom">
  <div class="thumbnail" style="padding: 0">
    <div class="picture">
      <% if(news_room.logo_url) {%>
        <img class="img-rounded" alt="300x200" src="<%= news_room.logo_url %>">
      <%} else {%>
        <img class="img-rounded" src="http://placehold.it/340x340">
        <!-- <img alt="300x200" style="width: 100%" src="http://lorempixel.com/400/300/?<%- chance.natural({min: 1, max: 5000}) %>"> -->
      <%}%>
    </div>
    <div class="caption">
      <h2 class="truncate-title" data-toggle="tooltip" data-original-title="<%= news_room.company_name %>"><i class='fa fa-building'></i> <%= news_room.company_name %></h2>
      <div class="description_area">
        <p style="height:60px;" data-toggle="tooltip" data-original-title="<%= news_room.description %>"><%= news_room.description %></p>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row">
        <div class="col-xs-12 text-center">
          <a class="btn btn-primary" href="http://<%- news_room.subdomain_name %>.<%- location.host %>" target="_blank"><i class="fa fa-eye"></i> Preview</a>
          <a class="btn btn-info" href="http://<%- location.host %>#releases/newsroom/<%- news_room.id %>"><i class="fa fa-list-alt"></i> Releases</a>
          <button class="btn btn-default" id="open_edit"><i class="fa fa-pencil"></i> Edit</button>
        </div>
      </div>
      <hr>
      <div class="row" align="center">
        <div class="col-xs-4"><b>9999</b><br/><small>VIEWS</small></div>
        <!-- <div class="col-xs-4"><b>9999</b><br/><small>LIKES</small></div> -->
        <div class="col-xs-4"><b><%= news_room.releases_count %></b><br/><small>RELEASES</small></div>
      </div>
    </div>
  </div>
</li>