<div class="form-login">
  <div class="row">
    <div class="small-12 columns">
      <% if (location.search === "?is_user=true") { %>
        <p class="loginintro"><%= polyglot.t("login.user_intro") %></p>
      <% } else { %>
        <p class="loginintro"><%= polyglot.t("login.kol_intro") %></p>
      <% } %>
      <div class="flash-info"><%= flashInfo %></div>
      <form accept-charset="UTF-8" class="form-signup" id="formSignin" data-toggle="validator" role="form">

        <label class="panel-login">
          <div class="login_result"></div>
        </label>

        <div class="form-group">
          <input type="email" class="form-control" id="email" name="email" placeholder="<%= polyglot.t("login.email") %>" data-error="<%= polyglot.t("kols.email_error") %>" required/>
          <div class="help-block with-errors"></div>
        </div>

        <div class="form-group">
          <input type="password" class="form-control" name="_password" data-minlength="7"
                   placeholder="<%= polyglot.t("login.password") %>" data-error="<%= polyglot.t("kols.password_error") %>" required/>
          <div class="help-block with-errors"></div>
        </div>

        <div id="alert-danger" class="alert alert-danger" role="alert" style="display: none; text-align: center;"></div>

        <div class="submit-wrap">
          <button class="button button-signup" type="submit" id="login"><%= polyglot.t("login.login_label") %></button>
        </div>
        <div class="rememberme">
          <input type="checkbox" name='remember_me' id="remember_me"/> <%= polyglot.t("login.remember_me") %></div>
        <div class="forgotpass"><a href="#forgot"><%= polyglot.t("login.forgot") %></a></div>

      </form>
    </div>
  </div>

  <% if (location.search !== "?is_user=true") { %>
  <div class="row">
    <div class="small-12 columns">
      <div class="or-line">
        <span><%= polyglot.t("login.or") %></span>
      </div>
    </div>
  </div>
  <% if (Robin.chinaInstance) { %>

    <div id="china">

    <div class="row" style="color:#fff!important;">
      <div class="small-12 columns social-login">
        <a href="/users/auth/weibo?provider=weibo" class="social btn btn-weibo"><i class="fa fa-weibo"></i> <span><%= polyglot.t('register.weibo_signup') %></span></a>
      </div>
    </div>

    <% if (!(Robin.mobileRequest)) { %>
      <div class="row" style="color:#fff!important;">
        <div class="small-12 columns social-login">
          <a href="/users/auth/wechat?provider=wechat" class="social btn btn-wechat"><i class="fa fa-wechat"></i> <span><%= polyglot.t('register.wechat_signup') %></span></a>
        </div>
      </div>
      <div class="row" style="color:#fff!important;">
        <div class="small-12 columns social-login">
          <a href="/users/auth/wechat_third?provider=wechat_third" class="social btn btn-wechat"><i class="fa fa-wechat"></i> <span><%= polyglot.t('register.wechat_third_signup') %></span></a>
        </div>
      </div><br /><br /><br />
    <% } %>

    <!--<div class="row">-->
      <!--<div class="small-12 columns social-login">-->
        <!--<button class="btn btn-wechat" id="wechat"><i class="fa btn-wechat"></i>-->
          <!--<span><%= polyglot.t("login.wechat_login") %></span></button>-->
          <!--</div>-->
          <!--</div>-->

      <!--<div class="row">-->
          <!--<div class="small-12 columns social-login">-->
          <!--<button class="btn btn-wechat" id="wechat_third"><i class="fa btn-wechat"></i>-->
          <!--<span><%= polyglot.t("login.wechat_third_login") %></span></button>-->
          <!--</div>-->
          <!--</div>-->

      <!--<div class="row">-->
          <!--<div class="small-12 columns social-login">-->
          <!--<button class="btn btn-weibo" id="weibo"><i class="fa fa-weibo"></i>-->
          <!--<span><%= polyglot.t("login.weibo_login") %></span></button>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  <% } else { %>
    <div id="world">
      <div class="row">
        <div class="small-12 columns social-login">
          <button class="btn btn-google-plus" id="google_oauth2"><i class="fa fa-google-plus"></i>
            <span><%= polyglot.t("login.google_login") %></span></button>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns social-login">
          <button class="btn btn-facebook" id="facebook"><i class="fa fa-facebook"></i>
            <span><%= polyglot.t("login.fb_login") %></span></button>
        </div>
      </div>
    </div>
  <% } %>
<% } %>

</div>
