<div class="form-login">
  <div class="row">
    <div class="small-12 columns">
      <p class="loginintro"><%= polyglot.t("login.intro") %></p>

      <form accept-charset="UTF-8" class="form-signup" id="formSignin">

        <label class="panel-login">
          <div class="login_result"></div>
        </label>

        <div class="form-group">
          <label>
            <input type="text" class="form-control" id="email" name="email" placeholder="<%= polyglot.t("login.email") %>"/>
          </label>
        </div>

        <div class="form-group">
          <label>
            <input type="password" class="form-control" name="password" minlength="8"
                   data-fv-stringlength-message="The password must be at least 8 characters long"
                   placeholder="<%= polyglot.t("login.password") %>"/>
          </label>
        </div>

        <div id="alert-danger" class="alert alert-danger" role="alert" style="display: none; text-align: center;"></div>

        <div class="submit-wrap">
          <button class="button button-signup" type="submit" id="login"><%= polyglot.t("login.login_label") %></button>
        </div>
        <div class="rememberme">
          <input type="checkbox" name='remember_me' id="remember_me"/> <%= polyglot.t("login.remember_me") %></div>
        <div class="forgotpass"><a href="#forgot"><%= polyglot.t("login.forgot") %></a></div>

      </form>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="or-line">
        <span><%= polyglot.t("login.or") %></span>
      </div>
    </div>
  </div>
  <% if (Robin.chinaInstance) { %>
  <div id="china">
    <div class="row">
      <div class="small-12 columns social-login">
        <button class="btn btn-weibo" id="weibo"><i class="fa fa-weibo"></i>
          <span><%= polyglot.t("login.weibo_login") %></span></button>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns social-login">
        <button class="btn btn-wechat" id="wechat"><i class="fa fa-wechat"></i>
          <span><%= polyglot.t("login.wechat_login") %></span></button>
      </div>
    </div>
  </div>
  <% } else { %>
  <div id="world">
    <div class="row">
      <div class="small-12 columns social-login">
        <button class="btn btn-google-plus" id="google_oauth2"><i class="fa fa-google-plus"></i>
          <span><%= polyglot.t("login.google_login") %></span></button>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns social-login">
        <button class="btn btn-facebook" id="facebook"><i class="fa fa-facebook"></i>
          <span><%= polyglot.t("login.fb_login") %></span></button>
      </div>
    </div>
  </div>
  <% } %>
  

</div>
