<form action="signup-step3.html" id="step2"> 
  <div class="row">
    <div class="small-12 columns"> 
          <div class="tab-nav">
            <a class="button button-signuptype active" id="selected-businesses">Businesses</a>
            <a class="button button-signuptype" id="selected-agencies">Agencies</a>
          <p class="selection-intro business-plans">Empower your business with SmartRelease's media monitoring and social and content marketing intelligence engine.  <br />Take the guesswork out of social and content marketing and get better results.</p>
          <p class="selection-intro agency-plans">Exceed the demands of your clients with ease using SmartRelease's revolutionary intelligence engine.  <br />Take the guesswork out of PR and get better results.</p>
          </div>

          <p class="selection-intro-heading">Subscription Plans</p>
    </div>
  </div>
  <div class="row business-plans" id="business-plans" data-equalizer>
    <div class="small-12 medium-6 large-4 columns"> 
      <div class="subscription-type" id="plantype-basic" data-plan="basic" data-equalizer-watch>
        <h2>Basic</h2>
        <div class="price-bubble">
            <div class="price-amount">
              $15<span class="permonth">/mo</span>
              <em>billed annually or<br />$19 month-to-month </em>
            </div>
        </div>
        <div class="plan-inclusions">
          <ul>
            <li><strong>1</strong> <span>Seat</span></li>
            <li><strong>1</strong> <span>Newsroom</span></li>
            <li><strong>5</strong> <span>Press Releases/month</span></li>
            <li><strong>3</strong> <span>SmartReleases</span></li>
          </ul>
        </div>
        <div class="selector-wrap">
          <a class="button button-planselector" data-selected="basic">Select</a>
        </div>
      </div>
    </div><!--end plan type column -->
    <div class="small-12 medium-6 large-4 columns"> 
      <div class="subscription-type" id="plantype-business" data-plan="business" data-equalizer-watch>
        <h2>Business</h2>
        <div class="price-bubble">
            <div class="price-amount">
              $150<span class="permonth">/mo</span>
              <em>billed annually or<br />$179 month-to-month </em>
            </div>
        </div>
        <div class="plan-inclusions">
          <ul>
            <li><strong>1</strong> <span>Seat</span></li>
            <li><strong>1</strong> <span>Newsroom</span></li>
            <li><strong>10</strong> <span>Press Releases/month</span></li>
            <li><strong>5</strong> <span>SmartReleases</span></li>
            <li><strong>1</strong> <span>Personal Media Lists</span></li>
            <li><strong>5</strong> <span>Streams for Media Monitoring</span></li>
          </ul>
        </div>
        <div class="selector-wrap">
          <a class="button button-planselector" data-selected="business">Select</a>
        </div>
      </div>
    </div><!--end plan type column -->
    <div class="small-12 medium-6 large-4 columns"> 
      <div class="subscription-type" id="plantype-enterprise" data-plan="enterprise" data-equalizer-watch>
        <h2>Enterprise</h2>
        <div class="price-bubble">
            <div class="price-amount">
              $350<span class="permonth">/mo</span>
              <em>billed annually or<br />$399 month-to-month </em>
            </div>
        </div>
        <div class="plan-inclusions">
          <ul>
            <li><strong>1</strong> <span>Seat</span></li>
            <li><strong>1</strong> <span>Newsroom</span></li>
            <li><strong>30</strong> <span>Press Releases/month</span></li>
            <li><strong>15</strong> <span>SmartReleases</span></li>
            <li><strong>20</strong> <span>Personal Media Lists</span></li>
            <li><strong>25</strong> <span>Streams for Media Monitoring</span></li>
          </ul>
        </div>
        <div class="selector-wrap">
          <a class="button button-planselector" data-plan="enterprise">Select</a>
        </div>
      </div>
    </div><!--end plan type column -->
  </div><!-- end #business-plans -->


  <div class="row agency-plans" id="agency-plans" data-equalizer>
    <div class="small-12 medium-6 large-4 columns"> 
      <div class="subscription-type" id="plantype-pro" data-plan="pro" data-equalizer-watch>
        <h2>Pro</h2>
        <div class="price-bubble">
            <div class="price-amount">
              $250<span class="permonth">/mo</span>
              <em>billed annually or<br />$299 month-to-month </em>
            </div>
        </div>
        <div class="plan-inclusions">
          <ul>
            <li><strong>1</strong> <span>Seat</span></li>
            <li><strong>5</strong> <span>Newsrooms</span></li>
            <li><strong>30</strong> <span>Press Release Postings on SmartRelease/month</span></li>
            <li><strong>15</strong> <span>SmartReleases</span></li>
            <li><strong>3</strong> <span>Personal Media Lists</span></li>
            <li><strong>5</strong> <span>Streams for Media Monitoring</span></li>
          </ul>
        </div>
        <div class="selector-wrap">
          <a class="button button-planselector" data-selected="pro">Select</a>
        </div>
      </div>
    </div><!--end plan type column -->
    <div class="small-12 medium-6 large-4 columns"> 
      <div class="subscription-type" id="plantype-premium" data-plan="premium" data-equalizer-watch>
        <h2>Premium</h2>
        <div class="price-bubble">
            <div class="price-amount">
              $415<span class="permonth">/mo</span>
              <em>billed annually or<br />$499 month-to-month </em>
            </div>
        </div>
        <div class="plan-inclusions">
          <ul>
            <li><strong>1</strong> <span>Seat</span></li>
            <li><strong>20</strong> <span>Newsroom</span></li>
            <li><strong>75</strong> <span>Press Release Postings on SmartRelease/month</span></li>
            <li><strong>45</strong> <span>SmartReleases</span></li>
            <li><strong>5</strong> <span>Personal Media Lists</span></li>
            <li><strong>10</strong> <span>Streams for Media Monitoring</span></li>
          </ul>
        </div>
        <div class="selector-wrap">
          <a class="button button-planselector" data-selected="premium">Select</a>
        </div>
      </div>
    </div><!--end plan type column -->
    <div class="small-12 medium-6 large-4 columns"> 
      <div class="subscription-type" id="plantype-ultra" data-plan="ultra" data-equalizer-watch>
        <h2>Ultra</h2>
        <div class="price-bubble">
            <div class="price-amount">
              $1000<span class="permonth">/mo</span>
              <em>billed annually or<br />$1200 month-to-month </em>
            </div>
        </div>
        <div class="plan-inclusions">
          <ul>
            <li><strong>1</strong> <span>Seat</span></li>
            <li><strong>100</strong> <span>Newsroom</span></li>
            <li><strong>400</strong> <span>Press Release Postings on SmartRelease/month</span></li>
            <li><strong>200</strong> <span>SmartReleases</span></li>
            <li><strong>10</strong> <span>Personal Media Lists</span></li>
            <li><strong>25</strong> <span>Streams for Media Monitoring</span></li>
          </ul>
        </div>
        <div class="selector-wrap">
          <a class="button button-planselector" data-plan="ultra">Select</a>
        </div>
      </div>
    </div><!--end plan type column -->
  </div><!-- end #agency-plans -->

    <div class="row">
      <div class="small-12 columns"> 
            <div class="submit-wrap">
              <a class="button button-signup nextstep" id="planselect-button" href="/signup/#step3">Next: Add On Services</a>
            </div>
      </div>
    </div>
    <input type="text" name="plan_selection" id="plan-selection" style="display:none;" val="" />
</form>

<div class="signup-footer">
  <div class="row">
    <div class="small-12 columns"> 
      <h3>Service Details</h3>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 columns"> 
      <div class="service-item">
        <div class="icon-left">
            <img src="<%= AppAssets.path('icon-seat.png') %>" />
        </div>
        <div class="details-right">
          <h4>Seat</h4>
            <p>Extra seat allows you to add another user to your account.</p>
        </div>
      </div><!-- end service-item -->
      <div class="service-item">
        <div class="icon-left">
            <img src="<%= AppAssets.path('icon-newsroom.png') %>" />
        </div>
        <div class="details-right">
          <h4>Newsroom</h4>
            <p>Extra newsroom allows you add an extra newsroom on your account. A newsroom is a branded online profile where you can add your logo, releases, videos and images. </p>
        </div>
      </div><!-- end service-item -->
      <div class="service-item">
        <div class="icon-left">
            <img src="<%= AppAssets.path('icon-pressrelease.png') %>" />
        </div>
        <div class="details-right">
          <h4>Press Release on Robin8</h4>
            <p>Post your release on SmartRelease website. Get found on the web and share on social media outlets. </p>
        </div>
      </div><!-- end service-item -->
      <div class="service-item">
        <div class="icon-left">
            <img src="<%= AppAssets.path('icon-smartrelease.png') %>" />
        </div>
        <div class="details-right">
          <h4>SmartRelease Distribution</h4>
            <p>SmartRelease uses SmartRelease's proprietary predictive intelligence engine to recommend the 100 reporters and top social influencers most interested to cover your news. SmartRelease identifies these top reporters and influencers with 1 click. </p>
        </div>
      </div><!-- end service-item -->
      <div class="service-item">
        <div class="icon-left">
            <img src="<%= AppAssets.path('icon-mediamonitoring.png') %>" />
        </div>
        <div class="details-right">
          <h4>Media Monitoring Streams</h4>
            <p>Media Monitoring allows you to monitor online a specific brand or updates in an industry so you can listen and keep abreast on the latest news and updates. All updates are in real time.</p>
        </div>
      </div><!-- end service-item -->

    </div>
    <div class="small-12 medium-6 columns"> 
      <div class="service-item">
        <div class="icon-left">
            <img src="<%= AppAssets.path('icon-personalmedia.png') %>" />
        </div>
        <div class="details-right">
          <h4>Personal Media Lists</h4>
            <p>Upload your personal media list to SmartRelease so you can manage and access it anytime</p>
        </div>
      </div><!-- end service-item -->
      <div class="service-item">
        <div class="icon-left">
            <img src="<%= AppAssets.path('icon-prnewswire.png') %>" />
        </div>
        <div class="details-right">
          <h4>PR Newswire Distribution</h4>
            <p>Distribute to more than 1,600 w​ebsites including Yahoo Finance​. You can also ​add an image to your message and drive even more traffic to your news. Distribution comes with a detailed, analytic report. </p>
        </div>
      </div><!-- end service-item -->
      <div class="service-item">
        <div class="icon-left">
            <img src="<%= AppAssets.path('icon-myprgenieweb.png') %>" />
        </div>
        <div class="details-right">
          <h4>FinancialContent Web Distribution</h4>
            <p>FinancialContent web distribution guarantees you placement on hundreds of top news websites including Boston Globe and Miami Herald. Each distribution comes with a report showing a sampling of the sites that posted your release.</p>
        </div>
      </div><!-- end service-item -->
      <div class="service-item">
        <div class="icon-left">
            <img src="<%= AppAssets.path('icon-accesswire.png') %>" />
        </div>
        <div class="details-right">
          <h4>Accesswire Distribution</h4>
            <p>Distribute to thousands of websites including Yahoo Finance, investor networks and calendars​. You can also add an image to your message and drive even more buzz to your news. Distribution comes with a real-time, analytic report.​</p>
        </div>
      </div><!-- end service-item -->
      
    </div>
  </div>
</div>
