<div class="col-sm-12">
  <div class="dashboard-btns dashboard-kol">
    <div class="row">
      <h5><i class="fa fa-home"></i> Dashboard</h5>
      <div id="invites">
        <% _.each(items, function(item){ %>
          <div class="col-sm-12">
            <div class="col-xs-15 col-sm-6 col-md-10">
              <%= item.invite_date %> <%= item.campaign.description %>
              <div><b>Deadline: <%= item.deadline_date %></b></div>
            </div>
            <% if (item.status == "") { %>
              <div class="col-xs-3 col-md-2 pull-right">
                <button type="button" class="btn btn-primary invitation-accept" data-invite-id="<%= item.id %>">Accept</button>
                <button type="button" class="btn btn-danger invitation-decline" data-invite-id="<%= item.id %>">Decline</button>
              </div>
            <% } %>
          </div>
          <hr/>
        <% }); %>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
