<div class="clearfix">
  <div class="personalInfo owoPanel commonPanel">
    <div class="owoPanelHeader">
      <h3>Personal Info</h3>
    </div>
    <div class="personalBody owoPanelBody clearfix">
      <div class="personalData">
        <ul>
          <li class='clearfix'>
            <img src="<%= AppAssets.path('dashboard-icon1.png') %>" alt="" />
            <span>0</span>
            <p>
              Upcoming Campaigns
            </p>
          </li>
          <li class='clearfix'>
            <img src="<%= AppAssets.path('dashboard-icon2.png') %>" alt="" />
            <span>0</span>
            <p>
              Completed Campaigns
            </p>
          </li>
          <li class='clearfix'>
            <img src="<%= AppAssets.path('dashboard-icon3.png') %>" alt="" />
            <span>0</span>
            <p>
              Total <br>
              Income
            </p>
          </li>
        </ul>
      </div>

      <div class="personalCompletion">
        <h4>Profile Completion</h4>
        <% _.each(score_data, function(value, key) { %>
          <p><%= polyglot.t("dashboard_kol." + key + "_score") %> </p>
          <div class='progress'>
            <div class='progress-bar progress-bar-info <%= key %>' role='progressbar' aria-valuenow='' aria-valuemin='0' aira-valuemax='100' style='width: <%= value %>%'>
            </div>
          </div>
        <% }) %>
        <div>
          <div style="margin-top: 30px">
            <h5>如何让更多人看到您?</h5>
            <% if(score_data.data < 40){ %>
              <a href="#/dashboard/profile">完善个人信息</a>  </br>
            <% } %>
            <% if(score_data.wechat < 20){ %>
              <a href="#/dashboard/profile">绑定微信个人账号，并编辑受众和价格</a>   </br>
            <% } %>
            <% if(score_data.weibo < 20){ %>
              <a href="#/dashboard/profile">绑定微博账号，并编辑受众和价格</a>   </br>
            <% } %>
            <% if(score_data.wechat_third < 20){ %>
              <a href="#/dashboard/profile">绑定微信公众账号，并编辑受众和价格</a>   </br>
            <% } %>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="influenceContainer owoPanel commonPanel">
    <div class="influence-header owoPanelHeader">
      <h3>Social Influence Power</h3>
      <% if(items.length > 0){ %>
        <div class="btn-group influence-dropdown">
          <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class='glyphicon glyphicon-align-justify'></i>&nbsp;Switch Social Account <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <% _.each(items, function(item) { %>
            <li><a href="#" id="<%= item.id %>"><%= item.provider %>: <%= item.name %></a></li>
            <% }) %>
          </ul>
        </div>
      <% } %>
    </div>
    <div class="influence-item-container">
      <div class="influence-item">

      </div>
    </div>
  </div>

</div>
