<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Modal Header</h4>
    </div>
    <div class="modal-body">
      <div class="audience">
        <div class="campaigns-tables-title">
          <span><%= polyglot.t('dashboard_kol.profile_tab.audience_title') %></span>
          <%= polyglot.t('dashboard_kol.profile_tab.audience_subtitle') %>
        </div>
        <div class="score-tables">
          <div class="row">
            <div class="col-md-2  cell label-influence-circle kol-profile"><%= polyglot.t('dashboard_kol.profile_tab.industry') %></div>
            <div class="col-md-9 cell">
              <input name="interests" id="interests" value="Interests" data-placeholder="<%= polyglot.t('dashboard_kol.profile_tab.industry_placeholder') %>" />
            </div>
          </div>
          <div class="row industry-row">
            <div class="col-md-2 cell label-influence-circle">&nbsp;</div>
            <% _(industries).each(function(ind, i) { %>
              <div class="col-md-2 cell label-influence-circle kol-ages-group">
                <button type="button" class="btn full-width" filter-btn name="industry_<%= i %>" data-toggle="button">
                  <%= ind %>
                </button>
              </div>
            <% }); %>
          </div>
          <div class="row ages-row">
            <div class="col-md-2 cell label-influence-circle kol-profile" style="white-space: nowrap;"><%= polyglot.t('dashboard_kol.profile_tab.age_group') %></div>
            <div class="filter-group">
            <% _(ages).each(function(g, i) { %>
              <div class="col-md-2 cell label-influence-circle kol-ages-group">
                <button type="button" class="btn switch-button form-control full-width filter-btn <%= active('ages', i, k) %>" name="agegroup_<%= i %>" data-toggle="button">
                  <%= g %>
                </button>
              </div>
            <% }); %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 cell label-influence-circle"><%= polyglot.t('dashboard_kol.profile_tab.male_female') %></div>
              <div class="col-md-9 cell age-group">
                <% _(mf).each(function(v, i) { %>
                  <input type="radio" name="mf" value="mf_<%= i %>" id="mf_<%= i %>" <%= checked('mf', i, k) %> />
                  <label class="mf-label radio-inline radio-btns label-profile" for="mf_<%= i %>"><%= v %></label>
                <% }); %>
              </div>
          </div>
          <div class="row regions-row">
            <div class="col-md-2 cell label-influence-circle kol-profile"><%= polyglot.t('dashboard_kol.profile_tab.regions') %></div>
            <div class="col-md-9 cell filter-group">
              <% _(regions).each(function(r, i) { %>
                <button type="button" class="btn switch-button form-control region-btn filter-btn <%= active('regions', i, k) %>" name="region_<%= i %>" data-toggle="button">
                  <%= polyglot.t('dashboard_kol.profile_tab.' + r) %>
                </button>
              <% }); %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="campaigns-tables-title">
      <span><%= polyglot.t('dashboard_kol.profile_tab.price_fixing') %></span>

    </div>
     <div class="score-tables">
        <div class="row">
          <div class="col-md-1  checkbox cell"><label><input type="checkbox"></label></div>
          <div class="clearfix visible-xs-block"></div>
          <div class="col-md-2  cell label-influence-circle kol-profile">test</div>
          <div class="col-md-7 cell">
            <input name="interests" id="interests" value="Interests" data-placeholder="<%= polyglot.t('dashboard_kol.profile_tab.industry_placeholder') %>" />
          </div>
        </div>
      </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
    </div>
  </div>
</div>

  