<div class="row">
  <div class="col-md-1 cell">
    <img src="<%= AppAssets.images['weibo-logo.png'] %>" width="50px" />
  </div>
  <div class="col-md-1 cell social-label"><%= polyglot.t('dashboard_kol.profile_tab.weibo') %></div>
  <%= social_login('weibo', k) %>
</div>
<div class="row">
  <div class="col-md-1 cell">
    <img src="<%= AppAssets.images['wechat-logo.png'] %>" width="50px" />
  </div>
  <div class="col-md-1 cell social-label"><%= polyglot.t('dashboard_kol.profile_tab.personal') %></div>
  <%= social_login('wechat', k) %>
  <div class="col-md-2 cell">
    <input type="number" class="form-control" id="personal_fans" name="wechat_personal_fans" placeholder="<%= polyglot.t('dashboard_kol.profile_tab.fans_number') %>" />
  </div>
</div>
<div class="row">
  <div class="col-md-1 cell">
    <img src="<%= AppAssets.images['wechat-logo.png'] %>" width="50px" />
  </div>
  <div class="col-md-1 cell social-label"><%= polyglot.t('dashboard_kol.profile_tab.public') %></div>
  <div class="col-md-2 cell">
    <input type="text" id="public_name" class="form-control" name="wechat_public_name" placeholder="<%= polyglot.t('dashboard_kol.profile_tab.name') %>" />
  </div>
  <div class="col-md-2 cell">
    <input type="text" id="public_id" class="form-control" name="wechat_public_id" placeholder="<%= polyglot.t('dashboard_kol.profile_tab.id') %>" />
  </div>
  <div class="col-md-2 cell">
    <input type="number" id="public_fans" class="form-control" name="wechat_public_fans" placeholder="<%= polyglot.t('dashboard_kol.profile_tab.fans_number') %>" />
  </div>
</div>
<div class="row">
  <div class="col-md-1 cell">
    <img src="<%= AppAssets.images['linkedin-logo.png'] %>" width="50px" />
  </div>
  <div class="col-md-1 cell social-label"><%= polyglot.t('dashboard_kol.profile_tab.linkedin') %></div>
  <%= social_login('linkedin', k) %>
</div>
