<div class="profile-content">
  <form role="form" action="javascript:void(0);" id="profile-form">
    <div class="general">
      <div class="campaigns-tables-title">
        <span><%= polyglot.t('dashboard_kol.profile_tab.general_title') %></span>
      </div>
      <div class="score-tables profile_info">
        <div class="row">
          <div class="col-md-1 cell profile-labels kol-profile"><%= polyglot.t('dashboard_kol.profile_tab.first_name') %><sup>*</sup></div>
          <div class="col-md-6 cell"><input class="form-control required" type="text" id="name" name="first_name" /></div>
        </div>
        <div class="row">
          <div class="col-md-1 cell profile-labels kol-profile"><%= polyglot.t('dashboard_kol.profile_tab.last_name') %><sup>*</sup></div>
          <div class="col-md-6 cell"><input required class="form-control required" type="text" id="name" name="last_name" /></div>
        </div>
        <div class="row">
          <div class="col-md-1 cell profile-labels kol-profile"><%= polyglot.t('dashboard_kol.profile_tab.mobile') %><sup>*</sup></div>
          <div class="col-md-6 cell"><input required class="form-control required" type="tel" id="mobile" name="mobile_number" /></div>
        </div>
        <div class="row">
          <div class="col-md-1 cell profile-labels kol-profile"><%= polyglot.t('dashboard_kol.profile_tab.location') %><sup>*</sup></div>
          <div class="col-md-2 cell select_wrapper">
            <select required class="full-width crs-country form-control required" data-region-id="province" id="country" name="country"
                    placeholder="<%= polyglot.t('dashboard_kol.profile_tab.country') %>"
                    data-default-value="<%= k.country %>"></select>
          </div>
          <div class="col-md-2 cell select_wrapper">
            <select required class="full-width form-control required" id="province" name="province"
                    data-blank-option = "<%= polyglot.t('dashboard_kol.profile_tab.select_region') %>" 
                    placeholder="<%= polyglot.t('dashboard_kol.profile_tab.province') %>"
                    data-default-value="<%= k.province %>"></select>
          </div>
          <div class="col-md-2 cell">
            <input class="form-control required" type="text" id="city" name="city" placeholder="<%= polyglot.t('dashboard_kol.profile_tab.city') %>" />
          </div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
          <div class="col-md-1 cell profile-labels kol-profile"><%= polyglot.t('dashboard_kol.profile_tab.birthdate') %></div>
          <div class="col-md-4 cell input-group">
            <input type="text" class="full-width form-control" name="date_of_birthday" id="birthdate"/>
            <span class="input-group-addon calendar_button"><i class="glyphicon-calendar glyphicon"></i></span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 cell profile-labels"><%= polyglot.t('dashboard_kol.profile_tab.gender') %><sup>*</sup></div>
          <div class="age-group">
            <div class="col-md-2 cell">
              <input class="" type="radio" name="gender" value="1" id="gender_1" <%= checked('genders', 1, k) %> />
              <label class="radio-inline radio-btns label-profile" for="gender_1"><%= polyglot.t('dashboard_kol.profile_tab.male') %></label>
            </div>
            <div class="col-md-2 cell">
              <input class="" type="radio" name="gender" value="2" id="gender_2" <%= checked('genders', 2, k) %> />
              <label class="radio-inline radio-btns label-profile" for="gender_2"><%= polyglot.t('dashboard_kol.profile_tab.female') %></label>
            </div>
            <div class="col-md-2 cell">
              <input class="" type="radio" name="gender" value="0" id="gender_0" <%= checked('genders', 0, k) %> />
              <label class="radio-inline radio-btns label-profile" for="gender_0"><%= polyglot.t('dashboard_kol.profile_tab.secrecy') %></label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="social">
      <div class="campaigns-tables-title">
        <span><%= polyglot.t('dashboard_kol.profile_tab.social_title') %></span>
        <%= polyglot.t('dashboard_kol.profile_tab.social_subtitle') %>
      </div>
      <div class="score-tables social-content"></div>
    </div>
    <div class="audience">
      <div class="campaigns-tables-title">
        <span><%= polyglot.t('dashboard_kol.profile_tab.audience_title') %></span>
        <%= polyglot.t('dashboard_kol.profile_tab.audience_subtitle') %>
      </div>
      <div class="score-tables">
        <div class="row">
          <div class="col-md-1 cell label-influence-circle kol-profile"><%= polyglot.t('dashboard_kol.profile_tab.industry') %></div>
          <div class="col-md-10 cell">
            <input type="hidden" name="interests" id="interests" value="Interests" data-placeholder="<%= polyglot.t('dashboard_kol.profile_tab.industry_placeholder') %>" />
          </div>
        </div>
        <div class="row industry-row">
          <div class="col-md-1 cell label-influence-circle">&nbsp;</div>
          <% _(industries).each(function(ind, i) { %>
            <div class="col-md-2 cell">
              <button type="button" class="btn full-width" filter-btn name="industry_<%= i %>" data-toggle="button">
                <%= ind %>
              </button>
            </div>
          <% }); %>
        </div>
        <div class="row ages-row">
          <div class="col-md-1 cell label-influence-circle kol-profile" style="white-space: nowrap;"><%= polyglot.t('dashboard_kol.profile_tab.age_group') %></div>
          <div class="filter-group">
          <% _(ages).each(function(g, i) { %>
            <div class="col-md-1 cell label-influence-circle">
              <button type="button" class="btn switch-button form-control full-width filter-btn <%= active('ages', i, k) %>" name="agegroup_<%= i %>" data-toggle="button">
                <%= g %>
              </button>
            </div>
          <% }); %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1 cell label-influence-circle"><%= polyglot.t('dashboard_kol.profile_tab.male_female') %></div>
            <div class="col-md-10 cell age-group">
              <% _(mf).each(function(v, i) { %>
                <input type="radio" name="mf" value="mf_<%= i %>" id="mf_<%= i %>" <%= checked('mf', i, k) %> />
                <label class="mf-label radio-inline radio-btns label-profile" for="mf_<%= i %>"><%= v %></label>
              <% }); %>
            </div>
        </div>
        <div class="row regions-row">
          <div class="col-md-1 cell label-influence-circle kol-profile"><%= polyglot.t('dashboard_kol.profile_tab.regions') %></div>
          <div class="col-md-10 cell filter-group">
            <% _(regions).each(function(r, i) { %>
              <button type="button" class="btn switch-button form-control region-btn filter-btn <%= active('regions', i, k) %>" name="region_<%= i %>" data-toggle="button">
                <%= polyglot.t('dashboard_kol.profile_tab.' + r) %>
              </button>
            <% }); %>

        </div>
      </div>
    </div>
    <div class="dashboard-kol-tab-footer clearfix">
      <button id="back_to_score_btn" class="btn btn-primary pull-right" type="submit"><i class="fa fa-chevron-right"></i> <%= polyglot.t('dashboard_kol.buttons.next') %></button>
    </div>
  </form>
</div>
