<div class="campaigns-tables-title">
  <span><%= polyglot.t('dashboard_kol.score_tab.tables_title') %></span>
</div>
<form id="score_form">
<div id="score-data">
  <div id="top-row" class="row">
    <div class="col-md-2 text-center kol-avatar">
      <div class="text-center" id="image-uploader-custom">
        <img src="<%= AppAssets.path('noavatar.png') %>" id="avatar-image" class="avatar" alt="avatar" width="150" height="150" />
      </div>
      <input type="hidden" id="avatar-upload" role="uploadcare-uploader"
             data-crop="185x185 upscale"
             data-max-size="3145728"
             data-images-only="true"/>
    </div>
    <div class="col-sm-8 col-lg-5 chart_column">

    </div>
    <div class="col-md-5 graph_column">

    </div>
  </div>

</div>

<div class="campaigns-tables-title my_value_title">
  <span><%= polyglot.t('dashboard_kol.score_tab.tables_title2') %></span>
  <%= polyglot.t('dashboard_kol.score_tab.tables_title3') %>
</div>

</form>
<div class="dashboard-kol-tab-footer clearfix">
  <button id="back_to_profile_btn" class="btn btn-default btn-green pull-left" type="submit" style="min-width: 45px;"><i class="fa fa-chevron-left"></i> <%= polyglot.t('dashboard_kol.buttons.back') %></button>
  <button id="next_to_campaign_btn" class="btn btn-primary pull-right" type="submit"><i class="fa fa-chevron-right"></i> <%= polyglot.t('dashboard_kol.buttons.next') %></button>
</div>
