<div class="campaigns-tables-title">
  <span><%= polyglot.t('dashboard_kol.score_tab.tables_title') %></span>
</div>
<form id="score_form">
<div id="score-data">
  <div id="top-row" class="row">
    <div class="col-md-2 text-center kol-avatar">
      <div class="text-center" id="image-uploader-custom">
        <img src="<%= AppAssets.path('noavatar.png') %>" id="avatar-image" class="avatar" alt="avatar" width="150" height="150" />
      </div>
      <input type="hidden" id="avatar-upload" role="uploadcare-uploader"
             data-crop="185x185 upscale"
             data-max-size="3145728"
             data-images-only="true"/>
    </div>
    <div class="col-sm-8 col-lg-5 chart_column">
      <div class="chart_wrapper">
        <div class="chart-gauge"></div>
        <div class="scores_block">
          <span class="scores_block_title"><%= polyglot.t('dashboard_kol.score_tab.social_score')%></span>
          <div class="score_badge"><%= vs(k) %></div>
          <div class="score_badge"><%= beat(k) %></div>
        </div>
      </div>
      <div class="chart_info"><%= polyglot.t('dashboard_kol.score_tab.calculated') %></div>
    </div>
    <div class="col-md-5 graph_column">
      <div id="graph_score2" name="graph_score2"></div>
    </div>
  </div>

</div>

<div class="campaigns-tables-title my_value_title">
  <span><%= polyglot.t('dashboard_kol.score_tab.tables_title2') %></span>
  <%= polyglot.t('dashboard_kol.score_tab.tables_title3') %>
</div>
<div id="value" class="score-tables">
  <div class="score_tables_header clearfix">
    <div class="col-md-3 text-center"></div>
    <div class="col-md-1 text-center interested_column">
      <%= polyglot.t('dashboard_kol.score_tab.interested') %>
    </div>
    <div class="col-md-3 text-center expected_price_column">
      <%= polyglot.t('dashboard_kol.score_tab.expected_price') %>
    </div>
    <div class="col-md-5 text-center">
      <%= polyglot.t('dashboard_kol.score_tab.set_price') %>
    </div>
  </div>
  <div class="tab_online clearfix">
    <div class="col-md-3 text-center cell">
      <span><%= polyglot.t('dashboard_kol.score_tab.online')%></span>
    </div>
    <div class="col-md-1 text-center cell interested_column">
      <input type="checkbox" id="monetize_interested_all" name="monetize_interested_all">
      <span class="social"><%= polyglot.t('dashboard_kol.score_tab.interested_all')%></span>
    </div>
    <div class="col-md-3 text-center cell expected_price_column"></div>
    <div class="col-md-5 text-center cell social_column">
      <div class="col-md-3 text-center">
        <i class="fa fa-weibo fa-2x"></i> <span class="social">Weibo</span>
      </div>
      <div class="col-md-3 text-center">
        <i class="fa fa-wechat fa-2x"></i> <span class="social">Personal</span>
      </div>
      <div class="col-md-3 text-center">
        <i class="fa fa-wechat fa-2x"></i> <span class="social">Public 1st</span>
      </div>
      <div class="col-md-3 text-center">
        <i class="fa fa-wechat fa-2x"></i> <span class="social">Public 2nd</span>
      </div>
    </div>
  </div>
  <div class="clearfix">
    <div class="col-md-3 cell label_column">
      <span class="label_wrapper"><%= polyglot.t('dashboard_kol.score_tab.post_content')%></span>
    </div>
    <div class="col-md-1 text-center cell interested_column">
      <input type="checkbox" id="post_interested" name="monetize_interested_post">
    </div>
    <div class="col-md-3 text-center cell expected_price_column">
      <input type="number" id="monetize_post" name="monetize_post" class="form-control text-center">
    </div>
    <div class="col-md-5 text-center cell set_price_column">
      <div class="col-md-3 text-center">
        <input type="number" id="post_weibo" name="monetize_post_weibo" class="form-control text-center">
      </div>
      <div class="col-md-3 text-center">
        <input type="number" id="post_personal" name="monetize_post_personal" class="form-control text-center">
      </div>
      <div class="col-md-3 text-center">
        <input type="number" id="post_public1st" name="monetize_post_public1st" class="form-control text-center">
      </div>
      <div class="col-md-3 text-center">
        <input type="number" id="post_public2nd" name="monetize_post_public2nd" class="form-control text-center">
      </div>
    </div>
  </div>
  <div class="clearfix">
    <div class="col-md-3 cell label_column">
      <span class="label_wrapper"><%= polyglot.t('dashboard_kol.score_tab.create_content')%></span>
    </div>
    <div class="col-md-1 text-center cell interested_column">
      <input type="checkbox" id="create_interested" name="monetize_interested_create">
    </div>
    <div class="col-md-3 text-center cell expected_price_column">
      <input type="number" id="create_price" name="monetize_create" class="form-control text-center">
    </div>
    <div class="col-md-5 text-center cell set_price_column">
      <div class="col-md-3 text-center">
        <input type="number" id="create_weibo" name="monetize_create_weibo" class="form-control text-center">
      </div>
      <div class="col-md-3 text-center">
        <input type="number" id="create_personal" name="monetize_create_personal" class="form-control text-center">
      </div>
      <div class="col-md-3 text-center">
        <input type="number" id="create_public1st" name="monetize_create_public1st" class="form-control text-center">
      </div>
      <div class="col-md-3 text-center">
        <input type="number" id="create_public2nd" name="monetize_create_public2nd" class="form-control text-center">
      </div>
    </div>
  </div>
  <div class="clearfix">
    <div class="col-md-3 cell label_column">
      <span class="label_wrapper"><%= polyglot.t('dashboard_kol.score_tab.share')%></span>
    </div>
    <div class="col-md-1 text-center cell interested_column">
      <input type="checkbox" id="share_interested" name="monetize_interested_share">
    </div>
    <div class="col-md-3 text-center cell expected_price_column">
      <input type="number" id="share_price" name="monetize_share" class="form-control text-center">
    </div>
    <div class="col-md-5 text-center cell set_price_column">
      <div class="col-md-3 text-center">
        <input type="number" id="share_weibo" name="monetize_share_weibo" class="form-control text-center">
      </div>
      <div class="col-md-3 text-center">
        <input type="number" id="share_personal" name="monetize_share_personal" class="form-control text-center">
      </div>
      <div class="col-md-3 text-center">
        <input type="number" id="share_public1st" name="monetize_share_public1st" class="form-control text-center">
      </div>
      <div class="col-md-3 text-center">
        <input type="number" id="share_public2nd" name="monetize_share_public2nd" class="form-control text-center">
      </div>
    </div>
  </div>
  <div class="clearfix">
    <div class="col-md-3 cell label_column">
      <span class="label_wrapper"><%= polyglot.t('dashboard_kol.score_tab.review')%></span>
    </div>
    <div class="col-md-1 text-center cell interested_column">
      <input type="checkbox" id="review_interested" name="monetize_interested_review">
    </div>
    <div class="col-md-3 text-center cell expected_price_column">
      <input type="number" id="review_price" name="monetize_review" class="form-control text-center">
    </div>
    <div class="col-md-5 text-center cell set_price_column">
      <div class="col-md-3 text-center">
        <input type="number" id="review_weibo" name="monetize_review_weibo" class="form-control text-center">
      </div>
      <div class="col-md-3 text-center">
        <input type="number" id="review_personal" name="monetize_review_personal" class="form-control text-center">
      </div>
      <div class="col-md-3 text-center">
        <input type="number" id="review_public1st" name="monetize_review_public1st" class="form-control text-center">
      </div>
      <div class="col-md-3 text-center">
        <input type="number" id="review_public2nd" name="monetize_review_public2nd" class="form-control text-center">
      </div>
    </div>
  </div>
  <div class="clearfix">
    <div class="col-md-3 cell label_column">
      <span class="label_wrapper"><%= polyglot.t('dashboard_kol.score_tab.speech')%></span>
    </div>
    <div class="col-md-1 text-center cell interested_column">
      <input type="checkbox" id="speech_interested" name="monetize_interested_speech">
    </div>
    <div class="col-md-3 text-center cell expected_price_column">
      <input type="number" id="speech_price" name="monetize_speech" class="form-control text-center">
    </div>
    <div class="col-md-5 text-center cell set_price_column">
      <div class="col-md-3 text-center">
        <input type="number" id="speech_weibo" name="monetize_speech_weibo" class="form-control text-center">
      </div>
      <div class="col-md-3 text-center">
        <input type="number" id="speech_personal" name="monetize_speech_personal" class="form-control text-center">
      </div>
      <div class="col-md-3 text-center">
        <input type="number" id="speech_public1st" name="monetize_speech_public1st" class="form-control text-center">
      </div>
      <div class="col-md-3 text-center">
        <input type="number" id="speech_public2nd" name="monetize_speech_public2nd" class="form-control text-center">
      </div>
    </div>
  </div>
  <div class="tab_offline clearfix">
    <div class="col-md-3 text-center cell">
      <span><%= polyglot.t('dashboard_kol.score_tab.offline')%></span>
    </div>
    <div class="col-md-1 text-center cell"></div>
    <div class="col-md-3 text-center cell"></div>
    <div class="col-md-5 text-center cell"></div>
  </div>
  <div class="clearfix">
    <div class="col-md-3 cell label_column">
      <span class="label_wrapper"><%= polyglot.t('dashboard_kol.score_tab.attend')%></span>
    </div>
    <div class="col-md-1 text-center cell interested_column">
      <input type="checkbox" id="attend_interested" name="monetize_interested_event">
    </div>
    <div class="col-md-3 text-center cell expected_price_column">
      <input type="number" id="attend_price" name="monetize_event" class="form-control text-center">
    </div>
    <div class="col-md-5 text-center cell"></div>
  </div>
  <div class="clearfix">
    <div class="col-md-3 cell label_column">
      <span class="label_wrapper"><%= polyglot.t('dashboard_kol.score_tab.focus')%></span>
    </div>
    <div class="col-md-1 text-center cell interested_column">
      <input type="checkbox" id="focus_interested" name="monetize_interested_focus">
    </div>
    <div class="col-md-3 text-center cell expected_price_column">
      <input type="number" id="focus_price" name="monetize_focus" class="form-control text-center">
    </div>
    <div class="col-md-5 text-center cell"></div>
  </div>
  <div class="clearfix">
    <div class="col-md-3 cell label_column">
      <span class="label_wrapper"><%= polyglot.t('dashboard_kol.score_tab.host')%></span>
    </div>
    <div class="col-md-1 text-center cell interested_column">
      <input type="checkbox" id="host_interested" name="monetize_interested_party">
    </div>
    <div class="col-md-3 text-center cell expected_price_column">
      <input type="number" id="host_price" name="monetize_party" class="form-control text-center">
    </div>
    <div class="col-md-5 text-center cell"></div>
  </div>
  <div class="clearfix">
    <div class="col-md-3 cell label_column">
      <span class="label_wrapper"><%= polyglot.t('dashboard_kol.score_tab.endorsements')%></span>
    </div>
    <div class="col-md-1 text-center cell interested_column">
      <input type="checkbox" id="endorsements_interested" name="monetize_interested_endorsements">
    </div>
    <div class="col-md-3 text-center cell expected_price_column">
      <input type="number" id="endorsements_price" name="monetize_endorsements" class="form-control text-center">
    </div>
    <div class="col-md-5 text-center cell"></div>
  </div>
</div>
</form>
<div class="dashboard-kol-tab-footer clearfix">
  <button id="back_to_profile_btn" class="btn btn-default btn-green pull-left" type="submit" style="min-width: 45px;"><i class="fa fa-chevron-left"></i> <%= polyglot.t('dashboard_kol.buttons.back') %></button>
  <button id="next_to_campaign_btn" class="btn btn-primary pull-right" type="submit"><i class="fa fa-chevron-right"></i> <%= polyglot.t('dashboard_kol.buttons.next') %></button>
</div>