<div class="campaigns-tables-title">
  <span><%= polyglot.t('dashboard_kol.score_tab.tables_title') %></span>
</div>
<form id="score_form">
<div id="score-data" style="background-color: #f4f4f4;">
  <div id="top-row" style="height: 210px">
    <div class="col-md-3 text-center kol-avatar" style="margin-top: 10px; margin-left: 10px;">
      <div class="text-center" id="image-uploader-custom">
        <img src="<%= AppAssets.path('noavatar.png') %>" id="avatar-image" class="avatar" alt="avatar" style="width: 150px; height: 150px;">

      </div>
      <input type="hidden" id="avatar-upload" role="uploadcare-uploader"
             data-crop="185x185 upscale"
             data-max-size="3145728"
             data-images-only="true"/>
    </div>
    <div class="col-md-4" style="margin-top: 10px; margin-left: 10px; padding: 0px;">
      <div style="height: 170px;">
        <div style="float: left; padding-left: 40px; padding-top: 30px;">
          <input type="text" value="<%= score(k) %>" class="graph-score" data-fgColor="#edac0a" data-bgColor="#AAAAAA" data-angleOffset=-125 data-angleArc=250 data-readOnly=true data-width="120" data-height="120">
        </div>
        <div style="float: right">
          <span style="font-family: 'ProximaNovaBold'; font-size: 20px; color: #007183;"><%= polyglot.t('dashboard_kol.score_tab.social_score')%></span>
          <br/><br/>
          <div style="font-family: 'ProximaNova'; font-size: 13px; color: white; background-color: #edac0a; text-align: center;">&nbsp;<%= vs(k)%>&nbsp;</div>
          <br/>
          <div style="font-family: 'ProximaNova'; font-size: 13px; color: white; background-color: #edac0a; text-align: center;">&nbsp;<%= beat(k) %>&nbsp;</div>
        </div>
      </div>

      <div style="padding-left: 40px; ">
      <span style="font-family: 'ProximaNova'; font-size: 12px; color: #007183;"><%= polyglot.t('dashboard_kol.score_tab.calculated')%></span>
      </div>
    </div>
    <div class="col-md-5" style="height: 180px; padding-left: 100px; ">
      <div id="graph_score2" name="graph_score2"></div>
    </div>
  </div>

</div>
<br/>
<div class="campaigns-tables-title">
  <span><%= polyglot.t('dashboard_kol.score_tab.tables_title2') %></span>&nbsp;<%= polyglot.t('dashboard_kol.score_tab.tables_title3') %>
</div>
<div id="value" class="score-tables" style="height: 400px;">
  <div>
    <div class="col-md-3 text-center" style="background-color: #f4f4f4;">
      &nbsp;
    </div>
    <div class="col-md-1 text-center" style="background-color: #f4f4f4; color: #007183;">
      <%= polyglot.t('dashboard_kol.score_tab.interested')%>
    </div>
    <div class="col-md-3 text-center" style="background-color: #f4f4f4; color: #007183;">
      <%= polyglot.t('dashboard_kol.score_tab.expected_price')%>
    </div>
    <div class="col-md-5 text-center" style="background-color: #f4f4f4; color: #007183;">
      <%= polyglot.t('dashboard_kol.score_tab.set_price')%>
    </div>
  </div>
  <div>
    <div class="col-md-3 text-center cell">
      <span><%= polyglot.t('dashboard_kol.score_tab.online')%></span>
    </div>
    <div class="col-md-1 text-center cell" style="padding: 0px; padding-top: 5px;">
      <input type="checkbox" id="monetize_intrested_all" name="monetize_interested_all">&nbsp;<span class="social"><%= polyglot.t('dashboard_kol.score_tab.interested_all')%></span>
    </div>
    <div class="col-md-3 text-center cell">
      &nbsp;
    </div>
    <div class="col-md-5 text-center cell" style="padding: 0px;">
      <div class="col-md-3 text-center" style="padding: 0px;">
        <i class="fa fa-weibo fa-2x"></i> <span class="social">Weibo</span>
      </div>
      <div class="col-md-3 text-center" style="padding: 0px;">
        <i class="fa fa-wechat fa-2x"></i> <span class="social">Personal</span>
      </div>
      <div class="col-md-3 text-center" style="padding: 0px;">
        <i class="fa fa-wechat fa-2x"></i> <span class="social">Public 1st</span>
      </div>
      <div class="col-md-3 text-center" style="padding: 0px; vertical-align: middle;">
        <i class="fa fa-wechat fa-2x"></i> <span class="social">Public 2nd</span>
      </div>
    </div>
  </div>

  <div >
    <div class="col-md-3 text-center cell" style="height: 45px;">
      <%= polyglot.t('dashboard_kol.score_tab.post_content')%>
    </div>
    <div class="col-md-1 text-center cell"  style="height: 45px;">
      <input type="checkbox" id="post_interested" name="monetize_interested_post">
    </div>
    <div class="col-md-3 text-center cell"  style="height: 45px;">
      <input type="number" id="monetize_post" name="monetize_post">
    </div>
    <div class="col-md-5 text-center cell" style="padding: 0px; height: 45px;">
      <div class="col-md-3 text-center"  style="padding-top: 5px; padding-right: 0px; padding-left: 0px;">
        <input type="number" id="post_weibo" name="monetize_post_weibo" style="width: 70px;">
      </div>
      <div class="col-md-3 text-center"  style="padding-top: 5px;">
        <input type="number" id="post_personal" name="monetize_post_personal" style="width: 70px;">
      </div>
      <div class="col-md-3 text-center"  style="padding-top: 5px;">
        <input type="number" id="post_public1st" name="monetize_post_public1st" style="width: 70px;">
      </div>
      <div class="col-md-3 text-center"  style="padding-top: 5px;">
        <input type="number" id="post_public2nd" name="monetize_post_public2nd" style="width: 70px;">
      </div>
    </div>
  </div>
  <div>
    <div class="col-md-3 text-center cell">
      <%= polyglot.t('dashboard_kol.score_tab.create_content')%>
    </div>
    <div class="col-md-1 text-center cell">
      <input type="checkbox" id="create_interested" name="monetize_interested_create">
    </div>
    <div class="col-md-3 text-center cell">
      <input type="number" id="create_price" name="monetize_create">
    </div>
    <div class="col-md-5 text-center cell" style="padding: 0px;">
      <div class="col-md-3 text-center" style="padding-top: 5px;">
        <input type="number" id="create_weibo" name="monetize_create_weibo" style="width: 70px;">
      </div>
      <div class="col-md-3 text-center" style="padding-top: 5px;">
        <input type="number" id="create_personal" name="monetize_create_personal" style="width: 70px;">
      </div>
      <div class="col-md-3 text-center" style="padding-top: 5px;">
        <input type="number" id="create_public1st" name="monetize_create_public1st" style="width: 70px;">
      </div>
      <div class="col-md-3 text-center" style="padding-top: 5px;">
        <input type="number" id="create_public2nd" name="monetize_create_public2nd" style="width: 70px;">
      </div>
    </div>
  </div>
  <div >
    <div class="col-md-3 text-center cell"  style="height: 45px;">
      <%= polyglot.t('dashboard_kol.score_tab.share')%>
    </div>
    <div class="col-md-1 text-center cell"  style="height: 45px;">
      <input type="checkbox" id="share_interested" name="monetize_interested_share">
    </div>
    <div class="col-md-3 text-center cell"  style="height: 45px;">
      <input type="number" id="share_price" name="monetize_share">
    </div>
    <div class="col-md-5 text-center cell" style="padding: 0px; height: 45px;">
      <div class="col-md-3 text-center"  style="padding-top: 5px;">
        <input type="number" id="share_weibo" name="monetize_share_weibo" style="width: 70px;">
      </div>
      <div class="col-md-3 text-center"  style="padding-top: 5px;">
        <input type="number" id="share_personal" name="monetize_share_personal" style="width: 70px;">
      </div>
      <div class="col-md-3 text-center"  style="padding-top: 5px;">
        <input type="number" id="share_public1st" name="monetize_share_public1st" style="width: 70px;">
      </div>
      <div class="col-md-3 text-center"  style="padding-top: 5px;">
        <input type="number" id="share_public2nd" name="monetize_share_public2nd" style="width: 70px;">
      </div>
    </div>
  </div>
  <div >
    <div class="col-md-3 text-center cell">
      <%= polyglot.t('dashboard_kol.score_tab.review')%>
    </div>
    <div class="col-md-1 text-center cell">
      <input type="checkbox" id="review_interested" name="monetize_interested_review">
    </div>
    <div class="col-md-3 text-center cell">
      <input type="number" id="review_price" name="monetize_review">
    </div>
    <div class="col-md-5 text-center cell" style="padding: 0px;">
      <div class="col-md-3 text-center"  style="padding-top: 5px;">
        <input type="number" id="review_weibo" name="monetize_review_weibo" style="width: 70px;">
      </div>
      <div class="col-md-3 text-center"  style="padding-top: 5px;">
        <input type="number" id="review_personal" name="monetize_review_personal" style="width: 70px;">
      </div>
      <div class="col-md-3 text-center"  style="padding-top: 5px;">
        <input type="number" id="review_public1st" name="monetize_review_public1st" style="width: 70px;">
      </div>
      <div class="col-md-3 text-center"  style="padding-top: 5px;">
        <input type="number" id="review_public2nd" name="monetize_review_public2nd" style="width: 70px;">
      </div>
    </div>
  </div>
  <div >
    <div class="col-md-3 text-center cell">
      <%= polyglot.t('dashboard_kol.score_tab.speech')%>
    </div>
    <div class="col-md-1 text-center cell">
      <input type="checkbox" id="speech_interested" name="monetize_interested_speech">
    </div>
    <div class="col-md-3 text-center cell">
      <input type="number" id="speech_price" name="monetize_speech">
    </div>
    <div class="col-md-5 text-center cell" style="padding: 0px;">
      <div class="col-md-3 text-center"  style="padding-top: 5px;">
        <input type="number" id="speech_weibo" name="monetize_speech_weibo" style="width: 70px;">
      </div>
      <div class="col-md-3 text-center"  style="padding-top: 5px;">
        <input type="number" id="speech_personal" name="monetize_speech_personal" style="width: 70px;">
      </div>
      <div class="col-md-3 text-center"  style="padding-top: 5px;">
        <input type="number" id="speech_public1st" name="monetize_speech_public1st" style="width: 70px;">
      </div>
      <div class="col-md-3 text-center"  style="padding-top: 5px;">
        <input type="number" id="speech_public2nd" name="monetize_speech_public2nd" style="width: 70px;">
      </div>
    </div>
  </div>
  <div >
    <div class="col-md-3 text-center cell">
      <span><%= polyglot.t('dashboard_kol.score_tab.offline')%></span>
    </div>
    <div class="col-md-1 text-center cell">
      &nbsp;
    </div>
    <div class="col-md-3 text-center cell">
      &nbsp;
    </div>
    <div class="col-md-5 text-center cell" style="padding: 0px;">
      &nbsp;
    </div>
  </div>

  <div >
    <div class="col-md-3 text-center cell" >
      <%= polyglot.t('dashboard_kol.score_tab.attend')%>
    </div>
    <div class="col-md-1 text-center cell" >
      <input type="checkbox" id="attend_interested" name="monetize_interested_event">
    </div>
    <div class="col-md-3 text-center cell" >
      <input type="number" id="attend_price" name="monetize_event">
    </div>
    <div class="col-md-5 text-center cell" style="padding: 0px;">
      &nbsp;
    </div>
  </div>
  <div >
    <div class="col-md-3 text-center cell">
      <%= polyglot.t('dashboard_kol.score_tab.focus')%>
    </div>
    <div class="col-md-1 text-center cell">
      <input type="checkbox" id="focus_interested" name="monetize_interested_focus">
    </div>
    <div class="col-md-3 text-center cell">
      <input type="number" id="focus_price" name="monetize_focus">
    </div>
    <div class="col-md-5 text-center cell" style="padding: 0px;">
      &nbsp;
    </div>
  </div>
  <div >
    <div class="col-md-3 text-center cell">
      <%= polyglot.t('dashboard_kol.score_tab.host')%>
    </div>
    <div class="col-md-1 text-center cell">
      <input type="checkbox" id="host_interested" name="monetize_interested_party">
    </div>
    <div class="col-md-3 text-center cell">
      <input type="number" id="host_price" name="monetize_party">
    </div>
    <div class="col-md-5 text-center cell" style="padding: 0px;">
      &nbsp;
    </div>
  </div>
  <div >
    <div class="col-md-3 text-center cell">
      <%= polyglot.t('dashboard_kol.score_tab.endorsements')%>
    </div>
    <div class="col-md-1 text-center cell">
      <input type="checkbox" id="endorsements_interested" name="monetize_interested_endorsements">
    </div>
    <div class="col-md-3 text-center cell">
      <input type="number" id="endorsements_price" name="monetize_endorsements">
    </div>
    <div class="col-md-5 text-center cell" style="padding: 0px;">
      &nbsp;
    </div>
  </div>
</div>
</form>
<div class="dashboard-kol-tab-footer">
  <button id="back_to_profile_btn" class="btn btn-primary pull-left" type="submit"><i class="fa fa-chevron-left"></i> <%= polyglot.t('dashboard_kol.buttons.back') %></button>
  <button id="next_to_campaign_btn" class="btn btn-primary pull-right" type="submit"><i class="fa fa-chevron-right"></i> <%= polyglot.t('dashboard_kol.buttons.next') %></button>
</div>

