<form class="form" accept-charset="UTF-8" enctype="multipart/form-data" 
  method="post" action="/media_lists" data-remote="true">
  <div class="form-group">
    <label><%= polyglot.t("smart_release.targets_step.media_tab.add_list") %></label>
    <div style="display: inline;" class="ui-select">
      <select class="form-control">
        <option value="-1"><%= polyglot.t("smart_release.targets_step.media_tab.select_placeholder") %></option>
        <% _(items).each(function(item){ %>
          <option value="<%= item.id %>"><%= item.name %></option>
        <% }); %>
      </select>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-default btn-green"><i class="fa fa-upload"></i>  <%= polyglot.t("smart_release.targets_step.media_tab.upload_button") %></button>
    <br><small><%= polyglot.t("smart_release.targets_step.media_tab.formats") %>: CSV <i title="" data-html="true" data-placement="right" data-toggle="tooltip" class="fa fa-question-circle" data-original-title="<%= polyglot.t("smart_release.targets_step.media_tab.uploaded_file_info") %>"></i></small>
    
    <input class="hide" type="file" name="media_list_file" accept="text/csv" />
  </div>
</form>
