<div>
  <table class="table table-hover targets">
    <thead>
      <tr>
        <th>Influencer</th>
        <th>Followers</th>
        <th>&nbsp;&nbsp;Reach <i title="" data-toggle="tooltip" class="fa fa-question-circle" data-original-title="Reach is..."></i>&nbsp;&nbsp;</th>
        <th>&nbsp;&nbsp;Amplif. <i title="" data-toggle="tooltip" class="fa fa-question-circle" data-original-title="Amplification is..."></i>&nbsp;&nbsp;</th>
        <th>Relevance <i title="" data-toggle="tooltip" class="fa fa-question-circle" data-original-title="Relevance is..."></i></th>
        <th>Pitch?</th>
        <th>Contact</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(influencers, function(user){ %>
        <tr>
          <td>
            <div class="media targets-author">
              <a class="pull-left" href="http://twitter.com/<%= user.screen_name %>" target="_blank">
                <img class="media-object" src="<%= user.profile_image_url %>">
              </a>
              <div class="media-body">
                <h4 class="media-heading"><%= getFullname(user.firstName, user.lastName) %></h4>
                <% if (user.location) { %>
                  <div style="display: inline;">
                    <span class="badge badge-default"><i class="fa fa-map-marker"></i> <%= user.location %></span>
                  </div>
                <% } %>
                <% if (user.skills) { %>
                  <% _.each(_.range(3), function(index){ %>
                    <% if (user.skills[index]) { %>
                      <span class="badge badge-default"><i class="fa fa-tag"></i> <%= user.skills[index] %></span>
                    <% } %>
                  <% }) %>
                <% } %>
              </div>
            </div>
          </td>
          <td><%= user.followers_count %></td>
          
          <% var userAmpScore = Math.round(user.ampScore) %>
          <% var userReachScore = Math.round(user.reachScore) %>
          <% var userRelScore = Math.round(user.relScore) %>
              
          <td>
            <div class="progress active">
              <div style="width: <%= userReachScore %>%;" aria-valuemax="100" aria-valuemin="0"
                aria-valuenow="99.56" role="progressbar" class="progress-bar"><%= userReachScore %>%
              </div>
            </div>
          </td>
          <td>
            <div class="progress active">
              <div style="width: <%= userAmpScore %>%;" aria-valuemax="100" aria-valuemin="0"
                aria-valuenow="99.56" role="progressbar" class="progress-bar"><%= userAmpScore %>%
              </div>
            </div>
          </td>
          <td>
            <div class="progress active">
              <div style="width: <%= userRelScore %>%;" aria-valuemax="100" aria-valuemin="0"
                aria-valuenow="99.56" role="progressbar" class="progress-bar"><%= userRelScore %>%
              </div>
            </div>
          </td>
          <td>
            <a class="btn btn-xs btn-success" href="#">
              <i class="fa fa-check"></i> Yes
            </a> 
            <a disabled="" class="btn btn-xs btn-danger" href="#">
              <i class="fa fa-close"></i> No
            </a>
          </td>
          <td>
            <a href="http://twitter.com/<%= user.screen_name %>" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>  
</div>
