<div id='wrapper'>
  <div id="sidebar-wrapper">
    <%= render 'public_news_rooms/sidebar', news_room: @news_room %>
  </div>
  <div id="page-content-wrapper">
    <div class="row">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <% if @preview_mode %>
              <i class="preview-notification">You are in a preview mode. You need to make this release and newsroom public in order to show it on your page</i>
            <% end %>
            <div class="jumbotron release">
              <div class='jumbotron-photo'>
                <% if @release.logo_url %>
                  <img class="img-rounded" src="<%= @release.logo_url %>">
                <% end %>
              </div>
              <div class='jumbotron-contents'>
                <h1><%= @release.title %></h1>
                <div>
                  <%= @release.text.try(:html_safe) %>
                </div>
              </div>
              <% unless @release.attachments.blank? %>
                <h2>Images</h2>
                <div class='release-preview'>
                  <% @release.images.each do |attachment| %>
                    <a href="<%= attachment.url  %>" title="<%= attachment.name  %>" data-gallery="" >
                      <%= image_tag asset_path(attachment.thumbnail) %>
                    </a>                    
                  <% end %>
                </div>

                <h2>Videos</h2>
                <div class='release-preview row'>
                  <% @release.videos.each do |attachment| %>
                    <div class='col-md-2 col-lg-2'>
                      <a href="<%= attachment.url  %>" class="not-image " title="<%= attachment.name  %>" data-gallery="" type="video/<%=attachment.name.split('.').last%>">
                        <div class="presskit-file">
                          <div class="presskit-file--content">
                            <%= image_tag asset_path(attachment.get_correct_url) %>
                            <br>
                            <span class='name'> <%= attachment.name %> </span>
                          </div>
                        </div>
                      </a>
                    </div>                    
                  <% end %>
                </div>

                <h2>Files</h2>
                <div class='files row'>
                  <% @release.files.each do |attachment| %>
                    <div class="col-md-2">
                      <a href="<%= attachment.url  %>" class="not-image" title="<%= attachment.name  %>" data-gallery="">
                        <div class="presskit-file">
                          <div class="presskit-file--content">
                            <%= image_tag asset_path(attachment.get_correct_url) %>
                            <br>
                            <span class='name'> <%= attachment.name %> </span>
                          </div>
                        </div>
                      </a>
                    </div>                    
                  <% end %>
                </div>
              <% end %>
            </div>
            <div id="blueimp-gallery" class="blueimp-gallery" data-use-bootstrap-modal="false">
              <!-- The container for the modal slides -->
              <div class="slides"></div>
              <!-- Controls for the borderless lightbox -->
              <h3 class="title"></h3>
              <a class="prev">‹</a>
              <a class="next">›</a>
              <a class="close">×</a>
              <a class="play-pause"></a>
              <ol class="indicator"></ol>
              <!-- The modal dialog, which will be used to wrap the lightbox content -->
              <div class="modal fade">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" aria-hidden="true">&times;</button>
                      <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next"></div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Previous
                      </button>
                      <button type="button" class="btn btn-primary next">
                        Next
                        <i class="glyphicon glyphicon-chevron-right"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <hr style="margin-bottom: 4px;"> -->
            <%= render 'public_news_rooms/footer' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% unless @release.attachments.blank? %>
  <script type="text/javascript">
    $( ".release-preview" ).click(function(event) {
      event = event || window.event;
      var target = event.target || event.srcElement;
      var link = target.src ? target.parentNode : target;
      if ($(link).hasClass('presskit-file') || $(link).hasClass('presskit-file--content')) {
        link = $(link).find('img').parents(".not-image")[0];
      };
      
      var options = {index: link, event: event};
      var links = this.getElementsByTagName('a');
      blueimp.Gallery(links, options);
    });

  </script>
<% end %>