<div class="signup">
  <header class="int-header">
    <%= render :partial => "pages/partials/menu"%>
    <%= render :partial => "pages/partials/page_banner", :locals => { :header => "#{@l.t('common.reset_password')}"}%>
  </header>

  <div class="form-step step-one">
    <div class="row">
      <div class="small-12 columns">
        <div class="errorwarning">
          <%flash[:errors].each do |e|%>
              <p><%=e%></p>
          <%end if flash[:errors].present?%>
        </div>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>

          <label>
            <%= f.password_field :password, autofocus: true, autocomplete: "off",:placeholder=> @l.t('common.new_password') %>
          </label>

          <label for="">
            <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => @l.t('common.new_password_confirmation') %>
          </label>

          <div class="actions">
            <%= f.submit "#{@l.t('common.submit')}", :class=>"button button-signup" %>
          </div>
        <% end %>

        <label style='padding-left: 206px;'>
          <%# <%= render "kols/shared/links" %1> %>
        </label>
        
      </div>
    </div>
  </div>
</div>



