<div class="edit-settings-row hidden">
  <div class="col-xs-4 shrink" style="width: 27%;">
    <div class="checkbox">
      <label>
        <input type="checkbox" id='shrink-links' name='shrinked_links'> <strong>Shrink links</strong>
      </label>
    </div>
  </div>
  <div class="col-xs-4 schedule" style="width: 60%; float: right;">
    <div class="form-group pull-right">
      <div class='input-group date edit-datetimepicker'>
        <input type='text' name='scheduled_date' class="form-control input-sm"/>
        <span class="input-group-addon">
          <span class="fa fa-calendar"></span>
        </span>
      </div>
      <!-- <a class="btn btn-danger pull-right btn-sm cancel-schedule" style="margin-left: 6px;"><i class="fa fa-close"></i></a> -->
    </div>
  </div>
</div>
<% var date = moment.utc(post.scheduled_date).toDate() %>
<small><%- moment(date).format('hh:mm A') %></small>
<span class="editable" data-type="textarea" data-name="text"><%- post.text %></span>
<div class="pull-right" style="display: inline-block;">
  <span class="social-networks">
    <a href="#" data-provider='twitter' class="btn btn-xs <%= Robin.identities.twitter == undefined ? 'disabled' : '' %> <%= post.social_networks.twitter == 'true' ? 'btn-primary' : '' %>" data-toggle="tooltip" title="Post to @<%= Robin.identities.twitter == undefined ? '' : Robin.identities.twitter.name %>"><i class="fa fa-twitter"></i></a>
    <a href="#" data-provider='facebook' class="btn btn-xs <%= Robin.identities.facebook == undefined ? 'disabled' : '' %> <%= post.social_networks.facebook == 'true' ? 'btn-primary' : '' %>" data-toggle="tooltip" title="Post to <%= Robin.identities.facebook == undefined ? '' : Robin.identities.facebook.name %>"><i class="fa fa-facebook"></i></a>
    <a href="#" data-provider='linkedin' class="btn btn-xs <%= Robin.identities.linkedin == undefined ? 'disabled' : '' %> <%= post.social_networks.linkedin == 'true' ? 'btn-primary' : '' %>" data-toggle="tooltip" title="Post to <%= Robin.identities.linkedin == undefined ? '' : Robin.identities.linkedin.name %>"><i class="fa fa-linkedin"></i></a>
    <a href="#" data-provider='google' class="btn btn-xs <%= Robin.identities.google == undefined ? 'disabled' : '' %> <%= post.social_networks.google == 'true' ? 'btn-primary' : '' %>" data-toggle="tooltip" title="Post to <%= Robin.identities.google == undefined ? '' : Robin.identities.google.name %>"><i class="fa fa-google-plus"></i></a>
  </span>
  <a href="#" class="btn btn-xs btn-default edit-post" style="margin-left: 4px;" data-toggle="tooltip" title="Edit post"><i class="fa fa-pencil"></i></a>
  <a href="#" id="delete-post"  class="btn btn-xs btn-danger" data-toggle="tooltip" title="Delete post"><i class="fa fa-close"></i></a>
</div>