<div class="edit-settings-row hidden">
  <div class="col-xs-4 shrink" style="width: 22%; margin-top: 4px;">
    <div class="checkbox">
      <label style="white-space: nowrap;">
        <input type="checkbox" id='edit-shrink-links' name='shrinked_links'> <strong>Shrink links</strong> 
      </label>
    </div>
  </div>
  <div class="col-xs-4 edit-social-networks" style="width: 150px;">
    <a class="btn <%= Robin.identities.twitter == undefined ? 'disabled' : '' %> <%= (post.social_networks.twitter == 'true' &&  Robin.identities.twitter != undefined) ? 'btn-primary' : '' %>" data-toggle="tooltip" title="Post to @<%= Robin.identities.twitter != undefined ? Robin.identities.twitter.name : '' %>"><i class="fa fa-twitter"></i></a>
    <input type='hidden' name="twitter" />
    <a class="btn <%= Robin.identities.facebook == undefined ? 'disabled' : '' %> <%= (post.social_networks.facebook == 'true' && Robin.identities.facebook != undefined) ? 'btn-primary' : '' %>" data-toggle="tooltip" title="Post to <%= Robin.identities.facebook != undefined ? Robin.identities.facebook.name : '' %> page"><i class="fa fa-facebook"></i></a>
    <input type='hidden' name="facebook" />
    <a class="btn <%= Robin.identities.linkedin == undefined ? 'disabled' : '' %> <%= (post.social_networks.linkedin == 'true' && Robin.identities.linkedin != undefined) ? 'btn-primary' : '' %>" data-toggle="tooltip" title="Post to <%= Robin.identities.linkedin != undefined ? Robin.identities.linkedin.name : '' %> page"><i class="fa fa-linkedin"></i></a>
    <input type='hidden' name="linkedin" />
  </div>
  <div class="col-xs-4 schedule" style="width: 42%;">
    <div class="form-group pull-right">
      <div class='input-group date edit-datetimepicker'>
        <input type='text' name='scheduled_date' class="form-control input-sm"/>
        <span class="input-group-addon">
          <span class="fa fa-calendar"></span>
        </span>
      </div>
      <!-- <a class="btn btn-danger pull-right btn-sm cancel-schedule" style="margin-left: 6px;"><i class="fa fa-close"></i></a> -->
    </div>
  </div>
  <div class="col-xs-4 counter" style="width: 9%; margin-top: 4px;">
    <div style="width: 40px;">

      <span class="label label-success label-sm post-counter" id="edit-counter">140</span>
   </div>
  </div>
</div>
<% var date = moment.utc(post.scheduled_date).toDate() %>
<%if (Math.abs(moment().diff(date, 'days')) >=1 ) { %>
  <small><%- moment(date).format('MM/DD/YYYY hh:mm A') %></small>
<% } else { %>
  <small><%- moment(date).format('hh:mm A') %></small>
<% } %>

<span class="editable" data-type="textarea" data-name="text"><%- post.text %></span>
<div class="pull-right" style="display: inline-block;">
  <span class="social-networks">
    <a data-provider='twitter' class="btn btn-xs <%= Robin.identities.twitter == undefined ? 'disabled' : '' %> <%= (post.social_networks.twitter == 'true' &&  Robin.identities.twitter != undefined) ? 'btn-primary' : '' %>" data-toggle="tooltip" title="Post to @<%= Robin.identities.twitter == undefined ? '' : Robin.identities.twitter.name %>"><i class="fa fa-twitter"></i></a>
    <a data-provider='facebook' class="btn btn-xs <%= Robin.identities.facebook == undefined ? 'disabled' : '' %> <%= (post.social_networks.facebook == 'true' && Robin.identities.facebook != undefined) ? 'btn-primary' : '' %>" data-toggle="tooltip" title="Post to <%= Robin.identities.facebook == undefined ? '' : Robin.identities.facebook.name %>"><i class="fa fa-facebook"></i></a>
    <a data-provider='linkedin' class="btn btn-xs <%= Robin.identities.linkedin == undefined ? 'disabled' : '' %> <%= (post.social_networks.linkedin == 'true' && Robin.identities.linkedin != undefined) ? 'btn-primary' : '' %>" data-toggle="tooltip" title="Post to <%= Robin.identities.linkedin == undefined ? '' : Robin.identities.linkedin.name %>"><i class="fa fa-linkedin"></i></a>
  </span>
  <a class="btn btn-xs btn-default edit-post" style="margin-left: 4px;" data-toggle="tooltip" title="Edit post"><i class="fa fa-pencil"></i></a>
  <a id="delete-post"  class="btn btn-xs btn-danger" data-toggle="tooltip" title="Delete post"><i class="fa fa-close"></i></a>
</div>