<h5>Manage Connected Social Profiles</h5>
<p>
  Use Robin8 to manage your social profiles.  Start by linking your Robin8 account to your social profiles so you can easily post or schedule your post (s) directly to your profiles with one click.
</p>
<p class='note'>* for adding multiple accounts for one social network you should be signed out from this network in your browser</p>
<br>
<ul class="list-group">
  <ul class="list-group item <%= Robin.identities.twitter.length == 0 ? "no-padding-bottom" : ""%>">
    <span class="pull-right">
      <a class="btn btn-xs btn-social btn-twitter" name='twitter'>
        <i class="fa fa-twitter"></i>
        Add
      </a>
    </span>
    <span class='name'>Twitter</span>
    <% if (Robin.identities.twitter.length == 0) {%>
      <li class="identity">
        <span> There is no accounts </span>
      </li>
    <%} else {%>
      <% $.each(Robin.identities.twitter, function( index, value ) { %>
        <li class="identity">
          <a class='link' href="<%= value.url%>" target="_blank">@<%= value.name%></a> 
          <a href="" class='disconnect' identityid='<%= value.id%>'>Disconnect</a></span>
        </li>
      <% }) %>
    <%} %>
  </ul>
  <ul class="list-group item <%= Robin.identities.facebook.length == 0 ? "no-padding-bottom" : ""%>">
    <span class="pull-right">
      <a class="btn btn-xs btn-social btn-facebook" name='facebook'>
        <i class="fa fa-facebook"></i>
        Add
      </a>
    </span>
    <span class='name'>Facebook</span>
    <% if (Robin.identities.facebook.length == 0) {%>
      <li class="identity">
        <span> There is no accounts </span>
      </li>
    <%} else {%>
      <% $.each(Robin.identities.facebook, function( index, value ) { %>
        <li class="identity">
          <a class='link' href="<%= value.url%>" target="_blank"><%= value.name%></a> 
          <a href="" class='disconnect' identityid='<%= value.id%>'>Disconnect</a></span>
        </li>
      <% }) %>
    <%} %>
  </ul>
  <ul class="list-group item <%= Robin.identities.google.length == 0 ? "no-padding-bottom" : ""%>">
    <span class="pull-right">
      <a class="btn btn-xs btn-social btn-google-plus" name='google_oauth2'>
        <i class="fa fa-google-plus"></i>
        Add
      </a>
    </span>
    <span class='name'>Google+</span>
    <% if (Robin.identities.google.length == 0) {%>
      <li class="identity">
        <span> There is no accounts </span>
      </li>
    <%} else {%>
      <% $.each(Robin.identities.google, function( index, value ) { %>
        <li class="identity">
          <a class='link' href="<%= value.url%>" target="_blank"><%= value.name%></a> 
          <a href="" class='disconnect' identityid='<%= value.id%>'>Disconnect</a></span>
        </li>
      <% }) %>
    <%} %>
  </ul>
  <ul class="list-group item <%= Robin.identities.linkedin.length == 0 ? "no-padding-bottom" : ""%>">
    <span class="pull-right">
      <a class="btn btn-xs btn-social btn-linkedin" name='linkedin'>
      <i class="fa fa-linkedin"></i>
        Add
      </a>
    </span>
    <span class='name'>LinkedIn</span>
    <% if (Robin.identities.linkedin.length == 0) {%>
      <li class="identity">
        <span> There is no accounts </span>
      </li>
    <%} else {%>
      <% $.each(Robin.identities.linkedin, function( index, value ) { %>
        <li class="identity">
          <a class='link' href="<%= value.url%>" target="_blank"><%= value.name%></a> 
          <a href="" class='disconnect' identityid='<%= value.id%>'>Disconnect</a></span>
        </li>
      <% }) %>
    <%} %>
  </ul>
  <ul class="list-group item <%= Robin.identities.weibo.length == 0 ? "no-padding-bottom" : ""%>">
    <span class="pull-right">
      <a class="btn btn-xs btn-social btn-weibo" name='weibo_oauth2'>
      <i class="fa fa-weibo"></i>
        Add
      </a>
    </span>
    <span class='name'>Weibo</span>
    <% if (Robin.identities.weibo.length == 0) {%>
      <li class="identity">
        <span> There is no accounts </span>
      </li>
    <%} else {%>
      <% $.each(Robin.identities.weibo, function( index, value ) { %>
        <li class="identity">
          <a class='link' href="<%= value.url%>" target="_blank"><%= value.name%></a>
          <a href="" class='disconnect' identityid='<%= value.id%>'>Disconnect</a></span>
        </li>
      <% }) %>
    <%} %>
  </ul>
  <ul class="list-group item <%= Robin.identities.wechat.length == 0 ? "no-padding-bottom" : ""%>">
    <span class="pull-right">
      <a class="btn btn-xs btn-social btn-wechat" name='wechat_oauth2'>
      <i class="fa fa-wechat"></i>
        Add
      </a>
    </span>
    <span class='name'>WeChat</span>
    <% if (Robin.identities.wechat.length == 0) {%>
      <li class="identity">
        <span> There is no accounts </span>
      </li>
    <%} else {%>
      <% $.each(Robin.identities.wechat, function( index, value ) { %>
        <li class="identity">
          <a class='link' href="<%= value.url%>" target="_blank"><%= value.name%></a>
          <a href="" class='disconnect' identityid='<%= value.id%>'>Disconnect</a></span>
        </li>
      <% }) %>
    <%} %>
  </ul>
</ul>
