<h5><%= polyglot.t("social.profiles.title") %></h5>
<p><%= polyglot.t("social.profiles.description") %></p>
<br>
<ul class="list-group">
  <li class="list-group-item">
    <span class="pull-right">
      <% if (typeof(Robin.identities) === 'undefined' || typeof(Robin.identities.twitter) === 'undefined') {%>
        <a class="btn btn-xs btn-social btn-twitter" name='twitter'>
          <i class="fa fa-twitter"></i>
          <%= polyglot.t("social.profiles.connect") %> <%= polyglot.t("social.profiles.twitter") %>
        </a>
      <%} else {%>
        <i class="fa fa-check"></i> <%= polyglot.t("social.profiles.connected_to") %> <a href="<%= Robin.identities.twitter.url%>" target="_blank">@<%= Robin.identities.twitter.name%></a> &bull; <a href="" class='disconnect' name='twitter'><%= polyglot.t("social.profiles.disconnect") %></a></span>
      <%} %>
    </span>
    <span><%= polyglot.t("social.profiles.twitter") %></span>
  </li>
  <li class="list-group-item">
    <span class="pull-right">
      <% if (Robin.identities.facebook == undefined) {%>
        <a class="btn btn-xs btn-social btn-facebook" name='facebook'>
          <i class="fa fa-facebook"></i>
          <%= polyglot.t("social.profiles.connect") %> <%= polyglot.t("social.profiles.facebook") %>
        </a>
      <%} else {%>
        <i class="fa fa-check"></i> <%= polyglot.t("social.profiles.connected_to") %> <a href="<%= Robin.identities.facebook.url%>" target="_blank"><%= Robin.identities.facebook.name%></a> &bull; <a href="" class='disconnect' name='facebook'><%= polyglot.t("social.profiles.disconnect") %></a></span>
      <%} %>
    </span>
    <span><%= polyglot.t("social.profiles.facebook") %></span>
  </li>
  <li class="list-group-item">
    <span class="pull-right">
      <% if (Robin.identities.google == undefined) {%>
        <a class="btn btn-xs btn-social btn-google-plus" name='google_oauth2'>
          <i class="fa fa-google-plus"></i>
          <%= polyglot.t("social.profiles.connect") %> <%= polyglot.t("social.profiles.google") %>
        </a>
      <%} else {%>
        <i class="fa fa-check"></i> <%= polyglot.t("social.profiles.connected_to") %> <a href="<%= Robin.identities.google.url%>" target="_blank"><%= Robin.identities.google.name%></a> &bull; <a href="" class='disconnect' name='google_oauth2'><%= polyglot.t("social.profiles.disconnect") %></a></span>
      <%} %>
    </span>
    <span><%= polyglot.t("social.profiles.google") %></span>
  </li>
  <li class="list-group-item">
    <span class="pull-right">
      <% if (Robin.identities.linkedin == undefined) {%>
        <a class="btn btn-xs btn-social btn-linkedin" name='linkedin'>
        <i class="fa fa-linkedin"></i>
          <%= polyglot.t("social.profiles.connect") %> <%= polyglot.t("social.profiles.linkedin") %>
        </a>
      <%} else {%>
        <i class="fa fa-check"></i> <%= polyglot.t("social.profiles.connected_to") %> <a href="<%= Robin.identities.linkedin.url%>" target="_blank"><%= Robin.identities.linkedin.name%></a> &bull; <a href="" class='disconnect' name='linkedin'><%= polyglot.t("social.profiles.disconnect") %></a></span>
      <%} %>
    </span>
    <span><%= polyglot.t("social.profiles.linkedin") %></span>
  </li>
</ul>
