<h5><%= polyglot.t("social.profiles.title") %></h5>
<p><%= polyglot.t("social.profiles.description") %></p>
<p class='note'><%= polyglot.t("social.profiles.note") %></p>
<br>
<ul class="list-group">
  <ul class="list-group item <%= Robin.identities.twitter.length == 0 ? "no-padding-bottom" : ""%>">
    <span class="pull-right">
      <a class="btn btn-xs btn-social btn-twitter" name='twitter'>
        <i class="fa fa-twitter"></i>
        <%= polyglot.t("social.profiles.add_button") %>
      </a>
    </span>
    <span class='name'><%= polyglot.t("social.profiles.twitter") %></span>
    <% if (Robin.identities.twitter.length == 0) {%>
      <li class="identity">
        <span> <%=polyglot.t('social.profiles.no_accounts')%> </span>
      </li>
    <%} else {%>
      <% $.each(Robin.identities.twitter, function( index, value ) { %>
        <li class="identity">
          <a class='link' href="<%= value.url%>" target="_blank">@<%= value.name%></a>
          <a href="" class='disconnect' identityid='<%= value.id%>'><%= polyglot.t("social.profiles.disconnect") %></a></span>
        </li>
      <% }) %>
    <%} %>
  </ul>
  <ul class="list-group item <%= Robin.identities.facebook.length == 0 ? "no-padding-bottom" : ""%>">
    <span class="pull-right">
      <a class="btn btn-xs btn-social btn-facebook" name='facebook'>
        <i class="fa fa-facebook"></i>
        <%= polyglot.t("social.profiles.add_button") %>
      </a>
    </span>
    <span class='name'><%= polyglot.t("social.profiles.facebook") %></span>
    <% if (Robin.identities.facebook.length == 0) {%>
      <li class="identity">
        <span> <%= polyglot.t("social.profiles.no_accounts") %> </span>
      </li>
    <%} else {%>
      <% $.each(Robin.identities.facebook, function( index, value ) { %>
        <li class="identity">
          <a class='link' href="<%= value.url%>" target="_blank"><%= value.name%></a>
          <a href="" class='disconnect' identityid='<%= value.id%>'><%= polyglot.t("social.profiles.disconnect") %></a></span>
        </li>
      <% }) %>
    <%} %>
  </ul>
  <ul class="list-group item <%= Robin.identities.google.length == 0 ? "no-padding-bottom" : ""%>">
    <span class="pull-right">
      <a class="btn btn-xs btn-social btn-google-plus" name='google_oauth2'>
        <i class="fa fa-google-plus"></i>
        <%= polyglot.t("social.profiles.add_button") %>
      </a>
    </span>
    <span class='name'><%= polyglot.t("social.profiles.google") %></span>
    <% if (Robin.identities.google.length == 0) {%>
      <li class="identity">
        <span> <%=polyglot.t('social.profiles.no_accounts')%> </span>
      </li>
    <%} else {%>
      <% $.each(Robin.identities.google, function( index, value ) { %>
        <li class="identity">
          <a class='link' href="<%= value.url%>" target="_blank"><%= value.name%></a>
          <a href="" class='disconnect' identityid='<%= value.id%>'><%= polyglot.t("social.profiles.disconnect") %></a></span>
        </li>
      <% }) %>
    <%} %>
  </ul>
  <ul class="list-group item <%= Robin.identities.linkedin.length == 0 ? "no-padding-bottom" : ""%>">
    <span class="pull-right">
      <a class="btn btn-xs btn-social btn-linkedin" name='linkedin'>
      <i class="fa fa-linkedin"></i>
        <%= polyglot.t("social.profiles.add_button") %>
      </a>
    </span>
    <span class='name'><%= polyglot.t("social.profiles.linkedin") %></span>
    <% if (Robin.identities.linkedin.length == 0) {%>
      <li class="identity">
        <span> <%=polyglot.t('social.profiles.no_accounts')%> </span>
      </li>
    <%} else {%>
      <% $.each(Robin.identities.linkedin, function( index, value ) { %>
        <li class="identity">
          <a class='link' href="<%= value.url%>" target="_blank"><%= value.name%></a>
          <a href="" class='disconnect' identityid='<%= value.id%>'><%= polyglot.t("social.profiles.disconnect") %></a></span>
        </li>
      <% }) %>
    <%} %>
  </ul>
</ul>
