<h5>Manage Connected Social Profiles</h5>
<br>
<ul class="list-group">
  <li class="list-group-item">
    <span class="pull-right">
      <% if (typeof(Robin.identities) === 'undefined' || typeof(Robin.identities.twitter) === 'undefined') {%>
        <a class="btn btn-xs btn-social btn-twitter" name='twitter'>
          <i class="fa fa-twitter"></i>
          Connect Twitter
        </a>
      <%} else {%>
        <i class="fa fa-check"></i> Connected to <a href="<%= Robin.identities.twitter.url%>" target="_blank">@<%= Robin.identities.twitter.name%></a> &bull; <a href="" class='disconnect' name='twitter'>Disconnect</a></span>
      <%} %>
    </span>
    <span>Twitter</span>
  </li>
  <li class="list-group-item">
    <span class="pull-right">
      <% if (Robin.identities.facebook == undefined) {%>
        <a class="btn btn-xs btn-social btn-facebook" name='facebook'>
          <i class="fa fa-facebook"></i>
          Connect Facebook
        </a>
      <%} else {%>
        <i class="fa fa-check"></i> Connected to <a href="<%= Robin.identities.facebook.url%>" target="_blank"><%= Robin.identities.facebook.name%></a> &bull; <a href="" class='disconnect' name='facebook'>Disconnect</a></span>
      <%} %>
    </span>
    <span>Facebook</span>
  </li>
  <li class="list-group-item">
    <span class="pull-right">
      <% if (Robin.identities.google == undefined) {%>
        <a class="btn btn-xs btn-social btn-google-plus" name='google_oauth2'>
          <i class="fa fa-google-plus"></i>
          Connect Google+
        </a>
      <%} else {%>
        <i class="fa fa-check"></i> Connected to <a href="<%= Robin.identities.google.url%>" target="_blank"><%= Robin.identities.google.name%></a> &bull; <a href="" class='disconnect' name='google_oauth2'>Disconnect</a></span>
      <%} %>
    </span>
    <span>Google+</span>
  </li>
  <li class="list-group-item">
    <span class="pull-right">
      <% if (Robin.identities.linkedin == undefined) {%>
        <a class="btn btn-xs btn-social btn-linkedin" name='linkedin'>
        <i class="fa fa-linkedin"></i>
          Connect linkedin
        </a>
      <%} else {%>
        <i class="fa fa-check"></i> Connected to <a href="<%= Robin.identities.linkedin.url%>" target="_blank"><%= Robin.identities.linkedin.name%></a> &bull; <a href="" class='disconnect' name='linkedin'>Disconnect</a></span>
      <%} %>
    </span>
    <span>LinkedIn</span>
  </li>
</ul>
