<form class="navbar-form navbar-left navbar-search navbar-search-sm" role="search">
  <div class="inner-addon right-addon">
    <i class="fa fa-twitter <%= Robin.identities.twitter == undefined ? 'gray' : '' %>"></i>
    <i class="fa fa-facebook <%= Robin.identities.facebook == undefined ? 'gray' : '' %>"></i>
    <i class="fa fa-linkedin <%= Robin.identities.linkedin == undefined ? 'gray' : '' %>"></i>
    <i class="fa fa-google-plus <%= Robin.identities.google == undefined ? 'gray' : '' %>"></i>
    <input id='text-field' type="text" class="form-control" placeholder="Say something..."/>
  </div>
</form>
<form id='createPost' class="navbar-form navbar-left navbar-search navbar-search-lg" role="form" style='z-index: 100'>
  <textarea type="text" class="form-control" id='say-something-field' name='text' placeholder="Say something..."></textarea>
  <span class="label label-success label-sm post-counter" id="say-counter" 
        style="position: absolute; bottom: 50px; right: 13px;">140</span>
  <div class="post-settings row">
    <div class="col-xs-4" style="width: 22%;">
      <div class="checkbox">
        <label>
          <input type="checkbox" id='shrink-links'> <strong>Shrink links</strong>
        </label>
      </div>
    </div>
    <div class="col-xs-4 social-networks" style="width: 26%;">
      <a href="#" class="btn <%= Robin.identities.twitter == undefined ? 'disabled' : '' %>" data-toggle="tooltip" title="Post to @aylien"><i class="fa fa-twitter"></i></a>
      <input type='hidden' value='false' name="twitter" />
      <a href="#" class="btn <%= Robin.identities.facebook == undefined ? 'disabled' : '' %>" data-toggle="tooltip" title="Post to Aylien page"><i class="fa fa-facebook"></i></a>
      <input type='hidden' value='false' name="facebook" />
      <a href="#" class="btn <%= Robin.identities.linkedin == undefined ? 'disabled' : '' %>" data-toggle="tooltip" title="Post to Aylien company page"><i class="fa fa-linkedin"></i></a>
      <input type='hidden' value='false' name="linkedin" />
      <a href="#" class="btn <%= Robin.identities.google == undefined ? 'disabled' : '' %>" data-toggle="tooltip" title="Post to Aylien page"><i class="fa fa-google-plus"></i></a>
      <input type='hidden' value='false' name="google" />
    </div>
    <div class="col-xs-4" style="width: 52%;">
      <!-- <a id='submitPost' class="btn btn-success pull-right btn-sm" style="margin-left: 6px;">Post</a> -->
      <input type='submit' value='Post' class="btn btn-success pull-right btn-sm" style="margin-left: 6px;" />
      <a class="btn btn-default pull-right btn-sm schedule"><i class="fa fa-calendar"></i> Schedule</a>
      <div class="form-group pull-right" style="display: none;">
        <div class='input-group date' id='schedule-datetimepicker'>
          <input type='text' name='scheduled_date' class="form-control input-sm"/>
          <span class="input-group-addon">
            <span class="fa fa-calendar"></span>
          </span>
        </div>
        <a class="btn btn-danger pull-right btn-sm cancel-schedule" style="margin-left: 6px;"><i class="fa fa-close"></i></a>
      </div>
    </div>
  </div>
</form>