<form class="navbar-form navbar-left navbar-search navbar-search-sm" role="search">
  <div class="inner-addon right-addon">
    <i class="fa fa-twitter <%= Robin.identities.twitter.length == 0 ? 'gray' : '' %>"></i>
    <i class="fa fa-facebook <%= Robin.identities.facebook.length == 0 ? 'gray' : '' %>"></i>
    <i class="fa fa-linkedin <%= Robin.identities.linkedin.length == 0 ? 'gray' : '' %>"></i>
    <input id='text-field' type="text" class="form-control" placeholder="Say something..."/>
  </div>
</form>
<form id='createPost' class="navbar-form navbar-left navbar-search navbar-search-lg" role="form" style='z-index: 100'>
  <textarea type="text" class="form-control" id='say-something-field' name='text' placeholder="Say something..."></textarea>
  <span class="label label-success label-sm post-counter" id="say-counter"
        style="position: absolute; top: 100px; right: 13px;">140</span>
  <div class="post-settings row bottom-border-radius">
    <div class="col-xs-4" style="width: 24%; padding-left: 8px;">
      <div class="checkbox">
        <label>
          <input type="checkbox" id='shrink-links' name='shrinked_links'> <strong>Shrink links</strong>
        </label>
      </div>
    </div>
    <div class="col-xs-4 social-networks" style="width: 23%; padding-left: 14px;">
      <a class="btn twitter <%= Robin.identities.twitter.length == 0 ? 'disabled' : '' %>" data-toggle="tooltip" data-original-title="Post to twitter"><i class="fa fa-twitter"></i></a>
      <input type='hidden' value='false' name="twitter" />
      <a class="btn facebook <%= Robin.identities.facebook.length == 0 ? 'disabled' : '' %>" data-toggle="tooltip" data-original-title="Post to facebook"><i class="fa fa-facebook"></i></a>
      <input type='hidden' value='false' name="facebook" />
      <a class="btn linkedin <%= Robin.identities.linkedin.length == 0 ? 'disabled' : '' %>" data-toggle="tooltip" data-original-title="Post to linkedin"><i class="fa fa-linkedin"></i></a>
      <input type='hidden' value='false' name="linkedin" />
    </div>
    <div class="col-xs-4" style="width: 53%;">
      <!-- <a id='submitPost' class="btn btn-success pull-right btn-sm" style="margin-left: 6px;">Post</a> -->
      <input type='submit' value='Post' id="submit-post" class="btn btn-success pull-right btn-sm <%=_.filter(Robin.identities, function(num){ return num != undefined; }).length == 0 ? 'disabled' : ''%>" style="margin-left: 6px;" />
      <a class="btn btn-default pull-right btn-sm schedule"><i class="fa fa-calendar"></i> Schedule</a>
      <div class="form-group pull-right schedule-datetimepicker" style="display: none;">
        <div class='input-group date' id='schedule-datetimepicker'>
          <input type='text' id='scheduled_date' name='scheduled_date' class="form-control input-sm"/>
          <span class="input-group-addon">
            <span class="fa fa-calendar"></span>
          </span>
        </div>
        <a class="btn btn-danger pull-right btn-sm cancel-schedule" style="margin-left: 6px;"><i class="fa fa-close"></i></a>
      </div>
    </div>
  </div>
  <div class="post-identities row hidden">
    <div id="twitter-identities" class="hidden" style="min-height: 69px;">
      <label class="col-lg-4 control-label">Twitter's account(s):</label>
      <div class="col-lg-8" >
        <select class="form-control select-identities" name="twitter_ids" multiple="multiple" size="2" >
          <% _.each(Robin.identities.twitter, function(item){ %>
            <option value="<%= item.id %>"> <%= item.name %> </option>
          <% }); %>
        </select>
      </div>
    </div>
    <div id="facebook-identities" class="hidden" style="min-height: 69px;">
      <label class="col-lg-4 control-label">Facebook's account(s):</label>
      <div class="col-lg-8" >
        <select class="form-control select-identities" name="facebook_ids" multiple="multiple" size="2" >
          <% _.each(Robin.identities.facebook, function(item){ %>
            <option value="<%= item.id %>"> <%= item.name %> </option>
          <% }); %>
        </select>
      </div>
    </div>
    <div id="linkedin-identities" class="hidden" style="min-height: 69px;">
      <label class="col-lg-4 control-label">Linkedin's account(s):</label>
      <div class="col-lg-8" >
        <select class="form-control select-identities" name="linkedin_ids" multiple="multiple" size="2" >
          <% _.each(Robin.identities.linkedin, function(item){ %>
            <option value="<%= item.id %>"> <%= item.name %> </option>
          <% }); %>
        </select>
      </div>
    </div>
  </div>
</form>