<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to 'Robin8 Marketing Dashboard', marketing_dashboard_path, class: "navbar-brand" %>
  </div>

  <ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i> <%= current_admin_user.email %>  <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <% if session[:locale] == 'zh' || session[:locale].blank?  %>
          <li>
            <%= link_to "切换为英文(Switch To English)", marketing_dashboard_path(:locale => 'en') %>
          </li>
        <% else %>
          <li>
            <%= link_to "切换为中文(Switch To Chinese)", marketing_dashboard_path(:locale => 'zh') %>
          </li>
        <% end %>
        <li>
          <%= link_to t("menu.edit_password"), marketing_dashboard_edit_password_path %>
        </li>
        <li>
          <a href="/admin_users/sign_out"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
        </li>
      </ul>
    </li>
  </ul>

  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <% if  can?(:write, AdminUser) %>
          <li>
            <%= link_to "CRM Management", crm_dashboard_path, :target => '_blank' %>
          </li>
        <% end %>
        <% if can?(:write, AdminUser) %>
          <li>
            <%= link_to t('menu.admin_management'), marketing_dashboard_admin_users_path %>
          </li>
        <% end %>
        <% if can?(:read, Campaign) %>
          <li>
            <a href="#"> <%= t('menu.campaign_management') %> <span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
              <li>
                <%= link_to t('campaign_management.all_campaign'), marketing_dashboard_campaigns_path %>
              </li>
              <li>
                <%= link_to t('campaign_management.need_a_price_quote'), asking_marketing_dashboard_campaigns_path %>
              </li>
              <li>
                <%= link_to t('campaign_management.need_to_be_approved'), pending_marketing_dashboard_campaigns_path %>
              </li>
              <li>
                <%= link_to t('campaign_management.approved_campaigns'), agreed_marketing_dashboard_campaigns_path %>
              </li>
              <li>
                <%= link_to t('campaign_management.rejected_campaigns'), rejected_marketing_dashboard_campaigns_path %>
              </li>
              <li>
                <%= link_to t('campaign_management.testing_campaigns'), testable_marketing_dashboard_campaigns_path %>
              </li>
            </ul>
        <!-- /.nav-second-level -->
          </li>
        <% end %>

        <% if can?(:read, CampaignInvite) %>
        <li>
          <a href="#"><%= t('menu.screenshot_management') %> <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <%= link_to t('screenshot_management.all_screentshots'), marketing_dashboard_campaign_invites_path %>
            </li>
            <li>
              <%= link_to t('screenshot_management.approved_screenshots'), passed_marketing_dashboard_campaign_invites_path %>
            </li>
            <li>
              <%= link_to t('screenshot_management.rejected_screenshots'), rejected_marketing_dashboard_campaign_invites_path %>
            </li>
            <li>
              <%= link_to t('screenshot_management.with_0_click'), pending_marketing_dashboard_campaign_invites_path(q: { campaign_status_eq: "executed", total_click_lt: 1 }) %>
            </li>
            <li>
              <%= link_to t('screenshot_management.more_than_100_clicks'), marketing_dashboard_campaign_invites_path(q: { total_click_gt: 100 }) %>
            </li>
            <li>
              <%= link_to t('screenshot_management.cpc_to_be_approved'), pending_marketing_dashboard_campaign_invites_path(q: {campaign_per_budget_type_eq: :click }) %>
            </li>
            <li>
              <%= link_to t('screenshot_management.cpa_to_be_approved'), pending_marketing_dashboard_campaign_invites_path(q: {campaign_per_budget_type_eq: :cpa }) %>
            </li>
            <li>
              <%= link_to t('screenshot_management.cpi_bo_be_approved'), pending_marketing_dashboard_campaign_invites_path(q: {campaign_per_budget_type_eq: :simple_cpi }) %>
            </li>
            <li>
              <%= link_to t('screenshot_management.cpt_to_be_approved'), pending_marketing_dashboard_campaign_invites_path(q: {campaign_per_budget_type_eq: :cpt }) %>
            </li>
            <li>
              <%= link_to t('screenshot_management.cpp_to_be_approved'), pending_marketing_dashboard_campaign_invites_path(q: {campaign_per_budget_type_eq: :post }) %>
            </li>
            <li>
              <%= link_to t('screenshot_management.recruited_to_be_approved'), pending_marketing_dashboard_campaign_invites_path(q: { campaign_per_budget_type_eq: 'recruit' }) %>
            </li>
            <li>
              <%= link_to t('screenshot_management.invitation_bo_be_approved'), pending_marketing_dashboard_campaign_invites_path(q: { campaign_per_budget_type_eq: 'invite' }) %>
            </li>
            <li>
              <%= link_to t('screenshot_management.suspected_cheating'), pending_marketing_dashboard_campaign_invites_path(q: { observer_status_eq: 2 }) %>
            </li>
          </ul>
        </li>
        <% end %>

        <% if can?(:read, Kol) %>
        <li>
          <a href="#"><%= t('menu.kol_management') %><span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <%= link_to t('kol_management.all_kols'), marketing_dashboard_kols_path %>
            </li>
            <li>
              <%= link_to t('kol_management.blocked_kols'), banned_marketing_dashboard_kols_path %>
            </li>
            <li>
              <%= link_to t('kol_management.popular_app_kols'), hot_marketing_dashboard_kols_path %>
            </li>
            <li>
              <%= link_to t('kol_management.app_mcn_kols'), from_mcn_marketing_dashboard_kols_path %>
            </li>
            <li>
              <%= link_to t('kol_management.app_robin8_kols'), from_app_marketing_dashboard_kols_path %>
            </li>
            <li>
              <%= link_to t('kol_management.app_to_be_approved'), applying_marketing_dashboard_kols_path %>
            </li>
            <li>
              <%= link_to t('kol_management.app_kols_approved'), passed_marketing_dashboard_kols_path %>
            </li>
            <li>
              <%= link_to t('kol_management.app_kols_rejected'), rejected_marketing_dashboard_kols_path %>
            </li>
          </ul>
        </li>
        <% end %>

        <% if can?(:read, Withdraw) %>
        <li>
          <a href="#"><%= t('menu.withdraw_management') %> <span class='fa arrow'></span></a>
          <ul class="nav nav-second-level">
            <li>
              <%= link_to t('withdraw_management.all_withdraw'), marketing_dashboard_withdraws_path %>
            </li>
            <li>
              <%= link_to t('withdraw_management.to_be_approved'), pending_marketing_dashboard_withdraws_path %>
            </li>
            <li>
              <%= link_to t('withdraw_management.to_be_paid'), checked_marketing_dashboard_withdraws_path %>
            </li>
            <li>
              <%= link_to t('withdraw_management.already_paid'), agreed_marketing_dashboard_withdraws_path %>
            </li>
            <li>
              <%= link_to t('withdraw_management.already_rejected'), rejected_marketing_dashboard_withdraws_path %>
            </li>
            <li>
              <%= link_to t('withdraw_management.alipay_blocked_list'), marketing_dashboard_alipay_account_blacklists_path %>
            </li>
          </ul>
        </li>
        <% end %>

        <% if can?(:read, User) %>
        <li>
          <%= link_to t('menu.brand_management'), marketing_dashboard_users_path %>
        </li>
        <% end %>

        <% if can?(:read, AlipayOrder) %>
        <li>
          <a href="#"><%= t('menu.recharge_management') %> <span class='fa arrow'></span></a>
          <ul class="nav nav-second-level">
            <li>
              <%= link_to t('recharge_management.pc_all_recharge'), from_pc_marketing_dashboard_alipay_orders_path %>
            </li>
            <li>
              <%= link_to t('recharge_management.pc_to_be_paid'), from_pc_marketing_dashboard_alipay_orders_path(q: {status_eq: "pending"}) %>
            </li>
            <li>
              <%= link_to t('recharge_management.pc_already_paid'), from_pc_marketing_dashboard_alipay_orders_path(q: {status_eq: "paid"}) %>
            </li>
            <li>
              <%= link_to t('recharge_management.pc_offline_recharge'), marketing_dashboard_manual_recharges_path %>
            </li>
            <li>
              <%= link_to t('recharge_management.app_all_recharge'), from_app_marketing_dashboard_alipay_orders_path %>
            </li>
            <li>
              <%= link_to t('recharge_management.app_to_be_paid'), from_app_marketing_dashboard_alipay_orders_path(q: {status_eq: "pending"}) %>
            </li>
            <li>
              <%= link_to t('recharge_management.app_already_paid'), from_app_marketing_dashboard_alipay_orders_path(q: {status_eq: "paid"}) %>
            </li>
            <li>
              <%= link_to t('recharge_management.app_paid_from_campaign'), campaigns_marketing_dashboard_alipay_orders_path %>
            </li>
            <li>
              <%= link_to t('recharge_management.paid_with_50_red'), discount_marketing_dashboard_transactions_path %>
            </li>
          </ul>
        </li>
        <% end %>

        <% if can?(:read, Invoice) %>
        <li>
          <a href="#"><%= t('menu.receipts_management') %> <span class='fa arrow'></span></a>
          <ul class="nav nav-second-level">
            <li>
              <%= link_to t('receipts_management.all_receipts'), marketing_dashboard_invoice_histories_path %>
            </li>
            <li>
              <%= link_to t('receipts_management.to_be_processed'), marketing_dashboard_invoice_histories_path(pending: true) %>
            </li>
            <li>
              <%= link_to t('receipts_management.processed_receipts'), marketing_dashboard_invoice_histories_path(sent: true) %>
            </li>
          </ul>
        </li>
        <% end %>

        <% if can?(:read, TrackUrl) %>
        <li>
          <%= link_to t('menu.track_url_management'), marketing_dashboard_track_urls_path %>
        </li>
        <% end %>

        <% if can?(:read, Feedback) %>
        <li>
          <%= link_to t('menu.feedback_management'), marketing_dashboard_feedbacks_path %>
        </li>
        <% end %>

        <% if can?(:read, StasticData) %>
        <li>
          <a href="#"><%= t('menu.stats_reports') %> <span class='fa arrow'></span> </a>
          <ul class="nav nav-second-level">
            <li>
              <%= link_to t('stats_reports.customize_reports'), marketing_dashboard_stastic_datas_path %>
            </li>
            <li>
              <%= link_to t('stats_reports.create_customize_reports'), new_marketing_dashboard_stastic_data_path %>
            </li>
            <li>
              <%= link_to t('stats_reports.kol_source_channel'), from_source_marketing_dashboard_stastic_datas_path %>
            </li>
            <li>
              <%= link_to t('stats_reports.kol_increment'), new_kol_marketing_dashboard_stastic_datas_path %>
            </li>
            <!--<li>-->
              <!--<%#= link_to '新增接活动', day_statistics_marketing_dashboard_stastic_datas_path %>-->
            <!--</li>-->
            <li>
              <%= link_to t('stats_reports.kol_account'), kol_amount_statistics_marketing_dashboard_stastic_datas_path %>
            </li>
            <li>
              <%= link_to t('stats_reports.brand_recharge_amount'), user_recharge_statistics_marketing_dashboard_stastic_datas_path %>
            </li>
            <li>
              <%= link_to t('stats_reports.campaign_stats_by_period'), campaign_statistics_in_time_range_marketing_dashboard_stastic_datas_path %>
            </li>
            <li>
              <%= link_to t('stats_reports.kol_withdraw_by_period'), kol_withdraw_statistics_in_time_range_marketing_dashboard_stastic_datas_path %>
            </li>
            <li>
              <%= link_to t('stats_reports.kol_invite_registration'), registered_invitations_marketing_dashboard_stastic_datas_path %>
            </li>
            <li>
              <%= link_to t('stats_reports.campaign_release'), campaign_release_count_marketing_dashboard_stastic_datas_path %>
            </li>
          </ul>
        </li>
        <% end %>
        <% if can?(:read, HotItem) %>
          <li>
            <%= link_to t('menu.app_hot_item'), marketing_dashboard_hot_items_path %>
          </li>
          <li>
            <%= link_to t('menu.app_banner'), marketing_dashboard_kol_announcements_path(:ban => 1) %>
          </li>
        <% end %>

        <% if can?(:read, HelperTag) %>
        <li>
          <%= link_to t('menu.app_help_doc'), marketing_dashboard_helper_docs_path %>
          <!--
          <a href="#">APP帮助文档 <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <%#= link_to '问题分类', marketing_dashboard_helper_tags_path %>
            </li>
            <li>
              <%#= link_to '问题列表', marketing_dashboard_helper_docs_path %>
            </li>
          </ul>
          -->
        </li>
        <% end %>

        <% if can?(:read, CpsArticle) %>
          <li>
            <a href="#"><%= t('menu.cps_management') %> <span class='fa arrow'></span> </a>
            <ul class="nav nav-second-level">
              <li>
                <%= link_to t('cps_management.cps_materials'), marketing_dashboard_cps_materials_path %>
              </li>
              <li>
                <%= link_to t('cps_management.cps_hot_materials'), marketing_dashboard_cps_materials_path(q: {is_hot_eq: 1 }) %>
              </li>
              <li>
                <%= link_to t('cps_management.cps_alternative_articles'), marketing_dashboard_article_contents_path %>
              </li>
              <li>
                <%= link_to t('cps_management.cps_articles'), marketing_dashboard_cps_articles_path %>
              </li>
              <li>
                <%= link_to t('cps_management.cps_orders'), marketing_dashboard_cps_promotion_orders_path %>
              </li>
            </ul>
          </li>
        <% end %>

        <% if can?(:read, LotteryActivity) %>
        <li>
          <a href="#"><%= t('menu.app_indiana') %> <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <%= link_to t('app_indiana.setting_prize'), new_marketing_dashboard_lottery_product_path %>
            </li>
            <li>
              <%= link_to t('app_indiana.manage_prize'), marketing_dashboard_lottery_products_path %>
            </li>
            <li>
              <%= link_to t('app_indiana.manage_activities'), marketing_dashboard_lottery_activities_path %>
            </li>
            <li>
              <%= link_to t('app_indiana.list_of_winners'), marketing_dashboard_lottery_expresses_path %>
            </li>
          </ul>
        </li>
        <% end %>

        <% if can?(:read, AppUpgrade) %>
        <li>
          <%= link_to t('menu.app_version_management'), marketing_dashboard_app_upgrades_path %>
        </li>
        <% end %>

     
        <li>
          <%= link_to t('menu.invite_code_management'), marketing_dashboard_invite_code_path %>
        </li>

        <li>
          <a href="#"><%= '数据统计' %> <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <%= link_to 'Robin8 周数据统计', marketing_dashboard_campaign_data_path %>
            </li>
            <li>
              <%= link_to 'Talking Data 数据统计', marketing_dashboard_talking_data_path %>
            </li>
          </ul>
        </li>


        <% if can?(:read, Kol) %>
        <li>
          <a href="#"><%= t('menu.untities') %> <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <%= link_to t('untities.registration_sms_code'), marketing_dashboard_utilities_verify_code_path %>
            </li>
            <li>
              <%= link_to t('untities.send_sms_to_mobile'), marketing_dashboard_utilities_marketing_message_path %>
            </li>
            <li>
              <%= link_to t('untities.sms_log'), marketing_dashboard_utilities_sms_messages_path %>
            </li>
            <li>
              <%= link_to t('untities.open_api'), marketing_dashboard_utilities_open_tokens_path %>
            </li>
            <li>
              <%= link_to "配置定价", marketing_dashboard_utilities_settings_path %>
            </li>
            <li>
              <%= link_to "配置促销送积分", marketing_dashboard_utilities_promotions_path %>
            </li>
            <li>
              <%= link_to "IOS版本控制",  ios_detail_marketing_dashboard_utilities_redis_extends_path %>
            </li>
            <li>
              <%= link_to "邀请码开关",  invite_switch_marketing_dashboard_utilities_redis_extends_path %>
            </li>
            <li>
              <%= link_to "第三方价格配置", marketing_dashboard_utilities_admintag_strategies_path %>
            </li>
          </ul>
        </li>
        <% end %>

        <li>
          <a href="#">"发现"管理<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <%= link_to 'KOL “发现” 数据', kols_marketing_dashboard_elastic_articles_path %>
            </li>
            <li>
              <%= link_to '内容数据', marketing_dashboard_elastic_articles_path %>
            </li>
          </ul>
        </li>
        <li>
            <%= link_to '系统活动、公告', marketing_dashboard_announcements_path %>
        </li>

      </ul>
      <br/><br/><br/>
      <!-- /.sidebar-collapse -->
    </div>
    <!-- /.sidebar-collapse -->
  </div>

  <div><button class="shrink btn btn-primary"><span class="glyphicon glyphicon-chevron-left"></span></button></div>
  <!-- /.navbar-static-side -->
</nav>


<style>

.shrink {
  z-index: 100;
  position: fixed;
  top: 53px;
  left: 260px;
  width: 30px;
  padding: 5px 0px;
}

</style>
