<!DOCTYPE html>
<html>
<head>
  <title>Robin8</title>

  <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "NewsArticle",
      "headline": "Zipf's Law of the Internet: Explaining Online Behavior",
      "url": "http://blog.parsely.com/post/57821746552",
      "thumbnailUrl": "http://blog.parsely.com/inline_mra670hTvL1qz4rgp.png",
      "dateCreated": "2013-08-15T13:00:00Z",
      "articleSection": "Programming",
      "creator": "Alan Alexander Milne",
      "keywords": ["statistics","zipf","internet","behavior"]
    }
  </script>
</head>
<body id="main">
<script type="text/javascript">
  
  $(document).ready(function() {
    Robin.start();
  });
  <% if flash[:success_confirmation] -%>    
    Robin.afterConfirmationMessage = '<%= flash[:success_confirmation] %>'
  <% end -%>
  <% if signed_in? -%>    
    Robin.currentUser = new Robin.Models.User(<%= current_user.to_json.html_safe %>);
    <% unless request.subdomain.blank? %>
      Robin.publicPages = true
    <% end %>
  <% else -%>
    Robin.currentUser = null;
  <% end -%>

  <% if Rails.env == 'development' -%>
    Robin.showLoading = false;
  <% else -%>
    Robin.showLoading = true;
  <% end -%>

</script>

<!-- load bitly javascript sdk -->
<script type="text/javascript" src="http://bit.ly/javascript-api.js?version=latest&login=o_1kj2k3og6&apiKey=R_f9edc1bfe86f3ed758207c0a3e948e86">
</script>
<!-- end load bitly javascript sdk -->

<%= yield %>
<!-- START Parse.ly Include: Standard -->
<div id="parsely-root" style="display: none">
  <div id="parsely-cfg" data-parsely-site="robin8.com"></div>
</div>

<script>
(function(s, p, d) {
  var h=d.location.protocol, i=p+"-"+s,
      e=d.getElementById(i), r=d.getElementById(p+"-root"),
      u=h==="https:"?"d1z2jf7jlzjs58.cloudfront.net"
      :"static."+p+".com";
  if (e) return;
  e = d.createElement(s); e.id = i; e.async = true;
  e.src = h+"//"+u+"/p.js"; r.appendChild(e);
})("script", "parsely", document);
</script>
<!-- END Parse.ly Include -->
</body>
</html>
