<!DOCTYPE html>
<html>
<head>
  <title><%= china_instance? ? "号召所有的KOL，快加入第一个为影响力付费的国际平台吧" : "ROBIN8 | Welcome"%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <% if china_request? %>
    <link href="//fonts.useso.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">
    <script src="http://maps.google.cn/maps/api/js?libraries=places&sensor=false"></script>
  <% else %>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">
    <script src="//maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
  <% end %>

  <% if Rails.env.development? %>
    <%= stylesheet_link_tag    '/assets/app/dev_base_compact', 'app/dev_reload', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag '/assets/app/dev_base_compact', 'app/dev_reload','app/dev_reload', 'data-turbolinks-track' => true %>
  <% else %>
    <%= stylesheet_link_tag    'app/application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'app/application', 'data-turbolinks-track' => true %>
  <% end %>

  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <div id="main">
    <%= yield %>

  </div>

  <div class="modal fade" id="modal" tabindex="-1"
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<script type="text/javascript">

  $(document).ready(function() {
    Robin.chinaInstance = <%= china_instance?  %>;
    Robin.chinaLocale = <%= china_locale? %>;
    Robin.chinaRequest = <%= china_request? %>;
    Robin.production = <%= production? %>;
    Robin.start();
  });
  polyglot = new Polyglot({phrases: <%= raw @phrases.to_json %>});
  en_polyglot = new Polyglot({phrases: <%= raw @en_phrases.to_json %>, locale: "en"});
  <% if flash[:success_confirmation] -%>
    Robin.afterConfirmationMessage = '<%= flash[:success_confirmation] %>'
  <% end -%>
  <% if user_signed_in? -%>
    Robin.currentUser = new Robin.Models.User(<%= current_user.to_json.html_safe %>);
    <% if (request.subdomain != 'staging' && !request.subdomain.blank?) %>
      Robin.publicPages = true
    <% end %>
  <% else -%>
    if (Robin) {
      Robin.currentUser = null;
    }
  <% end -%>

  Robin.us_host = "<%= Rails.application.secrets.instance_host[:us] %>";
  Robin.cn_host = "<%= Rails.application.secrets.instance_host[:cn] %>";

  <% if Rails.env == 'development' -%>
    Robin.showLoading = false;
  <% else -%>
    Robin.showLoading = true;
  <% end -%>

  <% if not Rails.env.production? || Rails.application.config.china_instance %>
    Robin.showLangPanel = true;
  <% else %>
    Robin.showLangPanel = false;
  <% end %>
</script>
<!-- load bitly javascript sdk -->
<% unless request.location && request.location.country.to_s == "China" %>
  <script type="text/javascript" src="//bit.ly/javascript-api.js?version=latest&login=o_1kj2k3og6&apiKey=R_f9edc1bfe86f3ed758207c0a3e948e86">
  </script>
<% end %>
<!-- end load bitly javascript sdk -->
<script src="https://gateway.bluesnap.com/js/cse/v1.0.1/bluesnap.js"></script>
</body>
<%=render :partial => "shared/feedback"%>
</html>
