<!DOCTYPE html>
<html>
<head>
  <title>Robin8</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id='main'>
<script type="text/javascript">
  <% if signed_in? -%>
    Robin.currentUser = new Robin.Models.User(<%= current_user.to_json.html_safe %>);
  <% else -%>
    Robin.currentUser = null;
  <% end -%>
</script>
<!-- load linkedin javascript sdk -->
<script type="text/javascript" src="http://platform.linkedin.com/in.js">
  api_key: 77pzzhbbrahh62
</script>
<!-- end load linkedin javascript sdk -->

<%= yield %>
</body>
</html>
