<!DOCTYPE html>
<html>
<head>
  <title>Robin8</title>
  <% if request.location && request.location.country.to_s == "China" %>
    <link href="//fonts.useso.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css"> 
  <% else %>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700,400italic,600italic,700italic,800italic,300italic" rel="stylesheet" type="text/css">
  <% end %>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
  <div id="main">
    <%= yield %>
    
  </div>
  
  <div class="modal fade" id="modal" tabindex="-1" 
    role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<script type="text/javascript">

  $(document).ready(function() {
    Robin.start();
  });
  polyglot = new Polyglot({phrases: <%= raw @phrases.to_json %>});
  en_polyglot = new Polyglot({phrases: <%= raw @en_phrases.to_json %>, locale: "en"});
  <% if flash[:success_confirmation] -%>
    Robin.afterConfirmationMessage = '<%= flash[:success_confirmation] %>'
  <% end -%>
  <% if user_signed_in? -%>
    Robin.currentUser = new Robin.Models.User(<%= current_user.to_json.html_safe %>);
    <% if (request.subdomain != 'staging' && !request.subdomain.blank?) %>
      Robin.publicPages = true
    <% end %>
  <% else -%>
    if (Robin) {
      Robin.currentUser = null;
    }
  <% end -%>

  <% if Rails.env == 'development' -%>
    Robin.showLoading = false;
  <% else -%>
    Robin.showLoading = true;
  <% end -%>

</script>
</body>
</html>
