<!DOCTYPE html>
<html>
<head>
  <title>Robin8</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta property="og:title" content="ROBIN8" />
  <meta property="og:description" content="The next generation PR platform powered by artificial intelligence" />
  <meta property="og:image" content="/assets/ROBIN8-logo.png" />
  <meta property="wb:webmaster" content="7a41f1aee4f72768" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge;" />
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'brand-application'%>
  <%= env_stylesheet_link_tag(
    static: 'brand-static',
    media: 'all')
  %>

  <%= env_javascript_include_tag(
    static: [
      'brand-vendor-bundle-static',
      'brand-app-bundle-static'
    ],
    hot: [
      'http://13.229.232.233:3500/vendor-bundle.js',
      'http://13.229.232.233:3500/app-bundle.js'
    ])
  %>

  <%= csrf_meta_tags %>

  <% if Rails.env.production? %>
    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript" defer async="true">
      window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
      d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
      _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
      $.src="//v2.zopim.com/?3cFoTvqoZnEj8nMIvHQaHyvwBh5A6TkK";z.t=+new Date;$.
      type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
    </script>
    <!--End of Zopim Live Chat Script-->
  <% end %>

</head>
<body>
  <div id="maskLayer">
    <div id="alphadiv">
      <div id="drag">
        <h3 id="drag_h"></h3>
        <div id="drag_con"></div>
      </div>
    </div>
  </div>
  <%= yield %>

  <div class="modal fade brand-error-notice-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <p>出错了&hellip;</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-blue close-button" data-dismiss="modal">关闭</button>
        </div>
      </div>
    </div>
  </div>
</body>
<%=render :partial => "shared/tongji"%>
</html>
