<!DOCTYPE html>
<html>
<head>
    <title>ROBIN8 | Welcome</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="ROBIN8" />
    <meta property="og:description" content="The next generation PR platform powered by artificial intelligence" /> 
    <meta property="og:image" content="img/ROBIN8-logo.png" /> 
    <%= javascript_include_tag 'landing' %>
    <%= stylesheet_link_tag    'landing', media: 'all' %>
</head>
<body id="main" class='login'>
  <%= yield %>
<script type="text/javascript">
  
  $(document).ready(function() {
    Robin.start();
  });
  <% if flash[:success_confirmation] -%>    
    Robin.afterConfirmationMessage = '<%= flash[:success_confirmation] %>'
  <% end -%>
  <% if signed_in? -%>    
    Robin.currentUser = new Robin.Models.User(<%= current_user.to_json.html_safe %>);
    <% unless request.subdomain.blank? %>
      Robin.publicPages = true
    <% end %>
  <% else -%>
    Robin.currentUser = null;
    Robin.publicPages = true;
  <% end -%>

  <% if Rails.env == 'development' -%>
    Robin.showLoading = false;
  <% else -%>
    Robin.showLoading = true;
  <% end -%>

</script>
</body>
</html>
