<!DOCTYPE html>
<html>
<head>
    <title>ROBIN8 | Welcome</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="ROBIN8" />
    <meta property="og:description" content="The next generation PR platform powered by artificial intelligence" />
    <meta property="og:image" content="/assets/ROBIN8-logo.png" />
    <meta property="wb:webmaster" content="7a41f1aee4f72768" />
    <%= javascript_include_tag 'landing' %>
    <%= stylesheet_link_tag    'landing', media: 'all' %>
    <%= favicon_link_tag 'favicon.ico' %>
</head>
<body id="main" class='login'>
<% cookies[:robin8_test] ||= (rand(9999999) + 1000) %>
   <%= yield %>
</body>
<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="//v2.zopim.com/?3cFoTvqoZnEj8nMIvHQaHyvwBh5A6TkK";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zopim Live Chat Script-->

<%=render :partial => "shared/tongji"%>
</html>
