<!DOCTYPE html>
<html>
<head>
    <title>ROBIN8 | Welcome</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="ROBIN8" />
    <meta property="og:description" content="The next generation PR platform powered by artificial intelligence" /> 
    <meta property="og:image" content="/assets/ROBIN8-logo.png" />
    <meta property="wb:webmaster" content="7a41f1aee4f72768" />
    <%= javascript_include_tag 'landing' %>
    <%= stylesheet_link_tag    'landing', media: 'all' %>
    <%= favicon_link_tag 'favicon.ico' %>
</head>
<body id="main" class='login'>
  <%= yield %>
</body>
<%=render :partial => "shared/zopim"%>
</html>
