<!DOCTYPE html>
<html>
<head>
    <title>ROBIN8 | Welcome</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="ROBIN8" />
    <meta property="og:description" content="The next generation PR platform powered by artificial intelligence" />
    <meta property="og:image" content="/assets/ROBIN8-logo.png" />
    <meta property="wb:webmaster" content="7a41f1aee4f72768" />
    <%= javascript_include_tag 'landing' %>
    <%= stylesheet_link_tag    'landing', media: 'all' %>
    <%= favicon_link_tag 'favicon.ico' %>
</head>
<body id="main" class='login'>
<% cookies[:robin8_test] ||= (rand(9999999) + 1000) %>
   <%= yield %>
</body>
<%=render :partial => "shared/feedback"%>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69160402-2', 'auto');
  ga('send', 'pageview');

</script>
</html>
