<!doctype html>
<html class="no-js" lang="en">
<head>
  <% if @campaign.present? %>
    <title><%= @campaign.name%></title>
  <% else %>
    <title>ROBIN8 | Welcome</title>
  <% end %>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />


  <meta property="og:title" content="ROBIN8" />
  <meta property="og:description" content="he next generation PR platform powered by artificial intelligence" />
  <meta property="og:image" content="/assets/ROBIN8-logo.png" />

  <%= stylesheet_link_tag    'website' %>
  <%= javascript_include_tag 'website' %>
  <%= csrf_meta_tag %>

</head>
<body>

<%= yield%>

<footer>
  <div class="row">
    <% if china_instance? %>
      <a href="<%= Rails.application.secrets.instance_host[:us] %>" title="<%= @l.t('landing_page.english_locale') %>" class="landing_country_flag">
        <%= image_tag asset_path('us-flag-icon.png'), height: 13 %>
      </a>
    <% else %>
      <a href="<%= Rails.application.secrets.instance_host[:cn] %>" title="<%= @l.t('landing_page.chinese_locale') %>" class="landing_country_flag" >
        <%= image_tag asset_path('china-flag-icon.png'), height: 13 %>
      </a>
    <% end %>

    <div class="small-12 medium-3 columns ft-logo right">
      <%= image_tag 'robin8-beta-logo-tm.png' %>
    </div>
    <div class="small-12 medium-12 columns left">
      <span class="ft-copyright">&copy;<%= @l.t('footer.right_reserved') %></span> <br class="show-for-medium-only" /> <a href="/about" class="ft-link privacy"><%= @l.t('footer.about') %></a> <a href="/team" class="ft-link privacy"><%= @l.t('footer.team') %></a> <a href="/contact" class="ft-link privacy"><%= @l.t('footer.contact') %></a> <a  href="/terms" class="ft-link privacy"><%= @l.t('footer.privacy_and_terms') %> </a>
    </div>
  </div>
</footer>

</div>
</body>

 <%= render :partial => "shared/feedback" if @comaign.blank? %>
 <script type="text/javascript">
   var production = <%= production? %>;
 </script>
 <%=render :partial => "shared/tongji"%>
</html>
