<!doctype html>
<html class="no-js" lang="en">
<head>
  <title>ROBIN8 | Welcome</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />


  <meta property="og:title" content="ROBIN8" />
  <meta property="og:description" content="he next generation PR platform powered by artificial intelligence" />
  <meta property="og:image" content="/assets/ROBIN8-logo.png" />

  <%= stylesheet_link_tag    'website' %>
  <%= javascript_include_tag 'website' %>

</head>
<body>

<%= yield%>

<footer>
  <div class="row">
    <div class="small-12 medium-3 columns ft-logo right">
      <%= image_tag 'ROBIN8-logo.png' %>
    </div>
    <div class="small-12 medium-12 columns left">
      &copy;<%= @l.t('footer.right_reserved') %> <br class="show-for-medium-only" /> <a href="/about" class="ft-link privacy"><%= @l.t('footer.about') %></a> <a href="/team" class="ft-link privacy"><%= @l.t('footer.team') %></a> <a href="/contact" class="ft-link privacy"><%= @l.t('footer.contact') %></a> <a  href="/terms" class="ft-link privacy"><%= @l.t('footer.privacy_and_terms') %> </a>
      <% if not Rails.env.production? || Rails.application.config.china_instance %>
        <%= link_to root_path(locale: :en), class: 'ft-link privacy' do %>
          <%= image_tag asset_path('us-flag-icon.png'), height: 13, title: 'Switch to Chinese locale' %>
        <% end %>
        <%= link_to root_path(locale: :zh), class: 'ft-link privacy' do %>
          <%= image_tag asset_path('china-flag-icon.png'), height: 13, title: 'Switch to Chinese locale' %>
        <% end %>
      <% end %>
    </div>
  </div>
</footer>

</div>
</body>

 <%=render :partial => "shared/zopim"%>
</html>















