<table class="table table-hover targets">
  <thead>
    <tr>
      <th><%= polyglot.t("smart_release.targets_step.social_tab.influencer") %></th>
      <th><%= polyglot.t("smart_release.targets_step.social_tab.followers") %></th>
      <th>&nbsp;&nbsp;<%= polyglot.t("smart_release.targets_step.social_tab.reach") %> <i title="" data-toggle="tooltip" class="fa fa-question-circle" data-original-title="Reach is..."></i>&nbsp;&nbsp;</th>
      <th>&nbsp;&nbsp;<%= polyglot.t("smart_release.targets_step.social_tab.amplif") %>. <i title="" data-toggle="tooltip" class="fa fa-question-circle" data-original-title="Amplification is..."></i>&nbsp;&nbsp;</th>
      <th><%= polyglot.t("smart_release.targets_step.social_tab.relevance") %> <i title="" data-toggle="tooltip" class="fa fa-question-circle" data-original-title="Relevance is..."></i></th>
      <th><%= polyglot.t("smart_release.targets_step.social_tab.pitch") %></th>
      <th><%= polyglot.t("smart_release.targets_step.social_tab.contact") %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
