<div class="register-bind-wrap">
  <div class="form-wrap">
    <%= render partial: "users/shared/alert" %>
    <div class="container">
        <h3>社交账号绑定手机</h3>
        
        <div class="divider">您所绑定的QQ帐号</div>
        <div style="text-align: center;">
          <% @identity = Identity.find params[:identity_code] %>
          <% if @identity.provider == 'qq_connect' %>
            <img src="<%=@identity.avatar_url%>">
            <p><%= @identity.name %></p>
          <% end %>
        </div>

        <div class="divider">快速绑定手机号码</div>
        <div class="form-panel">
          <%= form_tag('/register', method: 'post', remote: true) do %>
            <input type="hidden" name="identity_code" value="<%= params[:identity_code] %>" />
            <input type="hidden" name="ok_url" value="<%= params[:ok_url] %>" />
            <div class="form-alert-wrap"></div>
            <div class="form-group">
              <i class="icon-mobile"></i>
              <input type="tel" class="form-control mobile-number" name='user[mobile_number]' placeholder="请填写您的手机号" required>
            </div>
            <div class="form-group col-2 captcha">
              <div class="cell">
                <%= rucaptcha_input_tag(class: 'form-control captcha-code', placeholder: '请填写图片验证码') %>
              </div>
              <div class="cell">
                <%= rucaptcha_image_tag(alt: '图片验证码', class: "captcha-image", data: {
                  toggle: "tooltip", placement: "top", title: "点击更换图片验证码" }) %>
              </div>
            </div>
            <div class="form-group col-2">
              <div class="cell">
                <input type="text" class="form-control sms-code" name='user[sms_code]' placeholder="请填写短信验证码" required />
              </div>
              <div class="cell">
                <a href="javascript:void(0);" class="sms-code-btn" data-remaining="<%= sms_remaining_seconds %>">获取验证码</a>
              </div>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name='user[password]' placeholder="请填写您的密码" required />
            </div>
            <button type="submit" class="submit-btn" data-loading-txt="正在绑定...">确认绑定</button>
          <% end %>
          <div class="form-bottom">
            <a href="/login?no_social=true" class="back-btn with-ok-url">
              <i class="l-arraw-left"></i>已有绑定？直接登录
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
